.item class=type_class(item) data=data_attributes(item)
  .title
    strong =item.class.to_s.titleize
    =item.title
  .item-tooltip
    =edit_link_to(edit_admin_case_study_path(item.id))
    =delete_link_to(admin_case_study_path(item.id))