/ .page data-page=page_number
/   - page.each_with_index do |item, item_index|
/     - item_position = calculate_item_position(page_number, item_index)
/     - if item
/       =render partial: item.class.to_s.underscore, locals: { item: item, position: item_position }
/     - else
/       =render partial: 'empty', locals: { position: item_position, page: page_number, index: item_index }

.page data-page=page_number
  - page.each_with_index do |item, item_index|
    - item_position = calculate_item_position(page_number, item_index)
    .position data-type="position"
      - if item
        =render partial: item.class.to_s.underscore, locals: { item: item, position: item_position }


  / .position
  /   .item.type-tweet
  / .position
  / .position
  / .position
  / .position
  / .position
  / .position
  /   .item.type-case-study data-horizontal="1"
  / .position
  / .position
  /   .item.type-image
  / .position
  / .position
  / .position
  / .position
  /   .item.type-case-study data-vertical="1"
  / .position
  / .position
  / .position
  / .position
  / .position
  / .position
  / .position