.item class=type_class(item) data=data_attributes(item)
  .title
    strong =item.class.to_s.titleize
  .item-tooltip
    =edit_link_to(edit_admin_image_path(item.id))
    =delete_link_to(admin_image_path(item.id))