- unless flash[:notice].blank?
  input type="hidden" data-notification="success" value=flash[:notice]

- unless flash[:success].blank?
  input type="hidden" data-notification="success" value=flash[:success]

- unless flash[:error].blank?
  input type="hidden" data-notification="error" value=flash[:error]

javascript:
  var pageSize = #{GRID[:page_size]}, rowSize = #{GRID[:row_size]}, create_urls, sort_urls, remove_urls;

#grid-container data-view="grid"
  #tooltip
  - @pages.each_with_index do |page, page_number|
    =render partial: 'grid_page', locals: { page: page, page_number: page_number }

a#add-page.button Add Page