.col-xs-12.col-sm-12.col-md-6.col-lg-6.cluey class="#{side}-case-study"
  .content
    h2 Branding, UX/UI, Illustrations
    h1 Cluey
    p A platform to find the perfect vacation location. Personalized, trendy and oriented towards young professionals.
    a href=case_study_path(presenter.slug)
      | View Case Study
      =inline_svg('case-studies/chevronRight.svg')
  .clearfix
