.col-xs-12.col-sm-12.col-md-6.col-lg-6.djlist class="#{side}-case-study"
  .content
    h2 UX/UI, Front-End
    h1 The DJ List
    p The DJ List puts the club in your pocket, all the time. We transformed this hugely successful platform with a total overhaul in order to make it better than ever.
    a href="http://indicius.co/case-study/the-dj-list"
      | View Case Study
      =inline_svg('case-studies/chevronRight.svg')
    img.shot src=image_path('case-studies/djlist/bottom-suggestion.png') alt="bottom-suggestion"
  .clearfix
