.col-xs-12.col-sm-12.col-md-6.col-lg-6.espnjo class="#{side}-case-study"
  .content
    h2 Graphic Design, Motion Graphics
    h1 ESPN R&iacute;o 2016
    p We created a graphic package for ESPN Rio 2016 Olympic Games TV Show.
    a href=case_study_path(presenter.slug)
      | View Case Study
      =inline_svg('case-studies/chevronRight.svg')
  img.shot src=image_path('case-studies/espnjo/tongues.png') alt="tongues"
  .clearfix
