.col-xs-12.col-sm-12.col-md-6.col-lg-6.espn class="#{side}-case-study"
  .content
    h2 Graphic Design, Motion Graphics
    h1 ESPN FC
    p We created a Graphic Package for ESPN FIFA World Cup 2014 TV Show.
    a href=case_study_path(presenter.slug)
      | View Case Study
      =inline_svg('case-studies/chevronRight.svg')
    img.shot src=image_path('case-studies/espn/bottom-suggestion.png') alt="bottom-suggestion"
  .clearfix
