.col-xs-12.col-sm-12.col-md-6.col-lg-6.genee class="#{side}-case-study"
  .content
    h2 UX/UI, iOS Development
    h1 Genee Calendar
    p Scheduling Magic. Designing the smart calendar. Genee coordinates and books all your meetings so you don't have to.
    a href=case_study_path(presenter.slug)
      | View Case Study
      =inline_svg('case-studies/chevronRight.svg')
    img.shot src=image_path('case-studies/genee/geneeShot.png') alt="geneeShot"
  .clearfix
