.col-xs-12.col-sm-12.col-md-6.col-lg-6.kibow class="#{side}-case-study"
  .content
    img src=image_path('case-studies/listing/kibow.png')
    h2 UX/UI, Front-End
    h1 Kibow
    p A mobile app betting platform that was tailor-made for the UK market.
    a href=case_study_path(presenter.slug)
      | View Case Study
      =inline_svg('case-studies/chevronRight.svg')
  .clearfix
