.col-xs-12.col-sm-12.col-md-6.col-lg-6.li5 class="#{side}-case-study"
  .content
    h2 Branding, UX/UI, Motion UI
    h1 Li5
    p We designed the full experience for Li5, an App that makes creating video stories about your product fun and easy.
    a href=case_study_path(presenter.slug)
      | View Case Study
      =inline_svg('case-studies/chevronRight.svg')
  .clearfix
