.col-xs-12.col-sm-12.col-md-6.col-lg-6.messi class="#{side}-case-study"
  .content
    h2 UX/UI, iOS& Android Development
    h1 MESSI
    p We made the official Digital Book for Lionel Messi, the world’s best football player.
    a href=case_study_path(presenter.slug)
      | View Case Study
      =inline_svg('case-studies/chevronRight.svg')
    img.shot src=image_path('case-studies/messi/messiShot.png') alt="messiShot"
  .clearfix
