.col-xs-12.col-sm-12.col-md-6.col-lg-6.metacenter class="#{side}-case-study"
  .content
    h2 UX Research, UX/UI Design, Design System & Front-End
    h1 Metacenter
    p A database meta-management and data governance system that connects to all or most of the databases within an organization.
    a href=case_study_path(presenter.slug)
      | View Case Study
      =inline_svg('case-studies/chevronRight.svg')
  .clearfix
