.col-xs-12.col-sm-12.col-md-6.col-lg-6.polyvibe class="#{side}-case-study"
  .content
    h2 Branding, UX/UI, Motion UI
    h1 Polyvibe
    p It’s an artificial intelligence powered social network that understands human facial expression.
    a href=case_study_path(presenter.slug)
      | View Case Study
      =inline_svg('case-studies/chevronRight.svg')
  .clearfix
