.col-xs-12.col-sm-12.col-md-6.col-lg-6.red-bull class="#{side}-case-study"
  .content
    h2 UX/UI, Website Development
    h1
      =presenter.title
    p We designed and built the entire website of this amazing record label, to serve music and related content in a new engaging way.
    a href=case_study_path(presenter.slug)
      | View Case Study
      =inline_svg('case-studies/chevronRight.svg')
    img.shot src=image_path('case-studies/red_bull_records/grid-thumb-2.png') alt="grid-thumb-2"
  .clearfix
