.col-xs-12.col-sm-12.col-md-6.col-lg-6.samsung-dev-conference class="#{side}-case-study"
  .content
    img data-src=image_path('case-studies/listing/samsung-dev-conference.png')
    h2 UX/UI, Website Development
    h1 Samsung Dev Conference
    p The Samsung Developer Conference provides exclusive access to Samsung products and the latest dev tools.
    a href=case_study_path(presenter.slug)
      | View Case Study
      =inline_svg('case-studies/chevronRight.svg')
  .clearfix
