.col-xs-12.col-sm-12.col-md-6.col-lg-6.tradeagrape class="#{side}-case-study"
  .content
    h2 Branding, UX/UI, iOS & Android Development
    h1 Trade a Grape
    p We designed and built from scratch the first wine trading platform for mobile phones.
    a href=case_study_path(presenter.slug)
      | View Case Study
      =inline_svg('case-studies/chevronRight.svg')
    img.shot src=image_path('case-studies/tag/tagShot.png') alt="tagShot"
  .clearfix
