.col-xs-12.col-sm-12.col-md-6.col-lg-6.tigo class="#{side}-case-study"
  .content
    h2 Graphic Design, 3D Animation, Motion Graphics
    h1 Tigo Sports
    p We created a graphic package for Tigo Sports and the Los Analistas TV show.
    a href=case_study_path(presenter.slug)
      | View Case Study
      =inline_svg('case-studies/chevronRight.svg')
  img.shot  src=image_path('case-studies/tigo/img_tsn.png') alt="img_tsn"
  img.shot1 src=image_path('case-studies/tigo/bottom_suggestion.png') alt="bottom_suggestion"
  .clearfix
