.col-xs-12.col-sm-12.col-md-6.col-lg-6.tn class="#{side}-case-study"
  .content
    h2 Graphic Design, 3D Animation, Motion Graphics
    h1 TN
    p We revamped their logo and worked on the rebrand of their entire onscreen graphic package and shows.
    a href=case_study_path(presenter.slug)
      | View Case Study
      =inline_svg('case-studies/chevronRight.svg')
  .clearfix
