.col-xs-12.col-sm-12.col-md-6.col-lg-6.vinco class="#{side}-case-study"
  .content
    h2 Branding, UX/UI, Motion UI, Illustrations
    h1 Vinco
    p A platform to find the perfect vacation location. Personalized, trendy and oriented towards young professionals.
    a href=case_study_path(presenter.slug)
      | View Case Study
      =inline_svg('case-studies/chevronRight.svg')
    img.thumbnail-tn src=image_path("case-studies/vinco/grid-footer.svg") alt="thumb"
  .clearfix
