.col-xs-12.col-sm-12.col-md-6.col-lg-6.wellbin class="#{side}-case-study"
  .content
    h2 Art Direction, Illustration, 2D Animation
    h1
      =presenter.title
    p We used storytelling to strengthen the brand of this health platform with a 2D/3D animated video.
    a href=case_study_path(presenter.slug)
      | View Case Study
      =inline_svg('case-studies/chevronRight.svg')
  img.shot src=image_path('case-studies/wellbin/Palmeras.svg') alt="Palmeras"
  img.shot1 src=image_path('case-studies/wellbin/Character.svg') alt="Character"
  .clearfix
