<% if @debug %>
  Total: <%= @items.size %>
  -------------------------
  <% @items.each do |item| %>
  <%= item.id.to_s.ljust(8) %><%= item.class %>
  <% end %>
<% else %>
  <% if @items.any? %>
  (function($, window, undefined){
    var newItems = $("<%= escape_javascript(render partial: 'items') %>");
    window.$grid.append(newItems).packery('appended', newItems);
  })(jQuery, window);
  <% end %>
  <% if @items.empty? or @total_items < GRID[:page_size] %>
  $('#load-more-row').addClass('done');
  <% end %>
<% end %>
