ruby:
  @page_title = "Indicius - Digital Agency highly experienced in design and development"
  @page_description = "We take pride in designing and building beautiful, highly functional websites and products. We also create unique visual identities and high impact 2D/3D animations."
  @page_thumb = image_url('thumbnails/indicius.png')

#heroWrapper.container-fluid
  #hero.container

    .container

      .row
        .logocases
          a href="/" data-color="#ffffff" title="Indicius"
            img data-src=image_path("LogoIndicius@2x.png") alt="Indicius" title="Indicius" src=image_path("spacer.png")
        .menuheroright.light
          ul
            li
              a href="/" Home
            li
              a href="/agency" Agency
            li
              a href="/case-studies" Case Studies
            li
              a href="/lets-talk" Contact

      .row.tagline
        div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
          h1 We design and build digital products people enjoy using.
          h2
            | Have a project for us?
            a#herofooterclick href="#footer"
              | Let's talk
              =inline_svg "getInTouch.svg"

      .row.down
        div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
          a#herohandclick href="#theGrid"
            span.arrow
              img.desktop src=image_path("carrot-hero.svg") alt="More..." title="More..."
              img.mobile src=image_path("hand-hero.svg") alt="More..." title="More..."


- if @items.any?

  #gridWrapper.container-fluid
    .container

      .row
        #theGrid class="col-xs-12 grid"
          .grid-sizer
          =render partial: 'items'

      .row#load-more-row
        .load-more class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
          #load-more
            .plus
              .plusplus
            | I want to see more

- else

  #no-items There are no items!
