.item.new
  .field Add:
  .field =link_to 'Tweet', admin_tweet_add_path(position)
  .field =link_to 'Facebook Facts', admin_fact_add_path(:facebook, position)
  .field =link_to 'Dribbble Facts', admin_fact_add_path(:dribbble, position)
  .field Create:
  .field =link_to 'Case Study', new_admin_case_study_path(position: position)
  .field =link_to 'Image', new_admin_image_path(position: position)