- unless flash[:notice].blank?
  .alert.alert-success
    = flash[:notice]

- unless flash[:error].blank?
  .alert.alert-error
    = flash[:error]

#grid-container data-view="list"
  - @pages.each_with_index do |page, page_number|
    =render partial: 'grid_page', locals: { page: page, page_number: page_number }

br
br
a#add-page.button Add Page