//
// Indicius' Project Starter
//

// Add here your general styles like:
// body {
//   font-family: your-font;
// }

@font-face {
  font-family: "FranklinGothicURWLig";
  src: url('../fonts/FranklinGothicURWLight.otf');
}

@font-face {
  font-family: "FranklinGothicURWMed";
  src: url('../fonts/FranklinGothicURWMedium.otf');
}

@font-face {
  font-family: "FranklinGothicURWBoo";
  src: url('../fonts/FranklinGothicURWBook.otf');
}

@font-face {
  font-family: "FranklinGothicURWDem";
  src: url('../fonts/FranklinGothicURWDemi.otf');
}

body {
  #split-page,
  #what-we-do,
  #who-we-are {
    overflow-x: hidden;

    h1,
    h2,
    p {
      margin: 0;
    }

    h1 {
      font-size: 32px;
      line-height: 1.7em;

      @include breakpoint(medium) {
        font-size: 48px;
      }
    }

    h2 {
      font-size: 28px;
      font-weight: inherit;
      line-height: 1.3em;
    }

    h4 {
      font-size: 18px;
      line-height: 1.3em;
    }

    img {
      max-width: 100%;
      height: auto;
      display: inline-block;
    }

    .grid {
      overflow: visible!important;
    }
  }

  p {
    margin: 0;
  }
}

