#split-page {
  display: flex;
  flex-direction: column;

  @include breakpoint(medium) {
    flex-direction: row;
  }

  .option {
    width: 100%;
    height: calc((100vh - 75px) / 2);
    display: flex;
    position: relative;
    padding: 32px 24px;
    color: $white;

    @include breakpoint(medium) {
      width: 50vw;
      height: calc(100vh - 75px);
      padding: 63px 56px 63px 104px;

      &:hover {

        .option__background,
        .option__illustration {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &.what-we-do {
      background-color: $cyan;
    }

    &.who-we-are {
      background-color: $cyan--dark;

      .option__illustration {
        
          @include breakpoint(medium) {
          top: 132px;
        }
      }
    }
    
    .option__background {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1000;

      @include breakpoint(medium) {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: all .3s;
      }
    }

    .option__link {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 5000;
    }

    h1 {
      width: 100%;
      align-self: flex-end;
      display: flex;
      align-items: flex-end;
      font-size: 48px;
      font-weight: 300;
      line-height: 52px;

      @include breakpoint(medium) {
        max-width: 100%!important;
        width: 100%;
        justify-content: space-between;
      }
      
      a {
        color: inherit;
        text-decoration: none;
      }

      svg {
        width: 24px;
        height: auto;
        position: relative;
        bottom: 12px;
        margin-left: 8px;

        @include breakpoint(medium) {
          width: 43px;
          bottom: 24px;
        }
      }

      @include breakpoint(medium) {
        max-width: 300px;
        font-size: 96px;
        line-height: 96px;
      }
    }

    .option__illustration {
      width: 192px;
      position: absolute;
      top: 5vh;
      right: 0;
      transition: all .3s;

      @include breakpoint(medium) {
        width: 285px;
        opacity: 0;
        visibility: hidden;
        top: 92px;
        right: auto;
        left: 104px;
      }
    }
  }
}