@import "what-we-do/what-we-do-cornerstones";
@import "what-we-do/what-we-do-services";

#what-we-do {

  section {
    padding: 72px 0;

    @include breakpoint(medium) {
      padding: 120px 0;
    }

    .section__subtitle {
      display: block;
      margin-bottom: 8px;
      font-size: 18px;
      color: $cyan;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    .section__title {
      margin-bottom: 40px;
      color: $cyan;
      text-transform: uppercase;
      letter-spacing: 4px;
    }
  }
}