@import "who-we-are/who-we-are-culture";
@import "who-we-are/who-we-are-values";
@import "who-we-are/who-we-are-gallery";

#who-we-are {

  section {
    padding: 72px 0;

    @include breakpoint(medium) {
      padding: 120px 0;
    }

    .section__subtitle {
      display: block;
      margin-bottom: 8px;
      // font-family: "FranklinGothicURWMed";
      font-size: 18px;
      font-weight: 500;
      color: $cyan;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    .section__title {
      margin-bottom: 40px;
      color: $cyan;
      text-transform: uppercase;
      letter-spacing: 4px;
    }
  }
}