.who-we-are__culture {
  position: relative;

  .culture__grid {

    .grid__item {

      @include breakpoint(medium) {
        // max-width: 294px;
      }

      &:last-child {
        margin-top: 36px;

        .culture-item {

          h4 {
            // font-family: "FranklinGothicURWMed";
            font-size: 24px;
            font-weight: 500;

            &::before {
              content: none;
            }
          }

          p {
            max-width: 294px;
            font-size: 18px;
          }
        }
      }

      .culture-item {

        h4 {
          color: $cyan;
          font-weight: 500;
          margin: 0!important;

          &::before {
            content: '';
            width: 36px;
            height: 2px;
            display: block;
            margin-bottom: 8px;
            background-color: $yellow;
          }
        }
      }
    }
  }

  .culture__illustration {
    width: 100%;
    height: 114px;
    margin-top: 32px;

    svg {
      width: auto!important;
      height: 100%!important;
    }

    @include breakpoint(medium) {
      width: calc(100vw - (((100vw - 1138px) / 2) + 230px));
      position: absolute;
      bottom: 132px;
      left: calc(((100vw - 1138px) / 2) + 340px);

      svg {
        width: 100%!important;
        height: auto!important;
      }
    }

    @include breakpoint(large) {
      left: calc(((100vw - 1138px) / 2) + 230px);
    }
  }
}