.who-we-are__values {
  background-color: $gray;

  .values__grid {

    .value {
      padding: 35px 28px 35px 32px;
      background-color: $white;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

      @include breakpoint(small) {
        max-width: 296px;
      }

      .value__icon {
        display: flex;
        margin-bottom: 54px;
      }

      h2 {
        margin-bottom: 16px;
        color: $cyan;
      }
    }
  }
}