.who-we-are__gallery {
  
  .gallery__heading {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
    color: $cyan;
    text-transform: uppercase;

    @include breakpoint(medium) {
      max-width: 348px;
    }

    &::before {
      content: '';
      width: 80px;
      height: 8px;
      display: block;
      margin-bottom: 40px;
      background-color: $yellow;
    }
    
    .subtitle {
      margin-bottom: 16px;
      font-size: 14px;
      letter-spacing: 2px;
    }

    .title {
      font-size: 28px!important;
      line-height: 1.3em!important;
      letter-spacing: 4px;
    }
  }

  .gallery__grid {

    .grid__item {
      margin-bottom: 24px;

      &:nth-last-child(-n + 3) {
        margin-bottom: 24px!important;
      }

      .masonry-item {
        display: block;
      }
    }
  }
}