=form_for(:session, url: admin_login_path) do |f|

  .field
    = f.text_field :username, placeholder: 'Username'

  .field
    = f.password_field :password, placeholder: 'Password'

  .field.buttons
    = f.submit "Log In"