#careers {

  #careersGridWrapper {
    width: 100%;
    position: relative;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: none;
    transform: none;

    > .container {
      width: 100%;
      max-width: 1280px;
      border-top: 1px solid #EDF0F5;
      border-left: 1px solid #EDF0F5;
      background-color: #fff;
    }
  }

  #hero .tagline h1 {
    margin-bottom: 10px;
  }

  #hero .tagline p {
    font-size: 28px;
    font-weight: 300;
    color: #B1EDFF;
    line-height: 1.2;
    margin: 0;
  }

  #heroBackground {
    height: calc(100% + 317px);
  }

  #careerGrid {
    padding: 0;

    .grid-item {
      height: 317px;
      border-right: 1px solid #EDF0F5;
      border-bottom: 1px solid #EDF0F5;

      span.intern {
        position: absolute;
        top: 40px;
        left: 40px;
        font-size: 13px;
        font-weight: 500;
        color: #B7C2C9;
        line-height: 1;
        margin: 0;
        letter-spacing: 1px;
        text-transform: uppercase;
      }

      h2 {
        position: absolute;
        top: 218px;
        left: 40px;
        font-size: 20px;
        font-weight: 600;
        color: #16364F;
        line-height: 30px;
        margin: 0;
        width: 220px;
      }

      .view {
        display: block;
        position: absolute;
        padding: 0 40px 0 30px;
        top: auto;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 75px;
        line-height: 85px;
        font-weight: 400;
        font-size: 16px;
        color: #00B5EC;
        z-index: 999;
        transition: all .2s ease-in;

        svg {
          position: relative;
          top: 3px;
          left: 10px;

          polygon.st0 {
            fill: #00B5EC;
            stroke: #00B5EC;
            transition: all .2s ease-in;
          }
        }

        &:after {
          height: 0;
          width: 100%;
          content: '';
          display: block;
          position: absolute;
          z-index: -1;
          top: auto;
          left: 0;
          bottom: 0;
          right: 0;
          height: 0;
          width: 100%;
          background-color: #fff200;
          transition: all .2s ease-in-out;
        }
      }

      img {
        position: absolute;
        top: 110px;
        left: 40px;
        margin: 0;
        transition: all .3s ease-in-out;

        &.top_o {
          top: 75px;
        }

        &.hon {
          display: inline;
        }

        &.hover {
          display: none;
        }
      }

      &:hover {

        .view {
          color: #000;

          svg {

            polygon.st0 {
              fill: #000000;
              stroke: #000000;
            }
          }

          &:after {
            height: 65px;
          }
        }

        img {

          &.hon {
            display: none;
          }

          &.hover {
            display: inline;
          }
        }
      }
    }

    .grid-item-large {

      h2 {
        top: 115px;
        left: 40px;
        font-size: 34px;
        line-height: 42px;
      }

      img {
        position: absolute;
        top: 90px;
        right: 90px;
        left: auto;
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 991px) {

  #careers {

    #careerGrid {

      .grid-item {

        span.intern {
          top: 40px;
          left: 100px;
        }

        h2 {
          top: 218px;
          left: 100px;
        }

        img {
          top: 110px;
          left: 100px;

          &.top_o {
            top: 75px;
          }
        }
      }

      .grid-item-large {

        h2 {
          top: 115px;
          left: 100px;
        }

        img {
          top: 90px;
          right: 150px;
          left: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {

 #careers {

    #careerGrid {

      .grid-item {

        span.intern {
          left: 40px;
        }

        h2 {
          top: 115px;
          font-size: 30px;
          left: 40px;
          line-height: 38px;
        }

        img {
          position: absolute;
          top: 90px;
          right: 90px;
          left: auto;
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {

  #careers {

    #careerGrid {

      .grid-item {

        h2 {
          font-size: 24px;
          line-height: 30px;
          width: 150px;
        }

        img {
          right: 40px;
          left: auto;
        }
      }
    }
  }
}
