=link_to case_study_path(presenter.slug), class: 'transition', data: { color: '#ffffff' } do
  img src=image_path("case-studies/listing/cluey.png") alt="Cluey"
  .wrapper
    h2 Branding, UX/UI, Illustrations
    h1 =presenter.title
    p Platform to find the perfect vacation. Personalized, trendy and professional.
  .view
    | View Case Study
    =inline_svg "viewCase.svg"
  / .new-ribbon New!
