=link_to case_study_path(presenter.slug), class: 'transition', data: { color: '#64008a' } do
  .wrapper
    h2 UX/UI, Front-End
    .dh1
      =presenter.title
      .toi-project
        .dash &mdash;
        | A
        =inline_svg "case-studies/toi-logo.svg"
        | Project
    p We totally revamped the user interface and user experience for this amazing music platform.
  .view
    | View Case Study
    =inline_svg "viewCase.svg"
