=link_to case_study_path(presenter.slug), class: 'transition', data: { color: '#ffffff' } do
  .wrapper
    h2 Graphic Design, Motion Graphics
    h1 =presenter.title
    p We created a graphic package for ESPN Rio 2016 Olympic Games TV Show.
  .view
    | View Case Study
    =inline_svg "viewCase.svg"
