=link_to case_study_path(presenter.slug), class: 'transition', data: { color: '#39ad43' } do
  .wrapper
    h2 UX/UI, iOS Development
    .dh1
      =presenter.title
      .toi-project
        .dash &mdash;
        | A
        =inline_svg "case-studies/toi-logo.svg"
        | Project
    p Scheduling Magic. Designing the smart calendar.
  .view
    | View Case Study
    =inline_svg "viewCase.svg"
  .app
    img src=image_path("case-studies/genee/genee-grid-new.png") alt="genee"
