=link_to case_study_path(presenter.slug), class: 'transition', data: { color: '#ffffff' } do
  img src=image_path("case-studies/kibow/phone-middle-new.png") alt="Kibow"
  .wrapper
    h2 UX/UI, Front-End
    h1 =presenter.title
    p App betting platform that was tailor-made for the UK market.
  .view
    | View Case Study
    =inline_svg "viewCase.svg"
  / .new-ribbon New!
