=link_to case_study_path(presenter.slug), class: 'transition', data: { color: '#ffffff' } do
  .wrapper
    h2
      | UX/UI, iOS& Android Development
      br
      | 3D Augmented Reality
    h1 =presenter.title
    p We made the Leo Messi Foundation's Digital Book.
  img.thumbnail-messi src=image_path("case-studies/messi/grid.png") alt="messi"
  .view
    | View Case Study
    =inline_svg "viewCase.svg"
