=link_to case_study_path(presenter.slug), class: 'transition', data: { color: '#ffffff' } do
  .wrapper
    h2 UX Research, UX/UI Design, Design System & Front-End
    h1 =presenter.title
    p A database meta-management and data governance system.
  .view
    | View Case Study
    =inline_svg "viewCase.svg"
  / .new-ribbon New!
