=link_to case_study_path(presenter.slug), class: 'transition', data: { color: '#ffffff' } do
  .wrapper
    h2 Branding, UX/UI, Motion UI
    h1 =presenter.title
    p It’s an artificial intelligence powered social network that understands human facial expression.
  .view
    | View Case Study
    =inline_svg "viewCase.svg"
