=link_to case_study_path(presenter.slug), class: 'transition', data: { color: '#fff' } do
  .wrapper
    h2 UX/UI, Website Development
    .dh1
      =presenter.title
      .toi-project
        .dash &mdash;
        | A
        =inline_svg "case-studies/toi-logo.svg"
        | Project
    p We designed and built the entire website of this amazing record label.
  .view
    | View Case Study
    =inline_svg "viewCase.svg"
