=link_to case_study_path(presenter.slug), class: 'transition', data: { color: '#fff' } do
  img src=image_path("case-studies/listing/samsung-dev-conference.png") alt="Samsung Dev Conference"
  .wrapper
    h2 UX/UI, Website Development
    .dh1
      =presenter.title
    p Exclusive access to Samsung products and the latest dev tools.
  .view
    | View Case Study
    =inline_svg "viewCase.svg"
  / .new-ribbon New!
