=link_to case_study_path(presenter.slug), class: 'transition', data: { color: '#443e63' } do
  .wrapper
    h2 Branding, UX/UI, iOS & Android Development
    .dh1
      =presenter.title
      .toi-project
        .dash &mdash;
        | A
        =inline_svg "case-studies/toi-logo.svg"
        | Project
    p Mobile App that connects wine lovers.
    img data-src=image_path("case-studies/tag/tag-grid.png") src=image_path("spacer.png") alt="tag"
  .view
    | View Case Study
    =inline_svg "viewCase.svg"
