=link_to case_study_path(presenter.slug), class: 'transition', data: { color: '#ffffff' } do
  .wrapper
    h2 Graphic Design, 3D Animation, Motion Graphics
    .line
    h1 Tigo Sports
    p We created a Graphic Package for Tigo Sport Noticias and Los Analistas TV show.
    img data-src=image_path("case-studies/tigo/tigo_block.png") src=image_path("spacer.png") alt="tigo"
  .view
    | View Case Study
    =inline_svg "viewCase.svg"
