=link_to case_study_path(presenter.slug), class: 'transition', data: { color: '#ffffff' } do
  .wrapper
    h2 Graphic Design, 3D Animation, Motion Graphics
      br
      | Motion Graphics &mdash; TV
    h1 =presenter.title
    p We revamped their logo, onscreen graphic package and shows.
  img.thumbnail-tn src=image_path("case-studies/tn/grid.png") alt="thumb"
  .view
    | View Case Study
    =inline_svg "viewCase.svg"
