=link_to case_study_path(presenter.slug), class: 'transition', data: { color: '#ffffff' } do
  .wrapper
    h2 Branding, UX/UI, Motion UI, Illustrations
    h1 =presenter.title
    p A Mobile App that entices users to carry out small tasks in exchange for points or prizes.
  img.thumbnail-tn src=image_path("case-studies/vinco/banner-home-img.svg") alt="thumb"
  .view
    | View Case Study
    =inline_svg "viewCase.svg"
  .new-ribbon New!
