=link_to case_study_path(presenter.slug), class: 'transition', data: { color: '#fff' } do
  .wrapper
    h2
      | Art Direction, Illustration,
      br
      | 2D/3D Animation
    h1
      =presenter.title
    p We used storytelling to strengthen the brand of this health platform with a 2D/3D animated video.
  .view
    | View Case Study
    =inline_svg "viewCase.svg"
