#dashboard

  .column

    .box
      h2 Status

      - if @issues.any?
        - @issues.each do |issue|
          .issue
            | #{issue}
      - else
        =image_tag('saul.jpg')
        p It's all good.

  .column

    .box
      h2 Total Fill Items

      table
        tr
          td Total Shots
          td
            | #{@totals[:total_shots]}&nbsp;
            - if @totals[:total_shots_missing] > 0
              span style="color:#999;"
                | (#{@totals[:total_shots_missing]} hidden)
        tr
          td Total Videos
          td =@totals[:total_videos]
        tr
          td Total Tweets
          td =@totals[:total_tweets]

    .box
      h2 Grid Diversity

      table
        - @grid_diversity.each do |item|
          tr
           td =item.first
           td =item.last
