var _logo = true;
var _stage = true;

;(function(window,$,undefined) {

  function ready() {
    console.log('wellbin.js');

    logo_show();
    stage_show();

    $(window).on('scroll', function() {
      logo_show();
      stage_show();
    });

  }

  function logo_show() {
    if ($(window).scrollTop() > 660 && $(window).scrollTop() < 1600 && _logo && $(window).width() > 992) {

      _logo = false;
      $('#logo').attr('src', "<%= image_path('case-studies/wellbin/logo.gif') %>");

      setTimeout(function() {
        $('#logo').hide();
      }, 5200);

      setTimeout(function() {
        $('#logo2').show();
        //$('#logo2m').show();
      }, 5000)

    }
  }

  function stage_show() {
    if ($(window).scrollTop() > 7597 && _stage && $(window).width() > 992) {

      _stage = false;

      $('.stage.ninos').addClass('final_position');

      setTimeout(function() {
        $('.stage.elements').addClass('final_position');
      }, 200);

      setTimeout(function() {
        $('.stage.env').addClass('final_position');
      }, 400);
    }
  }

  $(document).ready(function(){
    if($('#case-study-page-wellbin').size()) {
      ready();
    }
  });

})(window,jQuery);






