= form_for(@case_study, url: @form_url) do |f|

  - if @case_study.errors.any?
    .alert.alert-error
      ul
        li.title ="Opps! #{pluralize(@case_study.errors.count, "error")} found:"
        - @case_study.errors.full_messages.each do |message|
          li =message

  .field
    =f.label :title
    =f.text_field :title

  .field
    .field-label
      =f.label :slug
    .field-input
      =f.text_field :slug
    a#generate-slug Generate

  .field
    =f.label :block_style
    =f.hidden_field :block_style
    .field-display
     =CaseStudy::STYLES.key(@case_study.block_style).to_s.titleize

  h2 Templates

  .field
    .field-label
      =f.label :page_template
    .field-select
      =f.collection_select :page_template, @page_templates, :to_s, :to_s, include_blank: 'select...'

  .field
    .field-label
      =f.label :block_template
    .field-select
      =f.collection_select :block_template, @block_templates, :to_s, :to_s, include_blank: 'select...'

  .field
    .field-label
      =f.label :link_template
    .field-select
      =f.collection_select :link_template, @link_templates, :to_s, :to_s, include_blank: 'select...'

  h2 Links

  .field
    .field-label
      =f.label :left_link_id
    .field-select
      =f.collection_select :left_link_id, @case_studies, :id, :title, include_blank: 'select...'

  .field
    .field-label
      =f.label :right_link_id
    .field-select
      =f.collection_select :right_link_id, @case_studies, :id, :title, include_blank: 'select...'

  .actions
    =f.submit @case_study.persisted? ? 'Update' : 'Create', class: 'button'
