ruby:
  @page_title = "Indicius - Careers - Digital Agency highly experienced in design and development"
  @page_description = "We take pride in designing and building beautiful, highly functional websites and products. We also create unique visual identities and high impact 2D/3D animations."
  @page_thumb = image_url('thumbnails/careers.png')

#heroWrapper.container-fluid
  #hero.container

    .overlays-wrapper
      .overlay.twitter
        span Twitter
      .overlay.facebook
        span Facebook
      .overlay.dribbble
        span Dribbble
      .overlay.instagram
        span Instagram
      .overlay.vimeo
        span Vimeo

    .container

      .row.top-links
        .logo class="col-xs-3 col-sm-3 col-md-2 col-lg-2"
          a href="/"
            img data-src=image_path("LogoIndicius@2x.png") alt="Indicius" title="Indicius" src=image_path("spacer.png")
        .social class="col-xs-9 col-sm-9 col-md-10 col-lg-10"
          a.twitter href="https://twitter.com/Indicius" target="_blank"
            img data-src=image_path("TwitterHero@2x.png") alt="" title="" src=image_path("spacer.png")
          a.facebook href="https://www.facebook.com/Indicius" target="_blank"
            img data-src=image_path("FBHero@2x.png") alt="" title="" src=image_path("spacer.png")
          a.dribbble href="https://dribbble.com/Indicius" target="_blank"
            img data-src=image_path("Dribbble_Grid@2x.png") alt="" title="" src=image_path("spacer.png")
          a.instagram href="https://instagram.com/indiciusar/" target="_blank"
            img data-src=image_path("InstagramHero@2x.png") alt="" title="" src=image_path("spacer.png")
          a.vimeo href="https://vimeo.com/indicius" target="_blank"
            img data-src=image_path("VimeoHero@2x.png") alt="" title="" src=image_path("spacer.png")

      .row.tagline
        div class="col-xs-12 col-sm-12 col-md-10 col-lg-10"
          h1 Jobs opening
          p We're looking for dedicated, creative people to join us in making Indicius even better. Is that you?

      .row.down
        div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
          a href="#careerGrid"
            span.arrow
              img src=image_path("down@2x.png") alt="More..." title="More..."

#careersGridWrapper.container-fluid
  .container
    .row
      #careerGrid class="col-xs-12"
        .grid-sizer
        a href="" class="grid-item-large grid-item col-xs-12 col-sm-12 col-md-6 col-lg-6"
          span.intern Internship
          h2 Sales Account Manager
          .view
            | View Job
            =inline_svg "viewCase.svg"
          img src=image_path("careers_sam.svg") alt="Sales Account Manager" title="Sales Account Manager"
        a href="" class="grid-item col-xs-12 col-sm-6 col-md-3 col-lg-3"
          span.intern Internship
          img src=image_path("careers_dev.svg") alt="Lead Developer" title="Lead Developer"
          h2 Lead Developer
          .view
            | View Job
            =inline_svg "viewCase.svg"
        a href="" class="grid-item col-xs-12 col-sm-6 col-md-3 col-lg-3"
          img.top_o src=image_path("careers_ux.svg") alt="UX Designer" title="UX Designer"
          h2 UX Designer
          .view
            | View Job
            =inline_svg "viewCase.svg"
        a href="" class="grid-item col-xs-12 col-sm-6 col-md-3 col-lg-3"
          span.intern Internship
          img src=image_path("careers_uxui.svg") alt="UX/UI Designer" title="UX/UI Designer"
          h2 UX/UI Designer
          .view
            | View Job
            =inline_svg "viewCase.svg"
        a href="" class="grid-item col-xs-12 col-sm-6 col-md-3 col-lg-3"
          img.top_o src=image_path("careers_officem.svg") alt="Office Manager" title="Office Manager"
          h2 Office Manager
          .view
            | View Job
            =inline_svg "viewCase.svg"
        a href="" class="grid-item col-xs-12 col-sm-6 col-md-3 col-lg-3"
          img src=image_path("careers_uxui.svg") alt="UX/UI Designer" title="UX/UI Designer"
          h2 UX/UI Designer
          .view
            | View Job
            =inline_svg "viewCase.svg"
        a href="" class="grid-item col-xs-12 col-sm-6 col-md-3 col-lg-3"
          span.intern Internship
          img src=image_path("careers_dev.svg") alt="Front-End Dev" title="Front-End Dev"
          h2 Front-End Dev
          .view
            | View Job
            =inline_svg "viewCase.svg"

