ruby:
  @page_title = "The DJ List - Web platform that puts the club in your pocket, all the time"
  @page_description = "Case Study that shows the UI/UX Design and Front-End Development backstage for The DJ List, the leading resource for global DJ information online."
  @page_thumb = image_url('thumbnails/djlist.png')

.container.cs-hero
  .row
    .logocases
      a href="/" data-color="#ffffff" title="Indicius"
        img data-src=image_path("LogoIndicius@2x.png") alt="Indicius" title="Indicius" src=image_path("spacer.png")
    .menuheroright
      ul
        li
          a href="/" Home
        li
          a href="/agency" Agency
        li
          a href="/case-studies" Case Studies
        li
          a href="/lets-talk" Contact

  .row.title-subtitle-stores
    .dh1
      | The DJ List
      .toi-project
        .dash &mdash;
        | A
        =inline_svg "case-studies/toi-logo.svg"
        | Project

    h2 UX/UI, Front-End
    .stores

  a.see-more-case-study href="#caseStudyContent"
    =inline_svg "case-studies/chevronDown.svg"

.container-fluid#caseStudyContent
  .container
    .row.about-project
      .col-xs-12
        table
          tr
            td.wow.fadeIn About the Project
            td.wow.fadeIn
              p
                | We were thrilled to be approached by our partners at&nbsp;
                a href="http://toi.io/" target="_blank" Toi
                | &nbsp;to collaborate on The DJ List, a website that puts the club in your pocket, all the time. Together we completely overhauled brand identity and UX/UI design across devices to make it better than ever.

  .consistency
    .container
      .row
        .col-xs-12
          h1 Consistency across devices
          h2 Since it's important to make sure to know what's going on, no matter which device you're using, we used a mobile-first approach on simplifying the experience, while also making it more immersive.
    img.waves src=image_path("case-studies/djlist/waves.png") alt="waves"
    img.showcase.wow.fadeInUp src=image_path("case-studies/djlist/appShowcase.png") alt="appShowcase"
  .onboarding
    h1 Onboarding Process
    h2 We created a 3-step onboarding process, which enables personalization yet allows the user to go through it swiftly.
    .container
      .row.steps
        .col-xs-12.col-sm-4.col-md-3.col-lg-3.step1.wow.fadeIn
          p
            strong 01
            | Where are you living?
          img src=image_path("case-studies/djlist/step1.png") alt="step1"
        .col-xs-12.col-sm-4.col-md-4.col-lg-4.step2.wow.fadeIn data-wow-delay=".4s"
          p
            strong 02
            | Choose genres
          img src=image_path("case-studies/djlist/step2.png") alt="step2"
        .col-xs-12.col-sm-4.col-md-5.col-lg-5.step3.wow.fadeIn data-wow-delay=".8s"
          p
            strong 03
            | Follow your favorite DJs
          img src=image_path("case-studies/djlist/step3.png") alt="step3"
    img.laptop.wow.fadeIn src=image_path("case-studies/djlist/laptop.png") alt="laptop"

  .event-details
    img src=image_path("case-studies/djlist/pin.png") alt="pin"
    | Event Details

  .iphone-app
    h1.wow.fadeInUp iPhone App
    h2.wow.fadeInUp We revamped the web platform, but we also overhauled the iOS App making it slicker than ever.

  img.full-width-web.wow.fadeIn src=image_path("case-studies/djlist/full-width-web.png") alt="full-width-web"

.container-fluid.more-case-studies
  .row
    .col-xs-12
      .row.reactions-container
        .reactions-main-content
          .col-xs-12
            h2 What do you think about this Case Study?
          .row
            .col-xs-12.col-sm-10.col-sm-offset-1
              .row 
                .col-xs-4
                  button.emoji-btn.option-1
                    img data-src=image_path("case-studies/ghost.svg")
                  h3 Love it!
                .col-xs-4
                  button.emoji-btn.option-2
                    img data-src=image_path("case-studies/smile.svg")
                  h3 Good
                .col-xs-4
                  button.emoji-btn.option-3
                    img data-src=image_path("case-studies/meh.svg")
                  h3 Meh
          .row.reactions-options-1.reactions-options-all
            .col-xs-12.choose-title
              h2 What did you like the most?
            .col-xs-10.col-xs-offset-1
              button.btn-option Inspirational 
              button.btn-option Trendy
              button.btn-option Delight 
              button.btn-option Interesting
              button.btn-option Learned a lot
          .row.reactions-options-2.reactions-options-all
            .col-xs-12
              h2 How can we make it better? 
              h2.second-title We love constructive criticism! :)
            .col-xs-12 
              .container.input-container
                input.input-option-good type="text"
                button.send-feedback-btn.option-good
                  =inline_svg('case-studies/chevronRight.svg')
          .row.reactions-options-3.reactions-options-all
            .col-xs-12
              h2 What didn't you like about it?
              h2.second-title We don't bite. :P
            .col-xs-12 
              .container.input-container
                input.input-option-meh type="text"
                button.send-feedback-btn.option-meh
                  =inline_svg('case-studies/chevronRight.svg')
        
        .reactions-second-content
          .col-xs-12
            img data-src=image_path("case-studies/thankyou.svg")
            h2.thank-title Thank you for helping us get better!

    .col-xs-12
      strong  You can see more Case Studies below.


.container-fluid.related-case-studies
  .row
    =render_left_linked
    =render_right_linked
