ruby:
  @page_title = "ESPN FIFA World Cup 2014 - Graphic Package for the sport's leading TV channel"
  @page_description = "Case Study that shows the Graphic Design and Motion Graphics backstage for ESPN World Cup 2014."
  @page_thumb = image_url('thumbnails/espn.png')

.container.cs-hero
  .row
    .logocases
      a href="/" data-color="#ffffff" title="Indicius"
        img data-src=image_path("LogoIndicius@2x.png") alt="Indicius" title="Indicius" src=image_path("spacer.png")
    .menuheroright
      ul
        li
          a href="/" Home
        li
          a href="/agency" Agency
        li
          a href="/case-studies" Case Studies
        li
          a href="/lets-talk" Contact

  .row.title-subtitle-stores
    h1 ESPN FC
    h2 Graphic Design, Motion Graphics
    .stores
      a.vimeo href="https://vimeo.com/109618281" title="Watch on Vimeo" target="_blank"
        =inline_svg "case-studies/playCaseStudy.svg"
        | Watch on Vimeo
        =inline_svg "case-studies/chevronRight.svg"

  a.see-more-case-study href="#caseStudyContent"
    =inline_svg "case-studies/chevronDown.svg"

.container-fluid#caseStudyContent
  .container
    .row.about-project
      .col-xs-12
        table
          tr
            td.wow.fadeIn About the Project
            td.wow.fadeIn
              p We created a graphic package for ESPN FIFA World Cup 2014 TV Show, which included Promo/Stage openers and closers, transitions, bumpers and onscreen graphics.
  .graphic-package
    .container
      img.wow.fadeInUp src=image_path("case-studies/espn/graphic-package.png") alt="graphic-package"
  .kickoffnormal
    .container
      .row
        .col-xs-12.col-sm-12.col-md-6.col-lg-6.text
          h2 Concept
          h1 Design Kickoff
          p The color scheme and morphology are inspired by the Brazilian flag. We worked on integrating the classic, mechanical ESPN style with the organic and friendly Brazilian culture. We replaced the main element, a blue circle, with a soccer ball. We also used a green background to make reference to the Brazilian flag.

    img.image.wow.fadeInRight src=image_path("case-studies/espn/flags.png") alt="flags"

  .broadcast
    .container-fluid
      .row
        .col-xs-12.col-sm-12.col-md-8.col-lg-8.pull-right.content
          img.flags-divider src=image_path("case-studies/espn/flags-divider.png") alt="flags-divider"
          h2 Broadcast in
          h1 Latin America
          p This graphic package was especially created for ESPN Latam and launched in Ecuador, Colombia, Brazil, Argentina and Uruguay.
          img.la-map.wow.fadeInLeft src=image_path("case-studies/espn/la-map.png") alt="la-map"

  .on-screen
    .container
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.text
          h2 On-screen art
          h1 Lower Thirds
          p We've utilized the same texture and the color orange, in reference to the ESPN logo, to create several pieces that enable us to provide data during the transmission, in a subtle way, without disrupting the main feature.
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.visual-elements
          h3.wow.fadeIn Architecture
          img.architecture.wow.fadeIn src=image_path("case-studies/espn/architecture.png") alt="architecture"
          h3.wow.fadeIn Visual Layer
          img.visual-layer.wow.fadeIn src=image_path("case-studies/espn/visual-layer.png") alt="visual-layer"

    img.lower-thirds.wow.fadeInUp src=image_path("case-studies/espn/lower-thirds.png") alt="lower-thirds"

  .transitionsnormal
    .container
      .row
        .col-xs-12.col-sm-12.col-md-6.col-lg-6.content
          h2 On-screen Art
          h1 Transitions
          p We've used the texture of the ball, as well as the hexagonal shapes it displays, to divide both scenes and segments.
          img.transition-layers.wow.fadeInUp src=image_path("case-studies/espn/layers.png") alt="layers"

  img.semifinals src=image_path("case-studies/espn/semifinals.jpg") alt="semifinals"

  .ball-head-campaing
    .wow.fadeInUp
      h1 Ball Head Campaign
      p This campaign was released before the Brazil 2014 World Cup, with the intention of promoting an ESPN FC show. The idea was to feature certain celebrities (such as Mex and Patron Bermudez, amongst others). When they looked at their devices and used the applications or watched ESPN on the television, their heads literally turned into footballs.

  .banners-tv-spot
    .container-fluid
      .row
        .col-xs-12.col-sm-12.col-md-6.col-lg-6
          h1 Banners & TV Spot
        .col-xs-12.col-sm-12.col-md-6.col-lg-6.images

  .live-soccer-wrapper
    h1 Live soccer wherever you are
    img.live-soccer src=image_path("case-studies/espn/live-soccer.jpg") alt="live-soccer"

  .award-promaxbda
    .container
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.title
          h1
            | Our client loved it, and so did the jury of &nbsp;
            strong PromaxBda Latin America

        .col-xs-12.col-sm-12.col-md-12.col-lg-12.award-image.wow.fadeIn
          img src=image_path("case-studies/espn/award.png") alt="award"
          h2
            | Best &nbsp;
            span On-Air &nbsp;
            | Promotion for Channel Website/App

.clearfix

.container-fluid.more-case-studies
  .row
    .col-xs-12
      .row.reactions-container
        .reactions-main-content
          .col-xs-12
            h2 What do you think about this Case Study?
          .row
            .col-xs-12.col-sm-10.col-sm-offset-1
              .row 
                .col-xs-4
                  button.emoji-btn.option-1
                    img data-src=image_path("case-studies/ghost.svg")
                  h3 Love it!
                .col-xs-4
                  button.emoji-btn.option-2
                    img data-src=image_path("case-studies/smile.svg")
                  h3 Good
                .col-xs-4
                  button.emoji-btn.option-3
                    img data-src=image_path("case-studies/meh.svg")
                  h3 Meh
          .row.reactions-options-1.reactions-options-all
            .col-xs-12.choose-title
              h2 What did you like the most?
            .col-xs-10.col-xs-offset-1
              button.btn-option Inspirational 
              button.btn-option Trendy
              button.btn-option Delight 
              button.btn-option Interesting
              button.btn-option Learned a lot
          .row.reactions-options-2.reactions-options-all
            .col-xs-12
              h2 How can we make it better? 
              h2.second-title We love constructive criticism! :)
            .col-xs-12 
              .container.input-container
                input.input-option-good type="text"
                button.send-feedback-btn.option-good
                  =inline_svg('case-studies/chevronRight.svg')
          .row.reactions-options-3.reactions-options-all
            .col-xs-12
              h2 What didn't you like about it?
              h2.second-title We don't bite. :P
            .col-xs-12 
              .container.input-container
                input.input-option-meh type="text"
                button.send-feedback-btn.option-meh
                  =inline_svg('case-studies/chevronRight.svg')
        
        .reactions-second-content
          .col-xs-12
            img data-src=image_path("case-studies/thankyou.svg")
            h2.thank-title Thank you for helping us get better!

    .col-xs-12
      strong  You can see more Case Studies below.


.container-fluid.related-case-studies
  .row
    =render_left_linked
    =render_right_linked
