ruby:
  @page_title = "Genee - Mobile App that automates the entire process of scheduling meetings"
  @page_description = "Case Study that shows the UI/UX Design and iOS Development backstage for Genee, the mobile app that coordinates and books all your meetings so you don't have to."
  @page_thumb = image_url('thumbnails/genee.png')

.container.cs-hero
  .row
    .logocases
      a href="/" data-color="#ffffff" title="Indicius"
        img data-src=image_path("LogoIndicius@2x.png") alt="Indicius" title="Indicius" src=image_path("spacer.png")
    .menuheroright
      ul
        li
          a href="/" Home
        li
          a href="/agency" Agency
        li
          a href="/case-studies" Case Studies
        li
          a href="/lets-talk" Contact

  .row.title-subtitle-stores
    .dh1
      | Genee Calendar
      .toi-project
        .dash &mdash;
        | A
        =inline_svg "case-studies/toi-logo.svg"
        | Project
    h2 UX/UI, iOS Development

  a.see-more-case-study href="#caseStudyContent"
    =inline_svg "case-studies/chevronDown.svg"

.container-fluid#caseStudyContent
  .container
    .row.about-project
      .col-xs-12
        table
          tr
            td.wow.fadeIn About the Project
            td.wow.fadeIn
              p
                | Genee is a scheduling assistant mobile application that coordinates and books all of your meetings so you don't have to. Genee works via email, text or iPhone app to scan the calendars of those invited to meetings or events, automating everything from booking to rejected invites and meeting confirmations. In collaboration with our partners at&nbsp;
                a href="http://toi.io/" target="_blank" Toi
                | , we worked on both UX/UI design and iOS development.
  .ok-delightful
    .container
      .row
        .col-xs-12
          h1.wow.fadeIn
            | From okay to &nbsp;
            strong delightful
          h2
            span Original
            span Our vision
    .before-after.wow.fadeInUp
      img.slide src=image_path("case-studies/genee/dashboard-slidetocancel.png") alt="dashboard-slidetocancel"
      img.new src=image_path("case-studies/genee/home-slidetocancel@2x.png") alt="home-slidetocancel"
  .coffee
    .container
      .row
        .col-xs-12.wow.fadeIn
          p
            | Genee, schedule a &nbsp;
            span coffee
          p
            | with &nbsp;
            span Jonathan R. Pritchard
    img.schedule-button.wow.zoomIn src=image_path("case-studies/genee/ScheduleButton@2x.png") alt="ScheduleButton"
  .mapping
    .row
      .co-xs-12
        .circle1.wow.zoomIn
          p Mapping out the flow
        .circle2.wow.zoomIn data-wow-delay=".2s"
        .circle3.wow.zoomIn data-wow-delay=".4s"
        .circle4.wow.zoomIn data-wow-delay=".6s"
        .circle5.wow.zoomIn data-wow-delay=".8s"
        .circle6.wow.zoomIn data-wow-delay="1s"
        .circle7.wow.zoomIn data-wow-delay="1.2s"
  .proposing
    .container
      .row
        .col-xs-12
          h2.wow.fadeInUp
            | PROPOSING A SOLUTION
          p.wow.fadeInUp data-wow-delay=".25s"
            | Genee is a complicated app &mdash; on the back-end at least. Therefore, we had make sure that it wasn't complicated at all from the user's point of view. We went through an extensive process to simplify everything we possibly could so that it worked like a snap.
  .wireframes.wireframes-genee
    .container
      .row
        .col-xs-12
          h2
            | WIREFRAMES
          h3
            | Just a couple out of a handful of iterations we went through.
      .row
        .col-xs-12.col-sm-6.col-md-4.wireframe-step.breath-top.wow.fadeIn
          p.on-left
            span.text
              span.title Schedule a meeting
              | The user chooses the type of meeting and the people they wants to include.
            span.number 1
          img.on-right src=image_path("case-studies/genee/02-Home.png") alt="02 - Home"
        .col-xs-12.col-sm-6.col-md-4.wireframe-step.breath-bottom.wow.fadeIn data-wow-delay=".2s"
          p.on-right
            span.text
              span.title Invitations
              | The application sends an invitation to each participant.
            span.number 2
          img.on-left src=image_path("case-studies/genee/11-Invitations.png") alt="11 - Invitations"
        .col-xs-12.col-sm-6.col-md-4.wireframe-step.breath-top.dark.wow.fadeIn data-wow-delay=".4s"
          p.on-right
            span.text
              span.title Calendar
              | Meetings are automatically scheduled both in the app and in the user’s calendar.
            span.number 3
          img.on-left src=image_path("case-studies/genee/13-Calendar.png") alt="13 - Calendar"
      .row
        .col-xs-12.col-sm-6.col-md-4.wireframe-step.breath-bottom.dark.wow.fadeIn data-wow-delay=".6s"
          p.on-right
            span.text
              span.title Meeting detail
              | The user can access the meeting details at all times.
            span.number 4
          img.on-left src=image_path("case-studies/genee/18-meeting-detail.png") alt="18 - meeting detail"
        .col-xs-12.col-sm-6.col-md-4.last.wireframe-step.breath-top.wow.fadeIn data-wow-delay=".8s"
          p.on-left
            span.text
              span.title Select a time
              | The meeting will be programmed automatically, based on the user's schedule.
            span.number 5
          img.on-right src=image_path("case-studies/genee/20-Select-Time.png") alt="20 - Select Time"
        .col-xs-12.col-sm-6.col-md-4.hidden-xs.hidden-sm.last.wireframe-step
  .identify-brand
    .container
      .row
        .col-xs-12.col-sm-12.col-md-5.col-lg-4.col-lg-offset-1.title
          div Choosing a visual language to identify the brand
        .col-xs-12.col-sm-12.col-md-7.col-lg-6.visual-style-1.wow.fadeIn
          img src=image_path("case-studies/genee/visual-style-1.png") alt="isual-style-1"
        .col-xs-12.col-sm-12.col-md-5.col-lg-4.col-md-offset-1.col-lg-offset-1.visual-style-2.wow.fadeIn data-wow-delay=".2s"
          img src=image_path("case-studies/genee/visual-style-2.png") alt="visual-style-2"
        .col-xs-12.col-sm-12.col-md-6.col-lg-6.visual-style-3.wow.fadeIn data-wow-delay=".4s"
          img src=image_path("case-studies/genee/visual-style-3.png") alt="visual-style-3"

  .colors
    .row
      .col-xs-4.col-sm-2.col1
        p #33953C
      .col-xs-4.col-sm-2.col2
        p #60C2A3
      .col-xs-4.col-sm-2.col3
        p #C4E4DA
      .col-xs-4.col-sm-2.col4
        p #D64C49
      .col-xs-4.col-sm-2.col5
        p #2D3337
      .col-xs-4.col-sm-2.col6
        p #E3E9E7
  .smartcalendar
    .row
      .col-xs-12.col-sm-6.col1
        .container
          .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-10.pull-right.scheduled-list
              h1 Today, February 28
              .appointment.wow.fadeInUp
                .time-type
                  .time
                    span 6:30
                    span.am 7:00
                  .type
                    img src=image_path("case-studies/genee/appointment-1.png") alt="appointment-1"
                .description
                  | Breakfast with Ellie Adams
                  span
                    img src=image_path("case-studies/genee/pin-appointment.png") alt="pin-appointment"
                    | 1519 Melvile St.
              .appointment.wow.fadeInUp data-wow-delay=".2s"
                .time-type
                  .time
                    span 7:30
                    span.am 8:00
                  .type
                    img src=image_path("case-studies/genee/appointment-2.png") alt="appointment-2"
                .description
                  | Coffee with Matt Helders
                  span
                    img src=image_path("case-studies/genee/pin-appointment.png") alt="pin-appointment"
                    | 5119 Ipsum Av.
              .appointment.wow.fadeInUp data-wow-delay=".4s"
                .time-type
                  .time
                    span 1:30
                    span.pm 2:30
                  .type
                    img src=image_path("case-studies/genee/appointment-3.png") alt="appointment-3"
                .description
                  | Lunch with Charlie & Eva Graham
                  span
                    img src=image_path("case-studies/genee/pin-appointment.png") alt="pin-appointment"
                    | 896 Everegreen Av.
              .appointment.wow.fadeInUp data-wow-delay=".6s"
                .time-type
                  .time
                    span 3:30
                    span.pm 4:00
                  .type
                    img src=image_path("case-studies/genee/appointment-5.png") alt="appointment-5"
                .description Call with Dan Jameson
              .appointment.wow.fadeInUp data-wow-delay=".8s"
                .time-type
                  .time
                    span 5:00
                    span.pm 6:30
                  .type
                    img src=image_path("case-studies/genee/appointment-6.png") alt="appointment-6"
                .description Meeting with Amy Evans
              .appointment.wow.fadeInUp data-wow-delay="1s"
                .time-type
                  .time
                    span 7:00
                    span.pm 9:00
                  .type
                    img src=image_path("case-studies/genee/appointment-7.png") alt="appointment-7"
                .description Drinks with Louie Fischer
              .appointment.wow.fadeInUp data-wow-offset="100" data-wow-delay="1.2s"
                .time-type
                  .time
                    span.pm 9:30
                    span.am 1:00
                  .type
                    img src=image_path("case-studies/genee/appointment-6.png") alt="appointment-6"
                .description Poker night
      .col-xs-12.col-sm-6.col2
        .container
          .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-10.pull-left
              h1 A SMART CALENDAR MADE FOR YOU
  .giveitatry
    .content
      .row
        .col-xs-12
          .row.title-subtitle-stores
            h2 It's great. Give it a try.
            .stores
              a.apple href="https://itunes.apple.com/us/app/genee-easy-appointment-scheduler/id961387647" title="Get it on the Apple Store" rel="nofollow" target="_blank"
                =inline_svg "case-studies/appleStore.svg"
                | Get it on the Apple Store
                =inline_svg "case-studies/chevronRight.svg"
      .row
        .col-xs-12
          span.phone-container
            iframe [
              width="420"
              height="900"
              src="//invis.io/KM1ANIRTV"
              allowfullscreen
            ]
          img.phone.hide src=image_path("case-studies/genee/phone.png") alt="phone"

.container-fluid.more-case-studies
  .row
    .col-xs-12
      .row.reactions-container
        .reactions-main-content
          .col-xs-12
            h2 What do you think about this Case Study?
          .row
            .col-xs-12.col-sm-10.col-sm-offset-1
              .row 
                .col-xs-4
                  button.emoji-btn.option-1
                    img data-src=image_path("case-studies/ghost.svg")
                  h3 Love it!
                .col-xs-4
                  button.emoji-btn.option-2
                    img data-src=image_path("case-studies/smile.svg")
                  h3 Good
                .col-xs-4
                  button.emoji-btn.option-3
                    img data-src=image_path("case-studies/meh.svg")
                  h3 Meh
          .row.reactions-options-1.reactions-options-all
            .col-xs-12.choose-title
              h2 What did you like the most?
            .col-xs-10.col-xs-offset-1
              button.btn-option Inspirational 
              button.btn-option Trendy
              button.btn-option Delight 
              button.btn-option Interesting
              button.btn-option Learned a lot
          .row.reactions-options-2.reactions-options-all
            .col-xs-12
              h2 How can we make it better? 
              h2.second-title We love constructive criticism! :)
            .col-xs-12 
              .container.input-container
                input.input-option-good type="text"
                button.send-feedback-btn.option-good
                  =inline_svg('case-studies/chevronRight.svg')
          .row.reactions-options-3.reactions-options-all
            .col-xs-12
              h2 What didn't you like about it?
              h2.second-title We don't bite. :P
            .col-xs-12 
              .container.input-container
                input.input-option-meh type="text"
                button.send-feedback-btn.option-meh
                  =inline_svg('case-studies/chevronRight.svg')
        
        .reactions-second-content
          .col-xs-12
            img data-src=image_path("case-studies/thankyou.svg")
            h2.thank-title Thank you for helping us get better!

    .col-xs-12
      strong  You can see more Case Studies below.


.container-fluid.related-case-studies
  .row
    =render_left_linked
    =render_right_linked
