ruby:
  @page_title = "Kibow - User Experience, User Interface, Social Media, FE Development"
  @page_description = "Kibow is a mobile app betting platform that was tailor-made for the UK market. It's objective is to provide economic support for athletes and create a new ecosystem within the sports industry."
  @page_thumb = image_url('thumbnails/kibow.png')

.container.cs-hero
  .row
    .logocases
      a href="/" data-color="#ffffff" title="Indicius"
        img data-src=image_path("LogoIndicius@2x.png") alt="Indicius" title="Indicius" src=image_path("spacer.png")
    .menuheroright
      ul
        li
          a href="/" Home
        li
          a href="/agency" Agency
        li
          a href="/case-studies" Case Studies
        li
          a href="/lets-talk" Contact

  .row.title-subtitle-stores
    h1 Kibow
    h2 UX/UI, Front-End

  a.see-more-case-study href="#caseStudyContent"
    =inline_svg "case-studies/chevronDown.svg"

.container-fluid#caseStudyContent
  .container-fluid.about-project-wrapper
    .container
      .row.about-project
        .col-xs-12
          table
            tr
              td.wow.fadeIn About the Project
              td.wow.fadeIn
                p Kibow is a mobile app betting platform that was tailor-made for the UK market. It's objective is to provide economic support for athletes and create a new ecosystem within the sports industry.
  .clearfix

  .row.understanding
    .container
      .col-xs-12.col-sm-6.col-sm-offset-6.col-md-3.col-md-offset-8.excerpt
        h2.wow.fadeIn Understanding the product
        p.wow.fadeIn We carried out an expert review to identify usability problems and also created a benchmark analysis. The betting industry is quite unknown to most users and it has very specific terms and patterns, so we wanted to ensure that we did our homework, before jumping into design.

  .row.shaping
    .container
      .col-xs-12.col-sm-12.col-md-3.col-md-offset-1.excerpt
        h2.wow.fadeIn Shaping the experience
        p.wow.fadeIn We worked together with the client to optimize and consolidate the user flow. Afterwards, we created high fidelity wireframes to set up an initial prototype and pin down the user experience.
      .col-xs-12.col-sm-12.col-md-7.col-md-offset-1.flow
        span.cs-label.flow-label Flow
        img.img-responsive.hidden-md.hidden-lg src=image_path("case-studies/kibow/flow.png") alt="Flow" title="Flow"

  .row.wireframes
    .container
      .col-xs-12.col-sm-12.col-md-6.col-md-offset-3
        span.cs-label.wireframes-label Wireframes

  .row.wireframes-comp
    .container-fluid
      .col-xs-12
        img.wow.fadeInUp.img-responsive src=image_path("case-studies/kibow/wireframes@2x.png") alt="Wireframes" title="Wireframes"

  .row.visual-design
    .container
      .col-xs-12.col-sm-12.col-md-8.col-md-offset-2.excerpt
        h2.wow.fadeIn Visual design
        p.wow.fadeIn The UI was created as a design system to standardize it and ensure scalability. We worked on mobile first and then adapted the design to desktop.
      .col-xs-12.col-sm-12.col-md-10.col-md-offset-1
        .row
          .col-xs-12.col-sm-4.col-md-4.col-lg-4.phone-mockup
            img.wow.fadeInUp.img-responsive src=image_path("case-studies/kibow/phone-left.png") alt="Kibow app" title="Kibow app"
          .col-xs-12.col-sm-4.col-md-4.col-lg-4.phone-mockup
            img.wow.fadeInUp.img-responsive src=image_path("case-studies/kibow/phone-middle.png") alt="Kibow app" title="Kibow app"
          .col-xs-12.col-sm-4.col-md-4.col-lg-4.phone-mockup
            img.wow.fadeInUp.img-responsive src=image_path("case-studies/kibow/phone-right.png") alt="Kibow app" title="Kibow app"

  .row.site-screenshot
    .container
      .col-xs-12.col-sm-12.col-md-8.col-md-offset-2
        img.wow.fadeIn.img-responsive.gif src=image_path("case-studies/kibow/desktop.gif") alt="Kibow desktop" title="Kibow desktop"

  .row.crafting
    .container
      .col-xs-12.col-sm-12.col-md-5.col-md-offset-6.excerpt
        h2.wow.fadeIn Crafting a<br class="hidden-xs hidden-sm hidden-md"> design system
        p.wow.fadeIn We created a modular design system to ensure consistency and provide the possibility of scaling the product in the future and unifying criteria.
    .container-fluid.crafting-screenshot
      .col-xs-12
        img.img-responsive.hidden-md.hidden-lg.flow-mobile src=image_path("case-studies/kibow/design-system.png") alt="Design system" title="Design system"

  .row.details
    .container
      .col-xs-12.col-sm-12.col-md-3.col-md-offset-1.excerpt
        h2.wow.fadeIn Small details,<br class="hidden-xs hidden-sm hidden-md"> big delights
        p.wow.fadeIn We included microinteractions to create a possitive experience that was both intuitive and delightful. These allow the user to know when a task has been completed, while also adding a certain wow factor.
      .col-xs-12.col-sm-12.col-md-4.phone-frame-wrapper.wow.fadeInUp
        h2 Small details,<br class="hidden-xs hidden-sm hidden-md"> big delights
        p We included microinteractions to create a possitive experience that was both intuitive and delightful. These allow the user to know when a task has been completed, while also adding a certain wow factor.
        .phone-frame
          img.img-responsive src=image_path("case-studies/kibow/phone-frame.png") alt="Phone frame" title="Phone frame"
          .phone-frame-inner
            .phone-frame-carousel
              img.img-responsive data-slide="0" src=image_path("case-studies/kibow/betting.gif") alt="Betting process" title="Betting process"
              img.img-responsive data-slide="1" src=image_path("case-studies/kibow/verification.gif") alt="Profile verification" title="Profile verification"
              img.img-responsive data-slide="2" src=image_path("case-studies/kibow/withdraw.gif") alt="Deposit process" title="Deposit process"
      .col-xs-12.col-sm-12.col-md-4.phone-indicators
        button.phone-indicator.is-active data-slide="0" 
          | Betting<br> process
        br
        button.phone-indicator data-slide="1" 
          | Profile<br> verification
        br
        button.phone-indicator data-slide="2" 
          | Deposit<br> process


  .row.expanding
    .container
      .col-xs-12.col-sm-12.col-md-8.col-md-offset-2.excerpt
        h2.wow.fadeIn Expanding the brand
        p.wow.fadeIn We also expanded the visual system to ensure that we created designs that made their social media presence both innovative and eye-catching.
      .col-xs-12.col-sm-12.col-md-10.col-md-offset-1.posts
        img.img-responsive.wow.fadeInUp src=image_path("case-studies/kibow/posts.png") alt="Posts" title="Posts"

  .row.conclussion
    .container
      .col-xs-12.col-sm-12.col-md-10.col-md-offset-1.excerpt
        h2.wow.fadeIn Conclusion
        p.wow.fadeIn This project gave us the possibility of working on an app for a new industry, which allowed us to adquire experience in an area that was previously unknown to us. Additionally, we worked on the both the functional and visual aspects of the digital product and felt proud of the end result.


.clearfix

.container-fluid.more-case-studies
  .row
    .col-xs-12
      .row.reactions-container
        .reactions-main-content
          .col-xs-12
            h2 What do you think about this Case Study?
          .row
            .col-xs-12.col-sm-10.col-sm-offset-1
              .row 
                .col-xs-4
                  button.emoji-btn.option-1
                    img data-src=image_path("case-studies/ghost.svg")
                  h3 Love it!
                .col-xs-4
                  button.emoji-btn.option-2
                    img data-src=image_path("case-studies/smile.svg")
                  h3 Good
                .col-xs-4
                  button.emoji-btn.option-3
                    img data-src=image_path("case-studies/meh.svg")
                  h3 Meh
          .row.reactions-options-1.reactions-options-all
            .col-xs-12.choose-title
              h2 What did you like the most?
            .col-xs-10.col-xs-offset-1
              button.btn-option Inspirational 
              button.btn-option Trendy
              button.btn-option Delight 
              button.btn-option Interesting
              button.btn-option Learned a lot
          .row.reactions-options-2.reactions-options-all
            .col-xs-12
              h2 How can we make it better? 
              h2.second-title We love constructive criticism! :)
            .col-xs-12 
              .container.input-container
                input.input-option-good type="text"
                button.send-feedback-btn.option-good
                  =inline_svg('case-studies/chevronRight.svg')
          .row.reactions-options-3.reactions-options-all
            .col-xs-12
              h2 What didn't you like about it?
              h2.second-title We don't bite. :P
            .col-xs-12 
              .container.input-container
                input.input-option-meh type="text"
                button.send-feedback-btn.option-meh
                  =inline_svg('case-studies/chevronRight.svg')
        
        .reactions-second-content
          .col-xs-12
            img data-src=image_path("case-studies/thankyou.svg")
            h2.thank-title Thank you for helping us get better!

    .col-xs-12
      strong  You can see more Case Studies below.


.container-fluid.related-case-studies
  .row
    =render_left_linked
    =render_right_linked
