ruby:
  @page_title = "Li5 - Mobile App to sell with video unlike ever before."
  @page_description = "Case Study that shows the creation of the visual and motion design for Li5, an app whose objective is to create a fun experience while navigating through product videos"
  @page_thumb = image_url('thumbnails/li5.png')

.container.cs-hero
  .row
    .logocases
      a href="/" data-color="#ffffff" title="Indicius"
        img data-src=image_path("LogoIndicius@2x.png") alt="Indicius" title="Indicius" src=image_path("spacer.png")
    .menuheroright
      ul
        li
          a href="/" Home
        li
          a href="/agency" Agency
        li
          a href="/case-studies" Case Studies
        li
          a href="/lets-talk" Contact

  .row.title-subtitle-stores
    h1 Li5
    h2 Branding, UX/UI, Motion UI
    .stores
      a.apple href="https://itunes.apple.com/us/app/li5/id1187286036" title="Get it on the Apple Store" target="_blank"
        =inline_svg "case-studies/appleStore.svg"
        | Get it on the App Store
        =inline_svg "case-studies/chevronRight.svg"

  a.see-more-case-study href="#caseStudyContent"
    =inline_svg "case-studies/chevronDown.svg"

.container-fluid#caseStudyContent
  .container-fluid.about-project-wrapper
    .container
      .row.about-project
        .col-xs-12
          table
            tr
              td.wow.fadeIn About the Project
              td.wow.fadeIn
                p We were in charge of creating the visual and motion design for Li5, an app that makes creating video stories about your product fun and easy. Buying the actual products was second on their list of objectives. Their focus was on experience and entertainment, because a positive experience would eventually lead to conversions.
  .clearfix

  .row.branding
    .yellow-band

    .container
      .col-xs-12.col-sm-12.col-md-5.excerpt
        h2 Branding
        h1
          | Concept&nbsp;&&nbsp;
          br
          | Moodboard
        p We drew a concept board in order to explore different words and ideas related to the app. This helped us find a voice for the brand, and therefore discover the best way to communicate this voice visually to others.

      .col-xs-12.col-sm-12.col-md-7.mockup
        .marquee
          .slide
            =inline_svg "case-studies/li5/word-movement.svg"
          .slide
            =inline_svg "case-studies/li5/word-fast.svg"
          .slide
            =inline_svg "case-studies/li5/word-visual.svg"
          .slide.word-easy
            =inline_svg "case-studies/li5/word-easy.svg"
          .slide
            =inline_svg "case-studies/li5/word-ecommerce.svg"
          .slide
            =inline_svg "case-studies/li5/word-feminine.svg"
          .slide
            =inline_svg "case-studies/li5/word-information.svg"
          .slide.word-popular
            =inline_svg "case-studies/li5/word-popular.svg"
          .slide.word-simple
            =inline_svg "case-studies/li5/word-simple.svg"
          .slide
            =inline_svg "case-studies/li5/word-video.svg"
          .slide
            =inline_svg "case-studies/li5/word-volatile.svg"

  .row.liquid-concept
    .container
      .col-xs-12.title
        h2 Branding
        h1 The Liquid Concept

      .col-xs-12.col-sm-12.col-md-4
        p For starters, we wanted to focus on the type of content that would be hosted on the app, and the kind of experience the user would go through while navigating it. We came up with the concept of “Liquid” something that flows freely, quickly, something that adapts.

      .col-xs-12.col-sm-12.col-md-4
        // img.liquid-logo src=image_path("case-studies/li5/liquid-logo.svg")
        img.liquid-logo src=image_path("case-studies/li5/logo-animation.gif") alt="logo-animation"

      .col-xs-12.col-sm-12.col-md-4
        p We noted a parallelism between the characteristics of something in liquid form, which is palpable, and something digital, such as videos, and a video stream. We also related this with the volatile origin of the brand name: Li5, short for “tell it Like I’m 5”, is internet slang for explain it quickly, in a very simple way, like I’m 5 years old.

    .bowl
      .top-liquids
        img.liquid.wow.customLiquidFade data-wow-delay=".5s" src=image_path("case-studies/li5/white-liquid.svg") alt="white-liquid"
        img.liquid-absolute.wow.customLiquidFade data-wow-delay=".25s" src=image_path("case-studies/li5/blue-liquid.svg") alt="blue-liquid"
        img.liquid-absolute.wow.customLiquidFade src=image_path("case-studies/li5/yellow-liquid.svg") alt="yellow-liquid"
        img.liquid-absolute.front src=image_path("case-studies/li5/aquamarine-liquid.svg") alt="aquamarine-liquid"

      .bottom-bowl
        p.wow.fadeIn After going through this conceptual breakdown, we were ready to start putting these words into images, and creating a visual voice for the app. In our design process, we focused on translating this liquid concept into shapes, typography, UI elements. We would later emphasize this concept by creating original animations.

  .row.logo-icon
    .container
      .col-xs-12
        h2 Branding
        h1 Logo & Icon
        p The short length of the brand name (Li5) set the stage to create a typographic logotype which could also be used as the final app icon. By using the same symbol, we would ensure a solid communication and resonance of the brand name within the app and elsewhere.

      .row.logos-app-icon
        .col-xs-12.col-sm-12.col-md-3.col-lg-3.wow.fadeIn
          img.logo src=image_path("case-studies/li5/logos/logo-1.svg") alt="logo-1"
        .col-xs-12.col-sm-12.col-md-3.col-lg-3.wow.fadeIn data-wow-delay=".25s"
          img.logo src=image_path("case-studies/li5/logos/logo-2.svg") alt="logo-2"
        .col-xs-12.col-sm-12.col-md-3.col-lg-3.wow.fadeIn data-wow-delay=".50s"
          img.logo src=image_path("case-studies/li5/logos/logo-3.svg") alt="logo-3"
        .col-xs-12.col-sm-12.col-md-3.col-lg-3.wow.fadeIn data-wow-delay=".75s"
          img.logo src=image_path("case-studies/li5/logos/logo-4.svg") alt="logo-4"

        .col-xs-12.col-sm-12.col-md-9.excerpt
          p This is how we came to the realization that the actual “swipe” gesture played a key role in this entertainment experience. And in this swipe, we found the dynamic, entertaining and fluid concept we wanted to convey. Therefore, we experimented further with the “swipe” interaction, finding visual ways to represent this movement and incorporate it within the monogram. After several color adjustments, legibility and shape improvements, we hit it off!

          img src=image_path("case-studies/li5/app-icons.svg") alt="app-icons"

        .col-xs-12.col-sm-12.col-md-3.logo
          img.logo.mt.wow.fadeIn data-wow-delay="1s" src=image_path("case-studies/li5/logos/logo-4-b.svg") alt="logo-4-b"
          img.logo.mt.wow.fadeIn data-wow-delay="1.25s" src=image_path("case-studies/li5/logos/logo-4-c.svg") alt="logo-4-c"

  .row.style-elements
    .container
      .col-xs-12
        h2 Branding
        h1 Brand style elements

      .row.elements
        .col-xs-12.col-sm-12.col-md-6.wow.fadeInLeft
          .inner
            h3 Typography
            img src=image_path("case-studies/li5/typography.svg") alt="typography"
            p We decided to use the font RUBIK. A strong and bold sans serif font with soft and rounded edges that created the slightly whimsical effect that we were looking for. It works great in small sizes, without losing its fun personality, which was great for translating this ludicrous look to the UI.

        .col-xs-12.col-sm-12.col-md-6.wow.fadeInRight
          .inner
            h3 Color palette
            img.palette src=image_path("case-studies/li5/color-palette.svg") alt="color-palette"
            p.no-top-margin The color palette we chose to use is vibrant and strong. The target audience is people looking for easy access to product video entertainment. Rather than something fancy we wanted to represent a fun and friendly feeling using red, white and a touch of yellow.

        .col-xs-12.col-sm-12.col-md-6.wow.fadeInLeft
          .inner.no-padding
            h3 Buttons
            img.full-width src=image_path("case-studies/li5/buttons.svg") alt="buttons"

        .col-xs-12.col-sm-12.col-md-6.wow.fadeInRight
          .inner.no-padding
            h3 Iconography
            img.full-width src=image_path("case-studies/li5/icons.svg") alt="icons"

  .row.wireframes
    .overlay

    .container
      .col-xs-12.col-sm-12.col-md-6
        h2 UX & UI Design
        h1 Wireframes
        p The client provided a number of rough wireframes for most parts of the app, as they already had a very clear idea with regards to how the core of Li5 was supposed to work. When necessary, we made some small changes to ensure that the user experience was going to function at its best.

  .row.visual-design
    .container.larger.wireframe-images
      .col-xs-12.col-sm-12.col-md-4.wow.fadeInUp
        img.wireframe-image src=image_path("case-studies/li5/wireframes/wireframe-1.png") alt="wireframe-1"

      .col-xs-12.col-sm-12.col-md-4.wow.fadeInUp data-wow-delay=".25s"
        img.wireframe-image src=image_path("case-studies/li5/wireframes/wireframe-2.png") alt="wireframe-2"

      .col-xs-12.col-sm-12.col-md-4.wow.fadeInUp data-wow-delay=".5s"
        img.wireframe-image src=image_path("case-studies/li5/wireframes/wireframe-3.png") alt="wireframe-3"

    .container
      .col-xs-12
        h2 UX & UI Design
        h1 Visual Design
        p While creating the final visual designs, we were always checking for interesting UI element patterns and trends on the latest and more popular entertainment and social networking apps in the App Store.

        .ui-slider.wow.fadeInUp
          .slide
            img.ui-demo src=image_path("case-studies/li5/ui/screen-1.jpg") alt="screen-1"
          .slide
            img.ui-demo src=image_path("case-studies/li5/ui/screen-2.jpg") alt="screen-2"
          .slide
            img.ui-demo src=image_path("case-studies/li5/ui/screen-3.jpg") alt="screen-3"
          .slide
            img.ui-demo src=image_path("case-studies/li5/ui/screen-4.jpg") alt="screen-4"

  .row.motion-ui
    .container
      .col-xs-12.col-sm-12.col-md-6.info.wow.fadeInLeft
        .love-animation
        h2 Animation
        h1 Motion UI
        p Motion UI is used to give feedback to the users, indicating either a gesture, or an action that was completed. It’s great for UX, but it's also great for enhancing the designs and communicating concepts. For Li5 we used animations that imitated the behaviour of a liquid substance in movement. You can see these animations on elements such as the video player, the logo animation, etc.

      .col-xs-12.col-sm-12.col-md-6.wow.fadeInRight
        .ui
          video.ui-demo autoplay="autoplay" loop="loop" poster=image_path("case-studies/li5/ui/screen-3.jpg")
            source src=image_path("case-studies/li5/ui/motion-demo.mp4") type="video/mp4"
            | Your browser does not support the video tag.

        .clearfix

  .row.motion-gifs
    .container
      .col-xs-12.col-sm-12.col-md-6.animations
        img.wow.fadeIn src=image_path("case-studies/li5/spinner.gif") alt="spinner"
        img.wow.fadeIn src=image_path("case-studies/li5/video-player.gif") alt="video-player"

      .col-xs-12.col-sm-12.col-md-6.see-you
        img.wow.fadeIn src=image_path("case-studies/li5/see-you.gif") alt="see-you"

.clearfix

.container-fluid.more-case-studies
  .row
    .col-xs-12
      .row.reactions-container
        .reactions-main-content
          .col-xs-12
            h2 What do you think about this Case Study?
          .row
            .col-xs-12.col-sm-10.col-sm-offset-1
              .row 
                .col-xs-4
                  button.emoji-btn.option-1
                    img data-src=image_path("case-studies/ghost.svg")
                  h3 Love it!
                .col-xs-4
                  button.emoji-btn.option-2
                    img data-src=image_path("case-studies/smile.svg")
                  h3 Good
                .col-xs-4
                  button.emoji-btn.option-3
                    img data-src=image_path("case-studies/meh.svg")
                  h3 Meh
          .row.reactions-options-1.reactions-options-all
            .col-xs-12.choose-title
              h2 What did you like the most?
            .col-xs-10.col-xs-offset-1
              button.btn-option Inspirational 
              button.btn-option Trendy
              button.btn-option Delight 
              button.btn-option Interesting
              button.btn-option Learned a lot
          .row.reactions-options-2.reactions-options-all
            .col-xs-12
              h2 How can we make it better? 
              h2.second-title We love constructive criticism! :)
            .col-xs-12 
              .container.input-container
                input.input-option-good type="text"
                button.send-feedback-btn.option-good
                  =inline_svg('case-studies/chevronRight.svg')
          .row.reactions-options-3.reactions-options-all
            .col-xs-12
              h2 What didn't you like about it?
              h2.second-title We don't bite. :P
            .col-xs-12 
              .container.input-container
                input.input-option-meh type="text"
                button.send-feedback-btn.option-meh
                  =inline_svg('case-studies/chevronRight.svg')
        
        .reactions-second-content
          .col-xs-12
            img data-src=image_path("case-studies/thankyou.svg")
            h2.thank-title Thank you for helping us get better!

    .col-xs-12
      strong  You can see more Case Studies below.


.container-fluid.related-case-studies
  .row
    =render_left_linked
    =render_right_linked
