ruby:
  @page_title = "Leo Messi Foundation - Official digital book for the world’s best football player"
  @page_description = "Case Study that shows the UI/UX Design, iOS & Android Development and 3D Augmented Reality backstage for Leo Messi's official digital book."
  @page_thumb = image_url('thumbnails/messi.png')

.container.cs-hero
  .row
    .logocases
      a href="/" data-color="#ffffff" title="Indicius"
        img data-src=image_path("LogoIndicius@2x.png") alt="Indicius" title="Indicius" src=image_path("spacer.png")
    .menuheroright
      ul
        li
          a href="/" Home
        li
          a href="/agency" Agency
        li
          a href="/case-studies" Case Studies
        li
          a href="/lets-talk" Contact

  .row.title-subtitle-stores
    h1 Messi
    h2 UX/UI, iOS& Android Development

  a.see-more-case-study href="#caseStudyContent"
    =inline_svg "case-studies/chevronDown.svg"

.container-fluid#caseStudyContent
  .container
    .row.about-project
      .col-xs-12
        table
          tr
            td.wow.fadeIn About the Project
            td.wow.fadeIn
              p
                | The Leo Messi Foundation contacted us to launch the first official book of the world’s best football player. Our challenge? Making the printed book come to life in the digital world. We designed and developed this digital experience with our awesome friends from &nbsp;
                a href="http://www.aerolab.co" target="_blank" title="Aerolab" Aerolab
                | &nbsp; and &nbsp;
                a href="http://www.patagonian.it" target="_blank" title="PatagonianTech" PatagonianTech.
  .fb-app-contest
    .container
      .row
        .col-xs-12
          h1.wow.fadeIn Facebook app contest
          p.wow.fadeIn First, we organized a contest, through Lionel’s Facebook, where we asked people to submit their design proposals for the cover. The winning design not only gets to become the official cover, but its creator also has the honor of meeting Leo Messi.
          img.book-facebook.wow.fadeInUp src=image_path("case-studies/messi/facebook2.png") alt="facebook2"
  .first-description
    .container
      .row
        .col-xs-12
          p.wow.fadeInLeft After 2 weeks, with more than 18 thousand visitors and 2000 covers uploaded, the 10 best ones were chosen. A jury composed, among others, by Lionel’s father and executives from the Foundation, chose the illustration created by the artist Diego Salas as the winner and, therefore, the official cover.

.container-fluid.digital-version
  .container
    .row
      .col-xs-12.col-sm-12.col-md-4.col-lg-4.col-lg-offset-1.phone-showcase
        img src=image_path("case-studies/messi/iphone6.png") alt="iphone6"

      .col-xs-12.col-sm-12.col-md-8.col-lg-5.text.wow.fadeInRight
        h1 Digital Version
        p The book consists of a large number of interviews to celebrities from the football scene and that is why we thought it would be great to generate a digital version for tablets and cellphones.

        p That is how we created a unique interactive experience, which includes 40 interviews in high definition, 8 official Lio goals and more than 300 exclusive images accessible from any cellphone or tablet by downloading it from official iOs and Android stores.

.codes-visitors
  .container.codes
    .row
      .col-xs-12.col-sm-12.col-md-6.col-lg-6.text.wow.fadeInLeft
        h1 RA + QR CODES APP
        p We have created a free application that lets users read QR codes to access exclusive goals and live the experience of Augmented Reality, with the objective of providing visual content for those who buy the printed version of the book.
  img.hand src=image_path("case-studies/messi/hand2.png") alt="hand2"

  .container.web
    .row
      .col-xs-12.col-sm-12.col-md-6.col-lg-6.web-image
        img src=image_path("case-studies/messi/web.png") alt="web"
      .col-xs-12.col-sm-12.col-md-6.col-lg-6.text.wow.fadeInRight
       h1 Website
       p Lastly, we have created a modern website with all the information related to the project, in order to promote it and provide easy access to all platforms.

.case-study-video
  h1 Case Study Video
  .video.wow.fadeIn
    iframe [
      width="734"
      height="435"
      src="https://player.vimeo.com/video/130436380?title=0&byline=0&portrait=0"
      allowfullscreen
    ]

.clearfix

.container-fluid.more-case-studies
  .row
    .col-xs-12
      .row.reactions-container
        .reactions-main-content
          .col-xs-12
            h2 What do you think about this Case Study?
          .row
            .col-xs-12.col-sm-10.col-sm-offset-1
              .row 
                .col-xs-4
                  button.emoji-btn.option-1
                    img data-src=image_path("case-studies/ghost.svg")
                  h3 Love it!
                .col-xs-4
                  button.emoji-btn.option-2
                    img data-src=image_path("case-studies/smile.svg")
                  h3 Good
                .col-xs-4
                  button.emoji-btn.option-3
                    img data-src=image_path("case-studies/meh.svg")
                  h3 Meh
          .row.reactions-options-1.reactions-options-all
            .col-xs-12.choose-title
              h2 What did you like the most?
            .col-xs-10.col-xs-offset-1
              button.btn-option Inspirational 
              button.btn-option Trendy
              button.btn-option Delight 
              button.btn-option Interesting
              button.btn-option Learned a lot
          .row.reactions-options-2.reactions-options-all
            .col-xs-12
              h2 How can we make it better? 
              h2.second-title We love constructive criticism! :)
            .col-xs-12 
              .container.input-container
                input.input-option-good type="text"
                button.send-feedback-btn.option-good
                  =inline_svg('case-studies/chevronRight.svg')
          .row.reactions-options-3.reactions-options-all
            .col-xs-12
              h2 What didn't you like about it?
              h2.second-title We don't bite. :P
            .col-xs-12 
              .container.input-container
                input.input-option-meh type="text"
                button.send-feedback-btn.option-meh
                  =inline_svg('case-studies/chevronRight.svg')
        
        .reactions-second-content
          .col-xs-12
            img data-src=image_path("case-studies/thankyou.svg")
            h2.thank-title Thank you for helping us get better!

    .col-xs-12
      strong  You can see more Case Studies below.


.container-fluid.related-case-studies
  .row
    =render_left_linked
    =render_right_linked
