ruby:
  @page_title = "Polyvibe - UX/UI, Motion & Brand Design"
  @page_description = "Polyvibe is an artificial intelligence powered social network that understands human facial expression. We designed over 200 instances, creating a modern and intuitive product based on groundbreaking technology powered by our friends from Clipo."
  @page_thumb = image_url('thumbnails/polyvibe.png')

.container.cs-hero
  .row
    .logocases
      a href="/" data-color="#ffffff" title="Indicius"
        img data-src=image_path("LogoIndicius@2x.png") alt="Indicius" title="Indicius" src=image_path("spacer.png")
    .menuheroright
      ul
        li
          a href="/" Home
        li
          a href="/agency" Agency
        li
          a href="/case-studies" Case Studies
        li
          a href="/lets-talk" Contact

  .row.title-subtitle-stores
    h1 Polyvibe
    h2 Branding, UX/UI, Motion UI

  a.see-more-case-study href="#caseStudyContent"
    =inline_svg "case-studies/chevronDown.svg"

.container-fluid#caseStudyContent
  .container-fluid.about-project-wrapper
    .container
      .row.about-project
        .col-xs-12
          table
            tr
              td.wow.fadeIn About the Project
              td.wow.fadeIn
                p Polyvibe is an artificial intelligence powered social network that understands human facial expression. We designed over 200 instances, creating a modern and intuitive product based on groundbreaking technology powered by our friends from Clipo.
  .clearfix

  .row.branding
    .container
      .col-xs-12.col-sm-12.col-md-12.excerpt
        h2.wow.fadeInUp Branding Process
        p.wow.fadeInUp We had to create numerous elements for this brand. During the process, we designed an image to represent its target audience, their corresponding characteristics and, at the same time, make the brand memorable and likeable.

      .col-xs-12.col-sm-12.col-md-12.icon-design
        img.wow.fadeInUp src=image_path("case-studies/polyvibe/branding-face.png") alt="branding-face"

      .col-xs-12.col-sm-12.col-md-12.color
        .row
          .col-xs-12.col-sm-6.col-md-6.col-sm-offset-1.col-md-offset-1.wow.fadeInLeft
            h5 COLOR
            p We had to consider colors that represent its identity to create the right color palette. After many attempts, we were able to come up with a selection that’s both vibrant and striking.
          .col-xs-12.col-sm-4.col-md-4.wow.fadeInRight
            img src=image_path("case-studies/polyvibe/branding-color.png") alt="branding-color"


      .col-xs-12.col-sm-12.col-md-12.geometric-grid
        .grid-container.gridimgcontainer
          svg.gridimg width="832px" height="257px" viewBox="0 0 832 257" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            g id="UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
              g id="Polyface_Casestudy" transform="translate(-304.000000, -2935.000000)"
                g id="Branding-Process" transform="translate(0.000000, 1266.000000)"
                  g id="Grid" transform="translate(182.000000, 1588.000000)"
                    g id="Lines" transform="translate(122.000000, 80.000000)"
                      path d="M162.5,179.5 L261.5,179.5 L261.5,79.5 L162.5,79.5 L162.5,179.5 Z" id="Stroke-986" stroke="#DCDFE5"
                      path d="M1,79.6258065 L830.999957,79.8933199" id="Stroke-995" stroke="#AAB1BE" stroke-width="0.794" opacity="0.699999988"
                      path d="M1,37.397 L831,37.397" id="Stroke-996" stroke="#AAB1BE" stroke-width="0.794" opacity="0.699999988"
                      path d="M1,1.397 L831,1.397" id="Stroke-997" stroke="#AAB1BE" stroke-width="0.794" opacity="0.699999988"
                      path d="M1,54.397 L831,54.397" id="Stroke-998" stroke="#AAB1BE" stroke-width="0.794" opacity="0.699999988"
                      path d="M1,83.397 L831,83.397" id="Stroke-999" stroke="#AAB1BE" stroke-width="0.794" opacity="0.699999988"
                      path d="M1,172.397 L831,172.397" id="Stroke-1000" stroke="#AAB1BE" stroke-width="0.794" opacity="0.699999988"
                      path d="M1,97.397 L831,97.397" id="Stroke-1001" stroke="#AAB1BE" stroke-width="0.794" opacity="0.699999988"
                      path d="M1,117.397 L831,117.397" id="Stroke-1003" stroke="#AAB1BE" stroke-width="0.794" opacity="0.699999988"
                      path d="M1,140.397 L831,140.397" id="Stroke-1004" stroke="#AAB1BE" stroke-width="0.794" opacity="0.699999988"
                      path d="M1,160.397 L831,160.397" id="Stroke-1005" stroke="#AAB1BE" stroke-width="0.794" opacity="0.699999988"
                      path d="M1,178.397 L831,178.397" id="Stroke-1007" stroke="#AAB1BE" stroke-width="0.794" opacity="0.699999988"
                      path d="M1,218.397 L831,218.397" id="Stroke-1008" stroke="#AAB1BE" stroke-width="0.794" opacity="0.699999988"
                      path d="M1,235.397 L831,235.397" id="Stroke-1009" stroke="#AAB1BE" stroke-width="0.794" opacity="0.699999988"
                      path d="M1,256.397 L831,256.397" id="Stroke-1010" stroke="#AAB1BE" stroke-width="0.794" opacity="0.699999988"
                      path d="M1,201.397 L831,201.397" id="Stroke-1011" stroke="#AAB1BE" stroke-width="0.794" opacity="0.699999988"
                      path d="M762.600897,2 L762.600897,257.148271" id="Stroke-1012" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988"
                      path d="M682.331839,2 L682.331839,257.148271" id="Stroke-1013" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988"
                      path d="M673.502242,2 L673.502242,257.148271" id="Stroke-1014" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988"
                      path d="M659.053812,2 L659.053812,257.148271" id="Stroke-1015" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988"
                      path d="M607.681614,2 L607.681614,257.148271" id="Stroke-1016" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988"
                      path d="M590.022422,2 L590.022422,257.148271" id="Stroke-1017" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988"
                      path d="M575.573991,2 L575.573991,257.148271" id="Stroke-1018" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988"
                      path d="M557.914798,2 L557.914798,257.148271" id="Stroke-1019" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988"
                      path d="M537.847534,2 L537.847534,257.148271" id="Stroke-1020" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988"
                      path d="M518.569507,2 L518.569507,257.148271" id="Stroke-1021" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988"
                      path d="M499.502242,2 L499.502242,257.148271" id="Stroke-1022" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988"
                      path d="M434.919283,2 L434.919283,257.148271" id="Stroke-1024" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988"
                      path d="M345.428949,185.154839 L316.22,214.351506" id="Stroke-10241" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988"
                      path d="M776.208949,150 L747,179.196667" id="Stroke-10242" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988" transform="translate(761.604475, 164.598334) scale(-1, 1) translate(-761.604475, -164.598334) "
                      path d="M415.457399,2 L415.457399,257.148271" id="Stroke-1025" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988"
                      path d="M401.390135,2 L401.390135,257.148271" id="Stroke-1026" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988"
                      path d="M384.928251,2 L384.928251,257.148271" id="Stroke-1027" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988"
                      path d="M330.950673,2 L330.950673,257.148271" id="Stroke-1028" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988"
                      path d="M313.488789,2 L313.488789,257.148271" id="Stroke-1029" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988"
                      path d="M295.026906,2 L295.026906,257.148271" id="Stroke-1030" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988"
                      path d="M277.367713,1 L277.367713,256.148271" id="Stroke-1031" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988"
                      path d="M257.721973,2 L257.721973,257.148271" id="Stroke-1032" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988"
                      path d="M242.26009,2 L242.26009,257.148271" id="Stroke-1033" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988"
                      path d="M177.847534,2 L177.847534,257.148271" id="Stroke-1036" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988"
                      path d="M160.188341,2 L160.188341,257.148271" id="Stroke-1037" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988"
                      path d="M148.147982,2 L148.147982,257.148271" id="Stroke-1038" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988"
                      path d="M131.488789,2 L131.488789,257.148271" id="Stroke-1039" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988"
                      path d="M68.2735426,2 L68.2735426,257.148271" id="Stroke-1040" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988"
                      path d="M50.6143498,2 L50.6143498,257.148271" id="Stroke-1041" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988"
                      path d="M0.847533632,2 L0.847533632,257.148271" id="Stroke-1042" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988"
                      path d="M831,2 L831,257.148271" id="Stroke-10421" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988"
                      path d="M781.865471,2 L781.865471,257.148271" id="Stroke-1046" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988"
                      path d="M701.596413,2 L701.596413,257.148271" id="Stroke-1048" stroke="#AAB1BE" stroke-width="0.82" opacity="0.699999988"
          img.logoimg.wow.fadeInUp src=image_path("case-studies/polyvibe/branding-logo.svg") alt="branding-logo"
          h2.wow.fadeInUp Geometric grid

  .row.visual-elements
    .container
      .col-xs-12
        .row.ve
          .col-xs-12.col-sm-5.col-md-5.col-sm-offset-1.col-md-offset-1.wow.fadeInLeft
            h2 Visual Elements
            p In parallel, we created a series of elements to be utilized in the interface.
          img.wow.fadeInRight src=image_path("case-studies/polyvibe/visual-typos.png") alt="visual-typos"
        .row.emojis
          img.wow.fadeInLeft src=image_path("case-studies/polyvibe/visual-emoji.png") alt="visual-emoji"
          .col-xs-12.col-sm-5.col-md-5.col-sm-offset-7.col-md-offset-7.wow.fadeInRight
            h2 Emojis
            p For the application we have designed a series of emojis that represent the most common expressions.


  .row.user-experience
    .container
      .col-xs-12
        h2 User experience
        p We divided the app's features into 5 main sections that, in turn, included various internal sections. We put down our thoughts in paper first, in order to organize ourselves and optimize the user flow.
        img.user-screens src=image_path("case-studies/polyvibe/user-screens.png") alt="user-screens"
        / .video-container
        /   .row
        /     .col-xs-12.col-sm-6.col-md-6
        /       h5 PROCESS
        /       p You can see a summary of our work in the following video
        /     .col-xs-12.col-sm-5.col-md-5
        /       button type="button" class="btn btn-primary btn-lg" id="microBtn" style="border:0;"
        /         img.user-video src=image_path("case-studies/polyvibe/user-video.png")

  .row.user-interface
    .spacer
      p &nbsp;
    .container
      .col-xs-12
        h2 User interface
        p Polyvibe’s design and interface was created using vibrant colors, intuitive interactions and several elements that sustain all of the app’s functions.
      .col-xs-12.imgs
        img.two.wow.fadeInUp src=image_path("case-studies/polyvibe/2.png") alt="2"
        img.three.wow.fadeInUp src=image_path("case-studies/polyvibe/3.png") alt="3"
        img.four.wow.fadeInUp src=image_path("case-studies/polyvibe/4.png") alt="4"
        img.five.wow.fadeInUp src=image_path("case-studies/polyvibe/5.png") alt="5"
        img.six.wow.fadeInUp src=image_path("case-studies/polyvibe/6.png") alt="6"
        img.seven.wow.fadeInUp src=image_path("case-studies/polyvibe/7.png") alt="7"
        img.eight.wow.fadeInUp src=image_path("case-studies/polyvibe/8.png") alt="8"
        img.nine.wow.fadeInUp src=image_path("case-studies/polyvibe/9.png") alt="9"
        img.ten.wow.fadeInUp src=image_path("case-studies/polyvibe/10.png") alt="10"
        img.eleven.wow.fadeInUp src=image_path("case-studies/polyvibe/11.png") alt="11"
        img.twelve.wow.fadeInUp src=image_path("case-studies/polyvibe/12.png") alt="12"
        img.thirteen.wow.fadeInUp src=image_path("case-studies/polyvibe/13.png") alt="13"


  .row.motion-ui
    .container
      .col-xs-12.col-sm-12.col-md-6.sliderwrapper.wow.fadeInLeft
        .slider-poly
          .slide
            video.viewer width="261" height="465" autoplay="autoplay"
              source src=image_path("case-studies/polyvibe/Motion_UI-Slider_1.mov") type="video/mp4"
          .slide
            video.viewer width="261" height="465" autoplay="autoplay"
              source src=image_path("case-studies/polyvibe/Motion_UI-Slider_2.mov") type="video/mp4"
          / .slide
          /   video.viewer width="261" height="465" autoplay="autoplay"
          /     source src=image_path("case-studies/polyvibe/Motion_UI-Slider_3.mp4") type="video/mp4"
        img src=image_path("case-studies/polyvibe/motion-iphone.png") alt="motion-iphone"
      .col-xs-12.col-sm-12.col-md-6.info.wow.fadeInRight
        h2 Motion UI
        p Several animations expressing gestures, movement and transitions were created in order to provide a more enjoyable and intuitive experience.

  .row.illustrations
    .container
      .col-xs-12.col-sm-12.col-md-6.info.fadeInLeft
        h2 Illustrations
        p We crafted a set of whimsical masks for the user to be able to transform themselves into all types of characters.
      .col-xs-12.col-sm-12.col-md-6.sliderwrapper.wow.fadeInRight
        .slider-illus
          .slide
            img src=image_path("case-studies/polyvibe/mask1.png") alt="mask1"
          .slide
            img src=image_path("case-studies/polyvibe/mask2.png") alt="mask2"
          .slide
            img src=image_path("case-studies/polyvibe/mask3.png") alt="mask3"
          .slide
            img src=image_path("case-studies/polyvibe/mask4.png") alt="mask4"
          .slide
            img src=image_path("case-studies/polyvibe/mask5.png") alt="mask5"
          .slide
            img src=image_path("case-studies/polyvibe/mask6.png") alt="mask6"
          .slide
            img src=image_path("case-studies/polyvibe/mask7.png") alt="mask7"
          .slide
            img src=image_path("case-studies/polyvibe/mask8.png") alt="mask8"
          .slide
            img src=image_path("case-studies/polyvibe/mask9.png") alt="mask9"
          .slide
            img src=image_path("case-studies/polyvibe/mask10.png") alt="mask10"
          .slide
            img src=image_path("case-studies/polyvibe/mask11.png") alt="mask11"
          .slide
            img src=image_path("case-studies/polyvibe/mask12.png") alt="mask12"
          .slide
            img src=image_path("case-studies/polyvibe/mask13.png") alt="mask13"
          .slide
            img src=image_path("case-studies/polyvibe/mask14.png") alt="mask14"
        img src=image_path("case-studies/polyvibe/illus-iphone.png") alt="illus-iphone"
        img.controls src=image_path("case-studies/polyvibe/illus-controls.png") alt="illus-controls"
      .col-xs-12.col-sm-12.col-md-6.infosmall.fadeInLeft
        h2 Illustrations
        p We crafted a set of whimsical masks for the user to be able to transform themselves into all types of characters.

  .row.try
    .container
      .col-xs-6.col-sm-6.col-md-6.image.wow.fadeInLeft
        img.iphone src=image_path("case-studies/polyvibe/try-iphone.png") alt="try-iphone"
      .col-xs-6.col-sm-6.col-md-6.info.wow.fadeInRight
        h2 It's great. Give it a try.
        a href="https://itunes.apple.com/gb/app/polyface/id1164215056?mt=8" target="_blank"
          img.badge src=image_path("case-studies/polyvibe/try-badge.png") alt="try-badge"

.clearfix

.container-fluid.more-case-studies
  .row
    .col-xs-12
      .row.reactions-container
        .reactions-main-content
          .col-xs-12
            h2 What do you think about this Case Study?
          .row
            .col-xs-12.col-sm-10.col-sm-offset-1
              .row 
                .col-xs-4
                  button.emoji-btn.option-1
                    img data-src=image_path("case-studies/ghost.svg")
                  h3 Love it!
                .col-xs-4
                  button.emoji-btn.option-2
                    img data-src=image_path("case-studies/smile.svg")
                  h3 Good
                .col-xs-4
                  button.emoji-btn.option-3
                    img data-src=image_path("case-studies/meh.svg")
                  h3 Meh
          .row.reactions-options-1.reactions-options-all
            .col-xs-12.choose-title
              h2 What did you like the most?
            .col-xs-10.col-xs-offset-1
              button.btn-option Inspirational 
              button.btn-option Trendy
              button.btn-option Delight 
              button.btn-option Interesting
              button.btn-option Learned a lot
          .row.reactions-options-2.reactions-options-all
            .col-xs-12
              h2 How can we make it better? 
              h2.second-title We love constructive criticism! :)
            .col-xs-12 
              .container.input-container
                input.input-option-good type="text"
                button.send-feedback-btn.option-good
                  =inline_svg('case-studies/chevronRight.svg')
          .row.reactions-options-3.reactions-options-all
            .col-xs-12
              h2 What didn't you like about it?
              h2.second-title We don't bite. :P
            .col-xs-12 
              .container.input-container
                input.input-option-meh type="text"
                button.send-feedback-btn.option-meh
                  =inline_svg('case-studies/chevronRight.svg')
        
        .reactions-second-content
          .col-xs-12
            img data-src=image_path("case-studies/thankyou.svg")
            h2.thank-title Thank you for helping us get better!

    .col-xs-12
      strong  You can see more Case Studies below.


.container-fluid.related-case-studies
  .row
    =render_left_linked
    =render_right_linked
