ruby:
  @page_title = "Red Bull Records - Website that serves music and related content in a new engaging way"
  @page_description = "Case Study that shows the backstage for the design and development of Red Bull Records, a website that serves music and related content in a new engaging way."
  @page_thumb = image_url('thumbnails/red-bull.png')

.container.cs-hero
  .row
    .logocases
      a href="/" data-color="#ffffff" title="Indicius"
        img data-src=image_path("LogoIndicius@2x.png") alt="Indicius" title="Indicius" src=image_path("spacer.png")
    .menuheroright
      ul
        li
          a href="/" Home
        li
          a href="/agency" Agency
        li
          a href="/case-studies" Case Studies
        li
          a href="/lets-talk" Contact

  .row.title-subtitle-stores
    .dh1
      | Red Bull Records
      .toi-project
        .dash &mdash;
        | A
        =inline_svg "case-studies/toi-logo.svg"
        | Project
    h2 UX/UI, Website Development
    .stores
      a.website href="http://redbullrecords.com/" title="Visit Website" target="_blank"
        =inline_svg "case-studies/website.svg"
        | Visit Website
        =inline_svg "case-studies/chevronRight.svg"

  a.see-more-case-study href="#caseStudyContent"
    =inline_svg "case-studies/chevronDown.svg"

.container-fluid#caseStudyContent
  .container
    .row.about-project
      .col-xs-12
        table
          tr
            td.wow.fadeIn About the Project
            td.wow.fadeIn
              p
                | Red Bull Records is Red Bull's independent record label. Their diverse roster includes artists like AWOLNATION, Beartooth, Five Knives, Itch, New Beat Fund and Twin Atlantic. We worked on User Experience, User Interface, Front-End and Back-End Development. Another exciting and successful project in collaboration with our partners at&nbsp;
                a href="http://toi.io/" target="_blank" Toi
                | .
  .not-typical
    .container
      img.wow.fadeInUp src=image_path("case-studies/red_bull_records/not-typical.png") alt="not-typical"
      h2.wow.fadeInUp Not your typical record label
      p.wow.fadeInUp Their artist roster and general attitude shows that Red Bull Records isn’t a conventional record label, therefore a conventional website wouldn’t be enough. This is not the first site in Red Bull’s network to follow this path, other ones (most notably Red Bull Music Academy) have pretty cool and unique designs. There were high expectations to meet!
  .uxresearch
    .container
      .row
        .col-xs-12.col-sm-12.col-md-6.col-lg-6.text.wow.fadeInLeft
          h2 UX Research
          p While creating these wireframes, we made good use of our User Experience research. We created some Proto-personas (our team’s educated guess of who we should be designing for) to more easily identify all the possible user types and cover every use case in the site.
          .lines
            .line.line1 onClick="goToSlide(1)"
            .line.line2 onClick="goToSlide(2)"
            .line.line3 onClick="goToSlide(3)"
            .line.line4 onClick="goToSlide(4)"
            .line.line5 onClick="goToSlide(5)"
    img.image.image1.imageshow.wow.fadeInRight src=image_path("case-studies/red_bull_records/Card_1.png") alt="Card"
    img.image.image2 src=image_path("case-studies/red_bull_records/Card_2.png") alt="Card"
    img.image.image3 src=image_path("case-studies/red_bull_records/Card_3.png") alt="Card"
    img.image.image4 src=image_path("case-studies/red_bull_records/Card_4.png") alt="Card"
    img.image.image5 src=image_path("case-studies/red_bull_records/Card_5.png") alt="Card"
  .unconventional
    .container
      h2 An unconventional Layout
      p One of our main goals was to serve artist and label content in a new, engaging way. We had to think outside of the box for this and that is exactly what we did. While most website layouts rely on rectangular "boxes" to contain bits of information, we explored the unconventional use of triangles.
      .player-wrapper
        img.player-bg src=image_path("case-studies/red_bull_records/unconventional.png") alt="unconventional"
        img.player-bg.mobile src=image_path("case-studies/red_bull_records/unconventional-mobile.png") alt="unconventional"
        .play-button-wrapper
          svg#play-button width="48px" height="48px" viewBox="0 0 48 48" version="1.1"
            defs
              mask#mask-2 maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="48" height="48" fill="white"
                use xlink:href="#path-1"
            g#Page-1 stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
              g#Play stroke="#FFFFFF"
                circle#path-1 cx="24" cy="24" r="22" vector-effect="non-scaling-stroke" stroke-width="2"
                polygon#play-icon stroke-width="2" points="17.8354492 16.847168 17.8354492 32.6251202 33.2871094 24.6943359" vector-effect="non-scaling-stroke"
  .fifty
    .container
      h2 50&deg;
      p With some additional front-end development, we were able to repeat these triangular boundaries, achieving a sense of stacking and order that is highly unique to Red Bull Records.
      svg class="map-animate-strokes" height="885px" version="1.1" viewbox=("0 0 1597 885") width="1597px"
        defs
          ellipse#path-u-1 cx="174.97275" cy="174.97275" rx="174.97275" ry="174.97275"
          mask#mask-u-2 fill="white" height="349.945499" maskcontentunits="userSpaceOnUse" maskunits="objectBoundingBox" width="349.945499" x="0" y="0"
            use xlink:href="#path-u-1"
          radialgradient#radialGradient-3 cx="50.4405797%" cy="57.1913569%" fx="50.4405797%" fy="57.1913569%" r="40.1460247%"
            stop offset="0%" stop-color="#000000" stop-opacity="0"
            stop offset="81.8726762%" stop-color="#000000" stop-opacity="0.0531856261"
            stop offset="100%" stop-color="#000000"
          mask#mask-u-5 fill="white" height="352" maskcontentunits="userSpaceOnUse" maskunits="objectBoundingBox" width="352" x="0" y="0"
            use xlink:href="#path-u-4"
        g#Page-u-1 fill="none" fill-rule="evenodd" stroke="none" stroke-width="1"
          g#Redbull_Casestudy_06 transform="translate(0.000000, -3923.000000)"
            g#Slide-u transform="translate(-1.000000, 3109.000000)"
              g id="id5000BA" transform="translate(-5.000000, 814.000000)"
                g#Play-u
                  g#u-1 opacity="0.149999991" stroke="#FFFFFF" stroke-linecap="square" stroke-width="2" transform="translate(5.000000, 141.000000)"
                    path#Line-u d="M1610.5,81.5 L296.5,742.5" transform="translate(-174, 80)"
                    path#Line-u-2 d="M1466.85897,0 L-1.11022302e-16,737.894811" transform="translate(733.429487, 368.947405) scale(-1, 1) translate(-725.429487, -368.947405) "
                  g#u-2 opacity="0.149999991" stroke="#FFFFFF" stroke-linecap="square" stroke-width="2" transform="translate(32.000000, 320.000000)"
                    path#Line-u-3 d="M1.11022302e-16,33 L1573.625,549.351562" transform="translate(786.812500, 291.175781) scale(-1, 1) translate(-768.812500, -291.175781) "
                    path#Line-u-4 d="M51.3710938,0.625 L1624.99609,516.976562" transform="translate(838.183594, 258.800781) scale(-1, -1) translate(-832.183594, -258.800781) "
                  rect#Degrade-u fill="url(#radialGradient-3)" height="884" width="1603" x="0" y="0"
                  path#Rectangle-u-18 d="M628,402 L628,402 L628,754 L628,754 L978,754 L978,754 L978,402 L978,402 L628,402 Z"stroke="#282828" stroke-width="2" stroke-linecap="butt" fill="none" fill-rule="nonzero"
  .wireframe
    .container-fluid
      h2 Wireframe
      p There were numerous iterations of wireframes for the most complex pages across desktop and mobile.
      .wireframes-comp.wow.fadeInLeft
        svg#wireframeStroke.wire-animate-strokes width="1598px" height="674px" viewBox="0 206 1598 674" version="1.1"
          g#Line stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(0.000000, 206.000000)"
            rect#Rectangle-u-w x="0" y="0" width="1598" height="674"
            path d="M4,4 L1591,526" stroke-opacity="0.15" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" transform="translate(797.500000, 265.000000) scale(-1, 1) translate(-797.500000, -265.000000)" vector-effect="non-scaling-stroke"
        img src=image_path("case-studies/red_bull_records/wireframe.png") alt="wireframe"
  .visual-design
    .container
      .row
        .col-xs-12.col-sm-12.col-md-6.col-lg-6.text.wow.fadeInLeft
          h2 Visual Design
          p We worked with Red Bull Records and the stakeholders for the larger Red Bull brand to keep essential elements of the widely recognized style guide intact, while evolving it specifically for the record label's web experience and UI.
        .col-xs-12.col-sm-12.col-md-6.col-lg-6
          .row
            .col-xs-12.col-sm-6.col-md-6.col-lg-6.color-square style="background-color: #CD003B"
              p #CD003B
            .col-xs-12.col-sm-6.col-md-6.col-lg-6.color-square style="background-color: #0C2044"
              p #0C2044
            .col-xs-12.col-sm-6.col-md-6.col-lg-6.color-square style="background-color: #AAB1BE"
              p #AAB1BE
            .col-xs-12.col-sm-6.col-md-6.col-lg-6.color-square style="background-color: #1F1F1F"
              p #1F1F1F
  .release
    .container
      img.wow.fadeInUp src=image_path("case-studies/red_bull_records/release.png") alt="release"
  .typography
    .container
      .row
        .col-xs-12.col-sm-12.col-md-6.col-lg-6.wow.fadeInLeft
          img.wow.fadeInLeft src=image_path("case-studies/red_bull_records/neuzeit.svg") alt="neuzeit"
        .col-xs-12.col-sm-12.col-md-6.col-lg-6.wow.fadeInRight
          h2 Typography
          p We used Neuzeit Grotesk as the only font since it’s versatile, it looks great and while it’s very similar to Futura (used in Red Bull’s logo, slightly modified), it works much better for body text.
  .uianimation
    .container
      .row
        .col-xs-12.col-sm-12.col-md-6.col-lg-6.wow.fadeInLeft
          h2 UI Animation
          p We created some cool animations for different interactions on the site.
          .linesui
            .lineui.lineui1 onClick="goToSlideUI(1)"
            .lineui.lineui2 onClick="goToSlideUI(2)"
            .lineui.lineui3 onClick="goToSlideUI(3)"
        .col-xs-12.col-sm-12.col-md-6.col-lg-6.wow.fadeInRight.imagesui
          img.imageui.imageui1.imageshow src=image_path("case-studies/red_bull_records/redbull-slide1.gif") alt="redbull-slide1"
          img.imageui.imageui2 src=image_path("case-studies/red_bull_records/redbull-slide2.gif") alt="redbull-slide2"
          img.imageui.imageui3 src=image_path("case-studies/red_bull_records/redbull-slide3.gif") alt="redbull-slide3"
  .checkout
    .container
      .row
        .col-xs-12.col-sm-12.col-md-6.col-lg-6.wow.fadeInLeft
          h2 Check out the website
          a href="http://redbullrecords.com/" target="_blank"
            | Visit Website
            =inline_svg "viewCase.svg"
        .col-xs-12.col-sm-12.col-md-6.col-lg-6.wow.fadeInRight
          img.image.wow.fadeInRight src=image_path("case-studies/red_bull_records/checkout.jpg") alt="checkout"

  .clearfix

.container-fluid.more-case-studies
  .row
    .col-xs-12
      .row.reactions-container
        .reactions-main-content
          .col-xs-12
            h2 What do you think about this Case Study?
          .row
            .col-xs-12.col-sm-10.col-sm-offset-1
              .row 
                .col-xs-4
                  button.emoji-btn.option-1
                    img data-src=image_path("case-studies/ghost.svg")
                  h3 Love it!
                .col-xs-4
                  button.emoji-btn.option-2
                    img data-src=image_path("case-studies/smile.svg")
                  h3 Good
                .col-xs-4
                  button.emoji-btn.option-3
                    img data-src=image_path("case-studies/meh.svg")
                  h3 Meh
          .row.reactions-options-1.reactions-options-all
            .col-xs-12.choose-title
              h2 What did you like the most?
            .col-xs-10.col-xs-offset-1
              button.btn-option Inspirational 
              button.btn-option Trendy
              button.btn-option Delight 
              button.btn-option Interesting
              button.btn-option Learned a lot
          .row.reactions-options-2.reactions-options-all
            .col-xs-12
              h2 How can we make it better? 
              h2.second-title We love constructive criticism! :)
            .col-xs-12 
              .container.input-container
                input.input-option-good type="text"
                button.send-feedback-btn.option-good
                  =inline_svg('case-studies/chevronRight.svg')
          .row.reactions-options-3.reactions-options-all
            .col-xs-12
              h2 What didn't you like about it?
              h2.second-title We don't bite. :P
            .col-xs-12 
              .container.input-container
                input.input-option-meh type="text"
                button.send-feedback-btn.option-meh
                  =inline_svg('case-studies/chevronRight.svg')
        
        .reactions-second-content
          .col-xs-12
            img data-src=image_path("case-studies/thankyou.svg")
            h2.thank-title Thank you for helping us get better!

    .col-xs-12
      strong  You can see more Case Studies below.


.container-fluid.related-case-studies
  .row
    =render_left_linked
    =render_right_linked
