ruby:
  @page_title = "Samsung Dev Conference - UX/UI Design, Website Development"
  @page_description = "The Samsung Developer Conference provides exclusive access to Samsung products and the latest dev tools. We worked on UX/UI Design and Website Development with LateralView, for AgencyEA."
  @page_thumb = image_url('thumbnails/samsung-dev-conference.png')

.container.cs-hero
  .row
    .logocases
      a href="/" data-color="#ffffff" title="Indicius"
        img data-src=image_path("LogoIndicius@2x.png") alt="Indicius" title="Indicius" src=image_path("spacer.png")
    .menuheroright
      ul
        li
          a href="/" Home
        li
          a href="/agency" Agency
        li
          a href="/case-studies" Case Studies
        li
          a href="/lets-talk" Contact

  .row.title-subtitle-stores
    h1 Samsung Dev Conference
    h2 UX/UI, Website Development

  a.see-more-case-study href="#caseStudyContent"
    =inline_svg "case-studies/chevronDown.svg"

.container-fluid#caseStudyContent
  .container-fluid.about-project-wrapper
    .container
      .row.about-project
        .col-xs-12
          table
            tr
              td.wow.fadeIn About the Project
              td.wow.fadeIn
                p The Samsung Developer Conference provides exclusive access to Samsung products and the latest dev tools. We worked on UX/UI Design and Website Development with LateralView, for AgencyEA.

  .row.user-experience
    .container
      .col-xs-12.col-sm-12.col-md-6.col-md-offset-3.excerpt
          h2.wow.fadeIn User Experience
          p.wow.fadeIn We used the information compiled in our analyses to create an innovative and concise layout that would be engaging for users.

  .row.b-w-wireframes
    .container
      .col-xs-12.col-sm-12.col-md-10.col-md-offset-1.b-w-wireframes-image.wow.fadeInUp
        img data-src=image_path("case-studies/samsung_dev_conference/b-w-wireframes.png")
      .b-w-wireframes-divider
        img data-src=image_path("case-studies/samsung_dev_conference/b-w-divider.svg")

  .row.research
    .container
      .col-xs-12.col-sm-12.col-md-6.col-md-offset-3.excerpt
          h2.wow.fadeIn UX Research

      .col-xs-12.col-sm-12.col-md-10.col-md-offset-1.excerpt
        .row
          .col-xs-12.col-sm-12.col-md-4
            .research-card.wow.fadeInLeft
              .icon
                img data-src=image_path("case-studies/samsung_dev_conference/chart-up.svg")
              h3 Enhanced Content Strategy
              p We analyzed the event's previous site to identify issues regarding navigation structure and information architecture. A benchmark analysis was also carried out to understand how we needed to communicate with our target audience.

          .col-xs-12.col-sm-12.col-md-4
            .research-card.wow.fadeInUp
              .icon
                img data-src=image_path("case-studies/samsung_dev_conference/dots.svg")
              h3 Scalability in three stages
              p Due to the fact that the event had three stages (pre conference, onsite and post conference) we had to had to create a scalable web with components and sections that could appear and disappear when needed. 

          .col-xs-12.col-sm-12.col-md-4
            .research-card.wow.fadeInRight
              .icon
                img data-src=image_path("case-studies/samsung_dev_conference/devices.svg")
              h3 Fits all screens
              p We carefully designed all the breakpoints in advance, so as to ensure the responsive site, animations and other elements worked perfectly both on mobile and tablet. The resolution had to be on point in order to be seen perfectly in all devices.

  .row.storyboard
    .container
      .col-xs-12.col-sm-12.col-md-6.col-md-offset-3.excerpt
          h2.wow.fadeIn Storyboard

  .row.storyboard-background
      .col-xs-12.col-sm-12.col-md-6.col-md-offset-3
        .storyboard-video.wow.fadeInUp
          video autoplay="true" muted="true" loop="true"
            source src=image_path("case-studies/samsung_dev_conference/sdc-storyboard.mp4") type="video/mp4" 
            | Your browser does not support the video tag.

  .row.user-interface
    .container
      .col-xs-12.col-sm-12.col-md-6.col-md-offset-3.excerpt
          h2.wow.fadeIn User Interface
          p.wow.fadeIn Samsung is a consolidated brand and we needed to follow their brand guidelines while working on the design. There was also additional design direction based on other aspects of the conference that were being developed by AgencyEA, simultaneously. 

      .col-xs-12.col-sm-12.col-md-8.col-md-offset-2
        .row
          .col-xs-12.col-sm-12.col-md-6.ui-element-group.wow.fadeIn
            h3 Typography
            .drop-shadow-child
              img data-src=image_path("case-studies/samsung_dev_conference/typography.png")
          .col-xs-12.col-sm-12.col-md-6.ui-element-group.wow.fadeIn
            h3 Color
            .drop-shadow-child
              img data-src=image_path("case-studies/samsung_dev_conference/colors.png")
          .clearfix
          .col-xs-12.col-sm-12.col-md-6.ui-element-group.wow.fadeIn
            h3 Buttons
            .drop-shadow-child
              img data-src=image_path("case-studies/samsung_dev_conference/buttons.png")
          .col-xs-12.col-sm-12.col-md-6.ui-element-group.wow.fadeIn
            h3 Gradients
            .drop-shadow-child
              img data-src=image_path("case-studies/samsung_dev_conference/gradients.png")

  .row.ui-elements
    .container
      .col-xs-12.col-sm-12.col-md-6.col-md-offset-3.excerpt
        h2.wow.fadeIn UI Elements
        p.wow.fadeIn The UI needed to be clean and concise. Not only did we have to represent Samsung's style properly, but also add a certain uniqueness and authenticity to entice attendees to sign up and navigate the site.
      .col-xs-12.col-sm-12.col-md-10.col-md-offset-1.ui-elements-images.wow.fadeInUp
        h3 Images
        img data-src=image_path("case-studies/samsung_dev_conference/colored-images.png")

  .row.global-cards
    .container
      .col-xs-12.col-sm-12.col-md-6.col-md-offset-2.excerpt
        h2.wow.fadeIn Cards
      .col-xs-12.global-cards-image.wow.fadeIn
        img data-src=image_path("case-studies/samsung_dev_conference/cards.png")
      .col-xs-12.global-cards-image-vertical.wow.fadeIn
        .drop-shadow-child
          .js-vertical-cards-carousel
            div
              img data-src=image_path("case-studies/samsung_dev_conference/vertical-cards/1.png")
            div
              img data-src=image_path("case-studies/samsung_dev_conference/vertical-cards/2.png")
            div
              img data-src=image_path("case-studies/samsung_dev_conference/vertical-cards/3.png")
            div
              img data-src=image_path("case-studies/samsung_dev_conference/vertical-cards/4.png")
            div
              img data-src=image_path("case-studies/samsung_dev_conference/vertical-cards/1.png")
            div
              img data-src=image_path("case-studies/samsung_dev_conference/vertical-cards/2.png")
            div
              img data-src=image_path("case-studies/samsung_dev_conference/vertical-cards/3.png")
            div
              img data-src=image_path("case-studies/samsung_dev_conference/vertical-cards/4.png")
      .col-xs-12.global-cards-image-countdown.wow.fadeIn
        img data-src=image_path("case-studies/samsung_dev_conference/countdown.png")

  .row.global-sliders
    .container
      .row
        .col-xs-12.col-sm-12.col-md-6.col-md-offset-2.excerpt
          h2.wow.fadeIn Sliders
      .row
        .col-xs-12.col-sm-12.col-md-8.col-md-offset-2.global-sliders-image.wow.fadeInLeft
          img data-src=image_path("case-studies/samsung_dev_conference/slider.png")

  .row.program
    .container
      .row
        .col-xs-12.col-sm-12.col-md-6.col-md-offset-2.excerpt
          h2.wow.fadeIn Program
      .row
        .col-xs-12.col-sm-12.col-md-11.col-md-offset-1.program-image.wow.fadeInRight
          img data-src=image_path("case-studies/samsung_dev_conference/program.png")

  .row.final-version
    .container
      .row
        .col-xs-12.col-sm-12.col-md-8.col-md-offset-2.excerpt
          h2.wow.fadeIn Final Version
          p.wow.fadeIn Thanks to a joint effort carried out by the teams in Korea, US, Spain and Argentina we were able to carry out an extensive QA process. This ensured that all the different versions of the site represented the design flawlessly.

      .row
        / .col-xs-12.col-sm-12.col-md-8.col-md-offset-2
          .final-version-tabs.js-samsung-final-version-tabs
            button.active data-target="panel-1"
              span 1
              | Before
            button data-target="panel-2"
              span 2
              | During
            button data-target="panel-3"
              span 3
              | After
        .col-xs-12.col-sm-12.col-md-10.col-md-offset-1
          .final-version-panels.js-samsung-final-version-panels
            .panel data-panel="panel-1"
              .drop-shadow-child
                img data-src=image_path("case-studies/samsung_dev_conference/screens-1.png")
            /.panel data-panel="panel-2" style="display: none;"
              .drop-shadow-child
                img data-src=image_path("case-studies/samsung_dev_conference/screens-2.png")
            /.panel data-panel="panel-3" style="display: none;"
              .drop-shadow-child
                img data-src=image_path("case-studies/samsung_dev_conference/screens-3.png")


  .clearfix

.container-fluid.more-case-studies
  .row
    .col-xs-12
      .row.reactions-container
        .reactions-main-content
          .col-xs-12
            h2 What do you think about this Case Study?
          .row
            .col-xs-12.col-sm-10.col-sm-offset-1
              .row 
                .col-xs-4
                  button.emoji-btn.option-1
                    img data-src=image_path("case-studies/ghost.svg")
                  h3 Love it!
                .col-xs-4
                  button.emoji-btn.option-2
                    img data-src=image_path("case-studies/smile.svg")
                  h3 Good
                .col-xs-4
                  button.emoji-btn.option-3
                    img data-src=image_path("case-studies/meh.svg")
                  h3 Meh
          .row.reactions-options-1.reactions-options-all
            .col-xs-12.choose-title
              h2 What did you like the most?
            .col-xs-10.col-xs-offset-1
              button.btn-option Inspirational 
              button.btn-option Trendy
              button.btn-option Delight 
              button.btn-option Interesting
              button.btn-option Learned a lot
          .row.reactions-options-2.reactions-options-all
            .col-xs-12
              h2 How can we make it better? 
              h2.second-title We love constructive criticism! :)
            .col-xs-12 
              .container.input-container
                input.input-option-good type="text"
                button.send-feedback-btn.option-good
                  =inline_svg('case-studies/chevronRight.svg')
          .row.reactions-options-3.reactions-options-all
            .col-xs-12
              h2 What didn't you like about it?
              h2.second-title We don't bite. :P
            .col-xs-12 
              .container.input-container
                input.input-option-meh type="text"
                button.send-feedback-btn.option-meh
                  =inline_svg('case-studies/chevronRight.svg')
        
        .reactions-second-content
          .col-xs-12
            img data-src=image_path("case-studies/thankyou.svg")
            h2.thank-title Thank you for helping us get better!

    .col-xs-12
      strong  You can see more Case Studies below.

.container-fluid.related-case-studies
  .row
    =render_left_linked
    =render_right_linked
