ruby:
  @page_title = "Tradeagrape - Mobile App that connects wine lovers"
  @page_description = "Case Study that shows the Branding, UI/UX Design and iOS/Android Development backstage for Tradeagape, an app where your wine is your currency."
  @page_thumb = image_url('thumbnails/tag.png')

.container.cs-hero
  .row
    .logocases
      a href="/" data-color="#ffffff" title="Indicius"
        img data-src=image_path("LogoIndicius@2x.png") alt="Indicius" title="Indicius" src=image_path("spacer.png")
    .menuheroright
      ul
        li
          a href="/" Home
        li
          a href="/agency" Agency
        li
          a href="/case-studies" Case Studies
        li
          a href="/lets-talk" Contact

  .row.title-subtitle-stores
    .dh1
      | Tradeagrape
      .toi-project
        .dash &mdash;
        | A
        =inline_svg "case-studies/toi-logo.svg"
        | Project
    h2 Branding, UX/UI, iOS & Android Development
    .stores
      a.apple href="https://itunes.apple.com/us/app/id1038409837" title="Get it on the Apple Store" target="_blank"
        =inline_svg "case-studies/appleStore.svg"
        | Get it on the App Store
        =inline_svg "case-studies/chevronRight.svg"

      a.google-play href="https://play.google.com/store/apps/details?id=com.tradeagrape&hl=es_419" title="Get it on the Play Store" target="_blank"
        img src=image_path("case-studies/playStore.png") alt="playStore"
        | Get it on Google Play
        =inline_svg "case-studies/chevronRight.svg"

  a.see-more-case-study href="#caseStudyContent"
    =inline_svg "case-studies/chevronDown.svg"

.container-fluid#caseStudyContent
  .container
    .row.about-project
      .col-xs-12
        table
          tr
            td.wow.fadeIn About the Project
            td.wow.fadeIn
              p
                | Tradeagrape connects wine lovers. This app is intended to make the process of trading wine something both simple and beautiful. Our partners at&nbsp;
                a href="http://toi.io/" target="_blank" Toi
                | &nbsp;approached us to make this a reality.
  .container-fluid
    .row.functionality
      .col-xs-12.col-sm-6.col-md-6.col-lg-7.image-left
      .col-xs-12.col-sm-6.col-md-6.col-lg-5.text-right.wow.fadeInRight
        .content
          h1 Defining <br> Functionality
          p This is the most essential part of our design process. We sketch on paper to explore as many ideas as we can before we land on effective ways to solve the needs of both the user and our client. We think through every option and if we find one that works better than the rest, we then move on to polish it.
  .container-fluid.going-digital
    img.app4.wow.fadeInRight src=image_path("case-studies/tag/4@2x.png") alt="4"
    img.app3.wow.fadeInRight data-wow-delay=".2s" src=image_path("case-studies/tag/3@2x.png") alt="3"
    img.app2.wow.fadeInRight data-wow-delay=".4s" src=image_path("case-studies/tag/2@2x.png") alt="2"
    img.app1.wow.fadeInRight data-wow-delay=".6s" src=image_path("case-studies/tag/1@2x.png") alt="1"
    img.app7.wow.fadeInRight data-wow-delay=".8s" src=image_path("case-studies/tag/7@2x.png") alt="7"
    img.app6.wow.fadeInRight data-wow-delay="1s" src=image_path("case-studies/tag/6@2x.png") alt="6"
    img.app5.wow.fadeInRight data-wow-delay="1.2s" src=image_path("case-studies/tag/5@2x.png") alt="5"
    .row
      .col-xs-12.col-sm-12.col-md-6.col-lg-6.text
        h1 Going Digital
        p Having defined the architecture and behaviour of all the app's components, we start converting our sketches into lo-fi digital versions that will be used as the skeleton of the app. Then, we craft an interactive prototype that enables us to test, change, and validate ideas quickly.
  .container-fluid
    .row.aesthetics
      .container
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.intro
          h1 Aesthetics
          p Thoroughly thought interaction design makes the product understandable and easy to use. But a visual layer delights people and helps keep them engaged. We approach this phase with obsessive attention to each and every pixel.
        .col-xs-12.col-sm-6.col-md-4.col-lg-4.typography.wow.fadeIn
          h2 Typography
          p.showcase
            link href='//fonts.googleapis.com/css?family=Josefin+Sans:700' rel='stylesheet' type='text/css'
            span.uppercase A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
            span.lowercase a b c d e f g h i j k l m n o p q r s t u v w x y z
            span.special-characters 0 1 2 3 4 5 6 7 8 9 ! @ % $ ( ) . ,
          p.name Josefina Sans
          p.description We've chosen an elegant sans-serif vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo.
        .col-xs-12.col-sm-6.col-md-4.col-lg-4.color-palette.wow.fadeIn data-wow-delay=".2s"
          h2 Color Palette
          .colors
            span #7f3359
            span #c65a4c
            span #2ba06d
            span #d5dce1
            span #5cbeb6
            span #ff8b39
            span #91196b
            span #afc1cf
            .clearfix
        .col-xs-12.col-sm-12.col-md-4.col-lg-4.interface-elements.wow.fadeIn data-wow-delay=".4s"
          h2 Interface Elements
          span.option-1
            img src=image_path("case-studies/tag/elements-1.png") alt="elements-1"
          .separator
          span.option-2
            img src=image_path("case-studies/tag/elements-2.png") alt="elements-2"
    .row.iconography-ui
      .container.wow.fadeIn data-wow-delay=".6s"
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.title
          h1 Iconography & UI
        .col-xs-12.col-sm-12.col-md-6.col-lg-6.iconography
          .row
            .icons
              .col-xs-6.col-sm-3.col-md-3.col-lg-3
                .icon
                  img src=image_path("case-studies/tag/activity@2x.png") alt="activity"
                .text Activity
              .col-xs-6.col-sm-3.col-md-3.col-lg-3
                .icon
                  img src=image_path("case-studies/tag/cave@2x.png") alt="cave"
                .text Cave
              .col-xs-6.col-sm-3.col-md-3.col-lg-3
                .icon
                  img src=image_path("case-studies/tag/newsfeed@2x.png") alt="newsfeed"
                .text Newsfeed
              .col-xs-6.col-sm-3.col-md-3.col-lg-3
                .icon
                  img src=image_path("case-studies/tag/search@2x.png") alt="search"
                .text Search
        .col-xs-12.col-sm-12.col-md-6.col-lg-6.ui
          .row
            .col-xs-12.col-sm-12.col-md-12.col-lg-12.retina
              img src=image_path("case-studies/tag/header@2x.png") alt="header"
            .col-xs-12.col-sm-12.col-md-6.col-lg-6.non-retina
              img src=image_path("case-studies/tag/header-mini@2x.png") alt="header-mini"
            .col-xs-12.col-sm-12.col-md-6.col-lg-6.non-retina-text
              p We've prepared both Retina and non-retina assets to ensure a pixel-precise experience on any iPhone.
        .col-xs-12.col-sm-6.col-md-6.col-lg-6.newsfeed-image.wow.fadeIn
          img src=image_path("case-studies/tag/newsfeed-post@2x.png") alt="newsfeed-post"
        .col-xs-12.col-sm-6.col-md-6.col-lg-6.newsfeed-text.wow.fadeIn
          p
            span Newsfeed. &nbsp;
            | This section will keep you informed on the latest updates involving your contacts. It lets you know when they have added a new wine to their cave so that you have the chance to jump in and get the wine you want in a quick and effective manner.
        .col-xs-12.col-sm-12.col-md-12.col-lg-12.app-screens
          .col-xs-12.col-sm-4.col-md-4.col-lg-4.first.wow.fadeInUp
            img src=image_path("case-studies/tag/iPhone-messages@2x.png") alt="iPhone-messages"
          .col-xs-12.col-sm-4.col-md-4.col-lg-4.second.wow.fadeInUp data-wow-delay=".2s"
            img src=image_path("case-studies/tag/iPhone-2@2x.png") alt="iPhone-2"
          .col-xs-12.col-sm-4.col-md-4.col-lg-4.third.wow.fadeInUp data-wow-delay=".4s"
            img src=image_path("case-studies/tag/iPhone-onboarding@2x.png") alt="iPhone-onboarding"

    .row.designing-the-brand
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        h1 Designing The Brand
        p Using actual wine marks and stains, we explore several visual abstract representations of grape cluter, to communicate the interaction experienced when using the tradeagrape application.
        h2 Interaction was the main concept that triggered this brand design
        .profile
          img src=image_path("case-studies/tag/josefina@2x.png") alt="josefina"
          p.name Josefina Nino
          p.position Designer
    .row.logos-options
      .col-xs-12.col-sm-4.col-md-4.col-lg-4.option-1
        .logo
          .image
            img.wow.fadeInUp src=image_path("case-studies/tag/logo-1@2x.png") alt="logo-1"
          p Option 1
      .col-xs-12.col-sm-4.col-md-4.col-lg-4.option-2
        .logo
          .image
            img.wow.fadeInUp data-wow-delay=".2s" src=image_path("case-studies/tag/logo-2@2x.png") alt="logo-2"
          p Option 2
      .col-xs-12.col-sm-4.col-md-4.col-lg-4.option-3
        .logo
          .image
            img.wow.fadeInUp data-wow-delay=".4s" src=image_path("case-studies/tag/logo-3@2x.png") alt="logo-3"
          p Option 3
    .row.the-icon
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        h1 The Icon
        p We presented several differents iterations, all of which had the same common denominator: a grape cluster used as an abstract representation of the interaction experienced when using the tradeagrape application. What we ended up with was a textured wine stain that creates a Venn diagram, speaking to the relationship between the app's users.
      .col-xs-12.col-sm-12.col-md-6.col-lg-6.left
        p Use throughout the app
        img.wow.fadeInLeft src=image_path("case-studies/tag/throughout@2x.png") alt="throughout"
        img.wow.fadeIn.hide src=image_path("case-studies/tag/screen-intro@2x.png") alt="screen intro"
        img.wow.fadeIn.hide src=image_path("case-studies/tag/screen-login@2x.png") alt="screen login"
        img.wow.fadeIn.hide src=image_path("case-studies/tag/screen-singup@2x.png") alt="screen singup"
      .col-xs-12.col-sm-12.col-md-6.col-lg-6.right
        img src=image_path("case-studies/tag/IconiOS@2x.png") alt="IconiOS"
    .row.try
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        h1.go-ahead Go ahead, click around!
        h1.hide.trading-wines Trading wines made simple.
        iframe [
          width="420"
          height="900"
          src="//invis.io/5S1A9C5Q2"
          allowfullscreen
        ]
        span.prototype.hide
          img src=image_path("case-studies/tag/try@2x.png") alt="try"


.container-fluid.more-case-studies
  .row
    .col-xs-12
      .row.reactions-container
        .reactions-main-content
          .col-xs-12
            h2 What do you think about this Case Study?
          .row
            .col-xs-12.col-sm-10.col-sm-offset-1
              .row 
                .col-xs-4
                  button.emoji-btn.option-1
                    img data-src=image_path("case-studies/ghost.svg")
                  h3 Love it!
                .col-xs-4
                  button.emoji-btn.option-2
                    img data-src=image_path("case-studies/smile.svg")
                  h3 Good
                .col-xs-4
                  button.emoji-btn.option-3
                    img data-src=image_path("case-studies/meh.svg")
                  h3 Meh
          .row.reactions-options-1.reactions-options-all
            .col-xs-12.choose-title
              h2 What did you like the most?
            .col-xs-10.col-xs-offset-1
              button.btn-option Inspirational 
              button.btn-option Trendy
              button.btn-option Delight 
              button.btn-option Interesting
              button.btn-option Learned a lot
          .row.reactions-options-2.reactions-options-all
            .col-xs-12
              h2 How can we make it better? 
              h2.second-title We love constructive criticism! :)
            .col-xs-12 
              .container.input-container
                input.input-option-good type="text"
                button.send-feedback-btn.option-good
                  =inline_svg('case-studies/chevronRight.svg')
          .row.reactions-options-3.reactions-options-all
            .col-xs-12
              h2 What didn't you like about it?
              h2.second-title We don't bite. :P
            .col-xs-12 
              .container.input-container
                input.input-option-meh type="text"
                button.send-feedback-btn.option-meh
                  =inline_svg('case-studies/chevronRight.svg')
        
        .reactions-second-content
          .col-xs-12
            img data-src=image_path("case-studies/thankyou.svg")
            h2.thank-title Thank you for helping us get better!

    .col-xs-12
      strong  You can see more Case Studies below.

.container-fluid.related-case-studies
  .row
    =render_left_linked
    =render_right_linked
