ruby:
  @page_title = "Tigo Sports - Broadcast Design, 3D Animation, Motion Graphics &mdash; TV"
  @page_description = "We created a graphic package for Tigo Sports and the TV Show Los Analistas, which included lower thirds and stage openers, as well as closers, transitions, bumpers and on-screen graphics."
  @page_thumb = image_url('thumbnails/tigo.png')

.container.cs-hero
  .row
    .logocases
      a href="/" data-color="#ffffff" title="Indicius"
        img data-src=image_path("LogoIndicius@2x.png") alt="Indicius" title="Indicius" src=image_path("spacer.png")
    .menuheroright
      ul
        li
          a href="/" Home
        li
          a href="/agency" Agency
        li
          a href="/case-studies" Case Studies
        li
          a href="/lets-talk" Contact

  .row.title-subtitle-stores
    h1 Tigo Sports
    h2 Graphic Design, 3D Animation, Motion Graphics
    .stores
      a.vimeo href="https://vimeo.com/224238739" title="Watch on Vimeo" target="_blank"
        =inline_svg "case-studies/playCaseStudy.svg"
        | Watch on Vimeo
        =inline_svg "case-studies/chevronRight.svg"

  a.see-more-case-study href="#caseStudyContent"
    =inline_svg "case-studies/chevronDown.svg"

.container-fluid#caseStudyContent
  .container
    .row.about-project
      .col-xs-12
        table
          tr
            td.wow.fadeIn About the Project
            td.wow.fadeIn
              p We created a graphic package for Tigo Sports and the TV Show Los Analistas, which included lower thirds and stage openers, as well as closers, transitions, bumpers and on-screen graphics.

  .row.intro-project
    .container
      .col-xs-12

  .row.logoredesign
    .container
      .col-xs-12.col-sm-12.col-md-12
        h4 On-screen art
        h3 Logo Redesign
        p We worked on the re-design of two TV shows. TSN is the channel's newscast and Los Analistas is a show where the Paraguayan league's football matches are analyzed. For TSN we used an hexagonal shape as the logo outline, given that it was already part of the channel's aesthetics and aludes to the wedges in a football. In Los Analistas, we used the corner of a football field, as seen from an aerial shot, and then cut in such a way that it looks like the 'A' in Los Analistas. Then we created a football badge around it.
      .col-xs-12.col-sm-12.col-md-12.wow.fadeInUp.logos-lines
        img src=image_path("case-studies/tigo/logos-lines.png") alt="logos-lines"
      .col-xs-12.col-sm-12.col-md-12.dots.wow.fadeInUp.logos
        img src=image_path("case-studies/tigo/logos.png") alt="logos"

  .row.concept-top
    .container
      .col-xs-12.col-sm-12.col-md-12
        h4 Concept
        h3 Tigo Sports Noticias
        p We proposed creating a similar environment and envisioning it as a machine, so that we can see how it starts working, generating a centrifugal force through the rotation of the elements, which in turn makes them move from the center to reveal the program's logo.

  .row.concept-slide
      .col-xs-12.col-sm-12.col-md-12.no-padding
        .slider1
          .slide
            img src=image_path("case-studies/tigo/TigoNoticias-001.png") alt="TigoNoticias-001"
          .slide
            img src=image_path("case-studies/tigo/TigoNoticias-002.png") alt="TigoNoticias-002"
          .slide
            img src=image_path("case-studies/tigo/TigoNoticias-003.png") alt="TigoNoticias-003"
          .slide
            img src=image_path("case-studies/tigo/TigoNoticias-004.png") alt="TigoNoticias-004"
          .slide
            img src=image_path("case-studies/tigo/TigoNoticias-005.png") alt="TigoNoticias-005"

  .row.concept
    img.hex1.wow.fadeInUpHex src=image_path("case-studies/tigo/onscreen-hex1.png") alt="onscreen-hex1"
    img.hex2.wow.fadeInUpHex src=image_path("case-studies/tigo/onscreen-hex2.png") alt="onscreen-hex2"
    .container
      .col-xs-12.col-sm-12.col-md-12
        h4.left on-screen art: lower thirds
        p.left We created the Lower Thirds using the diagonals from the hexagon. On the left hand side, we can see the logo rotating so that it's visible in its two positions. The rest of the elements move behind the main figure, maintaining the textures and colores present in the logo.
      .col-xs-12.col-sm-12.col-md-12
        img.onscreen.wow.fadeInUp src=image_path("case-studies/tigo/onscreen.png") alt="onscreen"
      .col-xs-12.col-sm-12.col-md-12.headline1.wow.zoomIn
        img.wow.fadeInUp src=image_path("case-studies/tigo/headline.svg") alt="headline"
      .col-xs-12.col-sm-12.col-md-12.headline2.wow.zoomIn
        img.wow.fadeInUp src=image_path("case-studies/tigo/headline.png") alt="headline"
      .col-xs-12.col-sm-12.col-md-12
        h5 Standings
      .col-xs-12.col-sm-12.col-md-12.standings
        img src=image_path("case-studies/tigo/standings.png") alt="standings"
      .col-xs-12.col-sm-12.col-md-12
        h5 Next Game
      .col-xs-12.col-sm-12.col-md-12.next-game.wow.zoomIn
        img.wow.fadeInUp src=image_path("case-studies/tigo/next-game.png") alt="next-game"


  .row.analistas
    .container.container-analistas
      .col-xs-12.col-sm-12.col-md-12
        h4 Concept
        h3 Los Analistas
        p We designed an object with a lens for Los Analistas. It combines the concept of a microscope, which represents the act of analyzing, and the logo we created. New textures were incorporated and green is the dominant color within the color palette.
      .col-xs-12.col-sm-12.col-md-12.no-padding
        .slider2
          .slide
            img src=image_path("case-studies/tigo/LosAnalistas-001.png") alt="LosAnalistas-001"
          .slide
            img src=image_path("case-studies/tigo/LosAnalistas-002.png") alt="LosAnalistas-002"
          .slide
            img src=image_path("case-studies/tigo/LosAnalistas-003.png") alt="LosAnalistas-003"
          .slide
            img src=image_path("case-studies/tigo/LosAnalistas-004.png") alt="LosAnalistas-004"
          .slide
            img src=image_path("case-studies/tigo/LosAnalistas-005.png") alt="LosAnalistas-005"

      .col-xs-12.col-sm-12.col-md-12
        h4.left on-screen art: lower thirds
        p.left As mentioned above, we generated the Lower Thirds by using the concept of a lens combined with the logo. We generated the Lower Thirds by using the concept of a lense with the logo. On the left, the logo appears in a circular format. The rest of the elements move behind the main figure. We maintained the colors and textures present in the logo.

      .col-xs-12.col-sm-12.col-md-12.analistasimg
        img.leftt src=image_path("case-studies/tigo/left-triangle.png") alt="left-triangle"
        img.wow.fadeInUp src=image_path("case-studies/tigo/analistas.png") alt="analistas"
        img.rightt src=image_path("case-studies/tigo/right-triangle.png") alt="right-triangle"
      .col-xs-12.col-sm-12.col-md-12.headline1.wow.fadeInUp
        img src=image_path("case-studies/tigo/headline2.svg") alt="headline2"
      .col-xs-12.col-sm-12.col-md-12.headline2.wow.fadeInUp
        img src=image_path("case-studies/tigo/headline2.png") alt="headline2"
    .bottomline
      img src=image_path("case-studies/tigo/bottom-line.png") alt="bottom-line"

.clearfix

.container-fluid.more-case-studies
  .row
    .col-xs-12
      .row.reactions-container
        .reactions-main-content
          .col-xs-12
            h2 What do you think about this Case Study?
          .row
            .col-xs-12.col-sm-10.col-sm-offset-1
              .row 
                .col-xs-4
                  button.emoji-btn.option-1
                    img data-src=image_path("case-studies/ghost.svg")
                  h3 Love it!
                .col-xs-4
                  button.emoji-btn.option-2
                    img data-src=image_path("case-studies/smile.svg")
                  h3 Good
                .col-xs-4
                  button.emoji-btn.option-3
                    img data-src=image_path("case-studies/meh.svg")
                  h3 Meh
          .row.reactions-options-1.reactions-options-all
            .col-xs-12.choose-title
              h2 What did you like the most?
            .col-xs-10.col-xs-offset-1
              button.btn-option Inspirational 
              button.btn-option Trendy
              button.btn-option Delight 
              button.btn-option Interesting
              button.btn-option Learned a lot
          .row.reactions-options-2.reactions-options-all
            .col-xs-12
              h2 How can we make it better? 
              h2.second-title We love constructive criticism! :)
            .col-xs-12 
              .container.input-container
                input.input-option-good type="text"
                button.send-feedback-btn.option-good
                  =inline_svg('case-studies/chevronRight.svg')
          .row.reactions-options-3.reactions-options-all
            .col-xs-12
              h2 What didn't you like about it?
              h2.second-title We don't bite. :P
            .col-xs-12 
              .container.input-container
                input.input-option-meh type="text"
                button.send-feedback-btn.option-meh
                  =inline_svg('case-studies/chevronRight.svg')
        
        .reactions-second-content
          .col-xs-12
            img data-src=image_path("case-studies/thankyou.svg")
            h2.thank-title Thank you for helping us get better!

    .col-xs-12
      strong  You can see more Case Studies below.

.container-fluid.related-case-studies
  .row
    =render_left_linked
    =render_right_linked
