ruby:
  @page_title = "Todo Noticias - Rebranding for the largest and most seen 24hs News Channel in Argentina"
  @page_description = "Case Study that shows the revamp of their logo and rebrand of their entire on screen graphic package and shows."
  @page_thumb = image_url('thumbnails/tn.png')

.container.cs-hero
  .row
    .logocases
      a href="/" data-color="#ffffff" title="Indicius"
        img data-src=image_path("LogoIndicius@2x.png") alt="Indicius" title="Indicius" src=image_path("spacer.png")
    .menuheroright
      ul
        li
          a href="/" Home
        li
          a href="/agency" Agency
        li
          a href="/case-studies" Case Studies
        li
          a href="/lets-talk" Contact

  .row.title-subtitle-stores
    h1 TN
    h2 Graphic Design, 3D Animation, Motion Graphics

  a.see-more-case-study href="#caseStudyContent"
    =inline_svg "case-studies/chevronDown.svg"

.container-fluid#caseStudyContent
  .container
    .row.about-project
      .col-xs-12
        table
          tr
            td.wow.fadeIn About the Project
            td.wow.fadeIn
              p Todo Noticias(TN) is the largest and most seen 24hs News Channel in Argentina. We revamped their logo and worked on the rebrand of their entire onscreen graphic package and shows.
  .row.intro-project
    .container
      .col-xs-12
        img.intro-text.wow.fadeInLeft src=image_path("case-studies/tn/intro-text.svg") alt="intro-text"

  .row.concept
    .fade

    .container
      .col-xs-12
        h2 Concept
        h1 Art Direction
        p The aesthetic direction was guided by the new trends from the digital world (web and mobile platforms). The goal was to include the interaction of these formats with the TV screen. Amongst these elements, we can find flat and minimalist content, a friendly typography, the use of vibrant colors and animated iconography.

    img.compo.wow.fadeInRight src=image_path("case-studies/tn/compo.png") alt="compo"
    .clearfix

    .bottom
      svg width="100%" height="100%" viewBox="0 0 1470 719"
        polyline fill="#FFFFFF" points="0 719.53125 1473.14062 0.1875 1473.14062 718.359977 17.4436967 719.53125"

  .row.branding
    .container
      .col-xs-12.col-sm-12.col-md-6.color-palette.wow.fadeInLeft
        img.color-wheel src=image_path("case-studies/tn/color-palette.svg") alt="color-palette"

      .col-xs-12.col-sm-12.col-md-6.typography.wow.fadeInRight
        h2 Typography
        img.typography-example src=image_path("case-studies/tn/typography-example.svg") alt="typography-example"

  .row.iconography
    .container
      .col-xs-12.col-sm-12.col-md-6.icon-set.wow.fadeInLeft
        h2 Iconography
        img.icon-set-image src=image_path("case-studies/tn/icon-set.svg") alt="icon-set"

      .col-xs-12.col-sm-12.col-md-6.icon-big.wow.fadeInRight
        span.icon-big-wrapper
          img.icon-big-image src=image_path("case-studies/tn/icon-big.svg") alt="icon-big"
          img.icons-animation src=image_path("case-studies/tn/icons-animation.gif") alt="icons-animation"

    .bottom style="color: #118BEF"
      svg width="100%" height="100%" viewBox="0 0 1470 719"
        polyline#videographBg fill="#118BEF" points="0 719.53125 1473.14062 0.1875 1473.14062 718.359977 17.4436967 719.53125"

  .row.videograph
    .container
      .col-xs-12.slider
        .slider-images
          img.placer src=image_path("case-studies/tn/slider/placer.png") alt="placer"
          img.slide.active data-slide="1" data-color="#118BEF" src=image_path("case-studies/tn/slider/slider-1.png") alt="slider-1"
          img.slide data-slide="2" data-color="#FF3662" src=image_path("case-studies/tn/slider/slider-2.png") alt="slider-2"
          img.slide data-slide="3" data-color="#F7CF11" src=image_path("case-studies/tn/slider/slider-3.png") alt="slider-3"

        .slider-text
          .slide.active data-slide="1"
            h2 Videographs
            p Different color codes have been used for the videographs to display different types of news.
          .slide data-slide="2"
            h2 Videographs
            p Different color codes have been used for the videographs to display different types of news.
          .slide data-slide="3"
            h2 Videographs
            p Different color codes have been used for the videographs to display different types of news.

        .slider-bullets
          button.active data-go="1"
          button data-go="2"
          button data-go="3"

    .colors-animation.wow data-wow-offset="200"
      .yellow
      .dark-yellow
      .red
      .dark-red
      .blue
      .dark-blue
      .black

  .row.weather
    .container
      .col-xs-12.weather-text
        h1 Weather
        p A specific set of colors, typographies and icons haven been designed to create the Weather Package. A semi-flat look and feel that provides a trendy touch to the screen.

    .badges.wow.fadeIn

    .gradient
      .left
      .middle
      .right

      .lines
        .long data-tooltip="Summer"
        .long data-tooltip="Autumn"
        .long data-tooltip="Winter"
        .long data-tooltip="Spring"

      .lines-short
        .short
        .short
        .short
        .short
        .short
        .short
        .short
        .short
        .short

  .onscreen-art
    .container
      .col-xs-12
        h2 On-screen art
        h1 3D Package
        p Main pieces like the Bumpers and Transitions clearly showcase the digital elements defined during the Art Direction phase.
    .onscreen-slider
      div
        img.slide src=image_path("case-studies/tn/onscreen-slider/slide-1.jpg") alt="slide-1"
      div
        img.slide src=image_path("case-studies/tn/onscreen-slider/slide-2.jpg") alt="slide-2"
      div
        img.slide src=image_path("case-studies/tn/onscreen-slider/slide-3.jpg") alt="slide-3"

  .outro-image

.clearfix

.container-fluid.more-case-studies
  .row
    .col-xs-12
      .row.reactions-container
        .reactions-main-content
          .col-xs-12
            h2 What do you think about this Case Study?
          .row
            .col-xs-12.col-sm-10.col-sm-offset-1
              .row 
                .col-xs-4
                  button.emoji-btn.option-1
                    img data-src=image_path("case-studies/ghost.svg")
                  h3 Love it!
                .col-xs-4
                  button.emoji-btn.option-2
                    img data-src=image_path("case-studies/smile.svg")
                  h3 Good
                .col-xs-4
                  button.emoji-btn.option-3
                    img data-src=image_path("case-studies/meh.svg")
                  h3 Meh
          .row.reactions-options-1.reactions-options-all
            .col-xs-12.choose-title
              h2 What did you like the most?
            .col-xs-10.col-xs-offset-1
              button.btn-option Inspirational 
              button.btn-option Trendy
              button.btn-option Delight 
              button.btn-option Interesting
              button.btn-option Learned a lot
          .row.reactions-options-2.reactions-options-all
            .col-xs-12
              h2 How can we make it better? 
              h2.second-title We love constructive criticism! :)
            .col-xs-12 
              .container.input-container
                input.input-option-good type="text"
                button.send-feedback-btn.option-good
                  =inline_svg('case-studies/chevronRight.svg')
          .row.reactions-options-3.reactions-options-all
            .col-xs-12
              h2 What didn't you like about it?
              h2.second-title We don't bite. :P
            .col-xs-12 
              .container.input-container
                input.input-option-meh type="text"
                button.send-feedback-btn.option-meh
                  =inline_svg('case-studies/chevronRight.svg')
        
        .reactions-second-content
          .col-xs-12
            img data-src=image_path("case-studies/thankyou.svg")
            h2.thank-title Thank you for helping us get better!

    .col-xs-12
      strong  You can see more Case Studies below.

.container-fluid.related-case-studies
  .row
    =render_left_linked
    =render_right_linked
