ruby:
  @page_title = "Wellbin - 2D/3D Animated video to strengthen the brand of a health platform aimed towards patients"
  @page_description = "Case Study that shows the backstage for the design motion graphics of Wellbin."
  @page_thumb = image_url('thumbnails/wellbin.png')

.container.cs-hero
  .row
    .logocases
      a href="/" data-color="#ffffff" title="Indicius"
        img data-src=image_path("LogoIndicius@2x.png") alt="Indicius" title="Indicius" src=image_path("spacer.png")
    .menuheroright
      ul
        li
          a href="/" Home
        li
          a href="/agency" Agency
        li
          a href="/case-studies" Case Studies
        li
          a href="/lets-talk" Contact

  .row.title-subtitle-stores
    h1
      | Wellbin
    h2 Art Direction, Illustration, 2D Animation
    .stores
      a.vimeo href="https://vimeo.com/177768625" title="Watch on Vimeo" target="_blank"
        =inline_svg "case-studies/playCaseStudy.svg"
        | Watch on Vimeo
        =inline_svg "case-studies/chevronRight.svg"

  a.see-more-case-study href="#caseStudyContent"
    =inline_svg "case-studies/chevronDown.svg"

.container-fluid#caseStudyContent
  .container
    .row.about-project
      .col-xs-12
        table
          tr
            td.wow.fadeIn About the Project
            td.wow.fadeIn
              p
                | Wellbin is a health platform aimed towards patients. It is a tool that provides tecnology created to improve and simplify the management of health records. We used storytelling to strengthen the brand with a 2D/3D animated video.

  .row.intro-project
    .container
      .col-xs-12.col-sm-12.col-md-6.wow.zoomIn
        img.cama src=image_path("case-studies/wellbin/cama.png") alt="cama"
        img.globos.wow.wobble data-wow-duration="5s" data-wow-iteration="100" src=image_path("case-studies/wellbin/globo.png") alt="globo"
        img.cama-m src=image_path("case-studies/wellbin/cama-m.png") alt="cama-m"

      .col-xs-12.col-sm-12.col-md-6
        img.logo id="logo" src=image_path("case-studies/wellbin/logo_endframe.png") alt="logo"
        img.logo2 id="logo2" src=image_path("case-studies/wellbin/logo_endframe.png") alt="logo_endframe"
        img.logom id="logo2m" src=image_path("case-studies/wellbin/logo_endframe.png") alt="logo_endframe"

  .row.plan
    .container
      .col-xs-12.col-sm-12.col-md-12
        h3 Plan of Action
      .row
        .col-xs-12.col-sm-12.col-md-3.wow.zoomIn
          .circle
            img.brainstorming-img src=image_path("case-studies/wellbin/brainstorming.svg") alt="brainstorming"
          p BRAINSTORMING
        .col-xs-12.col-sm-12.col-md-3.wow.zoomIn
          .circle
            img.script-img src=image_path("case-studies/wellbin/script.svg") alt="script"
          p SCRIPT
        .col-xs-12.col-sm-12.col-md-3.wow.zoomIn
          .circle
            img.moodboard-img src=image_path("case-studies/wellbin/moodboard.svg") alt="moodboard"
          p MOODBOARD
        .col-xs-12.col-sm-12.col-md-3.wow.zoomIn
          .circle
            img.storyboard-img src=image_path("case-studies/wellbin/storyboard.svg") alt="storyboard"
          p STORYBOARD
      .row.end
        .col-xs-12.col-sm-12.col-md-3.wow.zoomIn
          .circle
            img.voiceover-img src=image_path("case-studies/wellbin/voiceover.svg") alt="voiceover"
          p VOICEOVER
        .col-xs-12.col-sm-12.col-md-3.wow.zoomIn
          .circle
            img.illustration-img src=image_path("case-studies/wellbin/illustration.svg") alt="illustration"
          p ILLUSTRATION
        .col-xs-12.col-sm-12.col-md-3.wow.zoomIn
          .circle
            img.animation-img src=image_path("case-studies/wellbin/animation.svg") alt="animation"
          p ANIMATION
        .col-xs-12.col-sm-12.col-md-3.wow.zoomIn
          .circle
            img.recording-img src=image_path("case-studies/wellbin/recording.svg") alt="recording"
          p RECORDING

  .row.illustration
    .container
      .col-xs-12.col-sm-12.col-md-12
        h3 Illustration Elements
        p In this stage, we start presenting the characters and environments. We are able to visualize the static frames that will be shown in the final video.
      .col-xs-12.col-sm-12.col-md-12.wow.zoomIn.timeline
        img src=image_path("case-studies/wellbin/timeline.png") alt="timeline"
      .col-xs-12.col-sm-12.col-md-12.dots.wow.zoomIn
        img src=image_path("case-studies/wellbin/dots.svg") alt="dots"
      .col-xs-12.col-sm-12.col-md-12.wow.zoomIn
        h4 MATIAS' LIFE TIMELINE
      .row
        .col-xs-12.col-sm-12.col-md-6.coche.wow.fadeInLeft data-wow-duration="1s" data-wow-offset="10"
          img src=image_path("case-studies/wellbin/coche.png") alt="coche"
          p CAR
        .col-xs-12.col-sm-12.col-md-6.hospital.wow.fadeInRight data-wow-duration="1s" data-wow-offset="10"
          img src=image_path("case-studies/wellbin/hospital.png") alt="hospital"
          p HOSPITAL #1
      .row
        .col-xs-12.col-sm-12.col-md-6.hospital2.wow.fadeInLeft data-wow-duration="1s" data-wow-offset="10"
          img src=image_path("case-studies/wellbin/hospital2.png") alt="hospital2"
          p HOSPITAL #2
        .col-xs-12.col-sm-12.col-md-6.hospital3.wow.fadeInRight data-wow-duration="1s" data-wow-offset="10"
          img src=image_path("case-studies/wellbin/hospital3.png") alt="hospital3"
          p HOSPITAL #3
      .row
        .col-xs-12.col-sm-12.col-md-6.palm.wow.fadeInLeft data-wow-duration="1s" data-wow-offset="10"
          img src=image_path("case-studies/wellbin/palm.png") alt="palm"
          p PALM TREES AND A PARASOL
        .col-xs-12.col-sm-12.col-md-6.machine.wow.fadeInRight data-wow-duration="1s" data-wow-offset="10"
          img src=image_path("case-studies/wellbin/machine.png") alt="machine"
          p WELLBIN MACHINE
      .col-xs-12.col-sm-12.col-md-12.futbol
        img src=image_path("case-studies/wellbin/futbol.png") alt="futbol"
        img.anim src=image_path("case-studies/wellbin/MatiCorre.gif") alt="MatiCorre"
      .col-xs-12.col-sm-12.col-md-12.futbol-m
        img src=image_path("case-studies/wellbin/futbol-m.png") alt="futbol-m"

  .row.script
    .container
      .col-xs-12.col-sm-12.col-md-12.banderin
        img src=image_path("case-studies/wellbin/banderin.png") alt="banderin"
      .col-xs-12.col-sm-12.col-md-12.wow.zoomIn
        h3 Script and Storyboard
        p We create the script that tells the story of Matias' life, since the day he was born, until the moment he became a father, and the tale comes full circle. Once this is done, we work on a storyboard of the entire narrative.
      .row
        .col-xs-12.col-sm-12.col-md-4.script1.wow.zoomIn
          img src=image_path("case-studies/wellbin/script1.png") alt="script1"
        .col-xs-12.col-sm-12.col-md-4.script2.wow.zoomIn
          img src=image_path("case-studies/wellbin/script2.png") alt="script2"
        .col-xs-12.col-sm-12.col-md-4.script3.wow.zoomIn
          img src=image_path("case-studies/wellbin/script3.png") alt="script3"
      .col-xs-12.col-sm-12.col-md-12.pibe
        img src=image_path("case-studies/wellbin/MATIAS-CORRE-ASUSTADO-ABEJAS.gif") alt="MATIAS-CORRE-ASUSTADO-ABEJAS"
      img.moscas src=image_path("case-studies/wellbin/moscas.png") alt="moscas"
      .col-xs-12.col-sm-12.col-md-12.pibe-m
        img src=image_path("case-studies/wellbin/pibe-m.png") alt="pibe-m"

  .row.approach
    .container
      .col-xs-12.col-sm-12.col-md-12.wow.zoomIn
        h3 Animation Approach
        p Finally, we create an animatic, where we combine the static frames with the voiceover. By doing so, we establish the rhythm and pauses of the animation. And finally, we begin with the best part of the process, making it all come to life!
      .col-xs-12.col-sm-12.col-md-12.stagewrap
        .stage.bg.wow
          img src=image_path("case-studies/wellbin/approach-bg.png") alt="approach-bg"
        .stage.piso.wow
          img src=image_path("case-studies/wellbin/approach-piso.png") alt="approach-piso"
        .stage.env.wow
          img src=image_path("case-studies/wellbin/approach-env.png") alt="approach-env"
        .stage.camera.wow.fadeInLeft
          img src=image_path("case-studies/wellbin/approach-camera.png") alt="approach-camera"
        .stage.elements.wow
          img src=image_path("case-studies/wellbin/approach-elements.png") alt="approach-elements"
        .stage.ninos.wow
          img src=image_path("case-studies/wellbin/approach-ninos.png") alt="approach-ninos"
      .col-xs-12.col-sm-12.col-md-12.stagewrap-mobile
        img src=image_path("case-studies/wellbin/compo-animation.png") alt="compo-animation"
      .col-xs-12.col-sm-12.col-md-12.camilla
        img.llanto src=image_path("case-studies/wellbin/DC-CARUSO-PIERNA-ROTA.gif") alt="DC-CARUSO-PIERNA-ROTA"
        img src=image_path("case-studies/wellbin/camilla.png") alt="camilla"
      .col-xs-12.col-sm-12.col-md-12.camilla-mobile
        img src=image_path("case-studies/wellbin/camilla-mobile.png") alt="camilla-mobile"


  .row.video
    .container
      .col-xs-12.col-sm-12.col-md-12.wow.zoomIn
        .logo
          img.logo src=image_path("case-studies/wellbin/logo.svg") alt="logo"
        h3 VIDEO EXPLAINER
      .col-xs-12.col-sm-12.col-md-12.wow.zoomIn
        .video-vimeo
          iframe [
            width="953"
            height="536"
            src="https://player.vimeo.com/video/177768625?title=0&byline=0&portrait=0"
            allowfullscreen
          ]

  .row.clearfix

.container-fluid.more-case-studies
  .row
    .col-xs-12
      .row.reactions-container
        .reactions-main-content
          .col-xs-12
            h2 What do you think about this Case Study?
          .row
            .col-xs-12.col-sm-10.col-sm-offset-1
              .row 
                .col-xs-4
                  button.emoji-btn.option-1
                    img data-src=image_path("case-studies/ghost.svg")
                  h3 Love it!
                .col-xs-4
                  button.emoji-btn.option-2
                    img data-src=image_path("case-studies/smile.svg")
                  h3 Good
                .col-xs-4
                  button.emoji-btn.option-3
                    img data-src=image_path("case-studies/meh.svg")
                  h3 Meh
          .row.reactions-options-1.reactions-options-all
            .col-xs-12.choose-title
              h2 What did you like the most?
            .col-xs-10.col-xs-offset-1
              button.btn-option Inspirational 
              button.btn-option Trendy
              button.btn-option Delight 
              button.btn-option Interesting
              button.btn-option Learned a lot
          .row.reactions-options-2.reactions-options-all
            .col-xs-12
              h2 How can we make it better? 
              h2.second-title We love constructive criticism! :)
            .col-xs-12 
              .container.input-container
                input.input-option-good type="text"
                button.send-feedback-btn.option-good
                  =inline_svg('case-studies/chevronRight.svg')
          .row.reactions-options-3.reactions-options-all
            .col-xs-12
              h2 What didn't you like about it?
              h2.second-title We don't bite. :P
            .col-xs-12 
              .container.input-container
                input.input-option-meh type="text"
                button.send-feedback-btn.option-meh
                  =inline_svg('case-studies/chevronRight.svg')
        
        .reactions-second-content
          .col-xs-12
            img data-src=image_path("case-studies/thankyou.svg")
            h2.thank-title Thank you for helping us get better!

    .col-xs-12
      strong  You can see more Case Studies below.

.container-fluid.related-case-studies
  .row
    =render_left_linked
    =render_right_linked
