#contact_form {
  margin-top: 45px;
  font-size: 16px;
  position: relative;

  .g-recaptcha {
    opacity: 0;
    height: 0;
    transition: all 300ms ease-in-out;

    &.vis {
      opacity: 1;
      height: 100px;
    }
  }

  .verification-field {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  .confirmation {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -9999;
    width: 100%;
    height: 100%;
    font-size: 28px;
    line-height: normal;
    background: #F8F9F9;
    transition: opacity 200ms ease-in-out;

    img {
      display: block;
      width: 64px;
      margin: 0 auto 30px auto;
    }

    span {
      color: #B7C2C9;
      padding: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      width: 76%;
      transform: translate(-50%, -40%);
      opacity: 0;
      transition: all 300ms ease-in-out;
    }
  }

  &.sent .confirmation {
    top: 0;
    opacity: 1;
    z-index: 999;

    span {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }

  .spinner {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 50%;
    left: 50%;
    margin-top: -24px;
    margin-left: -24px;
    background: transparent image-url("ring2.svg") no-repeat center center;
    background-size: auto auto;
    z-index: 9999;
    display: none;
  }

  &.loading {
    .spinner {
      display: block;
    }

    .field {
      opacity: .5;
      pointer-events: none;
    }

    button, button:hover, button:active {
      color: $hover;
      transform: scale(1);
      cursor: progress;

      svg {
        path,
        polygon {
          fill: $hover;
        }
      }
    }
  }

  input[type=text], textarea, label {
    font-size: 22px;
    line-height: normal;
  }

  input[type=text], textarea {
    appearance: none;
    border: 0;
    border-bottom: 1px solid $formLine;
    margin: 0;
    padding: 12px 0;
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    resize: none;
    transition: all 200ms ease-in-out;
    color: $lightFooterText;
  }

  textarea {
    min-height: 104px;
    padding-right: 50px;
  }

  button {
    background: transparent;
    appearance: none;
    border: 0;
    line-height: 34px;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 28px;
    color: $footerBlueText;
    font-weight: 300;
    text-decoration: none;
    transition: color .1s ease-in-out, transform .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    strong {
      font-weight: 400;
    }
    svg {
      position: relative;
      top: 8px;
      left: 6px;
      display: inline-block;
      path,
      polygon {
        fill: $indicius;
        transition: fill .1s ease-in-out;
      }
    }
    &:hover, &:focus {
      color: $hover;
      svg {
        path,
        polygon {
          fill: $hover;
        }
      }
    }
    &:active {
      transform: scale(.9,.9);
    }

    &:disabled {
      color: rgba($lightFooterText,.3);

      svg {
        path,
        polygon {
          fill: rgba($lightFooterText,.3);
        }
      }

      &:hover {
        color: rgba($lightFooterText,.3);

        svg {
        path,
        polygon {
          fill: rgba($lightFooterText,.3);
        }
      }
      }
    }
  }

  .actions {
    position: relative;
  }

  .field {
    margin-bottom: 35px;
    position: relative;

    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: 32px;
      width: 32px;
      height: 32px;
      opacity: 0;
      right: 30px;
      transition: all 150ms ease-in-out;
    }

    &:after {
      background-image: image-url("WrongIcon.svg");
    }

    &:before {
      background-image: image-url("CheckIcon.svg");
    }

    label {
      position: absolute;
      top: 12px;
      left: 0;
      transition: all 200ms ease-in-out;
      color: $footerText;
    }

    &.focus {
      input[type=text], textarea {
        color: $formFocus;
      }

      input[type=text], textarea {
        border-color: $formFocus;
      }
    }

    &.focus, &.dirty {
      label {
        top: -10px;
        font-size: 15px;
      }
    }

    &.dirty {
      &:before {
        right: 15px;
        opacity: 1;
      }
    }

    &.error {
      input[type=text], textarea {
        color: $formError;
      }

      &:after {
        right: 15px;
        opacity: 1;
      }
    }
  }
}
