#footer {
  background-color: white;
  padding-top: 90px;
  padding-bottom: 72px;
  padding-left: 30px;
  padding-right: 30px;

  .copyright {
    position: absolute;
    top: 14px;
    right: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba($lightFooterText,.3);
  }

  > .row {
    max-width: 1280px;
    margin: 0 auto;
  }

  h1 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: $footerText;
    margin: 0 0 35px 0;
    letter-spacing: 1px;
    line-height: 16px;
  }

  .about, .contact {
    padding-left: 15px;
    padding-right: 15px;
  }

  .about {
    position: relative;
    padding-bottom: 32px;
    padding-left: 0;

    p {
      font-weight: 300;
      font-size: 22px;
      line-height: 28px;
      color: $lightFooterText;
      line-height: 1.6;
      padding-right: 90px;
      text-align: left;
      margin: 0 0 20px 0;
    }

    .social-links {
      position: absolute;
      top: auto;
      right: 15px;
      bottom: 0;
      left: 15px;

      > a {
        display: inline-block;
        padding: 0 30px 0 0;
        transition: opacity 150ms ease-in-out;

        > img {
          max-height: 31px;
        }

        &:last-child {
          padding-right: 0;
        }

        &:hover {
          opacity: .5;
        }
      }
    }
  }

  .contact {
    padding-left: 0;

    p {
      font-weight: 300;
      font-size: 32px;
      line-height: 38px;
      color: $lightFooterText;
      line-height: 1.2;
      margin: 0;
      letter-spacing: .5px;

      strong {
        font-weight: 600;
      }
    }

    a {
      line-height: 34px;
      display: inline-block;
      margin-top: 36px;
      font-size: 28px;
      color: $footerBlueText;
      font-weight: 300;
      text-decoration: none;
      transition: color .1s ease-in-out, transform .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      position: relative;
      top: -5px;

      strong {
        font-weight: 400;
      }

      svg {
        position: relative;
        top: 8px;
        left: 6px;
        display: inline-block;

        path, polygon {
          fill: $indicius;
          transition: fill .1s ease-in-out;
        }
      }

      &:hover {
        color: $hover;

        svg {

          path, polygon {
            fill: $hover;
          }
        }
      }

      &:active {
        transform: scale(.9,.9);
      }
    }
  }

  .separator {
    padding-left: 0;
    padding-right: 0;

    hr {
      margin: 79px 0 22px 0;
      border-color: rgba(white,.025);
      border-width: 2px;
    }
  }

  .bottom-left {
    padding-left: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba($lightFooterText,.3);
  }

  .bottom-right {
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 400;
    font-size: 13px;
    color: $indicius;
    text-align: right;

    a {
      color: $indicius;
      text-decoration: none;
      transition: all .3s ease-in-out;
      display: inline-block;
      margin-right: 42px;
      line-height: 16px;
      transition: all .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

      &:last-child {
        margin-right: 0 !important;
      }

      svg {
        max-width: 18px;
        margin-right: 6px;
        vertical-align: top;

        path {
          transition: all .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
      }

      &:hover {
        color: $hover;

        &.twitter, &.facebook, &.instagram, &.vimeo {

          svg {

            path {
              stroke: $hover;
            }
          }
        }

        &.dribbble {

          svg {

            path {
              fill: $hover;
            }
          }
        }
      }

      &:active {
          transform: scale(.9,.9);
      }
    }
  }
}
