.logocases {
  position: absolute;
  left: 30px;
  top: 20px;
  z-index: 99999;
  width: 28px;
  height: 35px;
  display: none;
  transition: all 0.5s;
  opacity: 1;

  @media (min-width: 1280px) {
    left: 50%;
    margin-left: -610px;
  }

  a {
    line-height: 35px;
    height: 35px;

    > img {
      max-height: 35px;
      width: 28px;
    }
  }
}

.reactions-options-all{
  padding-top: 30px;
}

.menuheroright {
  display: none;
  position: absolute;
  z-index: 99999;
  width: auto;
  height: 35px;
  top: 22px;
  left: 43%;
  margin-left: 20px;
  transition: all 0.5s;
  opacity: 1;

  @media (min-width: 1230px) {
    left: 43%;
    margin-left: 120px;
  }

  @media (min-width: 1000px) {
    //display: block;
  }

  @media (max-width: 1000px) {
    display: none !important;
  }

  ul {
    list-style: none;

    li {
      float: left;
      margin: 0 30px;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: #ffffff;
        font-family: "franklin-gothic-urw", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        transition: all 0.3s;
      }
    }
  }

  &.light ul li a { color: #DBF5FD; }
  &.dark ul li a { color: $indicius; }

  ul {

    li {

      a {

        &:hover {
          text-decoration: none;
          color: #16364f;
        }
      }
    }
  }

}

.container.cs-hero {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  height: 100vh;
}

.cs-head {
  padding-top: 57px;

  .logo {

    a {
      line-height: 60px;
      height: 60px;
      padding-left: 15px;

      > img {
        max-height: 35px;
      }
    }
  }

  .links {
    text-align: right;

    a {
      line-height: 60px;
      height: 60px;
      display: inline-block;
      margin: 0 22px;
      font-size: 20px;
      transition: all .3s ease-in-out;

      &:hover {
        opacity: .5;
      }

      &.contact {
        border-width: 1px;
        border-style: solid;
        border-radius: 12px;
        padding: 0 22px;

        &:hover {
          opacity: 1;
          background: white;
          color: $djListPurple;
        }
      }
    }
  }
}

.title-subtitle-stores {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);

  h1, .dh1 {
    font-size: 82px;
    font-weight: 300;
    margin: 0 0 30px 0;

    .toi-project {
      font-size: 20px;
      font-weight: normal;
      color: white;

      .dash {
        display: inline-block;
        margin: 0 30px;
        position: relative;
        top: -3px;
      }

      svg {
        width: 92px;
        height: 62px;
        margin: 0 0 0 5px;
        position: relative;
        top: 5px;

        path {
          fill: white;
        }
      }

    }
  }

  h2 {
    font-size: 34px;
    font-weight: 300;
    margin: 0 0 70px 0;
  }

  .stores {
    font-size: 22px;
    font-weight: 300;

    a {
      height: 30px;
      line-height: 30px;
      padding: 0 45px;
      transition: all .3s ease-in-out;

      &:hover, &:active {
        opacity: .5;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      &.apple {

        svg:first-child {
          top: -5px;
          margin: 0 15px 0 0;
        }
      }

      &.website {

        svg:first-child {
          top: -3px;
          margin: 0 10px 0 0;
        }
      }

      &.vimeo {

        svg:first-child {
          top: -2px;
          margin: 0 10px 0 0;
        }
      }

      &.google-play {

        img:first-child {
          width: 32px;
          top: -2px;
          margin: 0 15px 0 0;
          position: relative;
          vertical-align: middle;
        }
      }

      svg {
        position: relative;
        vertical-align: middle;

        &:last-child {
          top: -1px;
          margin-left: 10px;
        }
      }
    }
  }
}

a.see-more-case-study {
  display: inline-block;
  position: absolute;
  top: auto;
  left: 50%;
  right: auto;
  bottom: 55px;
  margin-left: -30px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: white;
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.12), 0 12px 15px 0 rgba(0, 0, 0, 0.14);
  transform-origin: 50% 50%;
  transition: box-shadow .1s ease-in-out, transform .1s ease-in-out;

  &:hover {
    box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.12), 0 12px 15px 0 rgba(0, 0, 0, 0.14);
    transform: scale(1.1, 1.1);
  }

  svg {
    width: 17px !important;
    height: 9px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -9px;

    path {
      stroke-width: 4px;
    }
  }
}

#caseStudyContent {

  .about-project {
    padding: 150px 30px;

    table, tr {
      width: 100%;
      max-width: 1230px;
      margin: 0 auto;

      td {
        vertical-align: middle;

        &:first-child {
          width: 25%;
          font-size: 28px;
          font-weight: 400;
          line-height: 33px;
        }

        &:last-child {
          width: 75%;
          overflow: hidden;

          p {
            margin: 0;
            font-size: 26px;
            font-weight: 300;
            line-height: 38px;
            max-width: 800px;
            float: right;
          }
        }
      }
    }
  }
}

.more-case-studies {
  text-align: center;
  font-weight: 300;
  font-size: 38px;
  padding-top: 0;
  padding-bottom: 30px;

  strong {
    display: inline-block;
    margin-top: 45px;
    font-weight: 300;
  }
}

.reactions-container {
  position: relative;
  z-index: 3;
  width: 100%;
  max-width: 1120px;
  background: white;
  box-shadow: 0 2px 36px 0 rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  margin: 0 auto;
  margin-top: -50px;
  border-radius: 20px;

  &.is-selected {
    button:not(.is-active) {
      img {
        filter: grayscale(100%);
        opacity: .5;
      }
    }
  }

  h2 {
    color: #2A2A2A;
    font-weight: 400;
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 30px;
    margin-top: 0;
    font-family: "franklin-gothic-urw", sans-serif;
  }
  h2.thank-title{
    margin-bottom: 0;
    margin-top: 30px;
  }
  .reactions-options-2,
  .reactions-options-3{
    h2{
      display: inline-block;
      font-weight: normal;
      font-size: 36px;
    }
    .second-title{
      color: #98999D;
      margin-left: 20px;
    }
    .input-container{
      border-bottom: 1px solid #98999D;
      width: 90%;
      display: flex;

      input {
        border: transparent;
        width: 100%;
        margin-bottom: 10px;
      }

      button {
        background-color: transparent;
        outline: 0;
        border: transparent;

        svg {
          path {
            fill: #98999D;
            stroke: #98999D;
          }
        }
      }
    }
  }

  .emoji-btn {
    background: white;
    box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.13);
    outline: 0;
    border: transparent;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin-bottom: 25px;
    transition: all .1s ease-in-out;

    @media (max-width: 414px) {
      width: 80px;
      height: 80px;

      img{
        width: 40px;
      }
    }
  }

  .emoji-btn:active,
  .emoji-btn:focus{
    outline: 0;
    border: 0;
  }

  .emoji-btn.is-active {
    box-shadow: 0 5px 45px 0 rgba(0, 0, 0, 0.13);
    transform: scale(1.1);
  }

  h3{
    color: #7F8082;
    font-size: 24px;
    line-height: 29px;
    margin-top: 0;
    font-family: "franklin-gothic-urw", sans-serif;
    font-weight: 400;
  }
}

.footer-case-study {
  background: white;
  padding-left: 0;
  padding-right: 0;
}

.reactions-container .btn-option{
  font-family: "franklin-gothic-urw", sans-serif;
  border-radius: 25px;
  height: 37px;
  width: 211px;
  display: inline-block;
  border: 1px solid #7ECDEE;
  line-height: 20px;
  text-transform: uppercase;
  font-size: 16px;
  color: #7ECDEE;
  box-shadow: none;
  margin: 15px 15px;
  background-color: white;
  font-weight: 500;
  transition: all .1s ease-in-out;

}

.reactions-container .btn-option:hover,
.reactions-container .btn-option.is-selected {
  background: #7ECDEE;
  color: white;
}


.reactions-container .btn-option:focus,
.reactions-container .btn-option:active {
  outline: 0;
}

.reactions-container .choose-title h2{
  margin-bottom: 0 !important;
}

.reactions-container .choose-title{
  margin-bottom: 15px;
}

#confetti-canvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}