:focus {
  outline: none;
  outline: 0;
}

%clearfix {
  *zoom: 1;

  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

%unselectable {
  user-select: none;
}

%no-appearance {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: none;
  line-height: normal;
  font-weight: normal;
  border-radius: 0;
  background: transparent;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a.go-top {
  position: fixed;
  top: auto;
  right: 15px;
  bottom: 15px;
  left: auto;
  opacity: 0;
  cursor: pointer;
  text-decoration: none;
  transition: all .3s ease-in-out;
  z-index: 9999;

  &.show {
    opacity: .3;
  }

  &.show:hover {
    opacity: .5;
  }

  svg {
    width: 16px;
    height: 23px;
  }
}

