#gridWrapper {
  width: 100%;
  position: relative;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: none;
  z-index: 10;

  > .container {
    width: 100%;
    max-width: 1280px;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    height: 480px;
    background: $indicius;
    transition: background-color .2s ease-in-out;
  }

  &.twitter {

    &:before {
      background-color: $twitter;
    }
  }

  &.facebook {

    &:before {
      background-color: $facebook;
    }
  }

  &.dribbble {

    &:before {
      background-color: $dribbble;
    }
  }

  &.instagram {

    &:before {
      background-color: $instagram;
    }
  }

  &.vimeo {

    &:before {
      background-color: $vimeo;
    }
  }

  &.header-out {
    position: relative;
    height: auto;
  }
}

.grid {
  padding: 0;
  overflow: hidden;
  transition: all .3s ease-in-out, height .5s ease-in-out;
  position: relative;
  z-index: 9999;
  backface-visibility: hidden;

  .dribbble, .vimeo, .twitter, .instagram, .facebook, .case-study, .image {
    height: 240px;
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    background-size: cover;
  }

  .grid-sizer, .dribbble, .vimeo, .twitter, .instagram, .facebook, .image {
    width: 25%;
  }

  .dribbble, .vimeo, .instagram, .image {
    overflow: hidden;

    > img {
      height: 105%;
      width: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
      z-index: 1;
    }
  }

  .dribbble {
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    &[data-animated-version] {
      > span {
        width: 100%;
        height: 100%;
        display: block;
        background-color: transparent;
        transition: background-color .3s ease;
      }

      &:hover > span {
        background-color: rgba(black,.3);
      }

      &.loaded:hover > span {
        background-color: transparent;
      }

      &.loaded:hover::before {
        content: none;
      }

      &:hover::before {
        content: '';
        display: block;
        position: absolute;
        width: 48px;
        height: 48px;
        top: 50%;
        left: 50%;
        margin-top: -24px;
        margin-left: -24px;
        color: white;
        line-height: 48px;
        background: transparent image-url("ring.svg") no-repeat center center;
        background-size: auto auto;
        z-index: 9999;
      }
    }

    > img {
      display: none;
      height: auto;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
      z-index: 1;
    }

    &:hover {
      > img {
        display: block;
      }
    }
  }

  .image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  a.image {
    background-size: cover;
    text-decoration:none;

    > span {
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(white, .2);
      opacity: 0;
      transition: all .3s ease-in-out;
    }

    &:hover {

      > span {
        opacity: 1;
      }
    }
  }

  .dribbble {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    > span {
      position: relative;
      z-index: 2;
    }
  }

  .instagram, .vimeo {

    > a {
      position: relative;
      z-index: 2;
    }
  }

  .image {
    position: relative;
  }

  .vimeo {
    position: relative;

    > img {
      height: 106%;
      top: 0;
      transform: translate3d(-50%, -3%, 0);
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration:none;

      > span {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(black,.3);
        opacity: 0;
        transition: all .3s ease-in-out;

        &:before {
          content: 'Watch on Vimeo';
          display: block;
          height: 55px;
          width: 55px;
          border-radius: 27.5px;
          border: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          right: auto;
          bottom: auto;
          z-index: 9999;
          line-height: 55px;
          overflow: hidden;
          text-decoration: none;
          color: white;
          font-weight: 500;
          font-size: 14px;
          text-transform: uppercase;
          padding-right: 25px;
          text-align: right;
          transform: translate3d(-27.5px,-27.5px,0);
          transition: all .3s ease-in-out;
        }
      }

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        right: auto;
        bottom: auto;
        margin-top: -27.5px;
        margin-left: -27.5px;
        transition: all .3s ease-in-out;

        circle.st0 {
          stroke-width: 1.25px;
          transition: all .3s ease-in-out;
        }

        polygon.st0 {
          transition: all .3s ease-in-out;
        }
      }

      &:hover {

        > span {
          opacity: 1;

          &:before {
            width: 200px;
            transform: translate3d(-50%,-27.5px,0);
          }
        }

        svg {
          transform: scale(.7,.7) translate3d(-105px,0,0);

          polygon.st1 {
            fill: black !important;
            position: relative;
            z-index: 999;
          }

          circle.st0 {
            fill: white !important;
          }
        }
      }
    }
  }

  .instagram {
    background-color: #fafafa;
    position: relative;
    overflow: hidden;

    a {
      text-decoration: none;
      display: block;
      width: 100%;
      height: 100%;
    }

    span.icon {
      display: block;
      text-align: center;
      width: 100%;
      height: 100%;
      background-color: rgba($instagramBrand,.7);
      opacity: 1;
      transition: all .2s ease-in-out;

      img {
        position: relative;
        top: 50%;
        transform: translate3d(0,-50%,0);
        width: 36px;
        height: 36px;
        opacity: 1;
        transition: all .2s ease-in-out;
      }
    }

    span.shadow {
      @include instagramShadow;
      display: block;
      text-align: center;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      transition: all .3s ease-in-out;

      span.hashtags {
        display: block;
        position: absolute;
        top: auto;
        right: 0;
        bottom: 0;
        left: 0;
        font-size: 14px;
        color: white;
        text-align: left;
        padding: 25px 30px;
      }
    }

    &:hover {

      span.icon {
        opacity: 0;

        img {
          opacity: 0;
          top: 0;
        }
      }

      span.shadow {
        opacity: 1;
      }
    }
  }

  .dribbble {
    background-color: #fafafa;
    position: relative;
    overflow: hidden;
    text-decoration: none;

    a {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }

    > span {

    }
    
    > .shot-content-wrapper {
      display: block;
      width: 100%;
      height: 100%;
      transition: all .5s cubic-bezier(0.770, 0.000, 0.175, 1.000);
      background: #ea4c89;
      transform: translate3d(0, 100%, 0);
      position: relative;

      .shot-content {
        text-align: center;
        display: block;
        width: 100%;
        position: absolute;
        top: 50%;
        right: auto;
        bottom: auto;
        left: 0;
        transform: translate3d(0, -50%, 0);

        img {
          margin-bottom: 15px;
          width: 50px;
          height: auto;
        }

        .text {
          text-transform: uppercase;
          color: #ffffff;
          text-align: center;
          letter-spacing: 2px;
          font-weight: 500;
          font-size: 20px;
          display: block;
        } 
      }
    }

    &:hover {
      > .shot-content-wrapper {
        transform: translate3d(0, 0, 0);

        .shot-content {
          @keyframes bounce {
            0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
            40% {transform: translateY(-30px);}
            60% {transform: translateY(-20px);}
          } 

          img {
            animation-name: bounce;
            animation-duration: 1.25s;
            animation-delay: .3s;
          }
        }
      }
    }

    &[data-animated-version*=".gif"] {
      > .shot-content-wrapper {
        display: none;
      }

      &:hover {
        > .shot-content-wrapper {
          display: none;
        }
      }
    }

    .facts {
      background-color: $dribbbleBrand;
      display: block;
      width: 100%;
      height: 100%;
      transition: background-color .2s ease-in-out;

      .wrapper {
        display: block;
        position: relative;
        top: 50%;
        transform: translate3d(0,-50%,0);
        opacity: 1;
        transition: all .2s ease-in-out;

        img {
          width: 26px;
          height: 26px;
          display: block;
          margin: 0 auto 5px auto;
        }

        h2 {
          font-size: 52px;
          font-weight: 300;
          color: white;
          text-align: center;
          margin: 0;
          letter-spacing: -1px;

          &:after {
            display: block;
            content: 'followers';
            text-transform: uppercase;
            color: rgba(white,.4);
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 5.5px;
            margin: 5px 0px 0px;
            position: relative;
            left: 5px;
          }
        }
      }

      .follow-us {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        bottom: auto;
        right: auto;
        text-transform: uppercase;
        color: $dribbbleBrand;
        text-align: center;
        letter-spacing: 2px;
        font-weight: 500;
        font-size: 16px;
        transition: top .2s ease-in-out;

        > .text {
          display: block;
          position: relative;
          top: 50%;
          transform: translate3d(0,-50%,0);
        }
      }

      &:hover {
        background-color: white;

        .wrapper {
          top: -100%;
          opacity: 0;
        }

        .follow-us {
          top: 0;
        }
      }
    }
  }

  .twitter {
    background-color: $twitterBrand;
    overflow: hidden;
    position: relative;

    a {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }

    .follow-us {
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 2;
      transform: translate3d(0,-50%,0);
      pointer-events: none;
      opacity: 0;
      transition: opacity .3s ease-in-out;

      .wrapper {
        display: block;
        position: relative;
        top: 50%;
        transform: translate3d(0,-50%,0);

        svg {
          margin-bottom: 50%;
          transition: all .35s ease-in-out;
          path {
            fill: $twitterBrand;
          }
        }

        h1 {
          color: $twitterBrand;
          text-align: center;
          letter-spacing: 2px;
          font-weight: 500;
          text-transform: uppercase;
          margin: 50% 0 0 0;
          font-size: 16px;
          transition: all .35s ease-in-out;
        }
      }
    }

    .tweet {
      display: block;
      text-align: center;
      position: relative;
      top: 12%;
      padding: 0 30px;
      z-index: 1;

      svg {
        width: 26px;
        height: 26px;
        transition: all .25s ease-in-out;

        path {
          fill: transparent;
          stroke: white;
          stroke-width: 1px;
          transition: all .2s ease-in-out;
        }
      }

      h1 {
        font-weight: 300;
        font-size: 16px;
        color: white;
        margin: 20px 0 30px 0;
        line-height: 1.1;
      }

      h2 {
        font-size: 13px;
        line-height: 18px;
        height: 18px;
        font-weight: 400;
        color: rgba(white,.6);
        margin: 0;
        letter-spacing: 1px;
      }
    }

    &:hover {

      .tweet {

        svg {
          width: 325%;
          height: 325%;
          transform: translate3d(-30%,-50%,0);

          path {
            fill: #ffffff;
          }
        }
      }

      .follow-us {
        opacity: 1;

        svg {
          margin-bottom: 0;
        }

        h1 {
          margin-top: 20px;
        }
      }
    }
  }

  .facebook {
    background-color: $facebookBrand;
    position: relative;
    overflow: hidden;

    a {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration:none;
    }

    .like-us {
      display: block;
      width: 100%;
      height: 100%;
      background-color: white;
      text-align: center;

      .wrapper {
        display: block;
        position: relative;
        top: 50%;
        transform: translate3d(0,-50%,0);

        img {
          width: 32px;
          height: 32px;
        }

        h1 {
          font-weight: 500;
          margin: 20px 0 0 0;
          font-size: 16px;
          color: #2e2e2e;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
      }
    }

    .facts {
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      background-color: $facebookBrand;
      transform: translate3d(0,-100%,0);
      transition: all .2s ease-in-out;

      .wrapper {
        display: block;
        position: relative;
        top: 50%;
        transform: translate3d(0,-50%,0);
        opacity: 1;
        transition: all .2s ease-in-out;

        img {
          width: 26px;
          height: 26px;
          display: block;
          margin: 0 auto 20px auto;
          margin: 0 auto 5px auto;
        }

        h2 {
          font-size: 52px;
          font-weight: 300;
          color: white;
          text-align: center;
          margin: 0;
          letter-spacing: -1px;

          &:after {
            display: block;
            content: 'likes';
            text-transform: uppercase;
            color: rgba(white,.4);
            font-size: 15px;
            font-weight: 500;
            letter-spacing: 5.5px;
            margin: 5px 0px 0px;
            position: relative;
            left: 5px;
          }
        }
      }
    }

    &:hover {

      .like-us {

        .wrapper{

          img {
            transition: all .1s ease-in-out;
            animation: bounceLike .6s forwards .2s;
          }
        }
      }

      .facts {
        transform: translate3d(0,0,0);
      }
    }
  }

  .case-study {
    width: 50%;
    background-color: gray;
    text-align: center;

    .new-ribbon {
      width: 150px;
      background: $yellow;
      color: $vimeo;
      height: 22px;
      transform: rotate(45deg);
      top: 12px;
      right: -50px;
      bottom: auto;
      left: auto;
      display: block;
      margin: 0;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
      line-height: 22px;
    }

    &.vertical {
      height: 480px;
      width: 25%;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
    }

    .wrapper {

      h1, .dh1 {

        .toi-project {
          font-size: 14px;
          position: relative;
          top: -2px;

          .dash {
            font-weight: 600;
            font-size: 12px;
            display: inline-block;
            margin: 0 8px;
            position: relative;
            top: -1px;
          }

          > svg {
            display: inline-block;
            width: 36px;
            height: 23px;
            margin: 0 0 0 2px;
            position: relative;
            top: 5px;
          }
        }
      }
    }
  }

  #case-study-block-genee {
    background-color: $geneeBg;
    text-align: left;

    a {
      position: relative;
      overflow: hidden;
    }

    .wrapper {
      float: left;
      width: 50%;
      padding: 0 50px 0 40px;
      position: relative;
      top: 50%;
      transform: translateY(-70%);
    }

    h2 {
      font-weight: 500;
      font-size: 13px;
      color: $geneeCategory;
      text-transform: uppercase;
      padding-bottom: 16px;
      display: inline-block;
      margin: 0;
    }

    h1, .dh1 {
      font-weight: 300;
      font-size: 24px;
      color: $geneeTitle;
      margin: 0 0 18px 0;

      .toi-project {
        color: #284a7a;

        .dash {
          color: #22b14c;
        }

        > svg {

          path.custom-fill {
            fill: #284a7a;
          }
        }
      }
    }

    p {
      margin: 0;
      font-size: 16px;
      font-weight: 300;
      color: $geneeText;
      line-height: 1.2;
    }

    .app {
      display: block;
      float: right;
      width: 400px;
      max-width: 50%;
      height: 100%;
      background: transparent;
      text-align: right;

      > img {
        width: auto;
        height: 100%;
        padding-right: 60px;
        position: relative;
        top: 60%;
        transform: translate3d(-50px,-50%,0);

        @media screen and (max-width: 480px) {
          transform: translate3d(-30%, -50%, 0);
        }
      }
    }

    .view {
      display: block;
      position: absolute;
      padding: 0 50px 0 40px;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 75px;
      line-height: 85px;
      font-weight: 300;
      font-size: 16px;
      color: $geneeView;
      z-index: 999;
      transition: all .2s ease-in-out;

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        z-index: -1;
        left: 40px;
        top: 23px;
        width: 158px;
        right: auto;
        background-color: white;
        transition: all .2s ease-in-out;
        height: 40px !important;
        bottom: auto;
        transform: scaleX(0);
        transform-origin: 0% 50%;
        background-color: $geneeView;
      }

      svg {
        position: relative;
        top: 3px;
        left: 10px;

        polygon.st0 {
          fill: $geneeView;
          stroke: $geneeView;
          transition: all .2s ease-in;
        }
      }
    }

    &:hover {

      .view {
        color: white;
        padding: 0 50px 0 55px;

        svg polygon.st0 {
          fill: white;
          stroke: white;
        }

        &:after {
          height: 65px;
          transform: scale(1);
        }
      }
    }
  }

  #case-study-block-metacenter {
    $metacenterOrange: #ff9d29;
    background: $metacenterOrange image-url("case-studies/metacenter/metacenter-block-new.png") no-repeat;
    background-size: auto 90%;
    text-align: left;
    background-position: calc(50% + 235px) calc(50% + 8px);

    @media screen and (max-width: 480px) {
      background: $metacenterOrange image-url("case-studies/metacenter/metacenter-block-mobile.png") no-repeat center 10%;
      background-size: auto 40%;
    }

    a {
      position: relative;
      overflow: hidden;
    }

    .wrapper {
      float: left;
      width: 50%;
      padding: 0 50px 0 40px;
      position: relative;
      top: 50%;
      transform: translateY(-70%);
    }

    h2 {
      font-weight: 500;
      font-size: 13px;
      color: white;
      text-transform: uppercase;
      padding-bottom: 29px;
      display: inline-block;
      margin: 0;
    }

    h1, .dh1 {
      font-weight: 300;
      font-size: 24px;
      color: white;
      margin: 0 0 5px 0;
    }

    p {
      margin: 0;
      font-size: 16px;
      font-weight: 300;
      color: white;
      line-height: 1.2;
    }

    .app {
      display: block;
      float: right;
      width: 400px;
      max-width: 50%;
      height: 100%;
      background: transparent;
      text-align: right;

      > img {
        width: auto;
        height: 85%;
        padding-right: 15px;
        position: relative;
        top: 60%;
        transform: translate3d(0,-50%,0);
      }
    }

    .view {
      display: block;
      position: absolute;
      padding: 0 50px 0 40px;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 75px;
      line-height: 85px;
      font-weight: 300;
      font-size: 16px;
      color: white;
      z-index: 999;
      transition: all .2s ease-in-out;

      @media screen and (max-width: 480px) {
        text-align: left;
      }

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        z-index: -1;
        left: 40px;
        top: 23px;
        width: 158px;
        right: auto;
        background-color: white;
        transition: all .2s ease-in-out;
        height: 40px !important;
        bottom: auto;
        transform: scaleX(0);
        transform-origin: 0% 50%;
      }

      svg {
        position: relative;
        top: 3px;
        left: 10px;

        polygon.st0 {
          fill: white;
          stroke: white;
          transition: all .2s ease-in;
        }
      }
    }

    &:hover {

      .view {
        color: $metacenterOrange;
        padding: 0 50px 0 55px;

        svg polygon.st0 {
          fill: $metacenterOrange;
          stroke: $metacenterOrange;
        }

        &:after {
          height: 65px;
          transform: scaleX(1);
        }
      }
    }
  }

  #case-study-block-samsung_dev_conference {
    $samsungDevConfBlue: #085bba;
    background: $samsungDevConfBlue image-url("case-studies/samsung_dev_conference/ux-background.svg") no-repeat center top / 150% auto;
    text-align: left;

    @media screen and (max-width: 480px) {
      background-size: auto 100%;
    }

    a {
      position: relative;
      overflow: hidden;
    }

    .wrapper {
      float: left;
      width: 60%;
      padding: 0 50px 0 40px;
      position: relative;
      top: 50%;
      transform: translateY(-70%);

      @media screen and (max-width: 480px) {
        top: 60px !important;
        transform: none !important;
      }
    }

    h2 {
      font-weight: 500;
      font-size: 13px;
      color: white;
      text-transform: uppercase;
      padding-bottom: 16px;
      display: inline-block;
      margin: 0;
    }

    h1, .dh1 {
      font-weight: 300;
      font-size: 24px;
      color: white;
      margin: 0 0 18px 0;
    }

    p {
      margin: 0;
      font-size: 16px;
      font-weight: 300;
      color: white;
      line-height: 1.2;
    }

    img {
      position: absolute;
      top: auto;
      right: -10%;
      bottom: 0;
      left: auto;
      width: 55%;

      @media screen and (max-width: 480px) {
        right: auto;
        left: 50%;
        width: 100%;
        transform: translate3d(-50%,0,0);
      }
    }

    .view {
      display: block;
      position: absolute;
      padding: 0 50px 0 40px;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 75px;
      line-height: 85px;
      font-weight: 300;
      font-size: 16px;
      color: white;
      z-index: 999;
      transition: all .2s ease-in-out;

      @media screen and (max-width: 480px) {
        top: 190px;
        text-align: left;
      }

      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        z-index: -1;
        left: 40px;
        top: 23px;
        width: 158px;
        right: auto;
        background-color: white;
        transition: all .2s ease-in-out;
        height: 40px !important;
        bottom: auto;
        transform: scaleX(0);
        transform-origin: 0% 50%;
      }

      svg {
        position: relative;
        top: 3px;
        left: 10px;

        polygon.st0 {
          fill: white;
          stroke: white;
          transition: all .2s ease-in;
        }
      }
    }

    &:hover {
      .view {
        color: $samsungDevConfBlue;
        padding: 0 50px 0 55px;

        svg polygon.st0 {
          fill: $samsungDevConfBlue;
          stroke: $samsungDevConfBlue;
        }

        &::after {
          transform: scaleX(1);
        }
      }
    }
  }

  #case-study-block-cluey {
    $clueyAqua: #A1AEFC;
    background: $clueyAqua;
    text-align: left;

    a {
      position: relative;
      overflow: hidden;
    }

    .wrapper {
      float: left;
      width: 60%;
      padding: 0 50px 0 40px;
      position: relative;
      top: 50%;
      transform: translateY(-70%);

      @media screen and (max-width: 480px) {
        top: 60px !important;
        transform: none !important;
      }
    }

    h2 {
      font-weight: 500;
      font-size: 13px;
      color: rgba(21, 39, 55, 0.6);
      text-transform: uppercase;
      padding-bottom: 16px;
      display: inline-block;
      margin: 0;
    }

    h1, .dh1 {
      font-weight: 300;
      font-size: 24px;
      color: #152737;
      margin: 0 0 18px 0;
    }

    p {
      margin: 0;
      font-size: 16px;
      font-weight: 300;
      color: #152737;
      line-height: 1.2;
    }

    img {
      position: absolute;
      top: auto;
      right: -10%;
      bottom: 0;
      left: auto;
      width: 50%;

      @media screen and (max-width: 480px) {
        right: auto;
        left: 50%;
        width: 70%;
        transform: translate3d(-50%,0,0);
      }
    }

    .view {
      display: block;
      position: absolute;
      padding: 0 50px 0 40px;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 75px;
      line-height: 85px;
      font-weight: 300;
      font-size: 16px;
      color: #152737;
      z-index: 999;
      transition: all .2s ease-in-out;

      @media screen and (max-width: 480px) {
        top: 190px;
        text-align: left;
      }

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        z-index: -1;
        left: 40px;
        top: 23px;
        width: 158px;
        right: auto;
        transition: all .2s ease-in-out;
        height: 40px !important;
        bottom: auto;
        transform: scaleX(0);
        transform-origin: 0% 50%;
        background-color: #152737;
      }

      svg {
        position: relative;
        top: 3px;
        left: 10px;

        polygon.st0 {
          fill: #152737;
          stroke: #152737;
          transition: all .2s ease-in;
        }
      }
    }

    &:hover {
      .view {
        color: white;
        padding: 0 50px 0 55px;

        svg polygon.st0 {
          fill: white;
          stroke: white;
        }

        &:after {
          height: 65px;
          transform: scaleX(1);
        }
      }
    }
  }

  #case-study-block-kibow {
    $kibowYellow: #D3FF00;
    $kibowBlue: #07162f;
    background: $kibowYellow;
    text-align: left;

    a {
      position: relative;
      overflow: hidden;
    }

    .wrapper {
      float: left;
      width: 50%;
      padding: 0 50px 0 40px;
      position: relative;
      top: 50%;
      transform: translateY(-70%);

      @media screen and (max-width: 480px) {
        top: 60px !important;
        transform: none !important;
      }
    }

    h2 {
      font-weight: 500;
      font-size: 13px;
      color: rgba($kibowBlue, .85);
      text-transform: uppercase;
      padding-bottom: 16px;
      display: inline-block;
      margin: 0;
    }

    h1, .dh1 {
      font-weight: 300;
      font-size: 24px;
      color: $kibowBlue;
      margin: 0 0 18px 0;
    }

    p {
      margin: 0;
      font-size: 16px;
      font-weight: 300;
      color: $kibowBlue;
      line-height: 1.2;
    }

    img {
      position: absolute;
      top: auto;
      right: 20%;
      bottom: -230px;
      left: auto;
      width: 440px;
      transform: translate3d(35%, 0, 0);

      @media screen and (max-width: 1024px) {
        bottom: -120px;
        left: auto;
        width: 340px;
        transform: translate3d(50%, 0, 0);
      }

      @media screen and (max-width: 768px) {
        width: 260px;
      }

      @media screen and (max-width: 480px) {
        right: auto;
        left: 50%;
        width: 100%;
        transform: translate3d(-50%, 0, 0);
        bottom: -70px;
      }
    }

    .view {
      display: block;
      position: absolute;
      padding: 0 50px 0 40px;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 75px;
      line-height: 85px;
      font-weight: 300;
      font-size: 16px;
      color: $kibowBlue;
      z-index: 999;
      transition: all .2s ease-in-out;

      @media screen and (max-width: 480px) {
        top: 190px;
        text-align: left;
      }

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        z-index: -1;
        left: 40px;
        top: 23px;
        width: 158px;
        right: auto;
        background-color: $kibowBlue;
        transition: all .2s ease-in-out;
        height: 40px !important;
        bottom: auto;
        transform: scaleX(0);
        transform-origin: 0% 50%;
      }

      svg {
        position: relative;
        top: 3px;
        left: 10px;

        polygon.st0 {
          fill: $kibowBlue;
          stroke: $kibowBlue;
          transition: all .2s ease-in;
        }
      }
    }

    &:hover {
      .view {
        color: white;
        padding: 0 50px 0 55px;

        svg polygon.st0 {
          fill: white;
          stroke: white;
        }

        &:after {
          height: 65px;
          transform: scaleX(1);
        }
      }
    }
  }

  #case-study-block-messi {
    background: black;
    background-size: 100% auto;
    text-align: center;

    a {
      position: relative;
      overflow: hidden;
    }

    .wrapper {
      width: 100%;
      padding: 0;
      position: relative;
      top: 0;
      width: 100%;
      height: 100%;
      display: block;
      padding: 20px 0;
    }

    h2 {
      font-weight: 500;
      font-size: 13px;
      color: white;
      text-transform: uppercase;
      padding-bottom: 16px;
      display: inline-block;
      margin: 0 0 10px 0;
    }

    h1 {
      font-weight: 300;
      font-size: 24px;
      color: white;
      margin: 0 0 18px 0;
    }

    p {
      margin: 0;
      font-size: 16px;
      font-weight: 300;
      color: white;
      line-height: 1.2;
      padding-left: 40px;
      padding-right: 40px;
    }

    .view {
      display: block;
      position: absolute;
      padding: 0 50px 0 40px;
      top: auto;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 65px;
      line-height: 65px;
      font-weight: 300;
      font-size: 16px;
      color: white;
      z-index: 999;
      transition: all .2s ease-in-out;

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        z-index: -1;
        left: 85px;
        top: 13px;
        width: 158px;
        right: auto;
        background-color: white;
        transition: all .2s ease-in-out;
        height: 40px !important;
        bottom: auto;
        transform: scaleX(0);
        transform-origin: 0% 50%;
      }

      svg {
        position: relative;
        top: 3px;
        left: 10px;

        polygon.st0 {
          fill: white;
          stroke: white;
          transition: all .2s ease-in;
        }
      }
    }

    img.thumbnail-messi {
      position: absolute;
      top: auto;
      right: 0;
      bottom: 55px;
      left: 0;
      width: 100%;
    }

    &:hover {

      .view {
        color: black;
        padding: 0 50px 0 55px;

        svg polygon.st0 {
          fill: black;
          stroke: black;
        }

        &:after {
          height: 65px;
          transform: scaleX(1);
        }
      }
    }
  }

  #case-study-block-tag {
    background-color: $tagBg;
    position: relative;

    .wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
    }

    a {
      padding: 0 60px;
    }

    h2 {
      font-weight: 500;
      font-size: 13px;
      color: white;
      text-transform: uppercase;
      padding-bottom: 10px;
      display: inline-block;
      margin: 0 0 10px 0;
    }

    h1, .dh1 {
      font-weight: 300;
      font-size: 24px;
      color: white;
      margin: 0 0 22px 0;
      line-height: 1;

      .toi-project {
        color: #8f87b1;
        top: -4px;

        .dash {
          color: #8f87b1;
        }

        > svg {
          top: 7px;

          path:not(.custom-fill) {
            fill: rgba(white, 0);
          }

          path.custom-fill {
            fill: #8f87b1;
          }
        }
      }
    }

    p {
      margin: 0;
      font-size: 16px;
      font-weight: 300;
      color: $tagText;
      line-height: 1.2;
      padding: 0 30px;
    }

    .wrapper > img {
      display: inline-block;
      height: 200px;
      margin: 20px 0;
    }

    .view {
      display: block;
      position: absolute;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 65px;
      line-height: 65px;
      font-weight: 300;
      font-size: 16px;
      color: white;
      z-index: 999;
      transition: all .2s ease-in-out;

      svg {

        polygon.st0 {
          fill: white;
        }
      }

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        z-index: -1;
        left: 85px;
        top: 13px;
        width: 158px;
        right: auto;
        background-color: white;
        transition: all .2s ease-in-out;
        height: 40px !important;
        bottom: auto;
        transform: scaleX(0);
        transform-origin: 0% 50%;
      }

      svg {
        position: relative;
        top: 3px;
        left: 10px;

        polygon.st0 {
          transition: all .2s ease-in;
        }
      }
    }

    &:hover {

      .view {
        color: $tagBg;
        padding: 0 50px 0 55px;

        svg polygon.st0 {
          fill: $tagBg;
          stroke: $tagBg;
        }

        &:after {
          height: 65px;
          transform: scaleX(1);
        }
      }
    }
  }

  #case-study-block-espn {
    background: #f4371b image-url("case-studies/espn/espn-grid.png") no-repeat right bottom;
    background-size: 50% auto;
    text-align: left;

    a {
      position: relative;
      overflow: hidden;
    }

    .wrapper {
      float: left;
      width: 50%;
      padding: 0 40px 0 30px;
      position: relative;
      top: 50%;
      transform: translateY(-70%);
    }

    h2 {
      font-weight: 400;
      font-size: 13px;
      color: white;
      text-transform: uppercase;
      padding-bottom: 5px;
      margin-bottom: 15px;
      display: inline-block;
      margin: 0 0 10px 0;
    }

    h1 {
      font-weight: 400;
      font-size: 24px;
      color: white;
      margin: 0 0 15px 0;
      line-height: 1;
    }

    p {
      margin: 0;
      font-size: 16px;
      font-weight: 400;
      color: white;
      line-height: 1.2;
    }

    .app {
      display: block;
      float: right;
      width: 400px;
      max-width: 50%;
      height: 100%;
      background: transparent;
      text-align: right;

      > img {
        width: auto;
        height: 85%;
        padding-right: 15px;
        position: relative;
        top: 50%;
        transform: translate3d(0,-50%,0);
      }
    }

    .view {
      display: block;
      position: absolute;
      padding: 0 40px 0 30px;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 75px;
      line-height: 85px;
      font-weight: 400;
      font-size: 16px;
      color: white;
      z-index: 999;
      transition: all .2s ease-in-out;

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        z-index: -1;
        left: 40px;
        top: 23px;
        width: 158px;
        right: auto;
        background-color: white;
        transition: all .2s ease-in-out;
        height: 40px !important;
        bottom: auto;
        transform: scaleX(0);
        transform-origin: 0% 50%;
      }

      svg {
        position: relative;
        top: 3px;
        left: 10px;

        polygon.st0 {
          fill: white;
          stroke: white;
          transition: all .2s ease-in;
        }
      }
    }

    &:hover {

      .view {
        color: #f4371b;
        padding: 0 50px 0 55px;

        svg polygon.st0 {
          fill: #f4371b;
          stroke: #f4371b;
        }

        &:after {
          height: 65px;
          transform: scaleX(1);
        }
      }
    }
  }

  #case-study-block-espnjo {
    background: #1b63b4 image-url("case-studies/espnjo/espnjo-grid.png") no-repeat right 43px;
    background-size: 50% auto;
    text-align: left;

    a {
      position: relative;
      overflow: hidden;
    }

    .wrapper {
      float: left;
      width: 52%;
      padding: 0 40px 0 30px;
      position: relative;
      top: 50%;
      transform: translateY(-70%);
    }

    h2 {
      font-weight: 400;
      font-size: 13px;
      color: #76afef;
      text-transform: uppercase;
      padding-bottom: 5px;
      margin-bottom: 15px;
      display: inline-block;
      margin: 0 0 10px 0;
    }

    h1 {
      font-weight: 400;
      font-size: 24px;
      color: white;
      margin: 0 0 15px 0;
      line-height: 1;
    }

    p {
      margin: 0;
      font-size: 16px;
      font-weight: 400;
      color: white;
      line-height: 1.2;
    }

    .app {
      display: block;
      float: right;
      width: 400px;
      max-width: 50%;
      height: 100%;
      background: transparent;
      text-align: right;

      > img {
        width: auto;
        height: 85%;
        padding-right: 15px;
        position: relative;
        top: 50%;
        transform: translate3d(0,-50%,0);
      }
    }

    .view {
      display: block;
      position: absolute;
      padding: 0 40px 0 30px;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 75px;
      line-height: 85px;
      font-weight: 400;
      font-size: 16px;
      color: white;
      z-index: 999;
      transition: all .2s ease-in-out;

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        z-index: -1;
        left: 40px;
        top: 23px;
        width: 158px;
        right: auto;
        background-color: white;
        transition: all .2s ease-in-out;
        height: 40px !important;
        bottom: auto;
        transform: scaleX(0);
        transform-origin: 0% 50%;
      }

      svg {
        position: relative;
        top: 3px;
        left: 10px;

        polygon.st0 {
          fill: white;
          stroke: white;
          transition: all .2s ease-in;
        }
      }
    }

    &:hover {

      .view {
        color: #1b63b4;
        padding: 0 50px 0 55px;

        svg polygon.st0 {
          fill: #1b63b4;
          stroke: #1b63b4;
        }

        &:after {
          height: 65px;
          transform: scaleX(1);
        }
      }
    }
  }

  #case-study-block-djlist {
    background: $geneeBg image-url("case-studies/djlist/djlist-grid.png") no-repeat 95% center;
    background-size: 42% auto;
    text-align: left;

    a {
      position: relative;
      overflow: hidden;
    }

    .wrapper {
      float: left;
      width: 50%;
      padding: 0 50px 0 40px;
      position: relative;
      top: 50%;
      transform: translateY(-62%);
    }

    h2 {
      font-weight: 500;
      font-size: 13px;
      color: $geneeCategory;
      text-transform: uppercase;
      padding-bottom: 10px;
      display: inline-block;
      margin: 0;
    }

    h1, .dh1 {
      font-weight: 300;
      font-size: 24px;
      color: $geneeTitle;
      margin: 0 0 15px 0;
      line-height: 1;

      .toi-project {
        color: #284a7a;

        .dash {
          color: #22b14c;
        }
      }
    }

    p {
      margin: 20px 0 0;
      font-size: 16px;
      font-weight: 300;
      color: $geneeText;
      line-height: 1.2;
    }

    .view {
      display: block;
      position: absolute;
      padding: 0 50px 0 40px;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 75px;
      line-height: 85px;
      font-weight: 300;
      font-size: 16px;
      color: #64008A;
      z-index: 999;
      transition: all .2s ease-in-out;

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        z-index: -1;
        left: 40px;
        top: 23px;
        width: 158px;
        right: auto;
        background-color: white;
        transition: all .2s ease-in-out;
        height: 40px !important;
        bottom: auto;
        transform: scaleX(0);
        transform-origin: 0% 50%;
        background-color: #64008A;
      }

      svg {
        position: relative;
        top: 3px;
        left: 10px;

        polygon.st0 {
          fill: #64008A;
          stroke: #64008A;
          transition: all .2s ease-in;
        }
      }
    }

    &:hover {

      .view {
        color: white;
        padding: 0 50px 0 55px;

        svg polygon.st0 {
          fill: white;
          stroke: white;
        }

        &:after {
          height: 65px;
          transform: scale(1);
        }
      }
    }
  }

  #case-study-block-red_bull_records {
    background-image: image-url("case-studies/red_bull_records/rbr-grid-bg.png"), image-url("case-studies/red_bull_records/grid-thumb.png");
    background-repeat: no-repeat, no-repeat;
    background-position: right top, right bottom;
    background-size: 162px 175px, 354px 222px;
    text-align: left;

    a {
      position: relative;
      overflow: hidden;
    }

    .wrapper {
      float: left;
      width: 65%;
      padding: 0 50px 0 40px;
      position: relative;
      top: 50%;
      transform: translateY(-62%);
    }

    h2 {
      font-weight: 500;
      font-size: 13px;
      color: #EC98B1;
      text-transform: uppercase;
      padding-bottom: 10px;
      display: inline-block;
      margin: 0;
    }

    h1, .dh1 {
      font-weight: 300;
      font-size: 24px;
      color: white;
      margin: 0 0 15px 0;
      line-height: 1;

      .toi-project {
        color: white;

        .custom-fill {
          fill: white !important;
        }

        .dash {
          color: rgba(white, .5);
        }
      }
    }

    p {
      margin: 20px 0 0;
      font-size: 16px;
      font-weight: 300;
      color: white;
      line-height: 1.2;
      max-width: 235px;
    }

    .view {
      display: block;
      position: absolute;
      padding: 0 50px 0 40px;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 75px;
      line-height: 85px;
      font-weight: 300;
      font-size: 16px;
      color: white;
      z-index: 999;
      transition: all .2s ease-in-out;

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        z-index: -1;
        left: 40px;
        top: 23px;
        width: 158px;
        right: auto;
        background-color: white;
        transition: all .2s ease-in-out;
        height: 40px !important;
        bottom: auto;
        transform: scaleX(0);
        transform-origin: 0% 50%;
      }

      svg {
        position: relative;
        top: 3px;
        left: 10px;

        polygon.st0 {
          fill: white;
          stroke: white;
          transition: all .2s ease-in;
        }
      }
    }

    &:hover {

      .view {
        color: #CD003B;
        padding: 0 50px 0 55px;

        svg polygon.st0 {
          fill: #CD003B;
          stroke: #CD003B;
        }

        &:after {
          height: 65px;
          transform: scaleX(1);

        }
      }
    }
  }

  #case-study-block-li5 {
    background: #ED1A3D image-url('case-studies/li5/grid.png') no-repeat center bottom / contain;
    position: relative;

    a {
      padding: 0 26px;
    }

    h2 {
      font-weight: 500;
      font-size: 13px;
      color: white;
      text-transform: uppercase;
      padding-bottom: 14px;
      display: inline-block;
      margin: 22px 0 18px;
    }

    h1 {
      font-weight: 300;
      font-size: 24px;
      color: white;
      margin: 0 0 22px 0;
      line-height: 1;
    }

    p {
      margin: 0 0 60px;
      font-size: 16px;
      font-weight: 300;
      color: white;
      line-height: 1.2;
      padding: 0;

      @media screen and (max-width: 1024px) {
        margin-bottom: 60px !important;
      }

      @media screen and (max-width: 480px) {
        margin-bottom: 100px !important;
      }

      @media screen and (max-width: 375px) {
        margin-bottom: 60px !important;
      }
    }

    .wrapper > img {
      display: inline-block;
      height: 200px;
      margin: 20px 0;
    }

    .thumbnail-tn {
      max-width: 100%;
    }

    .view {
      display: block;
      position: absolute;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 65px;
      line-height: 65px;
      font-weight: 300;
      font-size: 16px;
      color: white;
      z-index: 999;
      transition: all .2s ease-in-out;

      svg {

        polygon.st0 {
          fill: white;
        }
      }

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        z-index: -1;
        left: 85px;
        top: 13px;
        width: 158px;
        right: auto;
        background-color: white;
        transition: all .2s ease-in-out;
        height: 40px !important;
        bottom: auto;
        transform: scaleX(0);
        transform-origin: 0% 50%;
      }

      svg {
        position: relative;
        top: 3px;
        left: 10px;

        polygon.st0 {
          transition: all .2s ease-in;
        }
      }
    }

    &:hover {

      .view {
        color: #03C8DE;
        padding: 0 50px 0 55px;

        svg polygon.st0 {
          fill: #03C8DE;
          stroke: #03C8DE;
        }

        &:after {
          height: 65px;
          transform: scale(1);
        }
      }
    }
  }

  #case-study-block-polyvibe {
    background: #6718b2 image-url('case-studies/polyvibe/grid.png') no-repeat center bottom / contain;
    position: relative;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 60%;
    text-align: left;

    @media screen and (max-width: 1024px) {
      background: #6718b2 image-url('case-studies/polyvibe/grid.png') no-repeat center bottom / contain;
      position: relative;
      background-repeat: no-repeat;
      background-position: center 40px;
      background-size: 360px auto;
      text-align: left;
    }

    a {
      padding: 0 26px 0 40px;
    }

    h2 {
      font-weight: 500;
      font-size: 13px;
      color: white;
      text-transform: uppercase;
      padding-bottom: 14px;
      display: inline-block;
      margin: 22px 0 18px;
    }

    h1 {
      font-weight: 300;
      font-size: 24px;
      color: white;
      margin: 0 0 22px 0;
      line-height: 1;
    }

    p {
      margin: 0 0 60px;
      font-size: 16px;
      font-weight: 300;
      color: white;
      line-height: 1.2;
      padding: 0;
      max-width: 250px;

      @media screen and (max-width: 1024px) {
        margin-bottom: 60px !important;
      }

      @media screen and (max-width: 480px) {
        margin-bottom: 100px !important;
      }

      @media screen and (max-width: 375px) {
        margin-bottom: 60px !important;
      }
    }

    .wrapper > img {
      display: inline-block;
      height: 200px;
      margin: 20px 0;
    }

    .view {
      display: block;
      position: absolute;
      padding: 0 50px 0 40px;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 75px;
      line-height: 85px;
      font-weight: 300;
      font-size: 16px;
      color: white;
      z-index: 999;
      transition: all .2s ease-in-out;

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        z-index: -1;
        left: 40px;
        top: 23px;
        width: 158px;
        right: auto;
        background-color: white;
        transition: all .2s ease-in-out;
        height: 40px !important;
        bottom: auto;
        transform: scaleX(0);
        transform-origin: 0% 50%;
      }

      svg {
        position: relative;
        top: 3px;
        left: 10px;

        polygon.st0 {
          fill: white;
          stroke: white;
          transition: all .2s ease-in;
        }
      }
    }

    &:hover {

      .view {
        color: #6A18B7;
        padding: 0 50px 0 55px;

        svg polygon.st0 {
          fill: #6A18B7;
          stroke: #6A18B7;
        }

        &:after {
          height: 65px;
          transform: scale(1);
        }
      }
    }
  }

  #case-study-block-tn {
    background-color: #118BEF;
    position: relative;

    a {
      padding: 0 26px;
    }

    h2 {
      font-weight: 500;
      font-size: 13px;
      color: white;
      text-transform: uppercase;
      padding-bottom: 14px;
      display: inline-block;
      margin: 22px 0;
    }

    h1 {
      font-weight: 300;
      font-size: 24px;
      color: white;
      margin: 0 0 22px 0;
      line-height: 1;
    }

    p {
      margin: 0 0 60px;
      font-size: 16px;
      font-weight: 300;
      color: white;
      line-height: 1.2;
      padding: 0;

      @media screen and (max-width: 1024px) {
        margin-bottom: 60px !important;
      }

      @media screen and (max-width: 480px) {
        margin-bottom: 100px !important;
      }

      @media screen and (max-width: 375px) {
        margin-bottom: 60px !important;
      }
    }

    .wrapper > img {
      display: inline-block;
      height: 200px;
      margin: 20px 0;
    }

    .thumbnail-tn {
      max-width: 100%;
    }

    .view {
      display: block;
      position: absolute;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 65px;
      line-height: 65px;
      font-weight: 300;
      font-size: 16px;
      color: white;
      z-index: 999;
      transition: all .2s ease-in-out;

      svg {

        polygon.st0 {
          fill: white;
        }
      }

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        z-index: -1;
        left: 85px;
        top: 13px;
        width: 158px;
        right: auto;
        background-color: white;
        transition: all .2s ease-in-out;
        height: 40px !important;
        bottom: auto;
        transform: scaleX(0);
        transform-origin: 0% 50%;
      }

      svg {
        position: relative;
        top: 3px;
        left: 10px;

        polygon.st0 {
          transition: all .2s ease-in;
        }
      }
    }

    &:hover {

      .view {
        color: #118BEF;
        padding: 0 50px 0 55px;

        svg polygon.st0 {
          fill: #118BEF;
          stroke: #118BEF;
        }

        &:after {
          height: 65px;
          transform: scale(1);
        }
      }
    }
  }

  #case-study-block-vinco {
    $vincoPurple: #3C2DF5;
    background-color: $vincoPurple;
    background: $vincoPurple;
    text-align: left;

    @media screen and (max-width: 480px) {
      background-size: auto 100%;
    }

    a {
      position: relative;
      overflow: hidden;
    }

    .wrapper {
      float: left;
      width: 80%;
      padding: 0 50px 0 40px;
      position: relative;
      top: 50%;
      transform: translateY(-70%);

      @media screen and (max-width: 480px) {
        top: 60px !important;
        transform: none !important;
      }
    }

    h2 {
      font-weight: 500;
      font-size: 13px;
      color: white;
      text-transform: uppercase;
      padding-bottom: 16px;
      display: inline-block;
      margin: 0;
    }

    h1, .dh1 {
      font-weight: 300;
      font-size: 24px;
      color: white;
      margin: 0 0 18px 0;
    }

    p {
      margin: 0;
      font-size: 16px;
      font-weight: 300;
      color: white;
      line-height: 1.2;
      max-width: 300px;
    }

    img {
      position: absolute;
      top: auto;
      right: -10%;
      bottom: 0;
      left: auto;
      width: 50%;

      @media screen and (max-width: 480px) {
        right: auto;
        left: 50%;
        width: 100%;
        transform: translate3d(-50%,0,0);
      }
    }

    .view {
      display: block;
      position: absolute;
      padding: 0 50px 0 40px;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 75px;
      line-height: 85px;
      font-weight: 300;
      font-size: 16px;
      color: white;
      z-index: 999;
      transition: all .2s ease-in-out;

      @media screen and (max-width: 480px) {
        top: 190px;
        margin-top: 20px;
        text-align: left;
      }

      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        z-index: -1;
        left: 40px;
        top: 23px;
        width: 158px;
        right: auto;
        background-color: white;
        transition: all .2s ease-in-out;
        height: 40px !important;
        bottom: auto;
        transform: scaleX(0);
        transform-origin: 0% 50%;
      }

      svg {
        position: relative;
        top: 3px;
        left: 10px;

        polygon.st0 {
          fill: white;
          stroke: white;
          transition: all .2s ease-in;
        }
      }
    }

    &:hover {
      .view {
        color: $vincoPurple;
        padding: 0 50px 0 55px;

        svg polygon.st0 {
          fill: $vincoPurple;
          stroke: $vincoPurple;
        }

        &::after {
          transform: scaleX(1);
        }
      }
    }
  }

  #case-study-block-tigo {
    background: #1f2a57 image-url('case-studies/tigo/tigo_bkg.jpg') no-repeat center bottom / cover;
    position: relative;

    a {
      padding: 0 26px;
    }

    h2 {
      font-weight: 500;
      font-size: 13px;
      color: white;
      text-transform: uppercase;
      padding-bottom: 14px;
      margin: 22px 0 28px;
      text-align: center;
    }

    .line {
      width: 80px;
      height: 1px;
      background-color: white;
      position: absolute;
      top: 77px;
      left: 50%;
      margin-left: -40px;
      opacity: 0.4;
    }

    h1 {
      font-weight: 300;
      font-size: 24px;
      color: white;
      margin: 0 0 22px 0;
      line-height: 1;
      text-align: center;
    }

    p {
      margin: 0 0 0px;
      font-size: 16px;
      font-weight: 300;
      color: white;
      line-height: 1.2;
      padding: 0;
      text-align: center;

      @media screen and (max-width: 1024px) {
        margin-bottom: 60px !important;
      }

      @media screen and (max-width: 480px) {
        margin-bottom: 100px !important;
      }

      @media screen and (max-width: 375px) {
        margin-bottom: 60px !important;
      }
    }

    img {
      display: inline-block;
      height: 323px;
      margin: 0px 0;
      position: absolute;
      bottom: 0;
      left: 0;

      @media screen and (max-width: 1024px) {
        width: 100%;
        height: auto;
      }
    }

    .view {
      display: block;
      position: absolute;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 65px;
      line-height: 65px;
      font-weight: 300;
      font-size: 16px;
      color: white;
      z-index: 999;
      transition: all .2s ease-in-out;
      text-align: center;
      padding-left: 26px;

      svg {

        polygon.st0 {
          fill: white;
        }
      }

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        z-index: -1;
        left: 85px;
        top: 13px;
        width: 158px;
        right: auto;
        background-color: white;
        transition: all .2s ease-in-out;
        height: 40px !important;
        bottom: auto;
        transform: scaleX(0);
        transform-origin: 0% 50%;
      }

      svg {
        position: relative;
        top: 3px;
        left: 10px;

        polygon.st0 {
          transition: all .2s ease-in;
        }
      }
    }

    &:hover {

      .view {
        color: #03C8DE;
        padding: 0 50px 0 55px;

        svg polygon.st0 {
          fill: #03C8DE;
          stroke: #03C8DE;
        }

        &:after {
          height: 65px;
          transform: scale(1);
        }
      }
    }
  }

  #case-study-block-wellbin {
    background-color: #23BDC7;
    background-image: image-url("case-studies/wellbin/grid.png"), image-url("case-studies/wellbin/grid2.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 300px 45px, right 20px;
    background-size: 225px 161px, 235px 182px;
    text-align: left;

    a {
      position: relative;
      overflow: hidden;
    }

    .wrapper {
      float: left;
      width: 50%;
      padding: 0 50px 0 40px;
      position: relative;
      top: 50%;
      transform: translateY(-62%);

      @media screen and (max-width: 480px) {
        padding: 0 50px 0 50px;
      }

    }

    h2 {
      font-weight: 500;
      font-size: 13px;
      color: #ffffff;
      text-transform: uppercase;
      padding-bottom: 10px;
      display: inline-block;
      margin: 0;
      width: 250px;

      @media screen and (max-width: 480px) {
        text-align: center;
        width: 100%;
      }
    }

    h1, .dh1 {
      font-weight: 300;
      font-size: 24px;
      color: #ffffff;
      margin: 10px 0 5px 0;
      line-height: 1;

      @media screen and (max-width: 480px) {
        text-align: center;
      }

      .toi-project {
        color: #ffffff;
      }
    }

    p {
      margin: 20px 0 0;
      font-size: 16px;
      font-weight: 300;
      color: #ffffff;
      line-height: 1.2;
    }

    .view {
      display: block;
      position: absolute;
      padding: 0 50px 0 40px;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 75px;
      line-height: 85px;
      font-weight: 300;
      font-size: 16px;
      color: #2B4955;
      z-index: 999;
      transition: all .2s ease-in-out;

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        z-index: -1;
        left: 40px;
        top: 23px;
        width: 158px;
        right: auto;
        background-color: white;
        transition: all .2s ease-in-out;
        height: 40px !important;
        bottom: auto;
        transform: scaleX(0);
        transform-origin: 0% 50%;
      }

      svg {
        position: relative;
        top: 3px;
        left: 10px;

        polygon.st0 {
          fill: #2B4955;
          stroke: #2B4955;
          transition: all .2s ease-in;
        }
      }
    }

    &:hover {

      .view {
        color: #2B4955;
        padding: 0 50px 0 55px;

        svg polygon.st0 {
          fill: #2B4955;
          stroke: #2B4955;
        }

        &:after {
          height: 65px;
          transform: scale(1);
        }
      }
    }
  }
}
