html, body {
  height: 100%;
  min-height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "franklin-gothic-urw", sans-serif;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;

  &.nooverflow {
    overflow-y: hidden;
    position: fixed;
    width: 100%;
  }

  #heroBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100%);
    background-color: $indicius;
    transition: all .2s ease-in-out;
  }

  .preloader {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;

    .bar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: auto;
      width: 0;
      height: 3px;
      transition: width .7s cubic-bezier(0,.52,1,.28) .3s;

      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 3px;
        height: 3px;
        top: 0;
        left: auto;
        right: 0;
        bottom: 0;
      }
    }
  }

  &#index {
    @include background_and_loading_colors(white, $indicius, $yellow);
  }

  &[id*="case-study-page"] #page {
    max-width: initial !important;
    overflow-x: hidden;
    overflow-y: hidden;
    height: auto;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "franklin-gothic-urw", sans-serif;
}

.container {
  max-width: 1280px;
}

#page {
  max-width: 1280px;
  margin: 0 auto;
}

#heroWrapper {
  // height: 100%;
  min-height: 100%;
  // width: 100%;
  padding-left: 0;
  padding-right: 0;
  // background: $indicius;
  // position: relative;

  position: absolute;
  top: 0;
  width: 100%;
  height: calc( 100vh + 30px );
  background: rgba(0,181,236,0.5);
  background: linear-gradient(to bottom, rgba(0,181,236,1) 50%,rgba(125,185,232,0.8) 100%);
  z-index: 100;
  transition: opacity 1s, z-index 2s;

  .overlay {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    transition: opacity .2s ease-in-out;

    &.animate {
      opacity: 1;
    }

    > span {
      position: relative;
      top: 50%;
      display: block;
      transform: translate3d(0,-50%,0) scale(.1,.1);
      color: white;
      font-size: 52px;
      font-weight: 300;
      transition: all .2s ease-in-out;

      &.animate-scale {
        transform: translate3d(0,-50%,0) scale(1,1);
      }
    }
  }

  h1 {
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 0 10%;
    transition: all 0.5s;
  }

  h2 {
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 0 10%;
    transition: all 0.5s;
  }

  &.header-out {
    opacity: 0;
    z-index: 1;
  }

  &.header-out-transition {
    transition: opacity .3s, z-index 0.01s;
  }
}

#hero {
  background: transparent;
  min-height: 100%;
  padding: 70px 0 85px;

  > .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    opacity: 1;
    transition: all 1s ease-in-out;
  }

  .top-links {
    position: relative;
    z-index: 999;
  }

  .overlays-wrapper {
    opacity: 1;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .2s ease-in-out;
    background-color: transparent;
    z-index: -10;
    pointer-events: none;

    &.show {
      display: block;
    }
  }

  .logo {

    a > img {
      max-height: 35px;
      margin-top: 9px;

      @media (min-width: 992px) {
        margin-top: 0;
      }
    }
  }

  .social {
    text-align: right;
    overflow: hidden;

    > a {
      display: inline-block;
      padding: 0 15px;

      > img {
        max-height: 31px;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .tagline {
    position: absolute;
    top: 50%;
    transform: translate3d(0,-50%,0);
    padding-left: 0;
    transition: all 0.5s;

    @media screen and (max-width: 991px) {
      top: 45%;
    }

    div {
      padding-left: 0;
      padding-right: 0;
    }

    h1 {
      font-size: 62px;
      font-weight: 300;
      color: white;
      line-height: 1.2;
      margin-bottom: 74px;

      @media screen and (max-width: 991px) {
        //padding: 0 !important;
        margin: 0 0 30px 0 !important;
        font-size: 42px;
      }
    }

    h2 {
      font-size: 28px;
      font-weight: 300;
      color: $indiciusLight;

      a {
        color: white;
        font-weight: 500;
        text-decoration: none;
        transition: color .1s ease-in-out, transform .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        display: inline-block;
        margin-left: 7px;

        svg {
          display: inline-block;
          position: relative;
          top: 8px;
          left: 6px;
          width: 27px;
          height: 27px;

          @media (min-width: 992px) {
            width: 32px;
            height: 32px;
          }

          path, polygon {
            transition: fill .1s ease-in-out;
          }
        }

        &:hover {
          color: $hover;

          svg {

            path, polygon {
              fill: $hover;
            }
          }
        }

        &:active {
          transform: scale(.9,.9);
        }
      }
    }
  }

  .down {
    text-align: center;
    position: absolute;
    top: auto;
    right: auto;
    bottom: 85px;
    left: 15px;
    width: 100%;

    span.arrow {
      display: inline-block;
      width: 51px;
      height: 47px;
      position: relative;
      cursor: pointer;
      text-align: center;
      line-height: 45px;
      transition: transform .1s ease-in-out;
      animation: action 1s infinite  alternate;

      img {
        max-width: 32px;

        @media (min-width: 992px) {
          max-width: 40px;
        }

        &.mobile {
          display: none;

          @media (max-width: 992px) {
            display: block;
          }
        }

        &.desktop {
          display: block;

          @media (max-width: 992px) {
            display: none;
          }
        }
      }

      &:hover {
        transform: scale(1.1,1.1);
      }
    }
  }
}

@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

#heroWrapper.header-out #hero .tagline{
  transform: translate3d(0, -62%, 0);
}

#heroWrapper.header-out .logocases,  #heroWrapper.header-out .menuheroright{
  top: 0px;
  opacity: 0;
}
