.load-more {
  text-align: center;
  background: $yellow;
  transition: background .2s ease-in;

  &:hover {
    //background: rgba($yellow,.8);
  }

  #load-more {
    width: 100%;
    display: inline-block;
    padding-top: 85px;
    padding-bottom: 85px;
    cursor: pointer;
    color: black;
    font-weight: 300;
    font-size: 34px;
    transition: transform .2s ease-in-out;
  }

  .plus {
    cursor: pointer;
    color: black;
    font-weight: 300;
    font-size: 34px;
    width: 62px;
    height: 62px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
    margin-right: 20px;
    border: 1px solid #000000;
    border-radius: 50%;
    transition: all .3s cubic-bezier(.55,0,.1,1);

    .plusplus {
      position: absolute;
      top: 50%;
      right: auto;
      bottom: auto;
      left: 50%;
      width: 21px;
      height: 21px;
      margin-top: -10px;
      margin-left: -10px;
      transition: all .5s ease-in-out;

      &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        background: black;
        transition: all .3s cubic-bezier(.55,0,.1,1);
      }

      &::before {
        top: 10px;
        left: 0;
        width: 21px;
        height: 1px;
      }

      &::after {
        top: 0;
        left: 10px;
        width: 1px;
        height: 21px;
      }
    }
  }

  &:hover {

    .plus {
      border-width: 31px;

      .plusplus {

        &::before, &::after {
          background: $yellow;
        }
      }
    }
  }

  &:active {

    .plus {
      transform: scale(.9,.9);
    }
  }
}

#load-more-row {
  overflow: hidden;
  height: 224px;
  transition: all .4s ease-in-out;
  z-index: 999999999;

  &.done {
    height: 15px;
    opacity: 1;

    span {
      cursor: default !important;
    }
  }
}
