.container-trigger {
  display: none;
}

.trigger {
  width: 31px;
  height: 15px;
  position: absolute;
  top: 29px;
  right: 30px;
  bottom: auto;
  left: auto;
  z-index: 99999999;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  backface-visibility: hidden;

  @media (min-width: 992px) {
    width: 35px;
  }

  @media (min-width: 1280px) {
    right: 50%;
    margin-right: -600px;
  }

  span {
    display: block;
    width: 100%;
    height: 1px;
    background: #fff;
    margin: 0 0 6px 0;
    transition: all .2s ease-in-out;
    position: absolute;

    &:first-child {
      top: 0;
      left: 0;
    }

    &:nth-child(2) {
      top: 7px;
      left: 0;
    }

    &:last-child {
      top: 14px;
      left: 0;
    }
  }

  &.is-mov-pos {
    transform: translate3d(0,-100px,0);
    position: fixed;
    z-index: -99;
  }

  &.is-mov {
    position: fixed;
    z-index: 99999999;
    transform: translate3d(0,0,0);

    span {
      background: #FF2851;
    }
  }

  &.on {
    top: 19px;
    z-index: 999999999;
    position: fixed;
    background-color: $indicius;
    height: 35px;
    border-radius: 50%;
    width: 35px;

    @media (min-width: 992px) {
      position: fixed;
    }

    span:first-child {
      transform: rotate(45deg);
      width: 20px;
      left: 8px;
      top: 17px;
    }

    span:nth-child(2) {
      transform: rotate(-45deg);
      width: 20px;
      left: 8px;
      top: 17px;
    }

    span:last-child {
      transform: rotate(45deg);
      width: 20px;
      left: 8px;
      top: 17px;
    }
  }

  &.social {
    background-color: #fff;

    span:first-child {
      background-color: $indicius;
    }

    span:nth-child(2) {
      background-color: $indicius;
    }

    span:last-child {
      background-color: $indicius;
    }
  }

  &.dissapear {
    top: 10px;
    opacity: 0;
  }
}

.trigger-b {
  width: 31px;
  height: 15px;
  position: absolute;
  top: 29px;
  right: 30px;
  bottom: auto;
  left: auto;
  z-index: 999999999;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  @media (min-width: 992px) {
    width: 35px;
    top: 29px;
  }

  @media (min-width: 1280px) {
    right: 50%;
    margin-right: -600px;
    top: 29px;
  }

  span {
    display: block;
    width: 100%;
    height: 1px;
    background: $indicius;
    margin: 0 0 6px 0;
    transition: all .2s ease-in-out;
    position: absolute;

    &:first-child {
      top: 0;
      left: 0;
    }

    &:nth-child(2) {
      top: 7px;
      left: 0;
    }

    &:last-child {
      top: 14px;
      left: 0;
    }
  }

  &.on {
    top: 20px;
    z-index: 999999999;
    position: fixed;
    background-color: $indicius;
    height: 35px;
    border-radius: 50%;

    @media (min-width: 1280px) {
      top: 20px;
    }

    span {
      background-color: #fff;
    }

    span:first-child {
      transform: rotate(45deg);
      width: 20px;
      left: 8px;
      top: 17px;
    }

    span:nth-child(2) {
      transform: rotate(-45deg);
      width: 20px;
      left: 8px;
      top: 17px;
    }

    span:last-child {
      transform: rotate(45deg);
      width: 20px;
      left: 8px;
      top: 17px;
    }
  }

  &.social {
    background-color: #fff;

    span:first-child {
      background-color: $indicius;
    }

    span:nth-child(2) {
      background-color: $indicius;
    }

    span:last-child {
      background-color: $indicius;
    }
  }
}

.menu {
  background: #fff;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 99999;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  transition: background-color 0.5s ease;

  @media (max-width: 1025px){
    height: 100vh;
    overflow-y: scroll;
  }

  .menuwrapper {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    height: 0;
  }

  #logoblue {
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 30px;
    max-height: 35px;
    width: 28px;
    transition: all 0.5s ease;
    opacity: 1;

    @media (min-width: 1280px) {
      left: 50%;
      margin-left: -610px;
      width: 28px;
    }
  }

  #logowhite {
    opacity: 0;
    position: absolute;
    top: 35px;
    right: 0;
    bottom: 0;
    left: 30px;
    max-height: 35px;
    transition: all 0.5s ease;

    @media (min-width: 1280px) {
      top: 35px;
      left: 50%;
      margin-left: -610px
    }
  }

  .socialbig {
    display: block;

    @media (max-width: 992px){
      display: none;
    }
  }

  h5 {
    font-family: "franklin-gothic-urw", sans-serif;
    font-weight: 100;
    color: #9B9B9B;
    font-size: 14px;
    line-height: 14px;
    margin-top: 155px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 5px;
    transition: all 0.5s ease;

    &.social {
      margin-left: 15px;
    }

    &.links {
      margin-left: -50px;
    }

    .dash {
      width: 19px;
      height: 1px;
      background-color: #9B9B9B;
      display: inline-block;
      vertical-align: middle;
      transition: all 0.5s ease;
    }

    .text {
      display: inline-block;
      margin-left: 5px;
    }
  }

  .social-links {
    position: relative;
    float: left;

    > a {
      display: inline-block;
      padding: 40px 28px 0 0;
      transition: opacity 150ms ease-in-out;

      > img {
        max-height: 30px;
      }

      &:first-child {
        padding-left: 17px;
      }

      &:last-child {
        padding-right: 0;
      }

      &:hover {
        opacity: .5;
      }
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    position: absolute;
    top: 170px;
    right: auto;
    bottom: auto;
    margin: 90px 0 0 0;

    @media (max-width: 1025px){
      top: 0;
      position: relative;
      float: left;
      width: 100%;
      margin-left: 0;
    }

    li {
      position: relative;

      a {
        text-align: left;
        font-family: 'Heebo', sans-serif;
        font-weight: 100;
        font-size: 48px;
        line-height: 65px;
        color: #353535;
        text-decoration: none;
        transition: all 0.5s ease;

        &:hover {
          text-decoration: none;
          color: #353535;
        }

        @media (max-width: 1025px){
          font-size: 35px;
          line-height: 50px;
        }
      }
    }

    &.social {
      margin: 100px 0 0 15px;

      li {

        a {
          font-family: "franklin-gothic-urw", sans-serif;
          font-weight: 100;
          font-size: 30px;
          line-height: 30px;
          display: block;
          height: 60px;

          &:hover {
            opacity: 1 !important;
          }
        }
      }
    }

    &.links {
      margin: 140px 0 0 0;

      @media (min-width: 992px){
        margin: 48px 0 0 0;
      }

      li {
        margin-top: 20px;
        margin-left: 13px;

        @media (min-width: 992px){
          margin-top: 20px;
          margin-left: -50px;
        }

        a {
          font-family: "franklin-gothic-urw", sans-serif;
          font-weight: 100;
          font-size: 47px;
          line-height: 50px;
          width: 101%;
          background-image: linear-gradient(to right, rgba(255,255,255,0) 51%, #FFF100 50%);
          background-position: -0% 0;
          background-size: 200% auto;
          transition: background-position 0.2s ease-out;

          @media (min-width: 992px){
            font-size: 73px;
            line-height: 77px;
          }

          &.fi {
            padding-right: 4px;
          }
          &.se {
            padding-right: 10px;
          }
          &.th {
            padding-right: 8px;
          }

          &:hover {

            @media (min-width: 992px){
              background-position: -97.99% 0;
            }
          }
        }
      }
    }

    &.contact {
      margin: 30px 0 0 13px;

      @media (min-width: 992px){
        margin: 78px 0 0 0;
      }

      li {
         margin-top: 20px;

        a {
          font-family: "franklin-gothic-urw", sans-serif;
          font-weight: 100;
          font-size: 20px;
          line-height: 20px;
          width: 101%;
          background-image: linear-gradient(to right, rgba(255,255,255,0) 51%, #FFF100 50%);
          background-position: -0% 0;
          background-size: 200% auto;
          transition: background-position 0.2s ease-out;
          padding-right: 4px;

          &.fi {
            padding-right: 6px;
          }
          &.se {
            padding-right: 6px;
          }

          &:hover {
            background-position: -97.99% 0;
          }
        }
      }
    }
  }

  &.twitter {
    background-color: #55ACEE;

    #logoblue {
      opacity: 0;
    }

    #logowhite {
      opacity: 1;
    }

    h5 {
      color: #fff !important;

      .dash {
        background-color: #fff !important;
      }
    }

    ul {

      li {

        a {
          color: #fff !important;
        }
      }
    }

    ul.social {

      li {

        a {

          opacity: 0.3;
        }
      }
    }
  }

  &.facebook {
    background-color: #3B5998;

    #logoblue {
      opacity: 0;
    }

    #logowhite {
      opacity: 1;
    }

    h5 {
      color: #fff !important;

      .dash {
        background-color: #fff !important;
      }
    }

    ul {

      li {

        a {
          color: #fff !important;
        }
      }
    }

    ul.social {

      li {

        a {

          opacity: 0.3;
        }
      }
    }
  }

  &.dribbble {
    background-color: #EA4C89;

    #logoblue {
      opacity: 0;
    }

    #logowhite {
      opacity: 1;
    }

    h5 {
      color: #fff !important;

      .dash {
        background-color: #fff !important;
      }
    }

    ul {

      li {

        a {
          color: #fff !important;
        }
      }
    }

    ul.social {

      li {

        a {

          opacity: 0.3;
        }
      }
    }
  }

  &.instagram {
    background-color: #7F60A9;

    #logoblue {
      opacity: 0;
    }

    #logowhite {
      opacity: 1;
    }

    h5 {
      color: #fff !important;

      .dash {
        background-color: #fff !important;
      }
    }

    ul {

      li {

        a {
          color: #fff !important;
        }
      }
    }

    ul.social {

      li {

        a {

          opacity: 0.3;
        }
      }
    }
  }

  &.vimeo {
    background-color: #162221;

    #logoblue {
      opacity: 0;
    }

    #logowhite {
      opacity: 1;
    }

    h5 {
      color: #fff !important;

      .dash {
        background-color: #fff !important;
      }
    }

    ul {

      li {

        a {
          color: #fff !important;
        }
      }
    }

    ul.social {

      li {

        a {

          opacity: 0.3;
        }
      }
    }
  }
}
