.related-case-studies {

  .left-case-study {

    & > .content {
      float: right !important;
    }
  }

  .right-case-study {

    & > .content {
      float: left !important;
    }
  }

  .left-case-study, .right-case-study {
    overflow: hidden;
    padding: 0;
    float: left;

    .content {
      width: 100%;
      min-height: 485px;
      max-width: 650px;
      padding: 0;
      position: relative;

      img.shot {
        position: absolute;
        top: auto;
        right: 0;
        bottom: 0;
        left: auto;
        z-index: 1;
      }

      h2, h1, p, a {
        position: relative;
        z-index: 2;
      }

      h2 {
        color: white;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 1px;
        margin: 50px 0 0 0;
        text-transform: uppercase;
        line-height: 1.8;

        @media screen and (min-width: 1140px) {
          max-width: 280px;
        }
      }

      h1 {
        color: white;
        font-size: 36px;
        font-weight: 300;
        margin: 90px 0 0 0;
      }

      p {
        color: rgba(white,.75);
        font-size: 18px;
        font-weight: 400;
        line-height: 1.5;
        margin: 15px 0 0 0;
      }

      a {
        display: block;
        color: white;
        font-size: 16px;
        font-weight: 400;
        margin: 90px 0 50px 0;
        text-decoration: none;
        transition: all .3s ease-in-out;
        position: absolute;
        top: auto;
        right: auto;
        bottom: 0;
        padding: 0;

        &:hover, &:active {
          padding: 0 15px;

          &::before {
            transform: translate(0, -50%) scaleX(1);
          }
        }

        &::before {
          content: '';
          display: block;
          position: absolute;
          height: 40px;
          top: 50%;
          right: auto;
          bottom: 0;
          left: 0;
          transform: translate(0, -50%) scaleX(0);
          transform-origin: 0 50%;
          width: 158px;
          background: white;
          z-index: -1;
          transition: all .2s ease-in-out;
        }

        svg {
          width: 11px;
          height: 16px;
          position: relative;
          top: 3px;
          left: 10px;

          path {
            transition: all .3s ease-in-out;
          }
        }
      }
    }
  }

  .right-case-study {
    float: right;

    .content {
      padding-left: 30px;
    }
  }

  .korefusion {
    background-color: #a21732;

    img.shot {
      width: 60%;
    }

    h2, h1, p, a {
      max-width: 50%;
    }
  }

  .tradeagrape {
    background-color: #443e63;

    img.shot {
      width: 60%;

      @media screen and (max-width: 480px) {
        float: none !important;
        margin: 0 auto;
      }
    }

    h2 {max-width: 70%;}

    h1, a {
      max-width: 50%;
    }

    a {
      &:hover {
        color: #443e63;

        svg {
          path {
            fill: #443e63;
            stroke: #443e63;
          }
        }
      }
    }

    p {
      max-width: 45%;
    }
  }

  .messi {
    @include messiRelatedCSBg;

    img.shot {
      width: 60%;
      right: 15px !important;
    }

    h2 {max-width: 70%;}

    h1, a {
      max-width: 50%;
    }

    p {
      max-width: 40%;
    }

    a {
      &:hover {
        color: black;

        svg {
          path {
            fill: black;
            stroke: black;
          }
        }
      }
    }

  }

  .tn {
    background: #118BEF image-url('case-studies/tn/link.png') no-repeat 94% 62% / 50% auto;

    @media screen and (min-width: 1141px) and (max-width: 1280px) {
      min-height: 510px;
    }

    @media screen and (max-width: 992px) {
      background-position: 100% 85%;
    }

    @media screen and (max-width: 768px) {
      background-position: 100% 70%;
    }

    @media screen and (max-width: 480px) {
      background-position: 50% 95%;
      background-size: 280px auto;
    }

    h2 {max-width: 70%;}

    h1, a {
      max-width: 50%;
    }

    p {
      max-width: 45%;
    }

    a {
      &:hover {
        color: #118BEF;

        svg {
          path {
            fill: #118BEF;
            stroke: #118BEF;
          }
        }
      }
    }

    .content a {

      @media screen and (max-width: 480px) {
        margin-bottom: 260px !important;
      }
    }
  }

  .li5 {
    background: #ED1A3D image-url('case-studies/li5/link.png') no-repeat 80% bottom / 255px auto;

    @media screen and (min-width: 1141px) and (max-width: 1280px) {
      min-height: 510px;
    }

    @media screen and (max-width: 1140px) {
      background-position: 89% bottom !important;
    }

    @media screen and (max-width: 1024px) {
      background-size: auto 90%;
      background-position: 91% 0;
    }

    @media screen and (max-width: 992px) {
      background-position: 92% bottom !important;
      background-size: auto 80%;
    }

    @media screen and (max-width: 640px) {
      background-position: 88% bottom !important;
      background-size: auto 88%;
    }

    @media screen and (max-width: 480px) {
      background-size: 225px auto;
      background-position: center bottom !important;
      padding-bottom: 330px;
    }

    h2 {max-width: 70%;}

    h1, a {
      max-width: 50%;
    }

    a{
      &:hover {
        color: #ee423d;

        svg {
          path {
            fill: #ee423d;
            stroke: #ee423d;
          }
        }
      }
    }

    p {
      max-width: 40%;
      width: 200px;
    }
  }

  .samsung-dev-conference {
    background: image-url('case-studies/listing/sdc.jpg') no-repeat center center / cover;
    position: relative;

    @media screen and (min-width: 1141px) and (max-width: 1280px) {
      min-height: 510px;
    }

    @media screen and (max-width: 480px) {
      min-height: 580px;
    }

    .content {
      @media screen and (max-width: 480px) {
        min-height: 580px !important;
      }

      a {
        @media screen and (max-width: 480px) {
          margin-top: 15px !important;
        }
      }
    }

    img {
      position: absolute;
      width: 480px;
      top: auto;
      right: auto;
      left: 75%;
      bottom: 0;
      transform: translate3d(-15%, 0, 0);
      z-index: 0;

      @media screen and (max-width: 1440px) {
        transform: translate3d(-30%, 0, 0);
        bottom: -30px;
      }

      @media screen and (max-width: 480px) {
        left: 50%;
        transform: translate3d(-50%, 0, 0);
      }
  
    }

    h2 {max-width: 70%;}

    h1, a {
      max-width: 380px;
      z-index: 1;
    }

    a {
      &:hover {
        color: #085bba;

        svg {
          path {
            fill: #085bba;
            stroke: #085bba;
          }
        }
      }
    }

    p {
      width: 100%;
      max-width: 50%;
      z-index: 1;
    }
  }

  .vinco {
    $vincoPurple: #3C2DF5;
    background: $vincoPurple;
    position: relative;

    @media screen and (min-width: 1141px) and (max-width: 1280px) {
      min-height: 510px;
    }

    @media screen and (max-width: 480px) {
      min-height: 580px;
    }

    .content {
      @media screen and (max-width: 480px) {
        min-height: 580px !important;
      }

      a {
        @media screen and (max-width: 480px) {
          margin-top: 15px !important;
        }
      }
    }

    img {
      position: absolute;
      width: 480px;
      top: auto;
      right: auto;
      left: 75%;
      bottom: 0;
      transform: translate3d(-15%, 0, 0);
      z-index: 0;

      @media screen and (max-width: 1440px) {
        transform: translate3d(-30%, 0, 0);
        bottom: -30px;
      }

      @media screen and (max-width: 480px) {
        width: 300px;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
      }
  
    }

    h2 {max-width: 70%;}

    h1, a {
      max-width: 380px;
      z-index: 1;
    }

    a {
      &:hover {
        color: #085bba;

        svg {
          path {
            fill: #085bba;
            stroke: #085bba;
          }
        }
      }
    }

    p {
      width: 100%;
      max-width: 50%;
      z-index: 1;
    }
  }

  .polyvibe {
    background: #6718b2 image-url('case-studies/polyvibe/grid.png') no-repeat 80% 130px / 400px auto;

    @media screen and (min-width: 1141px) and (max-width: 1280px) {
      min-height: 510px;
    }

    @media screen and (max-width: 1140px) {
      background-position: 89% bottom !important;
    }

    @media screen and (max-width: 1024px) {
      background-size: auto 90%;
      background-position: 91% 0;
    }

    @media screen and (max-width: 992px) {
      background-position: 92% bottom !important;
      background-size: auto 80%;
    }

    @media screen and (max-width: 640px) {
      background-position: 88% bottom !important;
      background-size: auto 88%;
    }

    @media screen and (max-width: 480px) {
      background-position: center bottom !important;
      padding-bottom: 330px;
    }

    h2 {max-width: 70%;}

    h1, a {
      max-width: 50%;
    }

    p {
      max-width: 40%;
      width: 200px;
    }

    a{
      &:hover {
        color: #6718b2;

        svg {
          path {
            fill: #6718b2;
            stroke: #6718b2;
          }
        }
      }
    }
  }

  .espn {
    background-color: #F4371B;

    img.shot {
      height: 65%;
      bottom: 50% !important;
      transform: translate3d(0,50%,0);
    }

    h2 {max-width: 70%;}

    h1, a {
      max-width: 50%;
    }
    p {
      max-width: 40%;
    }
    a {
      &:hover {
        color: #f24028;

        svg {
          path {
            fill: #f24028;
            stroke: #f24028;
          }
        }
      }
    }
  }

  .tigo {
    background: #2F3F8F image-url('case-studies/tigo/bg_link.jpg') no-repeat center top / cover;

    img.shot {
      height: 235px;
      width: 236px;
      position: relative;
      float: left;
      z-index: 1;
      margin: 0 0 50px 30px;

      @media screen and (min-width: 992px) {
        margin: 0;
        position: absolute;
        top: auto;
        right: 120px;
        left: auto;
        bottom: 145px !important;
      }

      @media screen and (min-width: 1400px) {
        right: auto;
        left: 250px;
      }
    }

    img.shot1 {
      position: absolute;
      right: 0 !important;;
      height: 100%;
      width: 415px;
      bottom: 0 !important;
      position: absolute;
      top: auto;
      left: auto;
      z-index: 1;
      display: none;

      @media screen and (min-width: 992px) {
        display: block;
      }
    }

    h2 {max-width: 70%;}

    h1, a {
      max-width: 50%;
    }

    p {
      max-width: 40%;
    }

    a{
      &:hover {
        color: #03C8DE;

        svg {
          path {
            fill: #03C8DE;
            stroke: #03C8DE;
          }
        }
      }
    }

    &.left-case-study {

      img.shot {
        height: 235px;
        width: 236px;
        position: relative;
        float: left;
        z-index: 1;
        margin: 0 0 50px 30px;

        @media screen and (min-width: 992px) {
          margin: 0;
          position: absolute;
          top: auto;
          right: 120px;
          left: auto;
          bottom: 145px !important;
        }

        @media screen and (min-width: 1400px) {
          right: 120px;
        }
      }

      img.shot1 {
        position: absolute;
        right: 0 !important;;
        height: 100%;
        width: 415px;
        bottom: 0 !important;
        position: absolute;
        top: auto;
        left: auto;
        z-index: 1;
        display: none;

        @media screen and (min-width: 992px) {
          display: block;
        }
      }
    }

    &.right-case-study {

      img.shot {
        height: 235px;
        width: 236px;
        position: relative;
        float: left;
        z-index: 1;
        margin: 0 0 50px 30px;

        @media screen and (min-width: 992px) {
          margin: 0;
          position: absolute;
          top: auto;
          right: 120px;
          left: auto;
          bottom: 145px !important;
        }

        @media screen and (min-width: 1400px) {
          right: auto;
          left: 300px;
        }
      }

      img.shot1 {
        position: absolute;
        right: 0 !important;;
        height: 100%;
        width: 415px;
        bottom: 0 !important;
        position: absolute;
        top: auto;
        left: auto;
        z-index: 1;
        display: none;

        @media screen and (min-width: 992px) {
          display: block;
        }
      }
    }
  }

  .cluey {
    background: #A1AEFC;
    background-image: image-url("case-studies/listing/cluey.png");
    background-repeat: no-repeat;
    background-position: center 88%;
    background-size: 275px auto;

    @media screen and (min-width: 768px) {
      background-position: 95% center;
      background-size: 45% auto;
    }

    .content {
      margin-bottom: 240px;

      @media screen and (min-width: 992px) and (max-width: 1280px) {
        min-height: 510px;
      }

      @media screen and (min-width: 768px) {
        margin-bottom: 0;
      }

      h2 {
        color: rgba(#152737, .6);
      }

      h1 {
        color: #152737;
      }

      p {
        color: #152737;

        @media screen and (min-width: 768px) {
          max-width: 290px;
        }
      }

      a {
        color: #152737;
        margin-top: 25px !important;
        position: static !important;

        @media screen and (min-width: 768px) {
          margin-top: 90px !important;
          position: absolute !important;
        }

        @media screen and (min-width: 1140px) and (max-width: 1280px) {
          margin-bottom: 75px;
        }

        svg {
          path {
            fill: #152737;
            stroke: #152737;
          }
        }

        &::before {
          background: #152737;
        }

        &:hover {
          color: white;
  
          svg {
            path {
              fill: white;
              stroke: white;
            }
          }
        }
      }
    }
  }

  .metacenter {
    background: #ff9d29 ;
    background-image: image-url("case-studies/metacenter/metacenter-block-mobile-new.png");
    background-repeat: no-repeat;
    background-position: center 88%;
    background-size: 275px auto;

    @media screen and (min-width: 769px) and (max-width: 1140px) {
      background-size: 40% auto !important;
    }

    @media screen and (min-width: 768px) {
      background-image: image-url("case-studies/metacenter/metacenter-block-mobile-new.png");
      background-repeat: no-repeat;
      background-position: calc(50% + 280px) center;
      background-size: 75% auto;
    }

    @media screen and (max-width: 480px){
      background-position: center 92%;
    }

    @media screen and (min-width: 1440px) {
      background-image: image-url("case-studies/metacenter/metacenter-block-mobile-new.png");
      background-repeat: no-repeat;
      background-position: calc(50% + 380px) center;
      background-size: 45% auto;
    }

    .content {
      margin-bottom: 240px;

      @media screen and (max-width: 1280px) {
        min-height: 510px;
        padding-right: 15px;
      }

      @media screen and (min-width: 768px) {
        margin-bottom: 0;
      }

      p {
        @media screen and (min-width: 768px) {
          max-width: 290px;
        }
      }

      a {
        margin-top: 25px !important;
        position: static !important;

        @media screen and (min-width: 768px) {
          margin-top: 90px !important;
          position: absolute !important;
          
        &:hover {
          color: #ff9d29;
    
            svg {
              path {
                fill: #ff9d29;
                stroke: #ff9d29;
              }
            }
          }
        }
      }
    }
  }

  .espnjo {
    background-color: #1b63b4;
    background-image: image-url("case-studies/espnjo/shadow.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;

    img.shot {
      height: 100%;
      width: 292px;
      height: 452px;
    }

    h2 {max-width: 70%;}

    h1, a {
      max-width: 50%;
    }

    p {
      max-width: 40%;
    }

    a {
      &:hover {
        color: #1b63b4;

        svg {
          path {
            fill: #1b63b4;
            stroke: #1b63b4;
          }
        }
      }
    }

    &.left-case-study {

      img.shot {
        position: relative;
        float: left;
        z-index: 1;

        @media screen and (min-width: 992px) {
          position: absolute;
          right: 30px;
          left: auto;
          bottom: 0 !important;
        }

        @media screen and (min-width: 1400px) {
          right: 30px;
        }

      }
    }

    &.right-case-study {

      img.shot {
        position: relative;
        float: left;
        z-index: 1;

        @media screen and (min-width: 992px) {
          position: absolute;
          right: 30px;
          left: auto;
          bottom: 0 !important;
        }

        @media screen and (min-width: 1400px) {
          right: auto;
          left: 300px;
        }
      }
    }
  }

  .red-bull {
    background-color: #CD003B;
    background-image: image-url("case-studies/red_bull_records/rbr-grid-bg.png");
    background-repeat: no-repeat, no-repeat;
    background-position: right top, right bottom;
    background-size: 162px 175px, 354px 222px;
    text-align: left;

    img.shot {
      width: 60%;
      transform: translate3d(0,0,0);
    }

    h2 {max-width: 70%;}

    h1, a {
      max-width: 50%;
    }

    a {
      &:hover {
        color: #CD003B;

        svg {
          path {
            fill: #CD003B;
            stroke: #CD003B;
          }
        }
      }
    }

    p {
      max-width: 40%;
    }
  }

  .kibow {
    background-color: #D3FF00;
    position: relative;

    @media screen and (max-width: 480px) {
      min-height: 680px !important;
    }

    img {
      position: absolute;
      top: auto;
      right: auto;
      bottom: 0;
      left: 75%;
      width: 300px;
      transform: translate3d(-45%,0,0);

      @media screen and (max-width: 992px) {
        width: 220px;
        transform: translate3d(-15%, 0, 0);
      }

      @media screen and (max-width: 480px) {
        width: 300px;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
      }
    }

    .content {

      @media screen and (max-width: 1280px) {
        min-height: 510px !important;
      }

      @media screen and (max-width: 480px) {
        min-height: 680px !important;
      }
  
      h2 {
        max-width: 70%;
        color: rgba(#152737, .6)
      }
  
      h1, p, a {
        max-width: 50%;
        color: #152737;
      }

      a {
        path {
          fill: #152737;
          stroke: #152737;
        }
      }
    }
  }

  .genee {
    background-color: #36a840;

    img.shot {
      width: 70%;
        transform: translate3d(22.5%,0,0);
    }

    h2 {max-width: 70%;}

    h1, p, a {
      max-width: 50%;
    }

    a{
      &:hover {
        color: #39ad43;

        svg {
          path {
            fill: #39ad43;
            stroke: #39ad43;
          }
        }
      }
    }

    &.left-case-study {

      img.shot {
        transform: translate3d(15%, 0, 0);
      }
    }
  }

  .djlist {
    background-image: image-url("case-studies/djlist/bottom-suggestion-waves.png");
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #620087;

    img.shot {
      height: 95%;
    }

    h2 {max-width: 70%;}

    h1, p, a {
      max-width: 50%;
    }

    a {
      &:hover {
        color: #64008A;

        svg {
          path {
            fill: #64008A;
            stroke: #64008A;
          }
        }
      }
    }

    h2 {
      color: #2CCBA2;
    }
  }

  .wellbin {
    background-image: image-url("case-studies/wellbin/Fondo@1x.png");
    background-size: 500px 155px;
    background-position: 150% 40%;
    background-repeat: no-repeat;
    background-color: #23BDC7;

    @media screen and (max-width: 480px) {
      background-position: center bottom !important;
      padding-bottom: 130px;
    }

    @media screen and (min-width: 1400px) {
      background-image: image-url("case-studies/wellbin/Fondo@1x.png");
      background-size: 500px 155px;
      background-position: 80% 40%;
      background-repeat: no-repeat;
      background-color: #23BDC7;
    }

    img.shot {
      height: 95%;
    }

    h2 {max-width: 70%;}

    h1, p, a {
      max-width: 50%;
    }

    h2 {
      color: #ffffff;
    }

    a {
      &:hover {
        color: #2B4955;

        svg {
          path {
            fill: #2B4955;
            stroke: #2B4955;
          }
        }
      }
    }

    p {
      color: #ffffff;
      opacity: 0.7;
    }

    .content a {

      @media screen and (max-width: 480px) {
        margin-bottom: 60px !important;
      }
    }

    &.left-case-study {

      img.shot {
        position: relative;
        float: left;
        z-index: 1;

        @media screen and (min-width: 992px) {
          position: absolute;
          top: auto;
          right: -45%;
          left: auto;
          bottom: 80px !important;
        }

        @media screen and (min-width: 1400px) {
          right: -35%;
        }
      }

      img.shot1 {
        position: absolute;
        right: -80px !important;;
        height: 80%;
        width: 531px;
        bottom: 50px !important;
        position: absolute;
        top: auto;
        left: auto;
        z-index: 1;
        display: block;

        @media screen and (max-width: 480px) {
          height: 44%;
        }
      }
    }

    &.right-case-study {

      img.shot {
        position: relative;
        float: left;
        z-index: 1;

        @media screen and (min-width: 992px) {
          position: absolute;
          top: auto;
          right: -45%;
          left: auto;
          bottom: 80px !important;
        }

        @media screen and (min-width: 1400px) {
          right: auto;
          left: 250px;
          right: auto;
        }
      }

      img.shot1 {
        position: absolute;
        right: -80px !important;;
        height: 80%;
        width: 531px;
        bottom: 50px !important;
        position: absolute;
        top: auto;
        left: auto;
        z-index: 1;
        display: block;

        @media screen and (max-width: 480px) {
          height: 44%;
        }

        @media screen and (min-width: 1300px) {
          left: 160px;
          right: auto;
        }
      }
    }
  }
}
