h1 Shots

- if @shots
  #item-thumbs-container
    - @shots.each do |shot|
      - item_classes = ['item']; item_classes << 'visible' if shot.visible
      = link_to(admin_shot_status_path(shot.id), id: "item-#{shot.id}", class: item_classes.join(' '), remote: true) do
        span.on Hide in Grid
        span.off Show in Grid
        img src=shot.static_image
  
- else
  p No shots found.
