footer.who-we-are__footer
  .container 
    .footer__first-section
      a.footer__logo(href="https://indicius.com/")
        =inline_svg "agency/footer-icon.svg"
      
      p Indicius is a human-centered design agency that facilitates innovation allowing both our team and our clients to grow and thrive.

      a.footer__contact(href="https://indicius.com/lets-talk") Have a project for us? Let's talk
      
    .footer__second-section
      ul
        li
          a(href="https://indicius.com/") Home
        li
          a(href="https://indicius.com/case-studies") Case Studies
        li
          a(href="https://indicius.com/agency") Agency
        li
          a(href="https://indicius.com/lets-talk") Contact

      ul
        li
          a(href="https://dribbble.com/Indicius") 
            =inline_svg "agency/dribbble-icon.svg"
            span Dribbble
        li
          a(href="https://www.instagram.com/indiciusar/") 
            =inline_svg "agency/instagram-icon.svg"
            span Instagram
        li
          a(href="https://twitter.com/Indicius") 
            =inline_svg "agency/twitter-icon.svg"
            span Twitter
        li
          a(href="https://vimeo.com/indicius") 
            =inline_svg "agency/vimeo-icon.svg"
            span Vimeo

    p.footer__copyright © Indicius 2019
