.arrow-case
  span 
    svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 453.5 270"
      g data-name="Layer 2"
        path class="arrow-case-head" fill="transparent" stroke="#33953C" stroke-width="20" d="M318.5 10l125 125-125 125" stroke-linecap="round" stroke-linejoin="round"
        path class="arrow-case-body" fill="transparent" stroke="#33953C" stroke-width="20" d="M433 134.5H10a10 10 0 0 1 0,0"
