#footer.container
  .row
    .about class="col-xs-12 col-sm-12 col-md-6 col-lg-6"
      h1 About Us
      p We are a Creative Digital Agency based in Buenos Aires, Argentina. We take pride in designing and building beautiful, highly functional products that people enjoy using. We also create unique visual identities and high-impact 2D/3D animations.
      p As an interdisciplinary agile team, our production process is flexible, collaborative, and adapts to each client’s needs. We look forward to working with you on your next project.

      .social-links
        a.twitter href="https://twitter.com/Indicius" target="_blank"
          img data-src=image_path("TwitterFooter@2x.png") alt="" title="" src=image_path("spacer.png")
        a.facebook href="https://www.facebook.com/Indicius" target="_blank"
          img data-src=image_path("FBFooter@2x.png") alt="" title="" src=image_path("spacer.png")
        a.dribbble href="https://dribbble.com/Indicius" target="_blank"
          img data-src=image_path("DribbbleFooter@2x.png") alt="" title="" src=image_path("spacer.png")
        a.instagram href="https://instagram.com/indiciusar/" target="_blank"
          img data-src=image_path("InstagramFooter@2x.png") alt="" title="" src=image_path("spacer.png")
        a.vimeo href="https://vimeo.com/indicius" target="_blank"
          img data-src=image_path("VimeoFooter@2x.png") alt="" title="" src=image_path("spacer.png")


    .contact class="col-xs-12 col-sm-12 col-md-6 col-lg-6"
      h1 Contact Us
      p
        | A new project is an opportunity to create something unique.&nbsp;
        strong
          | Tell us about your idea.&nbsp;

      form id="contact_form"
        .spinner
        .confirmation
          span
            = image_tag 'CheckIconSent.svg'
            | Thanks! We'll get back to you<br>within the next few hours.
        .field
          label for="contact_name" Your name
          input type="text" name="contact[name]" id="contact_name"
        .field
          label for="contact_address" Your e-mail
          input type="text" name="contact[address]" id="contact_address"
        .field
          label for="contact_message" How can we help you
          textarea name="contact[message]" id="contact_message"
        .verification-field
          input type="hidden" name="contact[verification]" id="contact_verification"
        .g-recaptcha data-sitekey="6LeMuB8UAAAAAFn-divLT9CmSpYIA9XmcMNqpXWG"
        .actions
          button#letstalk
            | Let's talk
            =inline_svg "getInTouch.svg"
          .copyright
            | &copy; Indicius&nbsp;
            = Time.zone.now.year

    .bottom-left class="col-xs-4 col-sm-3 hidden-md hidden-lg"
      | &copy; Indicius #{Time.now.year}
    .bottom-right class="col-xs-8 col-sm-9 hidden-md hidden-lg"
      a class="twitter" href="https://twitter.com/Indicius" target="_blank"
        =inline_svg "TwitterFooter.svg"
        | Twitter
      a class="facebook" href="https://www.facebook.com/Indicius" target="_blank"
        =inline_svg "FacebookFooter.svg"
        | Facebook
      a class="dribbble" href="https://dribbble.com/Indicius" target="_blank"
        =inline_svg "DribbbleFooter.svg"
        | Dribbble
      a class="instagram" href="https://instagram.com/indiciusar/" target="_blank"
        =inline_svg "InstagramFooter.svg"
        | Instagram
      a class="vimeo" href="https://vimeo.com/indicius" target="_blank"
        =inline_svg "VimeoFooter.svg"
        | Vimeo
