#menu class="menu"
  .menuwrapper
    img id="logoblue"  src=image_path("indi-cyan.svg") alt="Indicius" title="Indicius"
    img id="logowhite" src=image_path("LogoIndicius@2x.png") alt="Indicius" title="Indicius"
    .col-md-4.socialbig
      h5.social.socialbig
        span.dash
        span.text Social
      ul.social
        li
          a href="https://twitter.com/Indicius" target="_blank" id="twitter" Twitter
        li
          a href="https://www.facebook.com/Indicius" target="_blank" id="facebook" Facebook
        li
          a href="https://dribbble.com/Indicius" target="_blank" id="dribbble" Dribbble
        li
          a href="https://instagram.com/indiciusar/" target="_blank" id="instagram" Instagram
        li
          a href="https://vimeo.com/indicius" target="_blank" id="vimeo" Vimeo
    .col-md-4
      h5.links.socialbig
        span.dash
        span.text Menu
      ul.links
        li
          a.fi href="/" Home
        li
          a.fi href="/agency" Agency
        li
          a.se href="/case-studies" Case Studies
        li
          a.th href="/lets-talk" Let's Talk
    .col-sm-12.hidden-md.hidden-lg
      .social-links
        a.facebook href="https://www.facebook.com/Indicius" target="_blank"
          img data-src=image_path("FBFooter@2x.png") alt="" title="" src=image_path("spacer.png")
        a.twitter href="https://twitter.com/Indicius" target="_blank"
          img data-src=image_path("TwitterFooter@2x.png") alt="" title="" src=image_path("spacer.png")
        a.dribbble href="https://dribbble.com/Indicius" target="_blank"
          img data-src=image_path("DribbbleFooter@2x.png") alt="" title="" src=image_path("spacer.png")
        a.instagram href="https://instagram.com/indiciusar/" target="_blank"
          img data-src=image_path("InstagramFooter@2x.png") alt="" title="" src=image_path("spacer.png")
        a.vimeo href="https://vimeo.com/indicius" target="_blank"
          img data-src=image_path("VimeoFooter@2x.png") alt="" title="" src=image_path("spacer.png")
    .col-md-4
      h5.socialbig
        span.dash
        span.text Contact
      ul.contact
        li
          a.fi href="mailto:contact@indicius.com" contact@indicius.com
