nav.floating-nav.is-hidden.menu_scroll_loader
  .floating-nav__inner
    .floating-nav__logo
      a href="#"
        img data-src=image_path("indi-cyan.svg") alt="Indicius" title="Indicius" src=image_path("spacer.png")
    .menuheroright
      ul
        li
          a href="/" Home
        li
          a href="/agency" Agency
        li
          a href="/case-studies" Case Studies
        li
          a href="/lets-talk" Contact

    .container-trigger
      .trigger.scrolltrigger
        span
        span
        span
