- if @page_description
  meta name="description" content=(@page_description.html_safe) /
  meta property="og:description" content=(@page_description.html_safe) /
  meta name="twitter:description" content=(@page_description.html_safe) /

- if @page_title
  meta property="og:title" content=(@page_title.html_safe) /
  meta name="twitter:title" content=(@page_title.html_safe) /

- if @page_title == "Li5 - Mobile App to sell with video unlike ever before."
  meta name="ROBOTS" content="NOINDEX, NOFOLLOW"

- if @page_thumb
  meta property="og:image" content=@page_thumb /
  meta name="twitter:image" content=@page_thumb /

meta property="og:type" content="website" /
meta property="og:url" content=request.url /
meta name="twitter:url" content=request.url /
meta property="article:author" content="https://www.facebook.com/Indicius" /
meta name="twitter:card" content="summary" /
