// Variables

// colors:start
$cyan: #5abee9;
$cyan--dark: #369ec9;
$yellow: #fff200;
$white: #ffffff;
$gray: #f9f9f9;
// colors:end

// breakpoints:start
$breakpoints: (
  'small': 768px,
  'medium': 1024px,
  'large': 1200px,
  'extra-large': 1440px
);
// breakpoints:end