@charset "utf-8";

#dashboard {
  $gutter: 30px;
  @extend %clearfix;
  margin-left: - $gutter;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  .column {
    float: left;
    width: Calc(50% - #{$gutter});
    box-sizing: border-box;
    margin: 0 0 0 $gutter;
  }

  .box {
    box-shadow: 0 0 5px 0 rgba(black, .1);
    padding: 15px;
    margin: $gutter 0 0 0;

    h2 {
      font-size: 26px;
      line-height: 1;
      font-weight: 400;
      margin: 0 0 20px 0;
    }
  }

  .issue {
    $icon-size: 8px;
    $icon-spacing: 8px;

    font-size: 14px;
    margin-top: 15px;
    padding-left: $icon-size + $icon-spacing;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 6px;
      background: #e74c3c;
      width: $icon-size;
      height: $icon-size;
      border-radius: 50%;
    }

    &:first-of-type {
      margin-top: 0;
    }

    a:hover {
      text-decoration: none;
    }
  }
}
