html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  padding: 0;
  margin: 0;
  min-width: 660px;
}

* {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #1abc9c;
}

.alert {
  padding: 10px;
  margin: 20px 0;

  &.alert-success {
    background: #2ecc71;
    color: white;
  }

  &.alert-error{
    background: #e74c3c;
    color: white;
  }

  ul {

    li {

      &:before {
        content: "×";
        font-size: 16px;
        line-height: 1;
        position: relative;
        top: 1px;
        opacity: .5;
        margin-right: 5px;
      }

      &.title {
        list-style: none;
        font-weight: bold;

        &:before {
          display: none;
        }
      }
    }
  }
}

.tip {
  background: rgba(#3498db, .1);
  margin-bottom: 20px;
  padding: 12px;

  .label {
    font-weight: bold;
    display: inline-block;
    color: #3498db;
    margin-right: 5px;
  }
}

.button {
  @extend %no-appearance;
  background: #1abc9c;
  color: white;
  font-size: 14px;
  padding: 8px 10px;
  text-transform: uppercase;
  border-bottom: 2px solid #16a085;
  cursor: pointer;
  display: inline-block;

  &:hover {
    background: #16a085;
  }
}

form {

  .field {
    margin: 0 0 20px 0;

    label {
      display: inline-block;
      font-weight: bold;
      margin-bottom: 4px;
    }

    input[type="text"], select {
      @extend %no-appearance;
      display: block;
      font-size: 14px;
      line-height: 34px;
      box-sizing: border-box;
      box-shadow: inset 0 0 0 2px #bdc3c7;
      padding: 0 8px;
      width: 300px;
      color: #000;
    }

    .field-input, .field-select {
      position: relative;
      display: inline-block;
    }

    .field-select {

      &:after {
        pointer-events: none;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8.7px 5px 0 5px;
        border-color: #95a5a6 transparent transparent transparent;
        transform:rotate(360deg);
        position: absolute;
        top: 50%;
        right: 8px;
        margin-top: -3px;
      }
    }
  }

  .field-display {
    color: #999;
  }

  .actions {
    margin-top: 30px;
  }

  #generate-slug {
    @extend %unselectable;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;

    &.disabled {
      color: #ccc;
      cursor: not-allowed;
    }
  }
}

pre.output {
  background: #333;
  color: white;
  line-height: 1.6;
  font-size: 13px;
  font-family: "Monaco", monospace;
  word-wrap: break-word;
  padding: 15px;
}

$header-height: 40px;

#header {
  background: #34495e;
  color: white;
  height: $header-height;

  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
  }

  ul.right {
    float: right;
  }

  a {
    display: block;
    padding: 0 12px;
    line-height: $header-height;
    color: white;
    text-decoration: none;

    &.active {
      background: #1abc9c;
      color: white;
    }
  }
}


#footer {
  padding: 0 0 15px 0;
  text-align: center;

  .item {
    margin: 0 10px;
    display: inline-block;
    color: #ccc;
  }
}

#body {
  padding: 0 30px 30px;
}

#item-thumbs-container {
  @extend %clearfix;

  .item {
    margin-right: 1.3%;
    margin-bottom: 15px;
    float: left;
    width: 24%;
    position: relative;
    box-shadow: inset 0 0 0 4px #e74c3c;
    cursor: pointer;
    display: block;
    padding-bottom: 18%;
    overflow: hidden;

    &:nth-of-type(4n) {
      margin-right: 0;
    }

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      background: rgba(0, 0, 0, .75);
      color: white;
      padding: 8px 0;
      border-radius: 4px;
      transform: translate3d(-50%, -50%, 0);
      text-align: center;
      width: 150px;
      text-transform: uppercase;
      display: none;
    }

    &:hover {

      span.off {
        display: block;
      }
    }

    img {
      max-width: 100%;
      display: block;
      z-index: -1;
      left: 0;
      position: absolute;
      opacity: .33;
    }

    &.visible {
      box-shadow: inset 0 0 0 4px #2ecc71;

      span.off {
        display: none;
      }

      &:hover {

        span.on {
          display: block;
        }
      }

      img {
        opacity: 1;
      }
    }

    &.loading {
      cursor: wait;

      span {
        display: none !important;
      }
    }

    @media screen and (max-width: 979px) {
      width: 49%;
      padding-bottom: 36.75%;
      margin-right: 2%;

      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }

    @media screen and (max-width: 500px) {
      width: 100%;
      padding-bottom: 75%;
      margin-right: 0;
    }
  }
}

table.api-review {
  width: 100%;

  th {
    background: #333;
    color: white;
    vertical-align: middle;
    height: 30px;
  }

  td {
    padding: 0 10px;
    vertical-align: middle;

    &.teaser {
      width: 80px;
      padding: 0;

      img {
        display: block;
        max-width: 80px;
      }
    }

    &.attribute {

      em {
        font-style: normal;
        display: inline-block;
        color: #999;
        margin-right: 10px;
      }
    }
  }

  tr:nth-child(even) {
    background: #f4f4f4;
  }
}

.tweet {
  background: #ecf0f1;
  width: 500px;
  padding: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #bdc3c7;

  .time {
    color: #95a5a6;
    margin-top: 5px;
  }
}

#grid-container[data-view="list"] {

  .page {
    margin-top: 20px;
    border-left: 2px solid #ccc;
    padding-left: 10px;

    .item {
      @extend %clearfix;
      height: 40px;
      border-bottom: 1px solid #f4f4f4;

      &.new {
        color: #999;
      }

      .field {
        float: left;
        line-height: 40px;
        margin-right: 10px;
      }

      &:first-of-type {
        border-top: 1px solid #f4f4f4;
      }
    }
  }
}
