$grid-width: 140px;
$grid-height: 100px;
$grid-spacing: 10px;

#grid-container[data-view="grid"] {
  @extend %unselectable;
  width: ($grid-width * 4 + $grid-spacing * 3);
  margin: 0 auto;
  padding-top: 30px;

  .page {
    @extend %clearfix;
    margin-left: -$grid-spacing;
    margin-bottom: 30px;
    width: ($grid-width * 4 + $grid-spacing * 4);
    height: ($grid-height * 5 + $grid-spacing * 4);
    position: relative;
  }

  .position, .item {
    width: $grid-width;
    height: $grid-height;
  }

  .item {

    &.type-tweet {
      background: #57d5f6;
    }

    &.type-image {
      background: #ea643b;
    }

    &.type-facebook_fact {
      background: #4d6fa6;
    }

    &.type-dribbble_fact {
      background: #ea4c89;
    }

    &.type-case_study {
      background: #85979e;
    }

    &[data-vertical] {
      height: $grid-height * 2 + $grid-spacing;
    }

    &[data-horizontal] {
      width: $grid-width * 2 + $grid-spacing;
    }

    .title {
      color: white;
      line-height: 1;
      padding: 10px;

      strong {
        display: block;
        margin-bottom: 4px;
      }
    }

    .item-tooltip {
      display: none;
    }
  }

  #tooltip {
    @extend %unselectable;
    background: #34495e;
    color: white;
    position: absolute;
    z-index: 9999;
    top: -9999;
    left: 0;

    a {
      font-size: 13px;
      line-height: 1;
      display: block;
      color: white;
      text-decoration: none;
      padding: 5px 8px;

      &:hover {
        background: #1abc9c;
      }
    }
  }

  .position {
    float: left;
    background: #f4f4f4;
    margin: 0 0 $grid-spacing $grid-spacing;
    transition: all 150ms ease-in-out;

    &.tooltip-target {
      background: darken(#f4f4f4, 10%);
    }
  }

  &.dragging {

    .item.ui-draggable-dragging {
      opacity: .8;
      z-index: 999;
    }

    .position {
      background: lighten(#f4f4f4, 2%);

      &.ui-state-enabled {
        background: darken(#f4f4f4, 2%);
      }

      &.ui-origin {
        background: darken(#f4f4f4, 10%) !important;
      }

      &.ui-state-hover {
        background: darken(#f4f4f4, 10%);
      }
    }
  }
}
