@charset "utf-8";

#login {
  background: #ecf0f1;

  .box {
    background: white;
    width: 300px;
    margin: 80px auto 0 auto;
    padding: 20px;
    box-shadow: 0 3px 3px -3px rgba(#bdc3c7, .3);

    .field {
      margin: 0 0 15px 0;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    input {
      box-sizing: border-box;
      -webkit-appearance:none;
      width: 100%;
      border: 0;
      line-height: normal;
      font-size: 16px;
      margin: 0;
      padding: 10px 8px;
      box-shadow: none;
      border-radius: 3px;
    }

    input[type="text"], input[type="password"] {
      background: rgba(#95a5a6, .15);
      box-shadow: inset 0 2px 0 rgba(#95a5a6, .05);
    }

    input[type="submit"] {
      color :white;
      background: #1abc9c;
      cursor: pointer;
      box-shadow: inset 0 -2px 0 rgba(#16a085, 1);
    }
  }
}
