/* Color palette */
$chalk:          #f1f1f1;
$indicius:       #00b5ec;
$indiciusLight:  #b1edff;
$twitter:        #55acee;
$facebook:       #3b5998;
$dribbble:       #ea4c89;
$instagram:      #8d6851;
$vimeo:          #162221;
$lightFooterText:#16364f;
$footerText:     #b7c2c9;
$footerBlueText: #32bbdb;
$footerLinks:    #375963;
$yellow:         #fff200;
$hover:					 #16364f;

/* Brands and webapps colors for grid */
$instagramBrand: #8d6851;
$dribbbleBrand:  #ea4c89;
$twitterBrand:   #55acee;
$facebookBrand:  #3b5998;
$indiciusBrand:  #00b5ec;

/* Case study grid colors */
$tagBg:          #443e63;
$tagText:        #9993c1;
$geneeBg:        white;
$geneeCategory:  #36a840;
$geneeTitle:     #2c4871;
$geneeText:      #648694;
$geneeView:      #39ad43;

/* Form colors */
$formLine:        #DBE1EC;
$formFocus:       #1FBDF0;
$formError:       #F63500;
