@media screen and (min-width: 1600px) {

  #heroWrapper {

    .overlay {

      > span {
        top: calc(50% - 300px);
      }
    }
  }
}

@media screen and (max-width: 1600px) {

  .container {
    width: 100%;
    max-width: 100%;
  }

  #gridWrapper {
    padding-left: 0;
    padding-right: 0;

    &:before {
      display: none;
    }
  }

  .grid {

    .dribbble, .vimeo, .twitter, .instagram, .facebook, .case-study, .image {
      height: 240px;
    }

    .grid-sizer, .dribbble, .vimeo, .twitter, .instagram, .facebook, .image {
      width: 25%;
    }

    .case-study {
      width: 50%;

      &.vertical {
        height: 480px;
        width: 25%;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .preloader {
    overflow: hidden;
  }

  #page, .preloader {
    margin: 0 auto;
  }

  #gridWrapper {
    max-width: 1281px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1366px) {

  .grid {

    .case-study {

      &.tag {

        .wrapper {
          transform: translate3d(-50%,-50%,0);
        }

        h2 {
          margin-bottom: 18px;
          font-size: 12px;
        }

        h1 {
          font-size: 24px;
          margin-bottom: 18px;
        }

        p {
          font-size: 18px;
        }

        img.app {
          margin-top: 20px;
        }
      }

      &.genee {

        h2 {
          margin-bottom: 6px;
          font-size: 12px;
        }

        h1 {
          font-size: 24px;
          margin-bottom: 18px;
        }

        p {
          font-size: 18px;
        }
      }
    }
  }

  #footer {
    padding-bottom: 45px;

    .about {

      p {
        font-size: 21px;
      }

      .social-links {
        margin-top: 32px;
      }
    }

    .contact {

      p {
        font-size: 30px;
      }
    }
  }

  .related-case-studies .left-case-study .content {
    padding-left: 30px !important;
  }

  .more-case-studies {
    font-size: 28px !important;
  }

  a.go-top {
    bottom: 27px !important;
  }
}

@media screen and (max-width: 1280px) {

  #hero {
    padding-top: 40px;
    padding-bottom: 40px;

    .down {
      bottom: 40px;
    }
  }

  .cs-head {
    padding-top: 27px !important;
  }

  #heroBackground {
    display: none !important;
  }

  .related-case-studies {

    .tradeagrape, .djlist, .messi, .espn, .espnjo, .red-bull, .genee, .wellbin, .tn, .li5, .tigo {

      .content {
        min-height: 510px !important;
      }
    }
  }
}

@media screen and (max-width: 1200px) {

  #page, .preloader {
    width: 100%;
    margin: 0 auto;
  }

  .grid {

    .dribbble, .vimeo, .twitter, .instagram, .facebook, .case-study, .image {
      height: 215px;
    }

    .case-study {

      &.vertical {
        height: 430px;
      }
    }
  }

  #footer  {

    .contact {
      padding-left: 15px;

      a {
        margin-top: 0;
      }
    }
  }
}

@media screen and (max-width: 1140px) {

  .grid {

    .twitter {

      span.tweet {

        h1 {
          font-weight: 300;
          font-size: 16px;
          color: white;
          margin: 10px 0 15px 0;
        }
      }
    }

    .case-study {

      &.genee, &.tag {

        .wrapper {
          top: 47.5%;

          > img {
            margin: 25px 0;
          }
        }

        h1 {
          font-size: 20px;
          margin-bottom: 14px;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }

  #footer {

    .about {

      p {
        padding-right: 0 !important;
      }
    }
  }

  #caseStudyContent {

    .about-project {

      tr {
        display: table-cell;

        td {
          display: block;
          width: 100% !important;

          &:first-child {
            text-align: center;
            margin-bottom: 15px;
          }
        }
      }
    }
  }

  .related-case-studies {

    .left-case-study, .right-case-study {
      width: 100% !important;

      .content {
        max-width: initial !important;

        h2,
        h1,
        p,
        a {
          width: 100% !important;
        }
      }
    }

    .korefusion, .genee, .tradeagrape, .messi {

      img.shot {
        width: 40% !important;
      }
    }
  }
}

@media screen and (max-width: 1024px) {

  #page, .preloader {
    max-width: 100%;
    margin: 0 auto;
  }

  .grid {

    .grid-sizer, .dribbble, .vimeo, .twitter, .instagram, .facebook, .case-study, .image {
      width: 50%;
      height: 372px;
    }

    .twitter {

      span.tweet {

        h1 {
          padding-left: 100px;
          padding-right: 100px;
        }
      }
    }

    .case-study {

      h2 {
        font-size: 18px !important;
      }

      h1 {
        font-size: 33px !important;
      }

      p {
        font-size: 20px !important;
      }

      .view {
        font-size: 18px !important;
      }

      &.horizontal {

        p {
          width: 70% !important;
        }
      }

      &.vertical {

        p {
          width: 70% !important;
          margin: 0 auto !important;
        }
      }

      &.messi {
        padding-top: 40px !important;
      }

      &.genee {

        h2 {
          margin-top: 35px;
          margin-bottom: 0;
        }
      }

      &.horizontal {
        width: 100%;
      }

      &.vertical {
        width: 50%;
        height: 744px;
      }
    }
  }

  #footer {

    .bottom-right {
      padding-left: 0 !important;
      text-align: right !important;

      a {
        max-width: 16px;
        max-height: 16px;
        overflow: hidden;
        margin-right: 28px !important;
      }
    }
  }

  a.go-top {
    display: none !important;
  }

  .related-case-studies {

    .left-case-study, .right-case-study {

      .content {
        min-height: 350px !important;

        h1 {
          margin-top: 20px !important;
        }

        p {
          margin-top: 10px !important;
        }

        a {
          margin-top: 40px !important;
          margin-bottom: 35px !important;
        }
      }
    }

    .korefusion, .tradeagrape, .messi {

      img.shot {
        width: 35% !important;
      }
    }

    .genee {

      img.shot {
        width: 30% !important;
      }
    }
  }

  #caseStudyContent {

    .about-project {

      table {

        td {

          &:last-child {

            p {
              max-width: 100% !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {

  #footer  {

    .about {
      padding-bottom: 0;

      .social-links {
        display: none;
      }
    }

    .contact {
      margin-top: 50px;
      margin-bottom: 75px;
    }

    .copyright {
      display: none;
    }

    .bottom-right {
      padding-right: 15px;
    }
  }

  .grid {

    .case-study {

      h2 {
        font-size: 13px !important;
      }

      h1 {
        font-size: 24px !important;
      }

      p {
        font-size: 16px !important;
      }

      .view {
        font-size: 16px !important;
      }

      &.horizontal {

        p {
          width: 100% !important;
        }
      }

      &.vertical {

        p {
          width: 100% !important;
          margin: 0 auto !important;
        }
      }

      &.messi {

        .wrapper {
          padding-top: 20px !important;
        }
      }
    }

    .twitter {

      span.tweet {

        h1 {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }

  #case-study-block-red_bull_records {
    background-position: right top, 75% bottom !important;
    background-size: 162px 175px, 50% auto !important;
  }
}

@media screen and (max-width: 768px) {

  #hero {

    .tagline {
      //padding-right: 30px;
      //padding-left: 30px;

      h1 {
        font-size: 32px;
        line-height: 38px;
      }

      h2 {
        font-size: 19px;
        line-height: 23px;
      }
    }

    .down {
      bottom: 70px;
    }
  }

  .grid {

    .dribbble, .vimeo, .twitter, .instagram, .facebook, .case-study, .image {
      height: 290px;
    }

    .grid-sizer, .dribbble, .vimeo, .twitter, .instagram, .facebook, .image {
      width: 50%;
    }

    .case-study {
      width: 100%;

      &.vertical {
        width: 50%;
        height: 580px;
      }
    }
  }

  #footer {

    .about {
      margin-bottom: 50px;
    }

    .bottom-right {
      a {
        margin-right: 30px;
      }
    }
  }

  .cs-hero {

    .cs-head {
      padding-top: 40px !important;

      .logo {

        a {
          height: 45px;
          line-height: 45px;
          padding-left: 0;
        }
      }

      .links {

        a {
          height: 45px;
          line-height: 45px;
        }
      }
    }

    a.see-more-case-study {
      bottom: 20px !important;
    }

    .title-subtitle-stores {

      h1, .dh1 {
        font-size: 64px !important;
        margin-bottom: 10px !important;

        .toi-project {
          display: none;
        }
      }

      h2 {
        font-size: 24px !important;
        margin-bottom: 20px !important;
      }

      .stores {
        font-size: 18px;
      }
    }
  }

  .more-case-studies {
    font-size: 24px !important;

    strong {
      display: block;
    }
  }

  body#error-404 {

    .wrapper {
      max-width: 320px;

      h1 {
        font-size: 100px !important;
      }

      h2 {
        font-size: 24px !important;
      }

      a.homepage-link {
        line-height: 24px;
        font-size: 20px;

        svg {
          height: 28px;
          width: 28px;
        }
      }
    }
  }

  #case-study-block-red_bull_records {
    background-position: right top, right bottom !important;
  }
}

@media screen and (max-width: 640px) {

  #hero {
    padding-top: 30px;

    .tagline {

      h1 {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 48px;
      }

      h2 {
        font-size: 19px;
        line-height: 23px;
      }
    }

    .down {
      bottom: 30px;
    }
  }

  .cs-hero {

    .title-subtitle-stores {
      padding-left: 30px;
    }
  }

  .related-case-studies {

    .korefusion, .tradeagrape, .messi {

      img.shot {
        width: 50% !important;
      }
    }

    .genee {

      img.shot {
        width: 45% !important;
      }
    }
  }

  body#error-404 {

    a.logo {
      top: 15px;
    }

    .wrapper {
      h1 {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 480px) {

  #hero {

    .social {

      > a {
        padding: 0 10px;
      }
    }

    .tagline {

      h1 {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 10px;
      }

      h2 {
        font-size: 19px;
        line-height: 23px;
      }
    }
  }

  .grid {

    .dribbble, .vimeo, .twitter, .instagram, .facebook, .case-study, .image {
      height: 310px;
    }

    .grid-sizer, .dribbble, .vimeo, .twitter, .instagram, .facebook, .image {
      width: 100%;
    }

    .case-study {
      width: 100%;
      height: 620px;

      &.vertical {
        width: 100%;
        height: 620px;
      }

      &.horizontal {

        .wrapper {
          width: 100% !important;
          height: 40%;
          top: auto !important;
          left: 0px;
          bottom: 0px;
          right: auto;
          position: absolute !important;
        }

        .view {
          width: 100% !important;
          text-align: center;
        }

        .app {
          height: 60% !important;
          width: 100% !important;
          position: absolute;
          top: 0px;
          left: 0px;
          right: 0px;
          bottom: auto;
          max-width: none !important;
          text-align: center !important;
        }
      }

      &#case-study-block-genee {

        .wrapper {
          top: 65px !important;
          bottom: auto;
        }

        .app {
          top: auto;
          bottom: 65px;
        }

        .view {
          color: white;

          &:after {
            height: 65px;
          }

          svg {

            polygon.st0 {
              fill: white;
              stroke: white;
            }
          }
        }
      }

      &#case-study-block-tag {

        .view {
          color: #443e63;

          &:after {
            height: 65px;
          }

          svg {

            polygon.st0 {
              fill: #443e63;
              stroke: #443e63;
            }
          }
        }
      }

      &#case-study-block-djlist {
        background-size: 240px auto;
        background-position: center 5%;

        .view {
          color: white;

          &:after {
            height: 65px;
          }

          svg {

            polygon.st0 {
              fill: white;
              stroke: white;
            }
          }
        }
      }

      &#case-study-block-messi {

        .view {
          color: black;

          &:after {
            height: 65px;
          }

          svg {

            polygon.st0 {
              fill: black;
              stroke: black;
            }
          }
        }
      }

      &#case-study-block-espn {
        background-size: 110% auto;
        background-position: 100% 65%;

        .wrapper {
          height: 50%;
          top: 30px !important;
          transform: none !important;
        }

        .view {
          top: auto;
          right: 0;
          bottom: 0;
          left: 0;
          color: #f4371b;

          &:after {
            height: 65px;
          }

          svg {

            polygon.st0 {
              fill: #f4371b;
              stroke: #f4371b;
            }
          }
        }
      }

      &#case-study-block-wellbin {
        background-position: center 90px;
        background-size: 225px 161px, 100% 206px;
      }

      &.horizontal[id*=case-study-block] {

        .wrapper {
          transform: translateY(-35px) !important;
          padding-left: 25px;
          padding-right: 25px;
        }
      }

      &#case-study-block-red_bull_records {
        background-size: 162px 175px, 320px auto !important;
        background-position: right top, 38% bottom !important;
        background-position: right top, 38% calc(100% - 65px) !important;

        .wrapper {
          transform: translateY(-100%) !important;
        }

        .view {
          top: auto;
          right: 0;
          bottom: 0;
          left: 0;
          color: #CD003B;

          &:after {
            height: 65px;
          }

          svg {

            polygon.st0 {
              fill: #CD003B;
              stroke: #CD003B;
            }
          }
        }
      }
    }
  }

  #load-more-row {
    height: 198px;
  }

  .load-more {
    padding-top: 0;
    padding-bottom: 0;

    #load-more {
      font-size: 24px;
      padding-top: 65px;
      padding-bottom: 65px;

      .plus {
        font-size: 24px;
        transform: scale(.75,.75);
        margin-top: -16px;
        top: 7px;
        margin-right: 5px;
      }
    }
  }

  #footer{
    padding-bottom: 75px;

    h1 {
      margin-bottom: 25px;
    }

    .about {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 50px;

      p {
        padding-right: 0;
      }
    }

    .contact {
      padding-left: 0;

      p {
        display: inline;
      }

      a {
        margin-left: 0;
      }
    }
  }

  .bottom-left {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .bottom-right {
    padding-right: 0 !important;
    padding-left: 0 !important;
    text-align: right !important;

    a {
      max-width: 18px;
      max-height: 18px;
      overflow: hidden;
      margin-right: 28px !important;
    }
  }

  .cs-hero {

    .cs-head {

      .links {

        a {
          font-size: 16px !important;
        }
      }
    }

    .title-subtitle-stores {

      h2 {
        margin-bottom: 35px !important;
      }

      .stores a {
        display: block !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin-bottom: 15px;
      }
    }
  }

  .related-case-studies {

    .left-case-study, .right-case-study {
      width: 100% !important;

      .content {
        padding-left: 15px !important;
        max-width: initial !important;

        h2,
        h1,
        p,
        a {
          position: static !important;
          width: 100% !important;
          max-width: initial !important;
        }

        img.shot {
          display: block !important;
          position: static !important;
          float: right;
          width: auto !important;

          &:before {
            content: '';
            width: 100%;
            display: block;
            float: none;
            clear: both;
          }
        }
      }
    }

    .korefusion, .tradeagrape, .messi {

      img.shot.shot.shot {
        width: 70% !important;
      }
    }

    .genee {

      img.shot.shot.shot {
        width: 65% !important;
        margin: 0 auto !important;
        float: none !important;
        position: relative !important;
        left: -7.5px;
      }
    }

    .espn {

      img.shot.shot.shot {
        width: 100% !important;
        height: auto !important;
        transform: none;
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }

    .djlist {

      img.shot.shot.shot {
        width: 100% !important;
        right: 0 !important;
        transform: none;
      }
    }
  }

  #caseStudyContent {

    .about-project {
      padding-left: 0 !important;
      padding-right: 0 !important;

      p {
        font-size: 22px !important;
        line-height: 28px !important;
      }
    }
  }

  .footer-case-study {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  a.go-top {
    right: 50% !important;
    bottom: 15px !important;
    margin-right: -8px;
  }
}

@media screen and (max-width: 414px) {

  #hero {

    .social {

      > a {
        padding: 0 7px;
      }
    }
  }

  #footer {

    h1 {
      margin-bottom: 15px;
    }

    .about {
      p {
        font-size: 18px;
      }
    }

    .contact {

      p {
        font-size: 20px;
      }

      a {
        font-size: 20px;

        svg {
          height: 22px;
          width: 22px;
          top: 6px;
          left: 4px;
        }
      }
    }

    .separator{

      hr {
        margin: 25px 0 10px 0;
      }
    }
  }

  .cs-head {

    .links {
      padding-left: 0 !important;

      a {
        margin: 0 10px !important;

        &:first-child {
          display: none;
          margin-left: 0 !important;
        }

        &.contact {
          padding: 0 10px !important;
          margin-right: 0 !important;
        }
      }
    }
  }

  .about-project {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }

  .more-case-studies {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 375px) {

  .grid {
    .dribbble, .vimeo, .twitter, .instagram, .facebook, .case-study, .image {
      height: 282px;
    }

    .dribbble, .vimeo, .twitter, .instagram, .facebook, .image {
      width: 100%;
    }

    .case-study {
      width: 100%;
      height: 564px;

      &.vertical {
        width: 100%;
        height: 564px;
      }
    }
  }

  #hero {

    .tagline {

      > .col-xs-12 {
        padding-left: 0;
      }

      h1 {
        font-size: 32px;
        line-height: 38px;
        //padding-right: 15px;
      }

      h2 {
        font-size: 19px;
        line-height: 23px;

        a img {
          max-width: 24px;
        }
      }
    }

    .logo {
      max-width: 20%;
    }

    .social {
      max-width: 80%;
      padding-left: 0;
      padding-right: 0;

      > a {
        padding: 0 6px;
        line-height: 35px;

        img {
          max-height: 24px;
          vertical-align: middle;
        }
      }
    }
  }

  #footer {

    .contact {

      p {
        display: block;

        strong {
          display: block;
        }
      }

      a {
        display: block;
        margin-left: 0;
      }
    }

    .bottom-right, .bottom-left {
      width: 100%;
      text-align: center !important;
    }

    .bottom-left {
      margin-bottom: 20px;
    }

    .bottom-right {

      a {

        &:last-child {
          margin-right: 0 !important;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {

  #hero {

    .tagline {
      max-width: 305px;

      h1 {
        font-size: 32px;
        line-height: 38px;
        padding-right: 0;
      }

      h2 {
        font-size: 19px;
        line-height: 23px;
      }
    }
  }

  .grid {

    .dribbble, .vimeo, .twitter, .instagram, .facebook, .case-study, .image {
      height: 240px;
    }

    .case-study {
      height: 480px;

      &.vertical {
        height: 480px;
      }

      &.genee {

        .wrapper {
          height: 100%;
          width: 100%;
          transform: none;
          float: right;
          padding-top: 240px;
          position: static;
          top: auto;

          h2 {
            margin-top: 20px;
          }
        }

        .view {
          width: 100%;
          float: right;
        }

        .app {
          height: 50%;
          width: 100%;
          max-width: 100%;
          float: left;
          margin-top: -480px;
        }
      }
    }
  }

  .cs-hero {

    .cs-head {

      .links {

        a {
          font-size: 14px !important;
        }
      }
    }

    .title-subtitle-stores {

      h1 {
        font-size: 38px !important;
      }

      h2 {
        font-size: 18px !important;
      }
    }
  }

  .more-case-studies {
    font-size: 18px !important;
  }
}

@media screen and (max-height: 320px) {

  .cs-hero {

    .cs-head {
      padding-top: 20px !important;
    }

    .title-subtitle-stores {

      h1 {
        font-size: 54px !important;
      }

      h2 {
        font-size: 20px !important;
      }

      .stores {
        font-size: 16px !important;
      }
    }

    a.see-more-case-study {
      bottom: 0 !important;
    }
  }
}

/* Samsung Galaxy S6, S6+, S7, S7+ | 1440×2560 pixels ----------- */
/* Portrait */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 4) {
  #hero {

    .down {
      bottom: 130px;
    }
  }
}

/* iphone 6, 6s, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  #hero {

    .down {
      bottom: 160px;
    }
  }
}

/* iphone 6+, 6s+, 7+, 8+ */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
  #hero {

    .down {
      bottom: 160px;
    }
  }
}

/* iphone X */
@media only screen and (min-device-width: 370px) and (max-device-height: 815px) and (-webkit-device-pixel-ratio: 3) {
  #hero {

    .down {
      bottom: 170px;
    }
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  #hero {

    .down {
      bottom: 130px;
    }
  }
}

@media only screen
and (max-device-height : 380px)
and (orientation : landscape) {
  #hero {

    .down {
      bottom: 50px;
    }
  }
}

@media only screen
and (max-device-height : 415px)
and (orientation : landscape) {
  #hero {

    .down {
      bottom: 50px;
    }
  }
}
