.floating-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  padding: 0;
  z-index: 99998;
  transform: translate3d(0,0,0);
  transition: all 0.5s ease;

  &.is-hidden {
    transform: translate3d(0,-110px,0);
  }

  &__inner {
    height: 75px;
    width: 100%;
    padding: 0 0;
    background: #fff;
    box-shadow: 0 6px 6px 0 rgba(#000,.2);

    .is-hidden & {
      box-shadow: 0 0 0 0 rgba(black,0);
    }

    .menuheroright ul li a {
      color: $indicius;
    }
  }

  &__logo {

    position: absolute;
    left: 30px;
    top: 20px;
    z-index: 999999999;
    cursor: pointer;
    transition: all 0.3s ease;

    @media (min-width: 1280px) {
      top: 20px;
      left: 50%;
      margin-left: -610px;
    }

    a {
      display: inline-block;
      transition: all .3s ease;

      img,
      svg {
        width: 28px;
        height: 35px;
        max-height: 35px;
        position: relative;
        top: 0;
        vertical-align: middle;
      }

      #H,
      #D,
      #i {
        fill: white !important;
      }

      #two {
        transition: all .3s ease;
      }

      &:hover {

        #two {
          fill: white;
        }
      }
    }
  }

  &__mobile-nav {
    display: inline-block;
    float: right;
    line-height: 90px;
    position: relative;
    top: 6px;

    @media screen and (min-width: 1025px) {
      display: none;
    }

    button {
      width: 40px;
      height: 30px;
      background: transparent;
      border: 0;
      outline: 0;

      &.is-active {

        .icon {

          &::before {
            transform: translate3d(0,0,0) rotate(45deg);
          }

          &::after {
            transform: translate3d(0,0,0) rotate(-45deg);
          }
        }
      }
    }

    ul {
      display: none;
      position: absolute;
      top: 70px;
      right: 0;
      bottom: auto;
      left: auto;
      background: white;
      box-shadow: 0 6px 6px rgba(0,0,0,.2);
      padding: 15px;
      line-height: 2;
      width: 160px;
      text-align: right;

      &.is-open {
        display: block;
      }

      li {
        a {
          display: inline-block;
          padding: 0;
          font-family: "franklin-gothic-urw", sans-serif;
          font-weight: 400;
          font-size: 18px;
          color: #000000;
          letter-spacing: 0;
          text-decoration: none;
          position: relative;
        }
      }
    }
  }

  .trigger {
    width: 31px;
    height: 15px;
    position: absolute;
    top: 29px;
    right: 30px;
    bottom: auto;
    left: auto;
    z-index: 999999999;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    @media (min-width: 992px) {
      width: 35px;
    }

    @media (min-width: 1280px) {
      right: 50%;
      margin-right: -600px;
    }

    span {
      display: block;
      width: 100%;
      height: 1px;
      background: $indicius;
      margin: 0 0 6px 0;
      transition: all .2s ease-in-out;
      position: absolute;

      &:first-child {
        top: 0;
        left: 0;
      }

      &:nth-child(2) {
        top: 7px;
        left: 0;
      }

      &:last-child {
        top: 14px;
        left: 0;
      }
    }

    &.on {
      top: 19px;
      z-index: 999999999;
      position: fixed;
      background-color: $indicius;
      height: 35px;
      border-radius: 50%;

      @media (min-width: 1280px) {
        top: 19px;
      }

      span {
        background-color: #fff;
      }

      span:first-child {
        transform: rotate(45deg);
        width: 20px;
        left: 8px;
        top: 17px;
      }

      span:nth-child(2) {
        transform: rotate(-45deg);
        width: 20px;
        left: 8px;
        top: 17px;
      }

      span:last-child {
        transform: rotate(45deg);
        width: 20px;
        left: 8px;
        top: 17px;
      }
    }

    &.social {
      background-color: #fff;

      span:first-child {
        background-color: $indicius;
      }

      span:nth-child(2) {
        background-color: $indicius;
      }

      span:last-child {
        background-color: $indicius;
      }
    }
  }
}
