html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Open Sans', sans-serif;
}

#load-more {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  line-height: 1;

  &.done {

    &:before {
      content: "No hay mas :(";
    }

    a {
      display: none;
    }
  }

  a {
    background: black;
    color: white;
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background: #333;
    }

    &.working,
    &.working:hover {
      opacity: .3;
      cursor: default;
    }
  }
}

$item-width: 200px;
$item-margin: 10px;

#grid-test {
  width: ($item-width * 4 + $item-margin * 3);
  margin: 0 auto;
  padding: 20px 0 100px 0;
}

ul#items {
  @extend %clearfix;
  width: ($item-width * 4 + $item-margin * 4);
  margin-left: -$item-margin;
  transition: all 300ms ease-in-out;

  li {
    box-sizing: border-box;
    float: left;
    width: $item-width;
    height: $item-width;
    border: 1px solid #ccc;
    margin: 0 0 $item-margin $item-margin;
    text-align: center;
    transition: all 300ms ease-in-out;
    transform: translate3d(0, 0, 0);
    opacity: 1;

    strong {
      margin-top: 40px;
      display: block;
    }

    &.added {
      opacity: 0;
      transform: translate3d(0, 20px, 0);
    }

    &.shot {
      background: #ea4b89;
      color: white;
    }

    &.image {

      img {
        max-width: 100%;
        display: block;
      }
    }

    &.case-study {
      background: #f4f4f4;
      position: relative;

      a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &[data-vertical] {
        height: $item-width * 2 + $item-margin;
      }

      &[data-horizontal] {
        width: $item-width * 2 + $item-margin;
      }
    }
  }
}

p {
  margin: 0;
}
