$color-transition-speed: 700ms;
$content-transition-speed: 200ms;

#page {
  min-height: 100%;
  height: 100%;
  opacity: 1;
  transform: translate(0);
  transition: all $content-transition-speed ease-in-out 0;
}

#transition-wrapper {
  position: fixed;
  bottom: -2000px;
  left: -2000px;
  right: -2000px;
  pointer-events: none;
}

#transition-color {
  width: 4000px;
  height: 4000px;
  margin: 0 auto -2px auto;
  border-radius: 50%;
  transform: translate3d(0,0,0) scale3d(.001, .001, 1);
  perspective: 1000px;
  transition: all 0.1s ease-in-out;
}

body.transitioning #transition-color {
  transition: all $color-transition-speed ease-in-out 250ms;
  transition: all $color-transition-speed ease-in-out 250ms;
  transform: translate3d(0,0,0) scale3d(1, 1, 1);
  transform: translate3d(0,0,0) scale3d(1, 1, 1);
}
