doctype html
html
  head
    meta content='text/html; charset=UTF-8' http-equiv='Content-Type'
  body
    div style="background: #f9f9f9; padding: 40px 0 60px; line-height: normal;"
      div style="background: #ffffff; padding: 10px 30px; margin: 0 auto; width: 520px; font-size: 15px; box-shadow: 0 0 10px rgba(0,0,0,.05);"
        p style="font-size: 16px; font-weight: bold;"
          ="#{@fields.name} (#{@fields.address}) wrote:"
        hr style="background: #32bbdb; height: 1px; border: 0; margin: 10px 0;"
        =simple_format(@fields.message)
