a.logo href="/"
  img src=image_path("LogoIndicius@2x.png") alt="Indicius" title="Indicius"

.wrapper
  h1 404
  h2 We're sorry. The page you're looking for doesn't exist.
  a.homepage-link href="/"
    =inline_svg "getInTouch.svg"
    | Go to the Homepage
