ruby:
  @page_title = "Indicius - Case Studies - Digital Agency highly experienced in design and development"
  @page_description = "Here we present our Case Studies. We take pride in designing and building beautiful, highly functional websites and products. We also create unique visual identities and high impact 2D/3D animations."
  @page_thumb = image_url('thumbnails/indicius.png')

.flex-container.cases-container

  .row
    .logocases
      a href="/" data-color="#ffffff" title="Indicius"
        img data-src=image_path("LogoIndicius@2x.png") alt="Indicius" title="Indicius" src=image_path("spacer.png")
    .menuheroright
      ul
        li
          a href="/" Home
        li
          a href="/agency" Agency
        li
          a href="/case-studies" Case Studies
        li
          a href="/lets-talk" Contact

    a.col-sm-12.col-md-12.element.samsung-dev-conference href="/case-study/samsung-dev-conference"
      img src=image_path("case-studies/listing/samsung-dev-conference.png") alt="Samsung Dev Conference"
      h3
        span UX/UI, Website Development
      h2
        span Samsung Dev Conference
      =render partial: 'shared/arrow_white'

    .col-sm-12.col-md-6
      .row
        a.col-sm-12.element.cluey href="/case-study/cluey"
          img src=image_path("case-studies/listing/cluey.png") alt="Cluey"
          h3.wow.fadeInDown2
            span Branding, UX/UI, Illustrations
          h2.wow.fadeInDown2 data-wow-delay="0.1s"
            span Cluey
          =render partial: 'shared/arrow_blue'

        a.col-sm-12.element.metacenter href="/case-study/metacenter"
          img src=image_path("case-studies/metacenter/metacenter-block-mobile-new.png") alt="Metacenter"
          h3.wow.fadeInDown2
            span UX Research, UX/UI Design, Design System & Front-End
          h2.wow.fadeInDown2 data-wow-delay="0.1s"
            span Metacenter
          =render partial: 'shared/arrow_white'

    a.col-sm-12.col-md-6.element.vinco href="/case-study/vinco"
      img src=image_path("case-studies/vinco/banner-home-img.svg") alt="Vinco"
      h3.wow.fadeInDown2
        span Branding, UX/UI, Motion UI, Illustrations
      h2.wow.fadeInDown2 data-wow-delay="0.1s"
        span Vinco
      =render partial: 'shared/arrow_white'

    a.col-sm-12.col-md-12.element.red-bull href="/case-study/red-bull-records"
      img src=image_path("case-studies/listing/redbull@2x.png") alt="redbull"
      h3
        span UX/UI, Website Development
      h2
        span Red Bull Records
      =render partial: 'shared/arrow_white'

    a.col-sm-12.col-md-6.element.polyvibe href="/case-study/polyvibe"
      img src=image_path("case-studies/listing/polyvibe@2x.png") alt="polyvibe"
      h3.wow.fadeInDown2
        span Branding, UX/UI, Motion UI
      h2.wow.fadeInDown2 data-wow-delay="0.1s"
        span Polyvibe
      =render partial: 'shared/arrow_white'

    .col-sm-12.col-md-6
      .row
        a.col-sm-12.col-md-12.element.kibow href="/case-study/kibow"
          img src=image_path("case-studies/listing/kibow.png") alt="Kibow"
          h3.wow.fadeInDown2
            span UX/UI, Front-End Development
          h2.wow.fadeInDown2 data-wow-delay="0.1s"
            span Kibow
          =render partial: 'shared/arrow_blue'

        a.col-sm-12.col-md-12.element.genee href="/case-study/genee"
          img src=image_path("case-studies/listing/genee@2x.png") alt="genee"
          img.mob src=image_path("case-studies/listing/genee-mob.png") alt="genee-mob"
          h3.wow.fadeInDown2
            span UX/UI, iOS Development
          h2.wow.fadeInDown2 data-wow-delay="0.1s"
            span Genee
          =render partial: 'shared/arrow_green'

    a.col-sm-12.col-md-12.element.li5 href="/case-study/li5"
      img.img1 src=image_path("case-studies/listing/li5phone@2x.png") alt="li5phone"
      img.img2 src=image_path("case-studies/listing/li5liquid@2x.png") alt="li5liquid"
      h3.wow.fadeInDown2
        span Branding, UX/UI, Motion UI
      h2.wow.fadeInDown2 data-wow-delay="0.1s"
        span Li5
      =render partial: 'shared/arrow_white'

    a.col-sm-12.col-md-6.element.tigo href="/case-study/tigo-sports-noticias"
      img src=image_path("case-studies/listing/tigo1.png") alt="tigo1"
      img class="second" src=image_path("case-studies/listing/tigo2.png") alt="tigo2"
      h3.wow.fadeInDown2
        span Graphic Design, 3D Animation, Motion Graphics
      h2.wow.fadeInDown2 data-wow-delay="0.1s"
        span Tigo
      =render partial: 'shared/arrow_white'

    a.col-sm-12.col-md-6.element.espn href="/case-study/espn-rio-2016"
      h3.wow.fadeInDown2
        span Graphic Design, Motion Graphics
      h2.wow.fadeInDown2 data-wow-delay="0.1s"
        span ESPN Río
      =render partial: 'shared/arrow_white'

    a.col-sm-12.col-md-6.element.espnfc href="/case-study/espn"
      img src=image_path("case-studies/listing/espnfc@2x.png") alt="espnfc"
      h3.wow.fadeInDown2
        span Graphic Design, Motion Graphics
      h2.wow.fadeInDown2 data-wow-delay="0.1s"
        span ESPN FC
      =render partial: 'shared/arrow_white'

    a.col-sm-12.col-md-6.element.tag href="/case-study/tag"
      img src=image_path("case-studies/listing/tag@2x.png") alt="tag"
      h3.wow.fadeInDown2
        span Branding, UX/UI, iOS & Android Development
      h2.wow.fadeInDown2 data-wow-delay="0.1s"
        span Tradeagrape
      =render partial: 'shared/arrow_white'

    a.col-sm-12.col-md-6.element.wellbin href="/case-study/wellbin"
      img src=image_path("case-studies/listing/wellbin@2x.png") alt="wellbin"
      h3.wow.fadeInDown2
        span Art Direction, Illustration, 2D Animation
      h2.wow.fadeInDown2 data-wow-delay="0.1s"
        span Wellbin
      =render partial: 'shared/arrow_white'

    a.col-sm-12.col-md-12.element.tnrebrand href="/case-study/tn-rebrand-2016"
      h3.wow.fadeInDown2
        span Graphic Design, 3D Animation, Motion Graphics
      h2.wow.fadeInDown2 data-wow-delay="0.1s"
        span TN
      =render partial: 'shared/arrow_white'

    a.col-sm-12.col-md-6.element.djlist href="/case-study/dj-list"
      img src=image_path("case-studies/listing/djlist@2x.png") alt="djlist"
      h3.wow.fadeInDown2
        span UX/UI, Front-End
      h2.wow.fadeInDown2 data-wow-delay="0.1s"
        span The DJ List
      =render partial: 'shared/arrow_white'

    a.col-sm-12.col-md-6.element.messi href="/case-study/messi"
      img src=image_path("case-studies/listing/messi@2x.png") alt="messi"
      h3.wow.fadeInDown2
        span UX/UI, iOS & Android Development
      h2.wow.fadeInDown2 data-wow-delay="0.1s"
        span Messi
      =render partial: 'shared/arrow_white'
