@import 'front/colors';
@import 'front/fonts';
@import 'front/media-queries';

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background: $indicius;
  text-align: center;
  font-family: "franklin-gothic-urw", sans-serif;
  position: relative;
}

a.logo {
  position: fixed;
  top: 40px;
  left: 50%;
  margin-left: -14px;

  img {
    max-width: 28px;
  }
}

h1, h2 {
  font-family: "franklin-gothic-urw", sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 550px;
  position: absolute;
  top: 50%;
  left: 50%;

  h1 {
    font-size: 180px;
    font-weight: 300;
    color: white;
    line-height: 1;
    margin: 0 0 45px 0;
  }

  h2 {
    font-size: 40px;
    font-weight: 300;
    color: rgba(white,.75);
    line-height: 1.2;
    margin: 0 0 25px 0;
  }

  a.homepage-link {
    line-height: 34px;
    display: inline-block;
    font-size: 28px;
    color: white;
    font-weight: 300;
    text-decoration: none;
    transition: color .2s ease-in-out, transform .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
    top: -5px;

    strong {
      font-weight: 400;
    }

    svg {
      position: relative;
      top: 7px;
      left: 6px;
      display: inline-block;
      margin-right: 15px;
      transform: rotate(180deg);

      path, polygon {
        fill: #ffffff;
        transition: fill .1s ease-in-out;
      }
    }

    &:hover {
      color: $hover;

      svg {

        path, polygon {
          fill: $hover;
        }
      }
    }

    &:active {
      transform: scale(.9,.9);
    }
  }
}
