ruby:
  @page_title = "Indicius - Let's Talk - Digital Agency highly experienced in design and development"
  @page_description = "We take pride in designing and building beautiful, highly functional websites and products. We also create unique visual identities and high impact 2D/3D animations."
  @page_thumb = image_url('thumbnails/indicius.png')

.flex-container.cases-container

  .row
    .logocases
      a href="/" data-color="#ffffff" title="Indicius"
        img data-src=image_path("indi-cyan.svg") alt="Indicius" title="Indicius" src=image_path("spacer.png")
    .menuheroright.dark
      ul
        li
          a href="/" Home
        li
          a href="/agency" Agency
        li
          a href="/case-studies" Case Studies
        li
          a href="/lets-talk" Contact
br
br
br
br
