= form_for(@image, url: @form_url, html: { multipart: true }) do |f|

  - if @image.errors.any?
    .alert.alert-error
        ul
          li.title ="Opps! #{pluralize(@image.errors.count, "error")} found:"
          - @image.errors.full_messages.each do |message|
            li =message

  .tip
    .label Tip:
    | The ideal size for images is <strong>800x600</strong>.

  .field
    =f.label :link
    =f.text_field :link

  .field
    =f.label :grid_image
    - if @image.persisted?
      div
        =image_tag(@image.grid_image_url)
      br
      p Select a new image to replace the existing one:

    = f.file_field :grid_image

  .actions
    =f.submit @image.persisted? ? 'Update' : 'Create', class: 'button'
