.dribbble.fact class="grid-item wow fadeIn"
  a href=presenter.data[:url] target="_blank"
    .facts
      .follow-us
        .text Follow Us
      .wrapper
        img data-src=image_path("Dribble_Grid@2x.png") src=image_path("spacer.png") alt="dribble img"
        h2 =presenter.data[:followers]
