.facebook.fact class="grid-item wow fadeIn"
  a href=presenter.data[:url] target="_blank"
    .like-us
      .wrapper
        img data-src=image_path("Like_Hover@2x.png") src=image_path("spacer.png") alt="hover facebook"
        h1 Like Us
    .facts
      .wrapper
        img data-src=image_path("Facebook_Grid@2x.png") src=image_path("spacer.png") alt="facebook img"
        h2 =presenter.data[:likes]
