- if presenter.link.blank?
  div [
    class="image grid-item wow fadeIn"
    data-wow-offset="50"
    style="background-image: url(#{presenter.grid_image_url})"
  ]
- else
  a [
    class="image grid-item wow fadeIn"
    data-wow-offset="50"
    style="background-image: url(#{presenter.grid_image_url})"
    href=presenter.link
    target="_blank"
  ]
    span
