a.dribbble [
  class="grid-item wow fadeIn"
  style="background-image: url(#{presenter.static_image})"
  data-wow-offset="50"
  href=presenter.url
  target="_blank"
  data-animated-version=(presenter.animated_image)
]

  .shot-content-wrapper
    span.shot-content
      img src=image_path('Dribbble_Grid@2x.png') alt="Dribbble"
      span.text View Dribbble shot

  span
  /<-- gif inserted as img tag here

/ srcset implementation example
 = image_srcset_tag(presenter.static_image, {'400w': presenter.static_image, '1600w': presenter.static_image_hd}, sizes:"(max-width: 500px) 400px, 1600px)", alt: "Dribbble")
