.twitter class="grid-item wow fadeIn" data-wow-offset="50"
  a href=presenter.url target="_blank"
    .follow-us
      .wrapper
        =inline_svg "Twitter_Grid.svg"
        h1 Follow us
    .tweet
      =inline_svg "Twitter_Grid.svg"
      h1 =presenter.text.html_safe
      h2 data-livestamp=presenter.timestamp
        | &nbsp;
