.what-we-do__cornerstones {
  
  .cornerstones__grid.grid.grid--2-columns { // To beat the depth of the original CSS
    margin-top: 42px;

    @include breakpoint(medium) {
      margin-top: 95px;
    }

    .grid__item {
      margin-bottom: 48px;

      .cornerstone {
        max-width: 455px;
        height: 100%;
        display: flex;

        .cornerstone__number {
          width: 40px;
          margin-right: 8px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          color: #E5E5E5;

          span {
            display: block;
            position: relative;
            left: -2px;
            margin-bottom: 16px;
            font-size: 18px;
            line-height: 1em;
            transform: rotate(90deg);
          }

          .line {
            width: 1px;
            height: 100%;
            background-color: #E5E5E5;
          }
        }

        .cornerstone__content {
          margin-top: 56px;
          
          h2 {
            margin-bottom: 4px;
            color: $cyan;
          }

          .subtitle {
            display: block;
            margin-bottom: 24px;
            color: $cyan;
          }

          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}