.what-we-do__services {
  background-color: $gray;

  .services__grid {

    .grid__item {

      .service {
        max-width: 354px;
        height: 100%;
        padding: 32px 32px 56px 32px;
        background-color: $white;
        font-size: 14px;
        border-radius: 2px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

        h3 {
          margin-bottom: 24px;
          // font-family: "FranklinGothicURWBoo";
          font-size: 24px;
          color: $cyan;
          letter-spacing: 0.02em;

          &:before {
            content: '';
            width: 32px;
            height: 2px;
            display: block;
            margin-bottom: 16px;
            background-color: $yellow;
          }
        }

        ul {

          li {
            margin-bottom: 4px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}