$template_name: "cluey";
$clueyAqua: #38d6c5;
$clueyOrange: #faad01;

ul#items {

  li#case-study-block-#{$template_name} {
    background: $clueyAqua;

    a {
      color: white;
    }
  }
}

body#case-study-page-#{$template_name} {
  color: white;
  @include background_and_loading_colors($clueyAqua, $clueyAqua, white);

  .cs-head {

    a {
      text-decoration: none;
      color: white;
    }

    .links {

      a {

        &.contact {
          border-color: white;

          &:hover {
            color: white;
          }
        }
      }
    }
  }

  .title-subtitle-stores {

    h1 {
      color: white;
    }

    h2 {
      color: white;
    }

    .stores {
      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  .more-case-studies {
    background-color: white;
    color: #98999D;

    strong {
      color: #162B31;
    }
  }

  a.see-more-case-study {

    svg {

      path {
        stroke: $clueyAqua;
        fill: $clueyAqua;
      }
    }
  }

  #caseStudyContent {
    background: white;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;

    @media screen and (max-width: 736px) {
      overflow-y: hidden;
    }

    .about-project-wrapper {
      background: white;
      background-color: rgba(250, 173, 1, .15);
    }

    .about-project {
      padding: 150px 30px;
      padding-left: 15px;
      padding-right: 15px;

      @media screen and (max-width: 736px) {
        padding-left: 0;
        padding-right: 0;
        padding-top: 60px;
        padding-bottom: 60px;
      }

      table,
      tr {

        td {

          &:first-child {
            color: #1A2B44;
          }

          &:last-child {

            p {
              color: #1A2B44;
            }
          }

          @media screen and (max-width: 736px) {

            &:first-child {
              font-size: 28px;
              line-height: 24px;
              text-align: center;
            }

            &:last-child {
              p {
                font-size: 16px !important;
                line-height: 23px !important;
                text-align: center;
              }
            }
          }
        }
      }
    }

    .branding {
      padding-top: 260px;
      padding-bottom: 260px;
      background: white image-url("case-studies/cluey/post-its.png") no-repeat center center;
      background-size: 1649px auto;

      @media screen and (max-width: 1024px) {
        padding-top: 30px;
        padding-bottom: 30px;
      }

      .excerpt {
        text-align: center;
        max-width: 365px;
        margin-left: auto;
        margin-right: auto;
      }

      h2 {
        margin-top: 0;
        color: #152737;
        font-weight: normal;
        font-size: 42px;

        @media screen and (max-width: 768px) {
          font-size: 38px;
        }
      }

      p {
        color: #757c84;
        font-weight: normal;
        font-size: 22px;
        line-height: 1.25;
        margin-bottom: 0;
      }
    }

    .image-3d {
      width: 100%;
      display: block;
    }

    .logo {
      padding-top: 160px;
      padding-bottom: 160px;

      @media screen and (max-width: 1024px) {
        padding-top: 30px;
        padding-bottom: 30px;
      }
    }

    .boarding-pass {
      padding-top: 60px;
      padding-bottom: 290px;
      background: white image-url("case-studies/cluey/boarding-pass-image.png") no-repeat;
      background-position: calc(100% + 15px) center;
      background-size: 700px auto;

      @media screen and (max-width: 1024px) {
        padding-top: 30px;
        padding-bottom: 30px;
      }

      @media screen and (max-width: 991px) {
        background-image: none;
      }

      .excerpt {
        @media screen and (min-width: 1280px) and (max-width: 1440px) {
          max-width: 320px;
        }
      }

      h2 {
        margin-top: 0;
        color: #152737;
        font-weight: normal;
        font-size: 42px;
        line-height: 1;

        @media screen and (max-width: 768px) {
          text-align: center;
          font-size: 38px;
        }
      }

      p {
        color: #757c84;
        font-weight: normal;
        font-size: 22px;
        line-height: 1.25;
        margin-bottom: 0;

        @media screen and (max-width: 768px) {
          text-align: center;
        }
      }

      .boarding-pass-img {
        margin-top: 30px;
        position: relative;
        left: 60px;
      }
    }

    .colors {
      .colors-image {
        width: 90%;
        margin-top: -220px;
        z-index: 3;
        position: relative;

        @media screen and (max-width: 1024px) {
          margin-top: 30px;
        }
      }
    }

    .illustration {
      padding-top: 120px;
      padding-bottom: 30px;
      background: $clueyOrange;
      text-align: center;
      margin-top: -90px;
      position: relative;
      z-index: 2;

      .polaroids {
        position: absolute;
        top: 100%;
        right: auto;
        bottom: auto;
        left: 50%;
        transform: translate(-50%, -50%);

        @media screen and (max-width: 991px) {
          display: none;
        }
      }

      @media screen and (max-width: 1024px) {
        margin-top: -30px;
        padding-top: 60px;
        padding-bottom: 30px;
      }

      h2 {
        margin-top: 0;
        color: white;
        font-weight: normal;
        font-size: 42px;
        margin-bottom: 15px;
        line-height: 1;

        @media screen and (max-width: 768px) {
          font-size: 38px;
        }
      }

      p {
        color: white;
        font-weight: normal;
        font-size: 22px;
        line-height: 1.25;
        margin-bottom: 0;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
      }

      .animated-svg {
        margin-top: 30px;
        transform: translate(0, 65%);
        max-width: calc(100% - 30px);
        text-align: center;

        @media screen and (min-width: 1024px) {
          max-height: 200px;
        }

        @media screen and (max-width: 991px) {
          transform: none;
        }

        svg {
          width: 90%;
          height: auto;
          max-width: 440px;
        }
      }
    }

    .heroes {
      padding-top: 320px;
      padding-bottom: 60px;

      @media screen and (max-width: 991px) {
        padding-top: 30px;
        padding-bottom: 30px;
      }

      @mixin aspect-ratio($width, $height) {
        position: relative;

        &::before {
          display: block;
          content: "";
          width: 100%;
          padding-top: ($height / $width) * 100%;
        }

        > .content {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          overflow: hidden;
          border-radius: 4px;
        }
      }

      .hero-carousel {
        @include aspect-ratio(1180, 644);

        &-indicators {
          text-align: center;
          margin-top: 15px;
        }

        &-indicator {
          height: 10px;
          width: 50px;
          margin: 15px 7.5px;
          position: relative;
          cursor: pointer;
          font-size: 0;
          color: transparent;
          opacity: .35;
          border: 0;
          background: 0;

          &.is-active {
            opacity: 1;
          }

          &::before {
            content: '';
            height: 2px;
            width: 100%;
            position: absolute;
            top: 50%;
            right: auto;
            bottom: auto;
            left: 0;
            margin-top: -1px;
            background: $clueyOrange;
          }
        }
      }
    }

    .elements {
      padding-top: 60px;
      padding-bottom: 60px;
      background: white;

      @media screen and (max-width: 1024px) {
        padding-top: 30px;
        padding-bottom: 30px;
      }

      .questionaire {
        margin-top: 15px;
      }

      h2 {
        margin-top: 0;
        color: #152737;
        font-weight: normal;
        font-size: 42px;
        line-height: 1;

        @media screen and (max-width: 768px) {
          text-align: center;
          font-size: 38px;
        }
      }

      p {
        color: #757c84;
        font-weight: normal;
        font-size: 22px;
        line-height: 1.25;
        margin-bottom: 0;

        @media screen and (max-width: 768px) {
          text-align: center;
        }
      }
    }

    .desktop-phone {
      padding-top: 60px;
      padding-bottom:60px;
      text-align: center;

      @media screen and (max-width: 1024px) {
        padding-top: 30px;
      }
    }

    .conclussion {
      padding-top: 90px;
      padding-bottom:60px;
      background: $clueyOrange;
      text-align: center;
      position: relative;

      @media screen and (max-width: 1024px) {
        padding-top: 60px;
        padding-bottom: 30px;
      }

      .beach-separator {
        position: absolute;
        top: 0;
        right: auto;
        bottom: auto;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      h2 {
        margin-top: 0;
        color: white;
        font-weight: normal;
        font-size: 42px;
        line-height: 1;

        @media screen and (max-width: 768px) {
          font-size: 38px;
        }
      }

      p {
        color: white;
        font-weight: normal;
        font-size: 22px;
        line-height: 1.25;
        margin-bottom: 0;

        @media screen and (max-width: 1024px) {
          margin-bottom: 15px;
        }
      }
    }
  }

}

.modalindi {
    opacity: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    height: 0;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    transition: 0.5s opacity ease;

    .modalindi-content {
        background-color: #000;
        margin: 100px auto;
        padding: 20px;
        border: 1px solid #888;
        width: 55%;

        .closeMicro {
            color: #6A676C;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .closeMicro:hover,
        .closeMicro:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }
}
