$template_name: "djlist";
$djListPurple: #64008a;

ul#items {

  li#case-study-block-#{$template_name} {
    background: $djListPurple;

    a {
      color: white;
    }
  }
}

body#case-study-page-#{$template_name} {
  color: white;
  background: $chalk;

  #page {
    @include background_and_loading_colors($djListPurple, $djListPurple, white);
  }

  .cs-head {

    a {
      text-decoration: none;
      color: white;
    }

    .links {

      a {

        &.contact {
          border-color: white;

          &:hover {
            color: $djListPurple;
          }
        }
      }
    }
  }

  .title-subtitle-stores {

    h1 {
      color: white;
    }

    h2 {
      color: rgba(white, .5);
    }

    .stores {

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  a.see-more-case-study {

    svg {

      path {
        stroke: $djListPurple;
        fill: $djListPurple;
      }
    }
  }

  #caseStudyContent {
    background: white;
    padding-left: 0;
    padding-right: 0;

    .about-project {
      table,
      tr {
        td {
          &:first-child {
            color: #152737;
          }

          &:last-child {

            p {
              color: #1a2b44;
            }
          }
        }
      }

      a {
        color: $djListPurple;
        text-decoration: none;
      }
    }

    .consistency {
      height: 800px;
      width: 100%;
      padding-top: 200px;
      position: relative;
      margin: 0 0 400px 0;
      background: #944cb8; /* Old browsers */
      background: linear-gradient(to bottom,  #944cb8 0%,#2dcaa2 100%);

      h1 {
        font-size: 38px;
        font-weight: 300;
        color: white;
        letter-spacing: 8px;
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 80px 0 !important;
        line-height: 46px;
      }

      h2 {
        color: #dcfff9;
        font-size: 22px;
        font-weight: 300;
        line-height: 28px;
        margin: 0 auto 190px auto;
        max-width: 830px;
        text-align: center;
      }

      img.waves,
      img.showcase {
        position: absolute;
        top: auto;
        bottom: 0;
        left: 50%;
        right: auto;
        max-width: 100%;
      }
    }

    .onboarding {
      width: 100%;
      background: $djListPurple;
      padding-top: 160px;
      text-align: center;

      > .container {
        overflow-x: hidden;
      }

      h1 {
        text-align: center;
        color: white;
        font-size: 38px;
        font-weight: 300;
        letter-spacing: 8px;
        text-transform: uppercase;
        line-height: 46px;
      }

      h2 {
        text-align: center;
        margin: 90px auto 160px auto;
        color: #e6c4f3;
        font-size: 22px;
        font-weight: 300;
        line-height: 28px;
        max-width: 570px;
      }

      .steps {
        position: relative;

        &:after {
          content: '';
          display: block;
          width: 200%;
          height: 1px;
          position: absolute;
          top: 60px;
          left: 0;
          right: 0;
          bottom: auto;
          background: #782d95;
          z-index: 2;
          margin-left: -50%;
        }
      }

      .step1,
      .step2,
      .step3 {
        padding: 0 30px;
        text-align: center;
        position: relative;

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 53px;
          left: 50%;
          margin-left: -8px;
          width: 16px;
          height: 16px;
          border: 1px solid #aa68c3;
          border-radius: 8px;
          background: white;
          box-shadow: inset 0 0 0 3px $djListPurple;
          z-index: 3;
        }

        > img {
          max-width: 100%;
        }

        p {
          color: #e8c3f7;
          font-size: 13px;
          font-weight: 400;
          text-transform: uppercase;
          padding: 0 0 40px 0;
          margin: 0 0 55px 0;

          strong {
            color: white;
            font-size: 14px;
            font-weight: 500;
            padding-right: 10px;
          }
        }
      }

      img.laptop {
        position: relative;
        top: 120px;
      }
    }

    .event-details {
      padding-top: 140px;
      padding-bottom: 70px;
      text-align: center;
      text-transform: uppercase;
      color: #a4afad;
      font-size: 10px;
      font-weight: 500;
      letter-spacing: 2.73px;

      > img {
        display: block;
        margin: 0 auto 15px auto;
      }
    }

    .iphone-app {
      height: 1200px;
      width: 100%;
      background: #22ca9e image-url("case-studies/djlist/iphoneApp.png") no-repeat center top;
      background-size: cover;
      padding-top: 80px;
      text-align: center;

      h1 {
        text-align: center;
        color: white;
        font-size: 38px;
        font-weight: 300;
        letter-spacing: 8px;
        text-transform: uppercase;
      }

      h2 {
        text-align: center;
        margin: 50px auto 160px auto;
        color: #9cffe5;
        font-size: 22px;
        font-weight: 300;
        line-height: 28px;
        max-width: 570px;
      }
    }

    img.full-width-web {
      width: 100%;
    }
  }

  .more-case-studies {
    background: white;
    color: #98999d;

    strong {
      color: black;
    }
  }
}

@media screen and (max-width: 1024px) {

  body#case-study-page-#{$template_name} {

    .onboarding {

      img.laptop {
        max-width: 90%;
      }
    }

    .iphone-app {
      padding-top: 80px !important;
    }
  }
}

@media screen and (max-width: 768px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .about-project {

        tr {

          td:last-child {

            p {
              font-size: 16px !important;
              line-height: 23px !important;
              text-align: center;
            }
          }
        }
      }
    }

    .consistency {
      height: 700px !important;
      margin-bottom: 300px !important;

      h1 {
        font-size: 32px !important;
        letter-spacing: 4px !important;
      }
    }

    .onboarding {
      padding-top: 80px !important;

      h1 {
        font-size: 32px !important;
        letter-spacing: 4px !important;
      }

      h2 {
        padding-left: 15px;
        padding-right: 15px;
        margin: 50px auto 80px auto !important;
      }

      img.laptop {
        position: static !important;
        top: auto;
        margin-top: 20px;
        margin-bottom: -120px;
      }
    }

    .iphone-app {

      h1 {
        font-size: 32px !important;
        letter-spacing: 4px !important;
      }

      h2 {
        padding-left: 15px;
        padding-right: 15px;
        margin: 50px auto 80px auto !important;
      }
    }
  }
}

@media screen and (max-width: 640px) {

  body#case-study-page-#{$template_name} {

    .consistency {
      padding-top: 100px !important;
      height: 600px !important;
      margin-bottom: 200px !important;
    }

    .onboarding {

      .steps {

        &:after {
          display: none !important;
        }

        .step1,
        .step2,
        .step3 {

          p {
            padding-bottom: 30px !important;
            margin-bottom: 30px !important;
          }

          &:after {
            top: 45px !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {

  body#case-study-page-#{$template_name} {

    .onboarding,
    .iphone-app {

      h1,
      h2 {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}

@media screen and (max-width: 320px) {

  body#case-study-page-#{$template_name} {

    .consistency {
      height: 700px !important;
      margin-bottom: 150px !important;
    }

    .iphone-app {
      height: 1000px !important;
    }
  }
}
