$template_name: "espn";
$espnRed: #F13929;

ul#items {

  li#case-study-block-#{$template_name} {
    background: $espnRed;

    a {
      color: white;
    }
  }
}

body#case-study-page-#{$template_name} {
  color: white;
  @include background_and_loading_colors($espnRed, $espnRed, white);

  .cs-head {

    a {
      text-decoration: none;
      color: white;
    }

    .links {

      a {

        &.contact {
          border-color: white;

          &:hover {
            color: $espnRed;
          }
        }
      }
    }
  }

  .title-subtitle-stores {

    h1 {
      color: white;
    }

    h2 {
      color: rgba(black, .25);
    }

    .stores {

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  a.see-more-case-study {

    svg {

      path {
        stroke: $espnRed;
        fill: $espnRed;
      }
    }
  }

  #caseStudyContent {
    background: white;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
    overflow-y: auto;

    .about-project {

      table,
      tr {

        td {

          &:first-child {
            color: #152737;
          }

          &:last-child {

            p {
              color: #1a2b44;
            }
          }
        }
      }
    }

    .graphic-package {
      background: transparent image-url("case-studies/espn/graphic-package-bg.jpg") no-repeat center center;
      background-size: 100% auto;
      background-size: cover;

      .container {
        padding: 350px 30px;
        text-align: center;

        img {
          width: 100%;
          max-width: 546px;
          position: relative;
          left: 50px;
        }
      }
    }

    .kickoffnormal {
      padding: 350px 15px;
      background: #1C1D1F image-url("case-studies/espn/pattern-top.png") no-repeat center top;
      background-size: 100% auto;
      position: relative;

      img.image {
        width: 50%;
        max-width: 831px;
        position: absolute;
        top: 250px;
        right: 0;
        bottom: auto;
        left: auto;
      }

      .text {

        h2 {
          font-size: 18px;
          color: $messiOrange;
          letter-spacing: 3px;
          line-height: 21px;
          text-transform: uppercase;
          font-weight: 500;
          margin: 0 0 15px 0;
        }

        h1 {
          font-weight: 300;
          font-size: 52px;
          color: white;
          line-height: 62px;
          margin: 0 0 45px 0;
          text-transform: capitalize;
        }

        p {
          font-weight: 300;
          font-size: 24px;
          color: #7B7D84;
          line-height: 30px;
        }
      }
    }

    .broadcast {
      padding: 250px 15px;
      background: #212224 image-url("case-studies/espn/la-bg.jpg") no-repeat center center;
      background-size: 100% auto;
      background-size: cover;

      .content {
        background: #18191B;
        padding: 90px 15px 135px 150px;
        margin-right: -15px;
        position: relative;

        .flags-divider {
          display: inline-block;
          margin-bottom: 90px;
          max-width: 805px;
        }

        h2 {
          font-size: 18px;
          color: $messiOrange;
          letter-spacing: 3px;
          line-height: 21px;
          text-transform: uppercase;
          font-weight: 500;
          margin: 0 0 15px 0;
        }

        h1 {
          font-weight: 300;
          font-size: 52px;
          color: white;
          line-height: 62px;
          margin: 0 0 45px 0;
          text-transform: capitalize;
        }

        p {
          font-weight: 300;
          font-size: 24px;
          color: #7B7D84;
          line-height: 30px;
          max-width: 450px;
        }

        img.la-map {
          position: absolute;
          width: 638px;
          height: auto;
          top: 50%;
          right: auto;
          bottom: auto;
          left: -560px;
        }
      }
    }

    .on-screen {
      padding: 90px 15px 500px 15px;
      background: #18191A;
      position: relative;

      .text {
        text-align: center;

        h2 {
          font-size: 18px;
          color: $messiOrange;
          letter-spacing: 3px;
          line-height: 21px;
          text-transform: uppercase;
          font-weight: 500;
          margin: 0 0 15px 0;
        }

        h1 {
          font-weight: 300;
          font-size: 52px;
          color: white;
          line-height: 62px;
          margin: 0 0 45px 0;
          text-transform: capitalize;
        }

        p {
          font-weight: 300;
          font-size: 24px;
          color: #7B7D84;
          line-height: 30px;
          max-width: 740px;
          margin: 0 auto 90px auto;
        }
      }

      .visual-elements {
        text-align: center;

        h3 {
          font-size: 14px;
          color: rgba(white,.25);
          letter-spacing: 2px;
          line-height: 17px;
          text-transform: uppercase;
          font-weight: 500;
          margin: 0 0 30px 0;
          padding-bottom: 5px;
          border-bottom: 1px solid rgba(white,.1);
          display: inline-block;
        }

        img.architecture {
          display: block;
          width: 100%;
          max-width: 714px;
          margin: 0 auto 150px auto;
        }

        img.visual-layer {
          display: block;
          width: 100%;
          max-width: 617px;
          margin: 0 auto 90px auto;
        }
      }

      img.lower-thirds {
        position: absolute;
        width: 90%;
        max-width: 1100px;
        top: auto;
        right: auto;
        bottom: -200px;
        left: 50%;
        z-index: 9;
      }
    }

    .transitionsnormal {
      padding: 295px 15px 250px 15px;
      background: #f03929 image-url("case-studies/espn/transition-bg.jpg") no-repeat center right;
      background-size: auto 100%;
      position: relative;

      > .container {
        max-width: 1000px;
      }

      .content {

        h2 {
          font-size: 18px;
          color: rgba(black,.25);
          letter-spacing: 3px;
          line-height: 21px;
          text-transform: uppercase;
          font-weight: 500;
          margin: 0 0 15px 0;
        }

        h1 {
          font-weight: 300;
          font-size: 52px;
          color: white;
          line-height: 62px;
          margin: 0 0 45px 0;
          text-transform: capitalize;
        }

        p {
          font-weight: 300;
          font-size: 24px;
          color: white;
          line-height: 30px;
          max-width: 460px;
          margin-bottom: 60px;
        }

        img.transition-layers {
          max-width: 312px;
        }
      }
    }

    img.semifinals,
    img.live-soccer {
      width: 100%;
    }

    .live-soccer-wrapper {
      position: relative;

      h1 {
        margin: 0;
        padding: 25px 35px 28px 35px;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        right: auto;
        bottom: auto;
        left: 50%;
        font-weight: 400;
        font-size: 32px;
        color: white;
        line-height: 38px;
        background: $messiOrange;
        text-transform: uppercase;
        transform: translate3d(-50%,50%,0);
      }
    }

    .ball-head-campaing {
      background: $messiOrange image-url("case-studies/espn/ball-head-bg.jpg") no-repeat center center;
      background-size: 100% auto;
      background-size: cover;
      padding: 250px 15px;
      text-align: center;

      h1 {
        font-weight: 500;
        font-size: 38px;
        color: white;
        line-height: 46px;
        margin: 0 0 45px 0;
      }

      p {
        font-weight: 300;
        font-size: 24px;
        color: white;
        line-height: 32px;
        max-width: 768px;
        margin: 0 auto;
      }
    }

    .banners-tv-spot {
      background: $messiOrange;

      div[class^="col-"] {
        height: 250px;
        position: relative;
      }

      h1 {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 26px;
        color: white;
        letter-spacing: 3px;
        line-height: 32px;
        text-align: center;
        position: absolute;
        top: 50%;
        right: 0;
        bottom: auto;
        left: 0;
        margin: 0;
        transform: translate3d(0,-50%,0);
      }

      .images {
        background: transparent image-url("case-studies/espn/banners-tv-spot.png") no-repeat center center;
        background-size: 100% auto;
        background-size: cover;
      }
    }

    .award-promaxbda {
      padding: 90px 15px 150px 15px;
      background: #0a0b0f;

      .title {

        h1 {
          font-weight: 300;
          font-size: 38px;
          color: white;
          line-height: 46px;
          text-align: center;
          margin: 0 0 150px 0;

          strong {
            font-weight: 500;
          }
        }
      }

      .award-image {
        text-align: center;

        img {
          width: 100%;
          max-width: 184px;
        }

        h2 {
          font-weight: 300;
          font-size: 28px;
          color: white;
          letter-spacing: 2px;
          line-height: 34px;
          margin: 30px 0 0 0;

          span {
            color: #967242;
          }
        }
      }
    }
  }

  .more-case-studies {
    border-top: 1px solid #967242;
    background: #0A0B0F;
    color: rgba(white,.75);

    strong {
      color: white;
    }
  }
}

@media screen and (max-width: 1140px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .transitionsnormal {
        padding: 195px 15px 150px 15px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .kickoffnormal {
        padding-top: 150px;
        padding-bottom: 100px;

        img.image {
          top: 175px;
        }
      }

      .broadcast {
        padding-top: 100px;
        padding-bottom: 100px;
      }

      .on-screen {
        padding-bottom: 350px;
      }
    }
  }
}

@media screen and (max-width: 768px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .about-project {

        tr {

          td:last-child {

            p {
              font-size: 16px !important;
              line-height: 23px !important;
              text-align: center;
            }
          }
        }
      }

      .kickoffnormal {
        padding-top: 150px;
        padding-bottom: 50px;

        img.image {
          position: relative;
          width: 100%;
          top: auto;
          right: -15px;
          bottom: auto;
          left: auto;
        }
      }

      .broadcast {

        .content {

          img.la-map {
              position: relative;
              width: 638px;
              height: auto;
              top: auto;
              right: auto;
              bottom: auto;
              left: -150px;
              transform: none;
          }
        }
      }

      .transitionsnormal {

        background: #f03929;

        .content {
          text-align: center;

          p {
            margin-left: auto;
            margin-right: auto;
          }
        }
      }

      .ball-head-campaing {
        padding-top: 150px;
        padding-bottom: 150px;
      }
    }

    .live-soccer-wrapper {

      h1 {
        font-size: 18px !important;
        line-height: 28px !important;
        padding: 10px 15px !important;
        min-width: 300px !important;
        text-align: center;
        font-weight: 500 !important;
      }
    }
  }
}

@media screen and (max-width: 640px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .graphic-package {

        .container {

          img {
            left: 0;
          }
        }
      }

      .broadcast {

        .content {
          padding-left: 45px;

          img.la-map {
            width: 480px;
            left: -50px;
          }
        }
      }

      .on-screen {
        padding-bottom: 150px;
      }
    }
  }
}

@media screen and (max-width: 480px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .broadcast {

        .content {
          padding-left: 45px;

          img.la-map {
            width: 320px;
            left: -30px;
          }
        }
      }

      .graphic-package {

        .container {
          padding-top: 220px;
          padding-bottom: 220px;
        }
      }

      .broadcast {
        padding-top: 70px;
        padding-bottom: 70px;

        .content {
          padding-top: 60px;
          padding-bottom: 85px;

          img.la-map {
            width: 100%;
          }

          .flags-divider {
            margin-bottom: 60px;
          }
        }
      }
    }
  }
}
