$template_name: "espnjo";
$espnBlue: #1b63b4;

ul#items {

  li#case-study-block-#{$template_name} {
    background: $espnBlue;

    a {
      color: white;
    }
  }
}

body#case-study-page-#{$template_name} {
  color: white;
  @include background_and_loading_colors($espnBlue, $espnBlue, white);

  .cs-head {

    a {
      text-decoration: none;
      color: white;
    }

    .links {

      a {

        &.contact {
          border-color: white;

          &:hover {
            color: $espnBlue;
          }
        }
      }
    }
  }

  .title-subtitle-stores {

    h1 {
      color: white;
    }

    h2 {
      color: #76afef;
    }

    .stores {

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  a.see-more-case-study {

    svg {

      path {
        stroke: $espnBlue;
        fill: $espnBlue;
      }
    }
  }

  #caseStudyContent {
    background: white;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
    overflow-y: auto;

    .about-project {

      table,
      tr {

        td {

          &:first-child {
            color: #152737;
          }

          &:last-child {

            p {
              color: #1a2b44;
            }
          }
        }
      }
    }

    .official-broadcaster {
      background: transparent image-url("case-studies/espnjo/official-broadcaster-bg.jpg") no-repeat center top;
      background-size: cover;
      position: relative;
      z-index: 100;

      .container {
        position: absolute;
        left: 0;
        top: 35%;

        img {
          margin: 0;
          width: 94vw;
          position: relative;
          left: -20px;
        }
      }
    }

    .kickoff {
      padding: 200px 15px 0px;
      background: #1C1D1F image-url("case-studies/espnjo/kickoff-bg.jpg") no-repeat center top;
      position: relative;
      background-size: cover;

      img.image {
        width: 37vw;
        max-width: 685px;
        position: absolute;
        top: 0px;
        right: 0;
        bottom: auto;
        left: auto;
      }

      img.image2 {
        width: 35vw;
        max-width: 753px;
        position: absolute;
        top: 50%;
        right: auto;
        bottom: 0;
        left: -14px;
      }

      .text {

        h2 {
          font-size: 18px;
          color: #76afef;
          letter-spacing: 3px;
          line-height: 21px;
          text-transform: uppercase;
          font-weight: 500;
          margin: 0 0 15px 0;
        }

        h1 {
          font-weight: 300;
          font-size: 52px;
          color: white;
          line-height: 62px;
          margin: 0 0 45px 0;
          text-transform: capitalize;
        }

        p {
          font-weight: 300;
          font-size: 24px;
          color: white;
          line-height: 30px;
        }
      }
    }

    .natacion {
      padding: 405px 15px;
      background: #212224 image-url("case-studies/espnjo/natacion-bg.jpg") no-repeat center center;
      background-size: 100% auto;
      background-size: cover;
    }

    .on-screen {
      padding: 90px 15px 800px 15px;
      background: #0f4c91;
      position: relative;

      .text {
        text-align: center;

        h2 {
          font-size: 18px;
          color: #6fadef;
          letter-spacing: 3px;
          line-height: 21px;
          text-transform: uppercase;
          font-weight: 500;
          margin: 0 0 15px 0;
        }

        h1 {
          font-weight: 300;
          font-size: 52px;
          color: white;
          line-height: 62px;
          margin: 0 0 45px 0;
          text-transform: capitalize;
        }

        p {
          font-weight: 300;
          font-size: 24px;
          color: white;
          line-height: 30px;
          max-width: 740px;
          margin: 0 auto 90px auto;
        }
      }

      .visual-elements {
        text-align: center;

        h3 {
          font-size: 14px;
          color: rgba(white,.25);
          letter-spacing: 2px;
          line-height: 17px;
          text-transform: uppercase;
          font-weight: 500;
          margin: 0 0 30px 0;
          padding-bottom: 5px;
          border-bottom: 1px solid rgba(white,.1);
          display: inline-block;
        }

        img.architecture {
          display: block;
          width: 100%;
          max-width: 714px;
          margin: 0 auto 150px auto;
        }

        img.visual-layer {
          display: block;
          width: 100%;
          max-width: 1115px;
          margin: 0 auto 90px auto;
        }
      }

      img.image {
        width: 54vw;
        max-width: 809px;
        position: absolute;
        top: 730px;
        right: auto;
        bottom: auto;
        left: 0;
      }

      img.lower-thirds {
        position: absolute;
        width: 90%;
        max-width: 1100px;
        top: auto;
        right: auto;
        bottom: 80px;
        left: 50%;
        z-index: 9;
      }

      .tv {
        width: 975px;
        height: 295px;
        position: absolute;
        bottom: 80px;
        left: 50%;
        transform: translate3d(-45%,0,0);
        z-index: 10;
        overflow: hidden;

        .circle {
          background: image-url("case-studies/espnjo/lt-circle.png") center top no-repeat;
          width: 318px;
          height: 295px;
          position: absolute;
          top: 0;
          right: 0;
          display: none;
        }

        .green {
          background: image-url("case-studies/espnjo/lt-green.png") center top no-repeat;
          width: 871px;
          height: 136px;
          position: absolute;
          top: 77px;
          left: 0px;
          left: 975px;
          opacity: 0;
        }

        .white {
          background: image-url("case-studies/espnjo/lt-white.png") center top no-repeat;
          width: 234px;
          height: 130px;
          position: absolute;
          top: 79px;
          left: 37px;
          left: 200px;
          opacity: 0;
        }

        .blue {
          background: image-url("case-studies/espnjo/lt-blue.png") center top no-repeat;
          width: 670px;
          height: 131px;
          position: absolute;
          top: 79px;
          left: 198px;
          left: 350px;
          opacity: 0;
        }

        .text1 {
          background: image-url("case-studies/espnjo/lt-text1.png") center top no-repeat;
          width: 513px;
          height: 53px;
          position: absolute;
          top: 101px;
          top: 130px;
          left: 305px;
          opacity: 0;
        }

        .text2 {
          background: image-url("case-studies/espnjo/lt-text2.png") center top no-repeat;
          width: 509px;
          height: 21px;
          position: absolute;
          top: 179px;
          top: 190px;
          left: 305px;
          opacity: 0;
        }
      }
    }

    .transitions {
      padding: 80px 15px 80px 15px;
      background: #0f4c91 image-url("case-studies/espnjo/transition-bg.jpg") no-repeat center right;
      background-size: auto 100%;
      position: relative;

      > .container {
        max-width: 1000px;
      }

      .content {

        h2 {
          font-size: 18px;
          color: #6fadef;
          letter-spacing: 3px;
          line-height: 21px;
          text-transform: uppercase;
          font-weight: 500;
          margin: 0 0 15px 0;
        }

        h1 {
          font-weight: 300;
          font-size: 52px;
          color: white;
          line-height: 62px;
          margin: 0 0 45px 0;
          text-transform: capitalize;
        }

        p {
          font-weight: 300;
          font-size: 24px;
          color: white;
          line-height: 30px;
          max-width: 460px;
          margin-bottom: 60px;
        }

        img.transition-layers {
          max-width: 312px;
        }
      }
    }

    img.semifinals {
      width: 100%;
    }

  }

  .more-case-studies {
    background: white;
    color: #bfc0c2;

    strong {
      color: #252525;
    }
  }
}

@media screen and (max-width: 1140px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .transitions {
        padding: 100px 15px 0px 15px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .kickoff {
        padding-top: 120px;
        height: 700px !important;

        img.image2 {
          width: 25vw;
          top: 66%;
        }
      }

      .transitions {
        padding: 15px 15px 0px 15px;
      }

      .broadcast {
        padding-top: 100px;
        padding-bottom: 100px;
      }

      .on-screen {
        padding-bottom: 550px;
      }
    }
  }
}

@media screen and (max-width: 900px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .on-screen {

        .tv {
          display: none !important;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .about-project {

        tr {

          td:last-child {

            p {
              font-size: 16px !important;
              line-height: 23px !important;
              text-align: center;
            }
          }
        }
      }

      .kickoff {
        padding-top: 150px;
        padding-bottom: 50px;

        img.image, img.image2 {
          display: none;
        }
      }

      .transitions {
        background: #0f4c91;

        .content {
          text-align: center;

          p {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .kickoff {
        padding-top: 50px;
      }

      .on-screen {
        padding-bottom: 400px;
      }

      .transitions {
        height: 350px !important;
      }
    }
  }
}
