$template_name: "genee";
$geneeGreen: #39ad43;

@import "front/twentytwenty";

ul#items {

  li#case-study-block-#{$template_name} {
    background: $geneeGreen;

    a {
      color: white;
    }
  }
}

body#case-study-page-#{$template_name} {
  color: white;
  @include background_and_loading_colors($geneeGreen, $geneeGreen, white);

  .cs-head {

    a {
      text-decoration: none;
      color: white;
    }

    .links {

      a {

        &.contact {
          border-color: white;

          &:hover {
            color: $geneeGreen;
          }
        }
      }
    }
  }

  .title-subtitle-stores {

    h1 {
      color: white;
    }

    h2 {
      color: rgba(white, .5);
    }

    .stores {

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  a.see-more-case-study {

    svg {

      path {
        stroke: $geneeGreen;
        fill: $geneeGreen;
      }
    }
  }

  #caseStudyContent {
    background: white;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
    overflow-y: auto;

    .about-project {

      table,
      tr {

        td {

          &:first-child {
            color: #152737;
          }

          &:last-child {

            p {
              color: #1a2b44;
            }
          }
        }
      }

      a {
        color: $geneeGreen;
        text-decoration: none;
      }
    }

    .ok-delightful {
      height: 536px;
      width: 100%;
      position: relative;
      margin: 0 0 350px 0;
      padding-top: 145px;
      background: $geneeGreen;

      h1 {
        text-transform: uppercase;
        text-align: center;
        font-size: 38px;
        color: rgba(255,255,255,.75);
        font-weight: 300;
        line-height: 46px;
        margin: 0 0 85px 0;
        letter-spacing: 8px;
        position: relative;
        left: 10px;

        strong {
          font-size: 42px;
          color: white;
          font-weight: 300;
          position: relative;
          left: -10px;
        }
      }

      h2 {
        text-transform: uppercase;
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        line-height: 14px;
        margin: 0;
        padding-bottom: 30px;
        letter-spacing: 3px;
        position: relative;
        left: 8px;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 50%;
          right: auto;
          bottom: 0;
          background: rgba(0,0,0,.25);
          width: 1px;
          margin-left: -8.5px;
        }

        span {
          padding: 0 15px;

          &:first-child {
            color: rgba(255,255,255,.5);
          }

          &:last-child {
            color: white;
            position: relative;
            left: 4px;
          }
        }
      }

      .before-after {
        width: 320px;
        height: 568px !important;
        background: transparent image-url("case-studies/genee/home-slidetocancel@2x.png") no-repeat left top;
        background-size: 100% auto;
        position: absolute;
        top: auto;
        bottom: -340px;
        left: 50%;
        right: auto;
        max-width: 100%;
        margin-left: -160px;

        img.slide,
        img.new {
          width: 100%;
          height: auto;
        }
      }

      .twentytwenty-handle {
        width: 43px;
        height: 43px;
        background: transparent image-url("case-studies/genee/Slider@2x.png") no-repeat center center;
        border: 0;
        box-shadow: none;
        background-size: 100% auto;
        overflow: visible;
        box-shadow: 0 3px 10px rgba(black,.25);

        > span {
          display: none;
        }
      }

      .twentytwenty-overlay {
        display: none !important;
        opacity: 0 !important;
      }

      .twentytwenty-horizontal .twentytwenty-handle:before,
      .twentytwenty-horizontal .twentytwenty-handle:after,
      .twentytwenty-vertical .twentytwenty-handle:before,
      .twentytwenty-vertical .twentytwenty-handle:after {
        box-shadow: none;
        width: 1px;
        border: 0;
        background: rgba(black,.15);
        margin-left: 0;
      }
    }

    .coffee {
      height: 490px;
      width: 100%;
      position: relative;
      padding: 150px 0 0 0;

      p {
        text-align: center;
        color: black;
        font-size: 52px;
        font-weight: 300;
        line-height: 62px;
        margin: 0;
        padding-bottom: 0px;
        letter-spacing: 2px;
        position: relative;

        span {
          border-bottom: 1px dashed $geneeGreen;
          color: $geneeGreen;
          text-decoration: none;

          &:hover {
            border-bottom: 1px solid $geneeGreen;
            text-decoration: none;
          }
        }
      }

      img.schedule-button {
        display: inline-block;
        position: absolute;
        width: 150px;
        height: 150px;
        top: auto;
        bottom: 0;
        left: 50%;
        right: auto;
        max-width: 100%;
        margin-left: -75px;
        animation-duration: .5s;

        path,
        polygon {
          transition: fill .1s ease-in-out;
        }
      }
    }

    .mapping {
      height: 1230px;
      width: 100%;
      position: relative;
      padding: 0px 0 0 0;
      margin: 100px 0 0 0;
      background: #fff image-url("case-studies/genee/IMG_4066@2x.png") no-repeat center top;
      background-size: cover;
      position: relative;
      overflow: hidden;

      .circle1 {
        background-color: #3fab49;
        width: 520px;
        height: 520px;
        border-radius: 50%;
        position: absolute;
        top: 220px;
        right: 50px;

        p {
          text-align: center;
          color: #fff;
          font-size: 35px;
          font-weight: 400;
          line-height: 520px;
          margin: 0;
          padding-bottom: 0px;
          letter-spacing: 0px;
          position: relative;
        }
      }

      .circle2 {
        background-color: #396eab;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        top: 80px;
        right: 40px;
      }

      .circle3 {
        background-color: #b04b3f;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: 125px;
        right: 115px;
      }

      .circle4 {
        background-color: #cc8f55;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        top: 200px;
        right: -20px;
      }

      .circle5 {
        background-color: #dacb67;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        top: 200px;
        right: 65px;
      }

      .circle6 {
        background-color: #88d497;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: 250px;
        right: 0px;
      }

      .circle7 {
        background-color: #2ca0ab;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        top: 460px;
        right: -30px;
      }
    }

    .proposing {
      height: 500px;
      width: 100%;
      position: relative;
      padding: 150px 0 0 0;

      h2 {
        text-align: center;
        color: $geneeGreen;
        font-size: 38px;
        font-weight: 400;
        line-height: 46px;
        margin: 0 0 40px 0;
        padding-bottom: 0px;
        letter-spacing: 8px;
        position: relative;
      }

      p {
        text-align: left;
        color: #5A6478;
        font-size: 22px;
        font-weight: 400;
        line-height: 28px;
        margin: 0 auto;
        padding-bottom: 0px;
        letter-spacing: 0px;
        position: relative;
        width: 60%;
      }
    }

    .wireframes {
      width: 100%;
      position: relative;
      padding: 50px 0 0 0;
      background-color: #e5e9ea;

      h2 {
        text-align: center;
        color: #292a2a;
        font-size: 28px;
        font-weight: 400;
        line-height: 38px;
        margin: 0px 0px 40px;
        padding-bottom: 0px;
        letter-spacing: 6px;
        position: relative;
      }

      h3 {
          text-align: center;
          font-size: 18px;
          font-weight: 400;
          line-height: 25px;
          margin: 0px auto 30px auto;
          letter-spacing: 0px;
          color: #a4a8a7;
          padding-bottom: 30px;
          position: relative;
          width: 100%;
          max-width: 250px;
          border-bottom: 1px solid #dbe1e2;
      }

      .wireframe-step {
        background: #3FAB49;
        position: relative;
        min-height: 284px;

        &:last-child {
          background: transparent;
        }

        &.dark {
          background: #31933A;
        }

        &.breath-top {

          > p {
            top: 80px;
            bottom: 0;
          }

          &:before {
            content: '';
            display: block;
            width: 100%;
            height: 75px;
            background: #e5e9ea;
            position: absolute;
            top: 0;
            left: 0;
            bottom: auto;
            right: auto;
          }
        }

        &.breath-bottom {

          > p {
            top: 0;
            bottom: 80px;
          }

          &:after {
            content: '';
            display: block;
            width: 100%;
            height: 75px;
            background: #e5e9ea;
            position: absolute;
            top: auto;
            left: 0;
            bottom: 0;
            right: auto;
          }
        }

        p {
          position: absolute;
          width: 100%;
          max-width: 60%;
          letter-spacing: 0;
          line-height: 18px;
          font-size: 14px;

          span.number {
            width: 55px;
            height: 55px;
            border-radius: 27.5px;
            box-shadow: 0 2px 4px rgba(black,.15);
            position: absolute;
            top: 50%;
            bottom: auto;
            margin-top: -30px;
            color: $geneeGreen;
            text-align: center;
            line-height: 55px;
            font-size: 26px;
            background: white;
            z-index: 3;
          }

          span.text {
            font-weight: 400;
            font-size: 13px;
            color: #CBF3CF;
            line-height: 16px;
            width: 100%;
            padding-left: 30px;
            padding-right: 30px;
            position: absolute;
            top: 50%;
            left: 50%;
          }

          span.title {
            text-align: left;
            color: white;
            display: block;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            line-height: 14px;
            letter-spacing: 3px;
            margin-bottom: 10px;
          }

          &.on-right {
            left: auto;
            right: 15px;
            padding-left: 10px;

            span.number {
              left: 0;
              right: auto;
              margin-left: -43px;
            }
          }

          &.on-left {
            left: 15px;
            right: auto;

            span.number {
              left: auto;
              right: 0;
              margin-right: -43px;
            }
          }
        }

        > img {
          position: absolute;
          top: 0;
          bottom: 0;
          z-index: 2;
          max-width: 160px;

          &.on-right {
            left: auto;
            right: 0;
          }

          &.on-left {
            left: 0;
            right: auto;
          }
        }
      }
    }

    .identify-brand {
      padding: 150px 0;

      .title {
        background: $geneeGreen;
        padding: 30px 15px;
        position: relative;
        min-height: 450px;

        > div {
          position: absolute;
          top: 50%;
          right: 80px;
          bottom: auto;
          left: 90px;
          transform: translate3d(0,-50%,0);
          text-align: left;
          color: white;
          text-transform: uppercase;
          font-size: 38px;
          font-weight: 400;
          line-height: 54px;
          letter-spacing: 8px;
        }
      }

      .visual-style-1 {

        > img {
          max-width: 100%;
          position: relative;
          top: -35px;
        }
      }

      .visual-style-2,
      .visual-style-3 {
        padding: 0;

        > img {
          max-width: 100%;
        }
      }
    }

    .colors {
      height: 266px;
      width: 100%;
      position: relative;
      padding: 0px 0 0 0;
      overflow: hidden;

      p {
        text-align: center;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        line-height: 266px;
        margin: 0 auto;
        padding-bottom: 0px;
        letter-spacing: 0px;
        position: relative;
      }

      .col1 {
        background-color: #33953C;
      }

      .col2 {
        background-color: #60C2A3;
      }

      .col3 {
        background-color: #C4E4DA;
      }

      .col4 {
        background-color: #D64C49;
      }

      .col5 {
        background-color: #2D3337;
      }

      .col6 {
        background-color: #E3E9E7;
      }
    }

    .smartcalendar {
      height: 760px;
      width: 100%;
      position: relative;
      padding: 0px 0 0 0;
      overflow: hidden;

      p {
        text-align: center;
        color: #1a2b44;
        font-size: 28px;
        font-weight: 400;
        line-height: 38px;
        margin: 0;
        padding-bottom: 0px;
        letter-spacing: 2px;
        position: relative;
      }

      .col1 {
        background-color: #2d3337;
        height: 760px;
        padding-top: 80px;
        padding-bottom: 80px;

        > .container {
          width: 100%;
        }

        .scheduled-list {
          max-width: 640px;
        }

        h1 {
          text-align: center;
          color: rgba(white, .5);
          text-transform: uppercase;
          font-size: 20px;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 1px;
          margin-bottom: 25px;
        }

        .appointment {
          width: 100%;
          overflow: hidden;
          margin-top: -1px;
          padding-bottom: 25px;

          &:last-child {

            .time-type {

              .type {

                &:after {
                  display: none;
                }
              }
            }
          }

          .time-type {
            width: 30%;
            float: left;

            .time {
              width: 50%;
              float: left;
              font-weight: 400;
              font-size: 22px;
              line-height: 1.1;
              color: white;

              span {
                display: block;
                position: relative;

                &.am:after,
                &.pm:after {
                  display: block;
                  position: absolute;
                  content: "AM";
                  top: auto;
                  right: -2px;
                  bottom: 3px;
                  left: auto;
                  font-size: 14px;
                  color: rgba(255, 255, 255, 0.5);
                  line-height: 1;
                  font-weight: 400;
                }

                &.pm:after {
                  content: "PM";
                }
              }
            }

            .type {
              width: 50%;
              float: right;
              text-align: center;
              position: relative;

              &:after {
                position: absolute;
                content: '';
                width: 1px;
                height: 25px;
                top: 100%;
                left: 50%;
                margin-left: -1px;
                background: rgba(white,.2);
              }

              > img {
                width: 65%;
                max-width: 100%;
              }
            }
          }

          .description {
            width: 70%;
            float: right;
            font-weight: 400;
            font-size: 22px;
            line-height: 1.1;

            span {
              display: block;
              font-size: 18px;
              color: rgba(white,.5);
              vertical-align: bottom;
              padding-top: 2px;

              > img {
                max-width: 24px;
                vertical-align: top;
                position: relative;
                left: -2px;
                top: -3px;
              }
            }
          }
        }
      }

      .col2 {
        background-color: #24292d;

        &,
        & > .container,
        & > .container > .row,
        & > .container > .row > div {
          min-height: 760px;
        }

        h1 {
          position: absolute;
          top: 50%;
          width: 100%;
          padding: 0 80px;
          transform: translate3d(0px, -50%, 0px);
          text-align: left;
          color: #FFF;
          text-transform: uppercase;
          font-size: 34px;
          font-weight: 400;
          line-height: 52px;
          letter-spacing: 2px;
          max-width: 640px;
        }
      }
    }

    .giveitatry {
      background-color: $geneeGreen;
      width: 100%;
      position: relative;
      padding: 125px 0 0 0;
      overflow: hidden;

      .title-subtitle-stores {
        position: static;
        transform: none;
      }

      p {
        text-align: center;
        color: #1a2b44;
        font-size: 28px;
        font-weight: 400;
        line-height: 38px;
        margin: 0;
        padding-bottom: 0px;
        letter-spacing: 2px;
        position: relative;
      }

      h2 {
        color: #fff;
      }

      span.phone-container {
        display: block;
        max-width: 420px;
        margin: 45px auto 0;
        position: relative;
        left: -15px;

        iframe {
          border: 0;
          border: none;
        }
      }

      img.phone {
        position: relative;
        margin: 75px auto 0;
        width: 338px;
        left: -15px;
      }
    }
  }

  .more-case-studies {
    background: white;
    color: #98999d;

    strong {
      color: black;
    }
  }
}

@media screen and (max-width: 1024px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .identify-brand {

        .title {

          > div {
            text-align: center;
          }
        }

        .visual-style-1 {
          padding-top: 75px
        }
      }

      .proposing {

        h2 {
          left: 8px;
        }

        p {
          text-align: center;
        }
      }

      .wireframes {

        .wireframe-step {

          p {
            width: 150px;
          }
        }
      }

      .identify-brand {

        .visual-style-1 {
          padding-top: 60px;
        }
      }

      .giveitatry {

        span.phone-container {
          display: none;
        }

        img.phone {
          display: block !important;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .about-project {

        tr {

          td:last-child {

            p {
              font-size: 16px !important;
              line-height: 23px !important;
              text-align: center;
            }
          }
        }
      }

      .giveitatry {
        position: static;
      }

      .smartcalendar .col2 {
        &,
        & > .container,
        & > .container > .row,
        & > .container > .row > div {
          min-height: 0;
        }

        h1 {
          transform: none;
          position: static;
          padding: 45px 15px;
          text-align: center;
        }
      }

      .title-subtitle-stores {
        position: static;
          transform: none;
      }

      .colors {

        div[class^="col"] {
          padding-left: 0;
          padding-right: 0;
        }

        p {
          line-height: 133px;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .coffee {

        p {
          font-size: 32px;
          line-height: 36px;
        }
      }

      .mapping {
        height: 580px;

        .circle1 {
          height: auto;
          padding-top: 80px;
          padding-bottom: 80px;

          p {
            line-height: 1;
          }
        }
      }

      .proposing {
        padding-top: 80px;
        padding-bottom: 80px;

        p {
          text-align: center;
        }
      }

      .wireframes {

        .wireframe-step {

          p {
            width: 160px;

            &.on-left {

              .text {
                padding-left: 0;
                padding-right: 45px;
              }

              .number {
                left: auto !important;
                right: 0 !important;
                margin-right: -50px !important;
                top: -15px;
              }
            }

            &.on-right {

              .number {
                left: 0 !important;
                right: auto !important;
                margin-left: -50px !important;
                bottom: -43px !important;
                top: auto !important;
              }
            }
          }

          &:nth-child(3) {

            p {

              &.on-right {

                .number {
                  left: 0 !important;
                  right: auto !important;
                  margin-left: -50px !important;
                  bottom: auto !important;
                  top: -15px !important;
                }
              }
            }
          }
        }
      }

      .identify-brand {

        .title {
          min-height: 340px;
          > div {
            left: 0;
            right: 0;
            width: 100%;
            font-size: 32px;
            line-height: 36px;
          }
        }

        .visual-style-2,
        .visual-style-3 {

          > img {
            display: block;
            max-width: 90%;
            margin: 0 auto;
          }
        }
      }

      .giveitatry {

        .content {
          position: relative;
          left: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .mapping {

        .circle1 {
          position: relative;
          width: 100%;
          right: auto;
          top: auto;
          border-radius: 0;
        }

        .circle2 {
          top: 300px;
        }

        .circle3 {
          top: 350px;
        }

        .circle4 {
          top: 400px;
        }

        .circle5 {
          top: 400px;
        }

        .circle6 {
          top: 450px;
        }

        .circle7 {
          top: 460px;
        }
      }

      .proposing {

        p {
          width: 100%;
        }
      }

      .wireframes {

        h3 {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .wireframes {

        .wireframe-step {

          p {

            &.on-left {

              .number {
                left: auto !important;
                right: 0 !important;
                margin-right: -15px !important;
                top: -15px;
              }
            }

            &.on-right {

              .number {
                left: 0 !important;
                right: auto !important;
                margin-left: -15px !important;
                bottom: -43px !important;
                top: auto !important;
              }
            }
          }

          &:nth-child(3) {

            p {

              &.on-right {

                .number {
                  left: 0 !important;
                  right: auto !important;
                  margin-left: -15px !important;
                  bottom: auto !important;
                  top: -15px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
