$template_name: "kibow";
$kibowBlue: #07162f;
$kibowYellow: #d3ff00;

ul#items {
  li#case-study-block-#{$template_name} {
    background: $kibowBlue;

    a {
      color: white;
    }
  }
}

body#case-study-page-#{$template_name} {
  color: white;
  @include background_and_loading_colors($kibowBlue, $kibowBlue, white);

  .cs-head {
    a {
      text-decoration: none;
      color: white;
    }

    .links {

      a {

        &.contact {
          border-color: white;

          &:hover {
            color: white;
          }
        }
      }
    }
  }

  .title-subtitle-stores {
    h1 {
      color: white;
    }

    h2 {
      color: white;
    }

    .stores {

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  .more-case-studies {
    background-color: white;
    color: #98999D;

    strong {
      color: #162B31;
    }
  }

  a.see-more-case-study {

    svg {

      path {
        stroke: $kibowBlue;
        fill: $kibowBlue;
      }
    }
  }

  #caseStudyContent {
    background: white;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;

    @media screen and (max-width: 736px) {
      overflow-y: hidden;
    }

    .about-project-wrapper {
      background: white;
    }

    .about-project {
      padding: 150px 30px;
      padding-left: 15px;
      padding-right: 15px;

      @media screen and (max-width: 736px) {
        padding-left: 0;
        padding-right: 0;
        padding-top: 60px;
        padding-bottom: 60px;
      }

      table,
      tr {

        td {

          &:first-child {
            color: #1A2B44;
          }

          &:last-child {

            p {
              color: #1A2B44;
            }
          }

          @media screen and (max-width: 736px) {

            &:first-child {
              font-size: 20px;
              line-height: 24px;
              text-align: center;
            }

            &:last-child {
              p {
                font-size: 16px !important;
                line-height: 23px !important;
                text-align: center;
              }
            }
          }
        }
      }
    }

    .cs-label {
      color: #667590;
      font-weight: normal;
      font-size: 12px;
      text-transform: uppercase;
      position: relative;

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        right: auto;
        margin-left: -1px;
        background: $kibowYellow;
        width: 2px;
      }
    }

    .understanding {
      background: $kibowYellow image-url("case-studies/kibow/ux-research-new.png") no-repeat left center;
      background-size: auto 100%;
      padding-top: 90px;
      padding-bottom: 90px;

      @media screen and (max-width: 1280px) {
        background-position: -50% center; 
      }

      @media screen and (max-width: 1024px) {
        padding-top: 30px;
        padding-bottom: 30px;
        background-position: -120% center; 
      }

      @media screen and (max-width: 767px) {
        background-image: none;
      }

      h2 {
        color: $kibowBlue;
        font-size: 42px;
        font-weight: normal;
        margin-top: 0;
        line-height: 1;

        @media screen and (max-width: 1024px) {
          text-align: center;
        }
      }

      p {
        color: #757c84;
        font-size: 22px;
        margin-bottom: 10px;

        @media screen and (max-width: 1024px) {
          text-align: center;
        }
      }
    }

    .shaping {
      background: white image-url("case-studies/kibow/flow.png") no-repeat;
      background-position: calc(50% + 434px) 200px;
      background-size: auto 472px;
      padding-top: 90px;
      padding-bottom: 225px;

      @media screen and (max-width: 1024px) {
        padding-top: 30px;
        padding-bottom: 30px;
      }

      @media screen and (max-width: 991px) {
        background-image: none;
      }

      h2 {
        color: $kibowBlue;
        font-size: 42px;
        font-weight: normal;
        margin-top: 0;
        line-height: 1;

        @media screen and (max-width: 1024px) {
          text-align: center;
        }
      }

      p {
        color: #757c84;
        font-size: 22px;
        margin-bottom: 10px;

        @media screen and (max-width: 1024px) {
          text-align: center;
        }
      }

      .flow {
        @media screen and (max-width: 991px) {
          text-align: center;
        }
      }

      .flow-label {
        display: inline-block;
        margin-top: 15px;

        @media screen and (max-width: 991px) {
          margin-bottom: 30px;
        }

        &::after {
          height: 24px;
          top: auto;
          bottom: 0;
          transform: translate3d(0, 30px, 0);
        }
      }
    }

    .wireframes {
      padding-top: 90px;
      padding-bottom: 90px;
      text-align: center;
      
      .wireframes-label {
        &::before {
          height: 60px;
          top: 0;
          bottom: auto;
          transform: translate3d(0, -75px, 0);
        }

        &::after {
          height: 60px;
          top: auto;
          bottom: 0;
          transform: translate3d(0, 70px, 0);
        }
      }

      &-comp {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 90px;

        @media screen and (max-width: 1024px) {
          margin-top: 30px;
          margin-bottom: 30px;
        }
      }
    }

    .visual-design {
      background: $kibowYellow;
      padding-top: 90px;
      padding-bottom: 0;
      text-align: center;

      @media screen and (max-width: 1024px) {
        padding-top: 30px;
        padding-bottom: 30px;
      }

      h2 {
        color: $kibowBlue;
        font-size: 42px;
        font-weight: normal;
        margin-top: 0;
        line-height: 1;
      }

      p {
        color: #757c84;
        font-size: 22px;
        margin-bottom: 30px;
      }

      .phone-mockup {
        text-align: center;
        position: relative;
        z-index: 3;

        @media screen and (max-width: 1024px) {
          left: 10px;
        }

        &:first-of-type,
        &:last-of-type {
          margin-top: 90px;

          @media screen and (max-width: 1024px) {
            margin-top: 0;
          }
        }
      }
    }

    .crafting {
      background: white image-url("case-studies/kibow/shield.svg") no-repeat;
      background-position: left 200% bottom 1310%;
      background-size: auto 1586px;
      padding-top: 0;
      padding-bottom: 120px;

      @media screen and (max-width: 1024px) {
        padding-top: 30px;
        padding-bottom: 30px;
      }

      .excerpt {
        border-left: 2px solid $kibowYellow;
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 120px;
        position: relative;
        z-index: 3;

        @media screen and (max-width: 1024px) {
          padding-top: 30px;
          padding-bottom: 30px;
          padding-left: 15px;
          border-left: 0;
          text-align: center;
        }
      }

      h2 {
        color: $kibowBlue;
        font-size: 42px;
        font-weight: normal;
        margin-top: 0;
        line-height: 1;

        @media screen and (max-width: 1024px) {
          text-align: center;
        }
      }

      p {
        color: #757c84;
        font-size: 22px;
        margin-bottom: 30px;

        @media screen and (max-width: 1024px) {
          text-align: center;
          margin-bottom: 0;
        }
      }

      &-screenshot {
        height: 1188px;
        background: transparent image-url("case-studies/kibow/design-system.png") no-repeat;
        background-position: center center;
        background-size: auto 100%;
        margin-top: -245px;
        position: relative;
        z-index: 2;

        @media screen and (max-width: 991px) {
          background-image: none;
          height: auto;
        }

        .flow-mobile {
          max-width: 250%;
          height: auto;
          left: 50%;
          position: relative;
          transform: translate3d(-50%, 0, 0);
        }
      }
    }

    .site-screenshot {
      background: white image-url("case-studies/kibow/shield.svg") no-repeat;
      background-position: right 130% top 160%;
      background-size: auto 1586px;
      padding-top: 290px;
      padding-bottom: 60px;
      text-align: center;
      margin-top: -220px;

      .gif {
        box-shadow: 0 0 30px 30px white;
      }
    }

    .details {
      background: $kibowYellow;
      padding-top: 90px;
      padding-bottom: 90px;

      @media screen and (max-width: 1024px) {
        padding-top: 30px;
        padding-bottom: 30px;
      }

      h2 {
        color: $kibowBlue;
        font-size: 42px;
        font-weight: normal;
        margin-top: 0;
        line-height: 1;

        @media screen and (max-width: 1024px) {
          text-align: center;
        }
      }

      p {
        color: #757c84;
        font-size: 22px;
        margin-bottom: 0;

        @media screen and (max-width: 1024px) {
          margin-bottom: 30px;
          text-align: center;
        }
      }

      .phone-frame {
        width: 465px;
        position: absolute;
        top: 50%;
        right: auto;
        bottom: auto;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        z-index: 3;

        @media screen and (max-width: 991px) {
          position: relative;
          top: auto;
          left: 5px;
          transform: none;
          margin-left: auto;
          margin-right: auto;
          width: 352px;
        }

        &-wrapper {
          position: relative;

          h2,
          p {
            opacity: 0;
            visibility: hidden;

            @media screen and (min-width: 1024px) {
              max-width: 338px;
            }

            @media screen and (max-width: 991px) {
              display: none;
            }
          }
        }

        &-inner {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          padding-top: 147px;
          padding-right: 64px;
          padding-left: 41px;
          padding-bottom: 127px;

          @media screen and (max-width: 991px) {
            padding-top: 112px;
            padding-right: 48px;
            padding-left: 30px;
            padding-bottom: 96px;
          }
        }

        &-carousel {
          overflow: hidden;
          width: 100%;
          height: 100%;
        }
      }

      .phone-indicators {
        text-align: left;
        padding-top: 90px;
        padding-bottom: 90px;

        @media screen and (max-width: 1024px) {
          padding-top: 30px;
          padding-bottom: 30px;
          text-align: center;
        }

        @media screen and (max-width: 991px) {
          text-align: center;
        }

        @media screen and (max-width: 768px) {
          position: relative;
          left: 15px;
        }


        br {
          @media screen and (max-width: 1024px) {
            display: none;
          }
        }

        .phone-indicator {
          color: $kibowBlue;
          font-weight: normal;
          font-size: 18px;
          border: 0;
          border-left: 2px solid white;
          padding-left: 30px;
          background: transparent;
          text-align: left;
          transition: border-left .3s ease;

          @media screen and (max-width: 991px) {
            width: 140px;
          }

          @media screen and (max-width: 768px) {
            width: 105px;
            padding-left: 15px;
            font-size: 16px;
          }

          
          &:not(:last-of-type) {
            margin-bottom: 15px;
          }

          &.is-active {
            border-left-color: $kibowBlue;
          }
        }
      }
    }

    .expanding {
      background: white image-url("case-studies/kibow/shield.svg") no-repeat;
      background-position: bottom -455% right -10%;
      background-size: auto 1586px;
      padding-top: 220px;
      padding-bottom: 90px;
      text-align: center;

      @media screen and (max-width: 1024px) {
        padding-top: 30px;
        padding-bottom: 30px;
      }

      h2 {
        color: $kibowBlue;
        font-size: 42px;
        font-weight: normal;
        margin-top: 0;
        line-height: 1;
      }

      p {
        color: $kibowBlue;
        font-size: 22px;
        margin-bottom: 0;

        @media screen and (max-width: 1024px) {
          margin-bottom: 30px;
        }
      }

      .posts {
        margin-top: 90px;

        @media screen and (max-width: 1024px) {
          margin-top: 30px;
        }
      }
    }

    .conclussion {
      background: $kibowBlue;
      padding-top: 90px;
      padding-bottom: 90px;
      text-align: center;

      @media screen and (max-width: 1024px) {
        padding-top: 30px;
        padding-bottom: 30px;
      }

      h2 {
        color: white;
        font-size: 42px;
        font-weight: normal;
        margin-top: 0;
      }

      p {
        color: #757c84;
        font-size: 22px;
        margin-bottom: 0;

        @media screen and (max-width: 991px) {
          margin-bottom: 15px;
        }
      }
    }
  }
}

.modalindi {
    opacity: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    height: 0;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    transition: 0.5s opacity ease;

    .modalindi-content {
        background-color: #000;
        margin: 100px auto;
        padding: 20px;
        border: 1px solid #888;
        width: 55%;

        .closeMicro {
            color: #6A676C;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .closeMicro:hover,
        .closeMicro:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }
}
