$template_name: "li5";
$li5Red: #ED1A3D;
$li5Yellow: #F7EC39;

ul#items {

  li#case-study-block-#{$template_name} {
    background: $li5Red;

    a {
      color: white;
    }
  }
}

body#case-study-page-#{$template_name} {
  color: white;
  @include background_and_loading_colors($li5Red, $li5Red, white);

  .cs-head {

    a {
      text-decoration: none;
      color: white;
    }

    .links {

      a {

        &.contact {
          border-color: white;

          &:hover {
            color: $li5Red;
          }
        }
      }
    }
  }

  .title-subtitle-stores {

    h1 {
      color: white;
    }

    h2 {
      color: $li5Yellow;
    }

    .stores {

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  a.see-more-case-study {

    svg {

      path {
        stroke: $li5Red;
        fill: $li5Red;
      }
    }
  }

  .parallax-mirror {
    z-index: 999 !important;
  }

  #caseStudyContent {
    background: white;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
    overflow-y: auto;

    .about-project-wrapper {
      background: $li5Yellow;
    }

    .about-project {
      background: $li5Yellow;
      padding-left: 15px;
      padding-right: 15px;

      @media screen and (max-width: 736px) {
        padding-left: 0;
        padding-right: 0;
        padding-top: 60px;
        padding-bottom: 60px;
      }

      table,
      tr {

        td {

          &:first-child {
            color: black;
          }

          &:last-child {

            p {
              color: black;
            }
          }
        }
      }
    }

    .branding {
      background: #333742;
      padding-top: 100px;
      position: relative;

      @media screen and (max-width: 736px) {
        padding-top: 60px;
      }

      > .container {
        max-width: 1280px;
      }

      h2 {
        margin: 0 0 10px;
        opacity: 0.4;
        font-weight: 400;
        font-size: 18px;
        color: white;
        letter-spacing: 4px;
        text-transform: uppercase;
      }

      h1 {
        font-weight: 300;
        font-size: 52px;
        color: white;
        line-height: 1.2;
        margin: 0 0 20px;

        @media screen and (min-width: 480px) and (max-width: 737px) {
          br {
            display: none;
          }
        }
      }

      p {
        margin: 0;
        max-width: 396px;
        font-weight: 400;
        font-size: 18px;
        color: white;
        line-height: 1.5;

        @media screen and (max-width: 736px) {
          max-width: 100%;
        }
      }

      .excerpt {
        padding-bottom: 100px;

        @media screen and (max-width: 736px) {
          padding-bottom: 60px;
          padding-left: 30px;
          padding-right: 30px;
        }
      }

      .mockup {

        .marquee {
          margin: 5px auto 0;
          padding: 75px 0 0;
          max-width: 462px;
          height: 412px;
          text-align: center;
          background: transparent image-url('case-studies/li5/iphone-carousel.svg') no-repeat center bottom / contain;
          line-height: 337px;
          position: relative;

          @media screen and (max-width: 480px) {
            padding: 75px 12px 0 22px;
            max-width: 362px;
          }

          &::before {
            content: '';
            position: absolute;
            top: 0;
            right: auto;
            bottom: 0;
            left: 0;
            width: 50px;
            z-index: 2;
            background: linear-gradient(to right,  rgba(51,55,66,1) 0%,rgba(51,55,66,0) 100%);

            @media screen and (max-width: 480px) {
              display: none;
            }
          }

          &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: auto;
            width: 50px;
            z-index: 2;
            background: linear-gradient(to right,  rgba(51,55,66,0) 0%,rgba(51,55,66,1) 100%);

            @media screen and (max-width: 480px) {
              display: none;
            }
          }

          .slide {
            margin: 0 25px;
            transition-timing-function: linear;

            &.slick-current {

              svg {

                path {
                  fill: $li5Yellow;
                }
              }
            }

            &.word-easy,
            &.word-popular,
            &.word-simple {

              svg {
                position: relative;
                top: 5px;
              }
            }

            svg {
              max-width: 280px;
              display: inline-block;
              vertical-align: middle;

              path {
                transition: all .3s ease;
              }
            }
          }
        }
      }
    }

    .liquid-concept {
      background: $li5Red;
      padding-top: 150px;

      @media screen and (max-width: 736px) {
        padding-top: 60px;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
      }

      .container {
        max-width: 1070px;
        padding-bottom: 100px;

        @media screen and (max-width: 736px) {
          padding-bottom: 60px;
        }
      }

      .title {
        text-align: center;

        @media screen and (max-width: 736px) {
          text-align: left;
        }

        h2 {
          margin: 0 0 10px;
          font-weight: 400;
          font-size: 18px;
          color: white;
          letter-spacing: 4px;
          text-transform: uppercase;
        }

        h1 {
          font-weight: 300;
          font-size: 52px;
          color: white;
          line-height: 1.2;
          margin: 0 0 100px;

          @media screen and (max-width: 736px) {
            margin-bottom: 20px;
          }
        }
      }

      p {
        margin: 0;
        font-weight: 400;
        font-size: 18px;
        max-width: 286px;
        color: white;
        line-height: 1.5;

        @media screen and (max-width: 992px) {
          margin-left: auto;
          margin-right: auto;
          text-align: center;
        }

        @media screen and (max-width: 736px) {
          text-align: left;
          max-width: 100%;
          line-height: 1.33;
        }
      }

      .liquid-logo {
        display: block;
        margin: 0 auto;
        max-width: 100%;

        @media screen and (max-width: 992px) {
          margin-top: 50px;
          margin-bottom: 50px;
        }
      }

      .bowl {

        .top-liquids {
          width: 100%;
          position: relative;

          @media screen and (max-width: 736px) {
            width: 110%;
            width: calc(100% + 10px);
            left: -5px;
          }

          .liquid {
            width: 100%;
            background: $li5Red;
            position: relative;
          }

          .liquid-absolute {
            width: 100%;
            position: absolute;
            top: auto;
            right: auto;
            bottom: 0;
            left: 50%;
            transform: translate3d(-50%,0,0);

            &.front {
              border-bottom: 3px solid #03C8DE;
              box-shadow: inset 0 -2px 0 2px #03C8DE;
            }
          }

          .liquid,
          .liquid-absolute {

            &.customLiquidFade {
              transition: all .5s ease;
              bottom: -50px;
              opacity: 0;

              &.animated {
                bottom: 0;
                opacity: 1;
              }
            }
          }
        }

        .bottom-bowl {
          padding-top: 170px;
          padding-bottom: 228px;
          position: relative;
          overflow: hidden;
          min-height: 50vw;
          background: white;

          @media screen and (min-width: 1441px) and (max-width: 2560px) {
            min-height: 37vw;
          }

          @media screen and (max-width: 768px) {
            padding-top: 70px;
            padding-bottom: 128px;
          }

          @media screen and (max-width: 736px) {
            padding-bottom: 60px;
            min-height: auto !important;
          }

          &::after {
            content: '';
            position: absolute;
            top: auto;
            right: auto;
            bottom: 0;
            left: 50%;
            transform: translate3d(-50%,0,0);
            background: #03C8DE;
            border-radius: 50%;
            width: 105vw;
            height: 105vw;

            @media screen and (max-width: 768px) {
              width: 100%;
              height: 100%;
              top: 0;
              right: 0;
              left: 0;
              transform: none;
            }

            @media screen and (max-width: 736px) {
              border-radius: 0;
            }
          }

          p {
            text-align: center;
            transform: none;
            margin: 0 auto;
            z-index: 2;
            position: relative;
            max-width: 845px;
            font-size: 33px;
            color: white;
            line-height: 1.33;
            font-weight: 400;

            @media screen and (max-width: 992px) {
              font-size: 22px;
            }

            @media screen and (max-width: 768px) {
              max-width: 280px;
              font-size: 18px;
            }

            @media screen and (max-width: 736px) {
              max-width: 100%;
              padding-left: 30px;
              padding-right: 30px;
              text-align: left;
            }
          }
        }
      }
    }

    .logo-icon {
      background: white;
      padding-top: 130px;
      padding-bottom: 220px;
      text-align: center;

      @media screen and (max-width: 736px) {
        padding-top: 60px;
        padding-bottom: 60px;
      }

      .container {
        max-width: 1080px;
      }

      h2 {
        margin: 0 0 10px;
        opacity: 0.5;
        font-weight: 400;
        font-size: 18px;
        color: #333742;
        letter-spacing: 4px;
        text-transform: uppercase;

        @media screen and (max-width: 736px) {
          text-align: left;
          padding-left: 15px;
          padding-right: 15px;
        }
      }

      h1 {
        font-weight: 300;
        font-size: 52px;
        color: #333742;
        line-height: 1.2;
        margin: 0 0 60px;

        @media screen and (max-width: 736px) {
          text-align: left;
          padding-left: 15px;
          padding-right: 15px;
          margin-bottom: 20px;
        }
      }

      p {
        margin: 0 auto 100px;
        max-width: 845px;
        font-size: 33px;
        color: #333742;
        line-height: 1.33;
        font-weight: 300;

        @media screen and (max-width: 640px) {
          font-size: 24px;
        }

        @media screen and (max-width: 736px) {
          text-align: left;
          padding-left: 15px;
          padding-right: 15px;
          margin-bottom: 20px !important;
          font-size: 18px;
        }
      }

      .logos-app-icon {
        margin-left: -30px;
        margin-right: -30px;

        [class*="col-"] {
          padding-left: 30px;
          padding-right: 30px;

          .logo {
            width: 100%;
            border-radius: 6px;
            background: white;
            box-shadow: 0 2px 22px 0 rgba(black,.075);

            @media screen and (max-width: 992px) {
              max-width: 112px;
              display: block;
              margin-left: auto;
              margin-right: auto;
              margin-top: 40px;
            }

            &.mt {
              margin-top: 60px;

              @media screen and (max-width: 992px) {
                margin-top: 40px;
              }
            }
          }
        }

        .excerpt {

          @media screen and (max-width: 992px) {
            text-align: center;
            margin-bottom: 60px;
          }

          @media screen and (max-width: 736px) {
            margin-bottom: 30px;

            p {
              padding-left: 30px;
              padding-right: 30px;
              text-align: left !important;
              line-height: 1.33 !important;
            }
          }

          p {
            font-weight: 400;
            font-size: 18px;
            color: #333742;
            line-height: 1.5;
            text-align: left;
            margin-top: 100px;
            margin-bottom: 125px;
            margin-left: 0;
            max-width: 510px;

            @media screen and (max-width: 992px) {
              margin-left: auto;
              margin-right: auto;
              text-align: center;
            }

            @media screen and (max-width: 736px) {
              margin-top: 60px;
              margin-bottom: 60px !important;
              max-width: 100%;
            }
          }

          img {
            display: block;
            margin: 0;

            @media screen and (max-width: 992px) {
              margin-left: auto;
              margin-right: auto;
            }
          }
        }
      }
    }

    .style-elements {
      background: white;
      padding-bottom: 100px;
      text-align: center;

      @media screen and (max-width: 736px) {
        text-align: left;
        margin-top: 60px;
        padding-bottom: 0;
      }

      .container {
        max-width: 1080px;
      }

      h2 {
        margin: 0 0 10px;
        opacity: 0.5;
        font-weight: 400;
        font-size: 18px;
        color: #333742;
        letter-spacing: 4px;
        text-transform: uppercase;

        @media screen and (max-width: 736px) {
          padding-left: 15px;
          padding-right: 15px;
        }
      }

      h1 {
        font-weight: 300;
        font-size: 52px;
        color: #333742;
        line-height: 1.2;
        margin: 0 0 100px;

        @media screen and (max-width: 736px) {
          margin-bottom: 60px;
          padding-left: 15px;
          padding-right: 15px;
        }
      }

      .elements {
        margin-left: -30px;
        margin-right: -30px;

        [class*="col-"] {
          padding-left: 30px;
          padding-right: 30px;
        }

        .inner {
          padding: 25px 35px 75px;
          margin: 0 0 60px;
          background: white;
          box-shadow: 0 2px 22px 0 rgba(black,.075);
          border-radius: 6px;

          @media screen and (max-width: 736px) {
            padding-bottom: 60px;
          }

          &.no-padding {
            padding: 25px 0 75px;

            @media screen and (max-width: 736px) {
              padding: 25px 0 60px;
            }

            h3 {
              padding: 0 35px;
            }

            img {

              &.full-width {
                width: 100%;
              }
            }
          }

          img {
            max-width: 100%;
          }

          h3 {
            opacity: 0.5;
            font-weight: 400;
            font-size: 14px;
            color: #333742;
            letter-spacing: 3px;
            margin: 0 0 50px;
            text-transform: uppercase;
            text-align: left;
          }

          p {
            font-weight: 400;
            font-size: 18px;
            color: #333742;
            line-height: 1.5;
            padding: 0 42px;
            margin: 105px 0 0;
            text-align: left;

            @media screen and (max-width: 736px) {
              margin-top: 60px;
              text-align: left;
              padding-left: 0;
              padding-right: 0;
              line-height: 1.33 !important;

              &.no-top-margin {
                margin-top: 0;
              }
            }
          }
        }
      }
    }

    .wireframes {
      background: #333742 image-url('case-studies/li5/wireframes-board.jpg') no-repeat center center / cover;
      position: relative;
      padding-top: 130px;
      padding-bottom: 190px;

      @media screen and (max-width: 736px) {
        padding-top: 60px;
      }

      .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($li5Red,.65);
      }

      .container {
        max-width: 1110px;

        &.larger {
          max-width: 1280px;
        }
      }

      h2 {
        opacity: 0.5;
        font-weight: 500;
        font-size: 18px;
        color: white;
        letter-spacing: 4px;
        text-transform: uppercase;
        margin: 0 0 15px;

        @media screen and (max-width: 736px) {
          margin-bottom: 10px;
          padding-left: 15px;
          padding-right: 15px;
        }
      }

      h1 {
        font-weight: 100;
        font-size: 52px;
        color: white;
        margin: 0 0 15px;

        @media screen and (max-width: 736px) {
          margin-bottom: 20px;
          padding-left: 15px;
          padding-right: 15px;
        }
      }

      p {
        font-weight: 400;
        font-size: 18px;
        max-width: 510px;
        color: white;
        line-height: 1.5;
        margin: 0 0 120px;

        @media screen and (max-width: 736px) {
          margin-bottom: 60px;
          padding-left: 15px;
          padding-right: 15px;
          line-height: 1.33;
          max-width: 100%;
        }
      }
    }

    .visual-design {
      background: #333742;

      .container {
        max-width: 992px;

        &.larger {
          max-width: 1340px;

          [class*="col-"] {
            padding-left: 30px;
            padding-right: 30px;

            &:last-child {
              img {
                @media screen and (max-width: 736px) {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }

      .wireframe-images {
        margin-top: -190px;
      }

      .wireframe-image {
        border-radius: 6px;
        box-shadow: 0 2px 22px 0 rgba(black,.075), 0 2px 22px 0 rgba(black,.075);
        width: 100%;
        max-width: 398px;
        display: block;
        margin: 0 auto 130px;

        @media screen and (max-width: 736px) {
          margin-bottom: 60px;
        }
      }

      h2 {
        opacity: 0.5;
        font-weight: 400;
        font-size: 18px;
        color: white;
        letter-spacing: 4px;
        text-transform: uppercase;
        margin: 0 0 15px;
        text-align: center;

        @media screen and (max-width: 480px) {
          margin-top: 60px;
        }

        @media screen and (max-width: 736px) {
          text-align: left;
          padding-left: 15px;
          padding-right: 15px;
          margin-bottom: 10px;
        }

        @media screen and (min-width: 480px) and (max-width: 737px) {
          margin-top: 60px;
        }
      }

      h1 {
        font-weight: 300;
        font-size: 52px;
        color: white;
        margin: 0 0 60px;
        text-align: center;

        @media screen and (max-width: 736px) {
          text-align: left;
          padding-left: 15px;
          padding-right: 15px;
          margin-bottom: 20px;
        }
      }

      p {
        font-weight: 300;
        font-size: 33px;
        color: white;
        line-height: 1.333;
        text-align: center;
        margin: 0 0 130px;

        @media screen and (max-width: 640px) {
          font-size: 24px;
        }

        @media screen and (max-width: 480px) {
          margin-bottom: 60px;
        }

        @media screen and (max-width: 736px) {
          text-align: left;
          padding-left: 15px;
          padding-right: 15px;
          margin-bottom: 0;
          font-size: 18px;
          line-height: 1.33;
        }
      }
    }

    .ui-slider {
      width: 362px;
      height: 750px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 130px;
      padding: 75px 12px 88px 23px;
      text-align: center;
      background: transparent image-url('case-studies/li5/ui/iphone-mockup.svg') no-repeat center center / 100% 100%;

      @media screen and (max-width: 480px) {
        transform: scale(.8) translateX(-14px);
        margin-bottom: 60px;
      }

      @media screen and (max-width: 736px) {
        margin-bottom: 0;
      }

      @media screen and (min-width: 480px) and (max-width: 737px) {
        margin-top: 60px;
        margin-bottom: 60px;
      }

      .slick-list,
      .slick-track,
      .slick-slide {
        height: 100%;
      }

      .slick-prev,
      .slick-next {
        width: 40px;
        height: 40px;
        opacity: 1;
        transition: opacity .3s ease;

        @media screen and (max-width: 480px) {
          display: none !important;
        }

        &:hover,
        &:focus {
          opacity: 1;
        }

        &.slick-disabled {
          pointer-events: none;
          opacity: 0;
        }

        &::before {
          color: transparent;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          opacity: 1;

          &:hover,
          &:focus {
            opacity: 1;
          }
        }
      }

      .slick-prev {
        left: -75px;

        &::before {
          background: transparent image-url('case-studies/li5/go-left.svg') no-repeat center center / contain;
        }
      }

      .slick-next {
        right: -75px;

        &::before {
          background: transparent image-url('case-studies/li5/go-right.svg') no-repeat center center / contain;
        }
      }

      .ui-demo {
        width: 100%;
        height: 100%;
        display: block;
      }

      .slick-dots {
        display: block;
        position: static;
        margin-top: 180px;
        margin-bottom: 160px;

        li {
          margin-left: 10px;
          margin-right: 10px;

          button {
            text-indent: 9999px;
            overflow: hidden;
            border-radius: 50%;
            background: #52555F;
            transition: all .3s ease;
          }

          &.slick-active {
            button {
              background: #F7EC39;
            }
          }
        }
      }
    }

    .motion-ui {
      background: #03C8DE;
      padding-top: 200px;
      padding-bottom: 150px;

      @media screen and (max-width: 480px) {
        padding-top: 100px;
        padding-bottom: 50px;
      }

      @media screen and (max-width: 736px) {
        padding-top: 60px;
        padding-bottom: 0;
      }

      .container {
        max-width: 1080px;
      }

      .love-animation {
        width: 132px;
        height: 107px;
        display: block;
        background: transparent image-url('case-studies/li5/love-animation.png') no-repeat 0px center / auto 107px;
        animation: love 3s steps(73) infinite;
        position: relative;
        left: -24px;

        @media screen and (max-width: 992px) {
          margin-left: auto;
          margin-right: auto;
          left: 0;
        }
      }

      .info {
        @media screen and (max-width: 992px) {
          text-align: center;
        }
      }

      h2 {
        margin: 85px 0 15px;
        opacity: 0.5;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 18px;
        color: white;
        letter-spacing: 4px;

        @media screen and (max-width: 736px) {
          margin-top: 60px;
          text-align: left;
          padding-left: 15px;
          padding-right: 15px;
          margin-bottom: 10px;
        }
      }

      h1 {
        font-weight: 300;
        font-size: 52px;
        color: white;
        margin: 0 0 15px;

        @media screen and (max-width: 736px) {
          text-align: left;
          padding-left: 15px;
          padding-right: 15px;
          margin-bottom: 20px;
        }
      }

      p {
        font-weight: 400;
        max-width: 398px;
        font-size: 18px;
        color: white;
        line-height: 1.5;

        @media screen and (max-width: 992px) {
          margin-left: auto;
          margin-right: auto;
        }

        @media screen and (max-width: 736px) {
          text-align: left;
          padding-left: 15px;
          padding-right: 15px;
          line-height: 1.33;
          max-width: 100%;
        }
      }

      .ui {
        width: 362px;
        height: 750px;
        float: right;
        padding: 75px 11px 90px 22px;
        margin-top: -50px;
        text-align: center;
        background: transparent image-url('case-studies/li5/ui/iphone-mockup-2.svg') no-repeat center center / 100% 100%;

        @media screen and (max-width: 992px) {
          margin-top: 50px;
          float: none;
          margin-left: auto;
          margin-right: auto;
        }

        @media screen and (max-width: 480px) {
          transform: scale(.8) translateX(-14px);
          margin-top: 0;
        }

        @media screen and (min-width: 480px) and (max-width: 737px) {
          margin-bottom: 60px;
        }

        .ui-demo {
          width: 100%;
          height: 100%;
          display: block;
        }
      }
    }

    .motion-gifs {
      background: rgb(247,236,57);
      padding-top: 100px;
      padding-bottom: 58px;

      @media screen and (max-width: 736px) {
        padding-top: 25px;
        padding-bottom: 20px;
      }

      > .container {
        max-width: 918px;
      }

      .animations {
        text-align: center;

        @media screen and (max-width: 992px) {
          padding-top: 50px;
          padding-bottom: 0;
        }

        img {
          display: block;
          margin: 0 auto 42px;
          width: 100%;
          max-width: 398px;
          border-radius: 6px;
        }
      }

      .see-you {
        text-align: center;

        @media screen and (max-width: 992px) {
          padding-top: 50px;
          padding-bottom: 50px;
        }

        @media screen and (max-width: 736px) {
          padding-top: 0;
        }

        img {
          display: block;
          margin: 0 auto;
          width: 100%;
          max-width: 436px;
          border-radius: 6px;
        }
      }
    }
  }

  .more-case-studies {
    background: white;
    color: #bfc0c2;
    strong {
      color: #252525;
    }
  }
}


@media screen and (min-width: 1441px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .concept {

        .bottom {
          height: 50vw !important;
          box-shadow: inset 0 -10px 0 white;
        }
      }

      .iconography {

        .bottom {
          height: 50vw !important;
          box-shadow: inset 0 -10px 0 currentColor;
        }
      }
    }
  }
}

@media screen and (max-width: 1140px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .intro-project {
        padding-top: 350px;
        padding-bottom: 80px;
      }

      .concept {

        .compo {
          max-width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .concept {

        .compo {
          margin-top: 50px;
        }
      }

      .onscreen-art {

        .onscreen-slider {

          .slick-slide {

            .slide {
              width: 100%
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .intro-project {
        padding-top: 250px;
        padding-bottom: 80px;
      }

      .iconography,
      .typography,
      .color-palette {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 768px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .about-project {

        tr {

          td:last-child {

            p {
              font-size: 16px !important;
              line-height: 23px !important;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .intro-project {
        padding-top: 80px;
        padding-bottom: 30px;
      }
    }
  }
}
