.cases-container {
  @media (max-width: 992px) {
    overflow: hidden;
  }

  .element {
    height: 480px;
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-decoration: none;

    h3 {
      font-family: "franklin-gothic-urw", sans-serif;
      color: #fff;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 1px;
      font-weight: 400;
      font-style: normal;
      text-transform: uppercase;
      text-decoration: none;
      max-width: 1280px;
      padding: 0 30px;
      margin: 30px auto 0;
      width: 100%;

      @media (min-width: 500px) {
        font-size: 12px;
        line-height: 12px;
      }

      > span {
        display: inline-block;
        transition: all 500ms ease;
      }
    }

    h2 {
      font-family: "franklin-gothic-urw", sans-serif;
      color: #fff;
      font-size: 30px;
      line-height: 50px;
      font-weight: 300;
      font-style: normal;
      text-decoration: none;
      max-width: 1280px;
      padding: 0 30px;
      margin: 10px auto 15px;
      width: 100%;

      @media (min-width: 500px) {
        font-size: 50px;
        line-height: 50px;
      }

      @media screen and (max-width: 480px) {
        line-height: 1.2;
      }

      > span {
        display: inline-block;
        transition: all 300ms ease;
      }
    }

    .arrow-case {
      cursor: pointer;
      text-decoration: none;
      max-width: 1280px;
      width: 100%;
      margin: 0 auto 30px;
      padding: 0 30px;

      > span {
        display: inline-block;
        transition: all 300ms ease;
      }

      svg {
        width: 30px;
        opacity: 1;
      }

      & .arrow-case-head {
        transition: all 300ms ease;
        stroke-dashoffset: 0px;

        @media (min-width: 992px) {
          stroke-dasharray: 400px;
          stroke-dashoffset: 400px;
        }
      }

      & .arrow-case-body {
        transition: all 300ms ease;
        stroke-dashoffset: 0px;

        @media (min-width: 992px) {
          stroke-dasharray: 423px;
          stroke-dashoffset: -423px;
        }
      }
    }

    &:hover {
      cursor: pointer;

      h3,
      h2 {
        > span {
          transform: translate3d(15px, 0, 0);
        }
      }

      .arrow-case {
        > span {
          transform: translate3d(15px, 0, 0);
        }

        & .arrow-case-head {
          stroke-dashoffset: 0;
        }
        & .arrow-case-body {
          stroke-dashoffset: 0;
        }
      }
    }

    &.samsung-dev-conference {
      background: image-url("case-studies/listing/sdc.jpg") no-repeat center top;
      height: 651px;
      background-size: cover;
      justify-content: flex-end;

      @media screen and (max-width: 992px) {
        justify-content: flex-start;
        padding-top: 90px;
      }

      img {
        width: 840px;
        max-width: 160%;
        height: auto;
        position: absolute;
        left: -35%;
        margin-left: 0;
        bottom: 0;
        transform: translate3d(0, 0, 0);

        @media screen and (min-width: 512px) {
          width: 520px;
          max-width: 100%;
          left: 50%;
          transform: translate3d(-50%, 0, 0);
        }

        @media screen and (min-width: 992px) {
          width: 520px;
          max-width: none;
          margin-left: 80px;
          transform: translate3d(0, 0, 0);
        }

        @media (min-width: 1200px) {
          width: 860px;
          margin-left: -130px;
        }
      }

      &:hover {
        cursor: pointer;

        .arrow-case {
          & .arrow-case-head {
            stroke-dashoffset: 0;
          }
          & .arrow-case-body {
            stroke-dashoffset: 0;
          }

        }
      }
    }

    &.red-bull {
      background: image-url("case-studies/listing/redbull-bkg.jpg") no-repeat center top;
      height: 480px;
      background-size: cover;
      justify-content: flex-end;

      @media screen and (max-width: 992px) {
        justify-content: flex-start;
        padding-top: 30px;
      }

      @media screen and (max-width: 480px) {
        height: 338px;
      }

      @media (min-width: 992px) {
        background-size: auto;
      }

      @media (min-width: 1410px) {
        background-size: cover;
      }

      img {
        height: auto;
        position: absolute;
        bottom: 0;
        width: 340px;
        left: 50%;
        margin-left: 0;
        transform: translate3d(-50%, 0, 0);

         @media (min-width: 992px) {
          width: 620px;
          margin-left: -75px;
          left: 50%;
          margin-left: -135px;
          transform: translate3d(0, 0, 0);
        }

        @media screen and (max-width: 480px) {
          width: 250px;
          margin-left: -15px;
        }
      }

      &:hover {
        cursor: pointer;

        .arrow-case {
          & .arrow-case-head {
            stroke-dashoffset: 0;
          }
          & .arrow-case-body {
            stroke-dashoffset: 0;
          }

        }
      }
    }

    &.kibow {
      background-color: #D3FF00;
      height: 338px;
      padding: 0;
      justify-content: flex-end;

      @media screen and (max-width: 992px) {
        justify-content: flex-start;
      }

      h3,
      h2,
      .arrow-case {
        width: 100%;
        max-width: 640px;
        margin-right: auto;
        margin-left: 0;

        @media screen and (max-width: 992px) {
          margin-left: auto;
          max-width: 400px;
        }
      }

      @media (min-width: 992px) {
        height: 485px;
      }

      img {
        width: 320px;
        height: auto;
        position: absolute;
        left: 50%;
        margin-left: 0;
        transform: translate3d(-50%, 0, 0);
        bottom: -225px;
        display: block;

        @media (min-width: 992px) {
          margin-left: 60px !important;
          bottom: 0;
          margin-left: -140px;
          transform: translate3d(0, 0, 0);
        }

        @media (min-width: 1201px) {
          margin-left: -75px !important;
          bottom: 0;
          margin-left: -140px;
          transform: translate3d(0, 0, 0);
        }

        @media (min-width: 1300px) {
          margin-left: -15px !important;
        }
      }

      h3 {
        color: rgba(#152737, .6);
      }

      h2 {
        color: #152737;
      }
    } 

    &.genee {
      background-color: #fff;
      height: 338px;
      padding: 0;
      justify-content: flex-end;

      @media screen and (max-width: 480px) {
        justify-content: flex-start;
      }

      h3,
      h2,
      .arrow-case {
        width: 100%;
        max-width: 640px;
        margin-right: auto;
        margin-left: 0;

        @media screen and (max-width: 480px) {
          margin-left: auto;
          max-width: 400px;
        }
      }

      @media (min-width: 992px) {
        height: 485px;
      }

      img {
        width: 409px;
        height: 373px;
        position: absolute;
        left: 50%;
        margin-left: -140px;
        bottom: -130px;
        display: none;

        @media (min-width: 992px) {
          margin-left: -75px;
          bottom: 0;
          display: block;
        }

        @media (min-width: 1300px) {
          margin-left: 10px;
        }

        @media (min-width: 1800px) {
          left: 37%;
        }

        &.mob {
          display: block;
          width: 349px;
          height: 231px;
          right: 0;
          left: auto;
          bottom: 0;

          @media (min-width: 992px) {
            display: none;
          }
        }
      }

      h3 {
        color: #234B7B;
      }

      h2 {
        color: #33953C;
      }
    }

    &.metacenter {
      height: 338px;
      background: #ff9d29;
      justify-content: flex-end;
      padding: 0;

      @media screen and (max-width: 992px) {
        justify-content: flex-start;
      }

      @media (min-width: 992px) {
        background-size: auto;
        height: 485px;
      }

      @media (min-width: 1410px) {
        background-size: cover;
      }

      h3,
      h2,
      .arrow-case {
        width: 100%;
        max-width: 640px;
        margin-right: 0;
        margin-left: auto;

        @media screen and (max-width: 992px) {
          margin-right: auto;
          max-width: 400px;
        }
      }

      h3 span{
        @media (min-width: 1140px){
          max-width: 190px;
          line-height: 1.4;
        }
      }

      img {
        position: absolute;
        width: 290px;
        top: auto;
        right: auto;
        bottom: -75px;
        left: 50%;
        transform: translate3d(-50%,0,0);
        margin-left: 0;
        display: block;

        @media screen and (min-width: 640px) {
          margin-left: -30px;
        }

        @media (min-width: 992px) {
          width: 290px;
          top: 25%;
          right: auto;
          bottom: auto;
          left: 50%;
          transform: translate3d(-50%, -30%, 0);
          margin-left: 0;
        }

        @media (min-width: 1214px) {
          width: 440px;
          top: auto;
          right: -22%;
          bottom: 50%;
          left: auto;
          transform: translate3d(0, 50%, 0);
        }

        @media (min-width: 1800px) {
          right: -15%;
        }
      }
    }

    &.cluey {
      height: 338px;
      background: #A1AEFC;
      justify-content: flex-end;
      padding: 0;

      @media screen and (max-width: 992px) {
        justify-content: flex-start;
      }

      @media (min-width: 992px) {
        background-size: auto;
        height: 485px;
      }

      @media (min-width: 1410px) {
        background-size: cover;
      }

      h3,
      h2,
      .arrow-case {
        width: 100%;
        max-width: 640px;
        margin-right: auto;

        @media screen and (max-width: 992px) {
          margin-left: auto;
          max-width: 400px;
        }
      }

      img {
        position: absolute;
        width: 180px;
        top: auto;
        right: auto;
        bottom: 15px;
        left: 50%;
        transform: translate3d(-50%,0,0);
        margin-left: 0;
        display: block;

        @media screen and (min-width: 640px) {
          margin-left: -30px;
        }

        @media (min-width: 992px) {
          width: 290px;
          top: 25%;
          right: auto;
          bottom: auto;
          left: 50%;
          transform: translate3d(-50%, -30%, 0);
          margin-left: 0;
        }

        @media (min-width: 1214px) {
          width: 440px;
          top: auto;
          right: -10%;
          bottom: 50%;
          left: auto;
          transform: translate3d(0, 50%, 0);
        }

        @media (min-width: 1800px) {
          right: 16%;
        }
      }

      h3 {
        color: rgba(#152737, .6);
      }

      h2 {
        color: #152737;
      }
    }

    &.polyvibe {
      height: 338px;
      background: #6718b2;
      overflow: hidden;
      padding: 0;

      @media (min-width: 992px) {
        background-size: auto;
        height: 970px;
      }

      @media (min-width: 1410px) {
        background-size: cover;
      }

      h3 {
        margin-top: 60px;

        @media screen and (max-width: 992px) {
          margin-top: 30px;
        }
      }

      h3,
      h2,
      .arrow-case {
        width: 100%;
        max-width: 640px;
        margin-right: 0;
        margin-left: auto;
        position: relative;
        z-index: 2;

        @media screen and (max-width: 992px) {
          margin-right: auto;
          max-width: 400px;
        }
      }

      img {
        width: auto;
        height: 250px;
        position: absolute;
        bottom: -30px;
        right: 50%;
        transform: translate3d(50%, 0, 0);

        @media (min-width: 992px) {
          bottom: 10%;
          width: 820px;
          height: auto;
        }
      }
    }

    &.vinco {
      $vincoPurple: #3C2DF5;
      background: $vincoPurple;
      height: 338px;
      overflow: hidden;
      padding: 0;

      @media (min-width: 992px) {
        background-size: auto;
        height: 970px;
      }

      @media (min-width: 1410px) {
        background-size: cover;
      }

      h3 {
        margin-top: 60px;

        @media screen and (max-width: 992px) {
          margin-top: 30px;
        }
      }

      h3,
      h2,
      .arrow-case {
        width: 100%;
        max-width: 640px;
        margin-right: 0;
        margin-left: 0;
        position: relative;
        z-index: 2;

        @media screen and (max-width: 992px) {
          margin-right: auto;
          max-width: 400px;
        }
      }

      img {
        width: auto;
        height: 250px;
        position: absolute;
        bottom: -30px;
        right: 50%;
        transform: translate3d(50%, 0, 0);

        @media (min-width: 992px) {
          bottom: 10%;
          width: 820px;
          height: auto;
        }
      }
    }

    &.tigo {
      height: 338px;
      background: image-url("case-studies/listing/tigo-bkg.jpg") no-repeat center top;
      background-size: cover;
      padding: 0;
      justify-content: flex-end;

      @media screen and (max-width: 992px) {
        justify-content: flex-start;
      }

      h3,
      h2,
      .arrow-case {
        width: 100%;
        max-width: 640px;
        margin-right: 0;
        margin-left: auto;

        @media screen and (max-width: 992px) {
          margin-right: auto;
          max-width: 400px;
        }
      }

      @media (min-width: 992px) {
        background-size: auto;
        height: 485px;
      }

      @media (min-width: 1410px) {
        background-size: cover;
      }

      img {
        height: 270px;
        width: auto;
        position: absolute;
        bottom: 0px;
        right: 0;

        @media (min-width: 992px) {
          width: 376px;
          height: 402px;
        }

      }

      img.second {
        display: none;
        width: 274px;
        height: 188px;
        position: absolute;
        top: 0px;
        left: 0;

        @media (min-width: 992px) {
          display: block;
        }
      }
    }

    &.espn {
      background: image-url("case-studies/listing/espn-bkg.jpg") no-repeat center top;
      height: 338px;
      background-size: cover;
      padding: 0;
      justify-content: flex-end;

      @media screen and (max-width: 992px) {
        justify-content: flex-start;
      }

      h3,
      h2,
      .arrow-case {
        width: 100%;
        max-width: 640px;
        margin-right: auto;
        margin-left: 0;

        @media screen and (max-width: 992px) {
          margin-left: auto;
          max-width: 400px;
        }
      }

      @media (min-width: 992px) {
        background-size: auto;
        height: 485px;
      }

      @media (min-width: 1410px) {
        background-size: cover;
      }
    }

    &.li5 {
      height: 550px;
      background-color: #ED1A3D;

      @media screen and (max-width: 480px) {
        height: 338px;
      }

      h3 {
        margin-top: 60px;

        @media screen and (max-width: 480px) {
          margin-top: 30px;
        }
      }

      h3,
      h2,
      .arrow-case {
        @media screen and (max-width: 480px) {
          margin-right: auto;
          margin-left: auto;
          max-width: 400px;
        }
      }

      img.img1 {
        width: 332px;
        height: 481px;
        position: absolute;
        left: 50%;
        margin-left: 0px;
        bottom: -80px;

        @media (min-width: 992px) {
          bottom: 0;
        }

        @media screen and (max-width: 480px) {
          width: 230px;
          height: auto;
          margin-left: 30px;
        }
      }

      img.img2 {
        width: 1000px;
        height: auto;
        position: absolute;
        left: 0;
        margin-left: 0;
        bottom: 0;

         @media (min-width: 992px) {
           width: 100%;
        }
      }
    }

    &.espnfc {
      height: 700px;
      background: image-url("case-studies/listing/espnfc-bkg.jpg") no-repeat center top;
      background-size: cover;
      padding: 0;

      @media (min-width: 992px) {
        background-size: auto;
        height: 971px;
      }

      @media (min-width: 1410px) {
        background-size: cover;
      }

      @media screen and (max-width: 480px) {
        height: 338px;
      }

      h3 {
        margin-top: 60px;

        @media screen and (max-width: 992px) {
          margin-top: 30px;
        }
      }

      h3,
      h2,
      .arrow-case {
        width: 100%;
        max-width: 640px;
        margin-right: 0;
        margin-left: auto;

        @media screen and (max-width: 992px) {
          margin-right: auto;
          max-width: 400px;
        }
      }

      img {
        width: 686px;
        height: 778px;
        position: absolute;
        left: 0%;
        margin-left: 0px;
        bottom: -92px;

        @media screen and (max-width: 480px) {
          width: 320px;
          height: auto;
        }
      }
    }

    &.tag {
      height: 338px;
      background: image-url("case-studies/listing/tag-bkg.jpg") no-repeat center top;
      background-size: cover;
      padding: 0;
      justify-content: flex-end;

      @media screen and (max-width: 992px) {
        justify-content: flex-start;
      }

      @media (min-width: 992px) {
        background-size: auto;
        height: 485px;
      }

      @media (min-width: 1410px) {
        background-size: cover;
      }

      img {
        width: 338px;
        height: 397px;
        position: absolute;
        margin-left: 0px;
        bottom: -155px;
        left: 50%;
        margin-left: -70px;

        @media (min-width: 992px) {
          margin-left: 0px;
          bottom: 0px;
        }
      }

      h3,
      h2,
      .arrow-case {
        width: 100%;
        max-width: 640px;
        margin-right: auto;
        margin-left: 0;

        @media screen and (max-width: 992px) {
          margin-left: auto;
          max-width: 400px;
        }
      }
    }

    &.wellbin {
      height: 338px;
      background: image-url("case-studies/listing/wellbin-bkg.jpg") no-repeat center top;
      background-size: cover;
      padding: 0;
      justify-content: flex-end;

      @media screen and (max-width: 992px) {
        justify-content: flex-start;
      }

      @media (min-width: 992px) {
        background-size: auto;
        height: 486px;
      }

      @media (min-width: 1410px) {
        background-size: cover;
      }

      img {
        width: 169px;
        height: 218px;
        position: absolute;
        bottom: 0px;
        left: 50%;
        margin-left: -70px;

        @media (min-width: 992px) {
          margin-left: 0px;
          width: 337px;
          height: 435px;
        }
      }

      h3,
      h2,
      .arrow-case {
        width: 100%;
        max-width: 640px;
        margin-right: auto;
        margin-left: 0;

        @media screen and (max-width: 992px) {
          margin-left: auto;
          max-width: 400px;
        }
      }
    }

    &.tnrebrand {
      height: 550px;
      background: image-url("case-studies/listing/tn-bkg-mobile.jpg") no-repeat center top;
      background-size: cover;
      justify-content: flex-end;

      @media screen and (max-width: 992px) {
        justify-content: flex-start;
      }

      @media screen and (max-width: 480px) {
        height: 338px;
        background-position: center 25%;
      }

      @media (min-width: 992px) {
        background-size: auto;
        background: image-url("case-studies/listing/tn-bkg.jpg") no-repeat center top;
      }

      @media (min-width: 1410px) {
        background-size: cover;
      }

      img {
        width: 758px;
        height: 494px;
        position: absolute;
        left: 50%;
        margin-left: -75px;
        bottom: 0;
      }

      h3,
      h2,
      .arrow-case {
        @media screen and (max-width: 992px) {
          margin-right: auto;
          margin-left: auto;
          max-width: 400px;
        }
      }
    }

    &.djlist {
      height: 338px;
      background: image-url("case-studies/listing/djlist-bkg.jpg") no-repeat center top;
      background-size: cover;
      padding: 0;
      justify-content: flex-end;

      @media screen and (max-width: 992px) {
        justify-content: flex-start;
      }

      @media (min-width: 992px) {
        background-size: auto;
        height: 485px;
      }

      @media (min-width: 1410px) {
        background-size: cover;
      }

      img {
        width: 350px;
        height: 362px;
        position: absolute;
        right: -10px;
        margin-left: 0px;
        bottom: -79px;

        @media (min-width: 992px) {
          width: 412px;
          height: 416px;
          bottom: 0px;
        }
      }

      h3,
      h2,
      .arrow-case {
        width: 100%;
        max-width: 640px;
        margin-right: 0;
        margin-left: auto;

        @media screen and (max-width: 992px) {
          margin-right: auto;
          max-width: 400px;
        }
      }
    }

    &.messi {
      height: 338px;
      background: #000 image-url("case-studies/listing/messi-bkg.jpg") no-repeat center 62px;
      background-size: cover;
      padding: 0;
      justify-content: flex-end;

      @media screen and (max-width: 992px) {
        justify-content: flex-start;
      }

      @media (min-width: 992px) {
        background-size: auto;
        height: 485px;
        background: image-url("case-studies/listing/messi-bkg.jpg") no-repeat center top;
      }

      @media (min-width: 1410px) {
        background-size: cover;
      }

      img {
        width: 316px;
        height: 402px;
        position: absolute;
        left: 50%;
        margin-left: -35px;
        bottom: -176px;

        @media (min-width: 992px) {
          margin-left: 0px;
          bottom: 0;
        }

        @media (min-width: 1300px) {
          margin-left: 10px;
        }

        h3,
        h2,
        .arrow-case {
          width: 100%;
          max-width: 640px;
          margin-right: auto;
          margin-left: 0;

          @media screen and (max-width: 992px) {
            margin-left: auto;
            max-width: 400px;
          }
        }
      }
    }

    .fadeInDown2 {
      animation-name: fadeInDownExt;
    }
  }

}

@keyframes fadeInDownExt {

  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

