$template_name: "messi";
$messiOrange: #E35534;
$messiBlue: #66AED8;

ul#items {

  li#case-study-block-#{$template_name} {
    background: black;

    a {
      color: white;
    }
  }
}

body#case-study-page-#{$template_name} {
  color: white;
  @include background_and_loading_colors(black, black, white);

  .cs-head {

    a {
      text-decoration: none;
      color: white;
    }

    .links {

      a {

        &.contact {
          border-color: white;

          &:hover {
            color: black;
          }
        }
      }
    }
  }

  .title-subtitle-stores {

    h1 {
      color: white;
    }

    h2 {
      color: rgba(white, .5);
    }

    .stores {

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  a.see-more-case-study {

    svg {

      path {
        stroke: #000;
        fill: #000;
      }
    }
  }

  #caseStudyContent {
    background: white;
    padding-left: 0;
    padding-right: 0;

    .about-project {

      a {
        color: $messiOrange;
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }

      table,
      tr {

        td {

          &:first-child {
            color: #152737;
          }

          &:last-child {
            p {
              color: #1a2b44;
            }
          }
        }
      }
    }

    .fb-app-contest {
      background: black image-url("case-studies/messi/fb-app-contest-bg.jpg") no-repeat center bottom;
      background-size: 100% auto;
      background-size: cover;
      padding-top: 100px;

      h1 {
        text-transform: uppercase;
        text-align: center;
        color: $messiOrange;
        font-weight: 300;
        margin: 0 0 50px 0;
        font-size: 38px;
        letter-spacing: 8px;
        line-height: 46px;
      }

      p {
        max-width: 800px;
        text-align: center;
        font-size: 22px;
        color: white;
        line-height: 36px;
        margin: 0 auto 85px auto;
        font-weight: 300;
      }

      img.book-facebook {
        max-width: 785px;
        width: 50%;
        display: block;
        margin: 0 auto 85px auto;
      }
    }

    .first-description {
      background: black image-url("case-studies/messi/messi.jpg") no-repeat left top;
      background-size: 100% auto;
      background-size: cover;
      overflow: hidden;

      > .container {
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
      }

      p {
        padding-top: 55px;
        padding-bottom: 365px;
        font-size: 24px;
        color: white;
        line-height: 36px;
        max-width: 630px;
        color: white;
        font-weight: 300;
      }
    }
  }

  .digital-version {
    background: $messiBlue;
    padding-top: 125px;
    padding-bottom: 100px;

    .phone-showcase {
      text-align: center;

      img {
        width: 100%;
        max-width: 413px;
      }
    }

    .text {

      h1 {
        margin-top: 75px;
        font-size: 38px;
        color: black;
        line-height: 46px;
        font-weight: 300;
        text-transform: uppercase;
      }

      p {
        font-size: 24px;
        color: white;
        line-height: 36px;
        font-weight: 300;

        &:not(last-child) {
          margin-bottom: 30px;
        }
      }
    }
  }

  .codes-visitors {
    @include messiGradient;
    position: relative;
    overflow: hidden;

    .codes {
      background: transparent image-url("case-studies/messi/escudos1.png") no-repeat center center;
      background-size: auto 80%;
      padding-top: 300px;
      padding-bottom: 180px;

      > .row {
        max-width: 1280px;
        margin: 0 auto;
      }

      .text {

        h1 {
          font-size: 38px;
          color: $messiOrange;
          line-height: 46px;
          font-weight: 300;
          text-transform: uppercase;
          margin: 0 0 45px 0;
        }

        p {
          font-size: 24px;
          color: white;
          line-height: 36px;
          font-weight: 300;
        }
      }
    }

    img.hand {
      width: 50%;
      max-width: 461px;
      position: absolute;
      top: 150px;
      right: -10px;
      bottom: auto;
      left: auto;
    }

    .web {

      > .row {
        max-width: 1280px;
        margin: 0 auto;
        padding-bottom: 150px
      }

      .text {

        h1 {
          font-size: 38px;
          color: $messiOrange;
          line-height: 46px;
          font-weight: 300;
          text-transform: uppercase;
          margin: 140px 0 45px 0;
        }

        p {
          font-size: 24px;
          color: white;
          line-height: 36px;
          font-weight: 300;
        }
      }

      .web-image {

        img {
          width: 100%;
        }
      }
    }
  }

  .case-study-video {
    background: transparent image-url("case-studies/messi/case-study-bg.png") no-repeat center top;
    background-size: 100% auto;
    float: left;
    width: 100%;
    position: relative;
    z-index: 99;
    padding-top: 50px;

    h1 {
      font-size: 38px;
      color: $messiOrange;
      line-height: 46px;
      font-weight: 300;
      text-transform: uppercase;
      margin: 90px 0 60px 0;
      text-align: center;
    }

    .video {
      width: 800px;
      height: 488px;
      margin: 0 auto 80px auto;
      padding: 25px 35px;
      background: transparent image-url("case-studies/messi/video-border.png") no-repeat center center;
      background-size: 100% 100%;

      iframe {
        border: 0;
        border: none;
        width: 734px;
        height: 435px;
      }
    }
  }

  .more-case-studies {
    background: white;
    color: #98999d;
    strong {
      color: black;
    }
  }
}

@media screen and (max-width: 1140px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .first-description {

        img.diagonal-cut {
          top: -45px;
        }
      }
    }

    .visitors-covers {

      .text {

        h1 {
          margin-top: 185px;
          margin-bottom: 185px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {

  body#case-study-page-#{$template_name} {

    .digital-version .text p {
      font-size: 20px;
      line-height: 30px
    }

    .codes-visitors .web .text h1 {
      margin: 60px 0 45px 0;
    }
  }
}

@media screen and (max-width: 768px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .about-project {

        tr {

          td:last-child {

            p {
              font-size: 16px !important;
              line-height: 23px !important;
              text-align: center;
            }
          }
        }
      }

      .first-description {

        img.diagonal-cut {
          top: -25px;
        }
      }

      .first-description p {
        padding-top: 0;
      }
    }

    .visitors-covers .text h1 {
      max-width: 100%;
      width: 100%;
    }

    .codes-visitors img.hand {
      z-index: -1;
    }

    .case-study-video .video {
      width: 480px;
      height: 318px;

      iframe {
        width: 414px;
        height: 268px;
      }
    }
  }
}

@media screen and (max-width: 480px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .fb-app-contest img.book-facebook {
        width: 80%;
      }

      .first-description {

        p {
          padding-bottom: 0;
          text-shadow: 0 0 2px black;
        }

        img.diagonal-cut {
          top: 0;
        }
      }
    }

    .case-study-video .video {
      width: 320px;
      height: 200px;

      iframe {
        width: 250px;
        height: 150px;
      }
    }
  }
}
