$template_name: "metacenter";
$metacenterLightBlue: #30c7f3;
$metacenterDarkBlue: #1c8cac;
$metacenterOrange: #ff9d29;

ul#items {

  li#case-study-block-#{$template_name} {
    background: $metacenterOrange;

    a {
      color: white;
    }
  }
}

body#case-study-page-#{$template_name} {
  color: white;
  @include background_and_loading_colors($metacenterOrange, $metacenterOrange, white);

  #page {
    transform: none !important;
  }

  .cs-head {

    a {
      text-decoration: none;
      color: white;
    }

    .links {

      a {

        &.contact {
          border-color: white;

          &:hover {
            color: white;
          }
        }
      }
    }
  }

  .title-subtitle-stores {
    h1 {
      color: white;
    }

    h2 {
      color: white;
    }

    .stores {

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  .more-case-studies {
    background-color: white;
    color: #98999D;

    strong {
      color: #162B31;
    }
  }

  a.see-more-case-study {

    svg {

      path {
        stroke: $metacenterOrange;
        fill: $metacenterOrange;
      }
    }
  }

  #caseStudyContent {
    background: white;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
    overflow-y: auto;

    @media screen and (max-width: 736px) {
      overflow-y: hidden;
    }

    .about-project-wrapper {
      background: white;
    }

    .about-project {
      padding: 100px 30px;
      padding-left: 15px;
      padding-right: 15px;

      @media screen and (max-width: 736px) {
        padding-left: 0;
        padding-right: 0;
        padding-top: 60px;
        padding-bottom: 60px;
      }

      table,
      tr {

        td {

          &:first-child {
            color: #1A2B44;
          }

          &:last-child {

            p {
              color: #1A2B44;
            }
          }

          @media screen and (max-width: 736px) {

            &:first-child {
              font-size: 20px;
              line-height: 24px;
              text-align: center;
            }

            &:last-child {
              p {
                font-size: 16px !important;
                line-height: 23px !important;
                text-align: center;
              }
            }
          }
        }
      }
    }

    .revamp {
      background: $metacenterDarkBlue;
      padding-top: 120px;
      padding-bottom: 90px;
      text-align: center;
      position: relative;

      @media screen and (max-width: 992px) {
        padding-top: 90px;
      }

      .white-stripe {
        width: 100vw;
        height: 60vh;
        max-height: 465px;
        position: absolute;
        top: auto;
        right: auto;
        bottom: 0;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        background: white;
        z-index: 2;

        @media screen and (max-width: 768px) {
          height: 50vh;
        }
      }

      h2 {
        color: white;
        font-weight: normal;
        font-size: 32px;
        letter-spacing: 6px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 15px;
        position: relative;
        z-index: 3;
      }

      p {
        color: white;
        font-weight: 300;
        font-size: 26px;
        line-height: 1.4;
        max-width: 620px;
        margin: 0 auto 50px;

        @media screen and (max-width: 992px) {
          font-size: 22px;
        }
      }

      .before-after-window {
        position: relative;
        z-index: 3;

        .topbar {
          @media screen and (max-width: 767px) {
            display: none;
          }

          img {
            border-radius: 6px 6px 0 0;
            overflow: hidden;
            max-width: 100%;
            height: auto;
          }
        }

        .images {
          position: relative;
          box-shadow: 0 20px 45px -15px rgba(black, .15);

          .sizer {
            img {
              opacity: 0;
              visibility: hidden;
              width: 100%;
              height: auto;
            }
          }

          .before,
          .after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: auto;
            left: 0;

            img {
              width: 100%;
              height: auto;
              opacity: 0;
              visibility: hidden;
            }
          }

          .before {
            z-index: 4;
            background: white image-url("case-studies/metacenter/demo-old.png") no-repeat left top / auto 100%;
          }

          .after {
            z-index: 5;
            
            .mask {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: auto;
              background: white image-url("case-studies/metacenter/demo-new.png") no-repeat right top / auto 100%;
            }
          }
        }

        .handle {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          margin: 45px 0;

          .labels {
            font-weight: normal;
            color: $metacenterLightBlue;
            font-size: 16px;
            letter-spacing: 3px;
            text-transform: uppercase;
            margin: 2px 0;
          }

          .handle-control {
            width: 100%;
            margin: 0 20px;
            position: relative;
            z-index: 5;

            .filled-value {
              position: absolute;
              top: 50%;
              right: 0;
              bottom: auto;
              left: auto;
              height: 2px;
              background: $metacenterLightBlue;
              transform: translate3d(0, -50%, 0);
              pointer-events: none;
            }

            input[type=range] {
              -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
              width: 100%; /* Specific width is required for Firefox. */
              background: transparent; /* Otherwise white in Chrome */
            }
            
            input[type=range]::-webkit-slider-thumb {
              -webkit-appearance: none;
            }
            
            input[type=range]:focus {
              outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
            }
            
            input[type=range]::-ms-track {
              width: 100%;
              cursor: pointer;
            
              /* Hides the slider so custom styles can be added */
              background: transparent; 
              border-color: transparent;
              color: transparent;
            }

            /* Special styling for WebKit/Blink */
            input[type=range]::-webkit-slider-thumb {
              -webkit-appearance: none;
              border: 1px solid $metacenterLightBlue;
              height: 24px;
              width: 24px;
              border-radius: 50%;
              background: $metacenterLightBlue;
              cursor: pointer;
              margin-top: -10.5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
              box-shadow: none;
            }

            /* All the same stuff for Firefox */
            input[type=range]::-moz-range-thumb {
              box-shadow: none;
              border: 1px solid $metacenterLightBlue;
              height: 24px;
              width: 24px;
              border-radius: 50%;
              background: $metacenterLightBlue;
              cursor: pointer;
            }

            /* All the same stuff for IE */
            input[type=range]::-ms-thumb {
              box-shadow: none;
              border: 1px solid $metacenterLightBlue;
              height: 24px;
              width: 24px;
              border-radius: 50%;
              background: $metacenterLightBlue;
              cursor: pointer;
            }

            input[type=range]::-webkit-slider-runnable-track {
              width: 100%;
              height: 2px;
              cursor: pointer;
              box-shadow: none;
              background-color: rgba(black, .2);
              border-radius: 0;
              border: 0;
            }
            
            input[type=range]:focus::-webkit-slider-runnable-track {
              background-color: rgba(black, .2);
            }
            
            input[type=range]::-moz-range-track {
              width: 100%;
              height: 2px;
              cursor: pointer;
              box-shadow: none;
              background: rgba(black, .2);
              border-radius: 0;
              border: 0;
            }
            
            input[type=range]::-ms-track {
              width: 100%;
              height: 2px;
              cursor: pointer;
              background: transparent;
              border-color: transparent;
              border-width: 24px 0;
              color: transparent;
            }

            input[type=range]::-ms-fill-lower {
              background: rgba(black, .2);
              border: 0;
              border-radius: 0;
              box-shadow: none;
            }

            input[type=range]:focus::-ms-fill-lower {
              background: rgba(black, .2);
            }

            input[type=range]::-ms-fill-upper {
              background: rgba(black, .2);
              border: 0;
              border-radius: 0;
              box-shadow: none;
            }

            input[type=range]:focus::-ms-fill-upper {
              background: rgba(black, .2);
            }
          }
        }
      }
    }

    .overview {
      position: relative;

      .blue-stripe {
        width: 100vw;
        height: 60vh;
        max-height: 400px;
        position: absolute;
        top: auto;
        right: auto;
        bottom: 0;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        background: $metacenterDarkBlue;
        z-index: 2;

        @media screen and (max-width: 768px) {
          height: 30vh;
        }
      }

      .excerpt {
        text-align: center;
      }

      h2 {
        margin-top: 0;
        margin-bottom: 40px;
        color: #485461;
        font-weight: normal;
        font-size: 32px;
        letter-spacing: 7px;
        text-transform: uppercase;
      }

      p {
        color: #485461;
        font-weight: 300;
        font-size: 26px;
        line-height: 1.4;

        @media screen and (max-width: 992px) {
          font-size: 22px;
        }
      }

      &-image {
        text-align: center;
        position: relative;
        z-index: 5;
        margin-top: 45px;

        &-inner {
          background: white;
          padding: 30px;
          box-shadow: 0 10px 60px -10px rgba(72, 84, 97, .3);
          border-radius: 12px;
          
          svg {
            width: 100%;
            height: auto;
          }
        }

        img {
          max-width: 100% !important;
          height: auto !important;
        }
      }
    }

    .characteristics {
      background: $metacenterDarkBlue;
      padding-top: 60px;
      padding-bottom: 120px;
      text-align: center;

      @media screen and (max-width: 992px) {
        padding-bottom: 60px;
      }

      h2 {
        color: white;
        font-weight: normal;
        font-size: 32px;
        letter-spacing: 6px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 15px;
      }

      &-item {
        display: flex;
        flex-direction: row;
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: left;
        align-content: flex-start;
        align-items: center;

        &-image {
          margin-right: 30px;
          display: flex;
          width: 72px;
          height: 62px;

          img {
            max-width: 100%;
            height: auto;
            margin: auto;
          }
        }

        p {
          width: 100%;
          color: white;
          font-weight: 300;
          font-size: 18px;
          line-height: 1.333;
          margin: 0 20px 0 15px;

          @media screen and (max-width: 1024px) {
            margin: 0;
          }
        }
      }
    }

    .personas {
      padding-top: 160px;
      padding-bottom: 160px;
      text-align: center;

      @media screen and (max-width: 992px) {
        padding-top: 90px;
        padding-bottom: 60px;
      }

      .excerpt {
        h2 {
          color: #212121;
          font-weight: normal;
          font-size: 32px;
          letter-spacing: 6px;
          text-transform: uppercase;
          margin-top: 0;
          margin-bottom: 15px;
          position: relative;
          z-index: 3;
  
          &::before {
            content: '';
            width: 88px;
            height: 8px;
            background: $metacenterLightBlue;
            position: absolute;
            top: -16px;
            right: auto;
            bottom: auto;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
          }
        }
  
        p {
          color: #1a2b44;
          font-weight: 300;
          font-size: 26px;
          line-height: 1.4;
          margin: 0 auto 50px;

          @media screen and (max-width: 992px) {
            font-size: 22px;
          }
        }
      }


      &-card {
        margin-top: 30px;
        margin-bottom: 30px;

        &-inner {
          box-shadow: 0 10px 60px -10px rgba(72, 84, 97, .3);
          border-radius: 6px;
          background-color: white;
          padding: 64px;
          text-align: left;
  
          @media screen and (max-width: 1024px) {
            padding: 15px;
          }
  
          h2 {
            color: #152737;
            font-weight: 700;
            font-size: 28px;
            margin: 0 0 15px;
            text-transform: capitalize;
          }
  
          p {
            color: #1a2b44;
            font-weight: 300;
            font-size: 20px;
            line-height: 1.4;
            margin: 0 0 15px;
          }
  
          a {
            color: #30c7f3;
            font-weight: normal;
            font-size: 20px;
            line-height: 1.2;
            text-decoration: none;

            @media screen and (max-width: 992px) {
              display: inline-block;
              margin-bottom: 15px;
            }
  
            img {
              display: inline-block;
              margin-right: 10px;
              position: relative;
              top: -1px;
            }
  
            span {
              border-bottom: 1px solid currentColor;
            }
  
            &:hover {
              text-decoration: none;
              opacity: .8;
            }
          }
  
          .label {
            color: white;
            font-weight: 600;
            font-size: 16px;
            padding: 8px;
            background: $metacenterDarkBlue;
            border-radius: 8px;
            margin-right: 10px;
            margin-bottom: 12px;
            display: inline-block;
          }
        }
      }
    }

    .moodboard {
      padding-top: 0;
      padding-bottom: 120px;
      text-align: center;

      @media screen and (max-width: 992px) {
        padding-bottom: 0;
      }

      .excerpt {
        h2 {
          color: #212121;
          font-weight: normal;
          font-size: 32px;
          letter-spacing: 6px;
          text-transform: uppercase;
          margin-top: 0;
          margin-bottom: 15px;
          position: relative;
          z-index: 3;
  
          &::before {
            content: '';
            width: 88px;
            height: 8px;
            background: $metacenterLightBlue;
            position: absolute;
            top: -16px;
            right: auto;
            bottom: auto;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
          }
        }
  
        p {
          color: #1a2b44;
          font-weight: 300;
          font-size: 26px;
          line-height: 1.4;
          margin: 0 auto 50px;

          @media screen and (max-width: 992px) {
            font-size: 22px;
          }
        }
      }

      &-slider {
        overflow: visible;

        .slick-list {
          overflow: visible;
        }

        .slide {
          padding-left: 30px;
          padding-right: 30px;

          @media screen and (max-width: 767px) {
            padding-left: 15px;
            padding-right: 15px;
          }

          img {
            max-width: 100%;
            height: auto;
            border-radius: 20px;
            box-shadow: 0 0 50px -10px rgba(72, 84, 97, .6);
            overflow: hidden;
          }
        }
      }
    }

    .team {
      padding-top: 120px;
      padding-bottom: 120px;
      text-align: left;
      position: relative;
      // background: white image-url("case-studies/metacenter/dots-map.png") no-repeat 85% top / auto 1060px;

      @media screen and (max-width: 992px) {
        padding-top: 60px;
        padding-bottom: 60px;
      }

      .dots-map {
        position: absolute;
        top: 0;
        right: auto;
        bottom: auto;
        left: 50%;
        transform: translate3d(-50%, 0, 0);

        @media screen and (max-width: 992px) {
          position: static;
          top: auto;
          left: auto;
          transform: none;
          margin-top: 30px;
          margin-bottom: 30px;
        }

        svg {
          width: auto !important;
          height: 1060px !important;

          @media screen and (max-width: 992px) {
            width: 80% !important;
            max-width: 640px;
            margin: 0 auto;
            height: auto !important;
            display: block;
          }
        }
      }

      .excerpt {
        margin-top: 220px;

        @media screen and (max-width: 992px) {
          text-align: center;
          margin-top: 30px;
        }

        h2 {
          color: #212121;
          font-weight: normal;
          font-size: 32px;
          letter-spacing: 6px;
          text-transform: uppercase;
          margin-top: 0;
          margin-bottom: 30px;
          position: relative;
          z-index: 3;
  
          &::before {
            content: '';
            width: 88px;
            height: 8px;
            background: $metacenterLightBlue;
            position: absolute;
            top: -16px;
            right: auto;
            bottom: auto;
            left: 0;

            @media screen and (max-width: 992px) {
              left: 50%;
              transform: translate3d(-50%, 0, 0);
            }
          }
        }
  
        p {
          color: #1a2b44;
          font-weight: 300;
          font-size: 18px;
          line-height: 1.4;
          margin: 0 auto 30px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }

      &-cards-slider {
        margin-top: 45px;
        box-shadow: 0 2px 50px 10px rgba(72, 84, 97, .15);
        border-radius: 6px;

        .slide {
          border-radius: 6px;
          overflow: hidden;

          img {
            width: 100%;
            height: auto;
          }
        }

        .slick-dots {
          margin-bottom: -20px;

          li {
            margin-left: 2px;
            margin-right: 2px ;

            button {
              &::before {
                font-size: 10px;
                color: rgba(black, .6);
              }

              &:hover {
                &::before {
                  color: rgba($metacenterLightBlue, .5);
                }
              }
            }

            &.slick-active {
              button {
                &::before {
                  color: $metacenterLightBlue;
                }

                &:hover {
                  &::before {
                    color: $metacenterLightBlue;
                  }
                }
              }
            }
          }
        }
      }
    }

    .outcome {
      padding-top: 60px;
      padding-bottom: 120px;
      text-align: center;
      background-color: #f6faff;

      @media screen and (max-width: 992px) {
        padding-bottom: 60px;
      }

      &-title {
        img {
          width: calc(110vw);
          height: auto;
          position: relative;
          left: 50%;
          transform: translate3d(-50%, 0, 0);
        }
      }

      .excerpt {
        margin-top: 120px;
        text-align: center;

        h2 {
          color: #212121;
          font-weight: normal;
          font-size: 32px;
          letter-spacing: 6px;
          text-transform: uppercase;
          margin-top: 0;
          margin-bottom: 15px;
          position: relative;
          z-index: 3;
  
          &::before {
            content: '';
            width: 88px;
            height: 8px;
            background: $metacenterLightBlue;
            position: absolute;
            top: -16px;
            right: auto;
            bottom: auto;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
          }
        }
  
        p {
          color: #1a2b44;
          font-weight: 300;
          font-size: 26px;
          line-height: 1.4;
          margin: 0 auto 50px;

          @media screen and (max-width: 992px) {
            font-size: 22px;
          }
        }
      }

      .icons-measurements {
        padding: 40px 30px;
        box-shadow: 0 10px 60px -10px rgba(72, 84, 97, .3);
        border-radius: 12px;
        background-color: #f6faff;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
        }
      }

      .spacing {
        height: 432px;
        width: 100%;
        position: relative;
        overflow: visible;
        margin-top: 70px;

        @media screen and (max-width: 992px) {
          margin-bottom: 30px;
        }

        @media screen and (max-width: 767px) {
          height: 290px;
        }

        img {
          height: 100%;
          width: auto;
          position: absolute;
          top: 0;
          right: 100px;
          bottom: auto;
          left: auto;
        }
      }

      .card {
        padding: 30px;
        box-shadow: 0 10px 60px -10px rgba(72, 84, 97, .3);
        border-radius: 12px;
        background-color: #f6faff;
        overflow: hidden;
        text-align: left;

        @media screen and (max-width: 1140px) {
          position: static !important;
          width: 100% !important;
          max-width: 100% !important;
        }

        &.has-top-line {
          margin-top: 210px;
          position: relative;
          overflow: visible;

          @media screen and (max-width: 992px) {
            margin-top: 120px;
          }

          &::before {
            content: '';
            width: 2px;
            height: 170px;
            background: #979797;
            position: absolute;
            top: -195px;
            right: auto;
            bottom: auto;
            left: 50%;
            margin-left: -1px;

            @media screen and (max-width: 992px) {
              display: inline-block;
              height: 60px;
              top: -90px;
            }
          }
        }

        h3 {
          color: $metacenterDarkBlue;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 24px;
          margin-top: 0;
          margin-bottom: 10px;
        }

        p {
          color: #212121;
          font-weight: normal;
          font-size: 16px;
          letter-spacing: .5px;
          line-height: 1.4;
          margin: 0;
        }
      }

      .heights-detail {
        margin-top: 45px;
        margin-bottom: 45px;

        img {
          width: 100%;
          height: auto;
        }
      }

      .color-palette {
        @media screen and (max-width: 992px) {
          margin-top: 30px;
        }

        img {
          width: 100%;
          height: auto;
        }
      }

      .icon-cards {
        .slick-prev.slick-arrow {
          display: none;
        }

        .slick-next.slick-arrow {
          color: transparent;
          background: transparent image-url("case-studies/metacenter/slide-arrow.svg") no-repeat center center / auto auto;
          width: 40px;
          height: 40px;
          right: -50px;
          margin-top: -15px;

          @media screen and (max-width: 1140px) {
            display: none;
          }

          &::before,
          &::after {
            display: none;
          }
        }

        .card {
          margin-top: 20px;
          margin-bottom: 15px;
          padding: 35px 30px;
          text-align: center;
          box-shadow: 0 2px 6px 1px rgba(153, 170, 187, .5);
          border-radius: 4px;
          background-color: #ffffff;

          img {
            display: block;
            margin: 0 auto;
          }
        }

        .labels {
          text-align: left;

          @media screen and (max-width: 1024px) {
            margin-bottom: 30px;
          }

          strong,
          em {
            display: block;
            line-height: 1.6;
          }

          strong {
            color: #485461;
            font-size: 14px;
            font-weight: 600;
          }

          em {
            color: #485461;
            font-weight: 300;
            font-size: 12px;
            letter-spacing: .5px;
          }
        }
      }
    }

    .video {
      padding-top: 30px;
      padding-bottom: 90px;
      background-color: #f6faff;

      @media screen and (max-width: 767px) {
        padding-top: 0;
      }

      video {
        width: 100%;
        height: auto;
        overflow: hidden;
        box-shadow: 0 0 60px -10px rgba(72, 84, 97, .3);
        border-radius: 6px;
        background-color: white;
      }
    }

    .dataflow {
      padding-top: 120px;
      padding-bottom: 60px;
      text-align: center;

      @media screen and (max-width: 992px) {
        padding-bottom: 30px;
      }

      .excerpt {
        margin-bottom: 30px;
      }

      h2 {
        color: #212121;
        font-weight: normal;
        font-size: 32px;
        letter-spacing: 6px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 15px;
        position: relative;
        z-index: 3;

        &::before {
          content: '';
          width: 88px;
          height: 8px;
          background: $metacenterLightBlue;
          position: absolute;
          top: -16px;
          right: auto;
          bottom: auto;
          left: 50%;
          transform: translate3d(-50%, 0, 0);
        }
      }

      p {
        color: #1a2b44;
        font-weight: 300;
        font-size: 26px;
        line-height: 1.4;
        margin: 0 auto 50px;

        @media screen and (max-width: 992px) {
          font-size: 22px;
        }
      }

      &-graph-image {
        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .conclusion {
      padding-top: 120px;
      padding-bottom: 120px;
      text-align: center;
      background-color: #f6faff;

      @media screen and (max-width: 992px) {
        padding-bottom: 60px;
        padding-bottom: 60px;
      }

      .excerpt {
        margin-bottom: 30px;
      }

      h2 {
        color: #212121;
        font-weight: normal;
        font-size: 32px;
        letter-spacing: 6px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 15px;
        position: relative;
        z-index: 3;

        &::before {
          content: '';
          width: 88px;
          height: 8px;
          background: $metacenterLightBlue;
          position: absolute;
          top: -16px;
          right: auto;
          bottom: auto;
          left: 50%;
          transform: translate3d(-50%, 0, 0);
        }
      }

      p {
        color: #1a2b44;
        font-weight: 300;
        font-size: 26px;
        line-height: 1.4;
        margin: 0 auto 50px;

        @media screen and (max-width: 992px) {
          font-size: 22px;
        }
      }

      .before-after-window {
        position: relative;
        z-index: 3;

        .topbar {
          @media screen and (max-width: 767px) {
            display: none;
          }

          img {
            border-radius: 6px 6px 0 0;
            overflow: hidden;
            max-width: 100%;
            height: auto;
          }
        }

        .images {
          position: relative;
          box-shadow: 0 20px 45px -15px rgba(black, .15);

          .sizer {
            img {
              opacity: 0;
              visibility: hidden;
              width: 100%;
              height: auto;
            }
          }

          .before,
          .after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: auto;
            left: 0;

            img {
              width: 100%;
              height: auto;
              opacity: 0;
              visibility: hidden;
            }
          }

          .before {
            z-index: 4;
            background: white image-url("case-studies/metacenter/conclusion-old.png") no-repeat left top / auto 100%;
          }

          .after {
            z-index: 5;
            
            .mask {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: auto;
              background: white image-url("case-studies/metacenter/conclusion-new.png") no-repeat right top / auto 100%;
            }
          }
        }

        .handle {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          margin: 45px 0;

          .labels {
            font-weight: normal;
            color: $metacenterLightBlue;
            font-size: 16px;
            letter-spacing: 3px;
            text-transform: uppercase;
            margin: 2px 0;
          }

          .handle-control {
            width: 100%;
            margin: 0 20px;
            position: relative;
            z-index: 5;

            .filled-value {
              position: absolute;
              top: 50%;
              right: 0;
              bottom: auto;
              left: auto;
              height: 2px;
              background: $metacenterLightBlue;
              transform: translate3d(0, -50%, 0);
              pointer-events: none;
            }

            input[type=range] {
              -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
              width: 100%; /* Specific width is required for Firefox. */
              background: transparent; /* Otherwise white in Chrome */
            }
            
            input[type=range]::-webkit-slider-thumb {
              -webkit-appearance: none;
            }
            
            input[type=range]:focus {
              outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
            }
            
            input[type=range]::-ms-track {
              width: 100%;
              cursor: pointer;
            
              /* Hides the slider so custom styles can be added */
              background: transparent; 
              border-color: transparent;
              color: transparent;
            }

            /* Special styling for WebKit/Blink */
            input[type=range]::-webkit-slider-thumb {
              -webkit-appearance: none;
              border: 1px solid $metacenterLightBlue;
              height: 24px;
              width: 24px;
              border-radius: 50%;
              background: $metacenterLightBlue;
              cursor: pointer;
              margin-top: -10.5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
              box-shadow: none;
            }

            /* All the same stuff for Firefox */
            input[type=range]::-moz-range-thumb {
              box-shadow: none;
              border: 1px solid $metacenterLightBlue;
              height: 24px;
              width: 24px;
              border-radius: 50%;
              background: $metacenterLightBlue;
              cursor: pointer;
            }

            /* All the same stuff for IE */
            input[type=range]::-ms-thumb {
              box-shadow: none;
              border: 1px solid $metacenterLightBlue;
              height: 24px;
              width: 24px;
              border-radius: 50%;
              background: $metacenterLightBlue;
              cursor: pointer;
            }

            input[type=range]::-webkit-slider-runnable-track {
              width: 100%;
              height: 2px;
              cursor: pointer;
              box-shadow: none;
              background-color: rgba(black, .2);
              border-radius: 0;
              border: 0;
            }
            
            input[type=range]:focus::-webkit-slider-runnable-track {
              background-color: rgba(black, .2);
            }
            
            input[type=range]::-moz-range-track {
              width: 100%;
              height: 2px;
              cursor: pointer;
              box-shadow: none;
              background: rgba(black, .2);
              border-radius: 0;
              border: 0;
            }
            
            input[type=range]::-ms-track {
              width: 100%;
              height: 2px;
              cursor: pointer;
              background: transparent;
              border-color: transparent;
              border-width: 24px 0;
              color: transparent;
            }

            input[type=range]::-ms-fill-lower {
              background: rgba(black, .2);
              border: 0;
              border-radius: 0;
              box-shadow: none;
            }

            input[type=range]:focus::-ms-fill-lower {
              background: rgba(black, .2);
            }

            input[type=range]::-ms-fill-upper {
              background: rgba(black, .2);
              border: 0;
              border-radius: 0;
              box-shadow: none;
            }

            input[type=range]:focus::-ms-fill-upper {
              background: rgba(black, .2);
            }
          }
        }
      }

      .ui-elements {
        margin-top: 60px;
        margin-bottom: 0;

        img {
          width: 1768px;
          position: relative;
          left: 65%;
          transform: translate3d(-50%, 0, 0);

          @media screen and (max-width: 767px) {
            width: calc(150vw);
          }
        }
      }
    }
  }

}

.modalindi {
    opacity: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    height: 0;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    transition: 0.5s opacity ease;

    .modalindi-content {
        background-color: #000;
        margin: 100px auto;
        padding: 20px;
        border: 1px solid #888;
        width: 55%;

        .closeMicro {
            color: #6A676C;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .closeMicro:hover,
        .closeMicro:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

// Fix shados for MetaCenter animation
[transform="matrix(1,0,0,1,92.25,92.25)"] path,
[transform="matrix(1,0,0,1,107.533,39.984)"] path {
  filter: drop-shadow(0 0 15px rgba(black, .15));
}