$template_name: "polyvibe";
$polyViolet: #7428B7;
$polypink: #F012B2;

ul#items {

  li#case-study-block-#{$template_name} {
    background: $polyViolet;

    a {
      color: white;
    }
  }
}

body#case-study-page-#{$template_name} {
  color: white;
  @include background_and_loading_colors($polyViolet, $polyViolet, white);

  .cs-head {

    a {
      text-decoration: none;
      color: #C17BFF;
    }

    .links {

      a {

        &.contact {
          border-color: #C17BFF;

          &:hover {
            color: white;
          }
        }
      }
    }
  }

  .title-subtitle-stores {

    h1 {
      color: white;
    }

    h2 {
      color: #C17BFF;
    }

    .stores {

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  .more-case-studies {
    background-color: white;
    color: #98999D;

    strong {
      color: #162B31;
    }
  }

  a.see-more-case-study {

    svg {

      path {
        stroke: $polyViolet;
        fill: $polyViolet;
      }
    }
  }

  #caseStudyContent {
    background: white;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
    overflow-y: auto;

    @media screen and (max-width: 736px) {
      overflow-y: hidden;
    }

    .about-project-wrapper {
      background: white;
    }

    .about-project {
      padding: 100px 30px;
      padding-left: 15px;
      padding-right: 15px;

      @media screen and (max-width: 736px) {
        padding-left: 0;
        padding-right: 0;
        padding-top: 60px;
        padding-bottom: 60px;
      }

      table,
      tr {

        td {

          &:first-child {
            color: #1A2B44;
          }

          &:last-child {

            p {
              color: #1A2B44;
            }
          }

          @media screen and (max-width: 736px) {

            &:first-child {
              font-size: 20px;
              line-height: 24px;
              text-align: center;
            }

            &:last-child {
              p {
                font-size: 16px !important;
                line-height: 23px !important;
                text-align: center;
              }
            }
          }
        }
      }
    }

    .branding {
      background: #fff image-url("case-studies/polyvibe/polygradient.png") no-repeat center top;
      background-size: contain;

      @media screen and (min-width: 1890px) {
        background: #fff image-url("case-studies/polyvibe/polygradient.png") no-repeat center -140px;
        background-size: contain;
      }

      @media screen and (max-width: 736px) {
        background: #fff image-url("case-studies/polyvibe/polygradient.png") no-repeat center top;
        background-size: 250%;
      }

      .excerpt {

        h2 {
          font-size: 38px;
          line-height: 46px;
          letter-spacing: 8px;
          text-transform: uppercase;
          text-align: center;
          color: white;
          font-weight: 400;
          margin: 180px auto 70px;
          width: 80%;

          @media screen and (max-width: 1280px) {
            margin: 180px auto 30px;
          }

          @media screen and (min-width: 1890px) {
            margin: 160px auto 70px;
          }

          @media screen and (max-width: 736px) {
            margin: 60px auto 30px;
            font-size: 24px;
            line-height: 29px;
            width: 90%;
          }
        }

        p {
          margin: 0 auto 200px;
          font-size: 24px;
          line-height: 36px;
          text-align: center;
          font-weight: 200;
          width: 80%;

          @media screen and (max-width: 736px) {
            font-size: 18px;
            line-height: 26px ;
          }
        }
      }

      .icon-design {

        img {
          width: 1075px;
          height: 396px;
          display: block;
          margin: 85px auto 50px;

          @media screen and (max-width: 736px) {
            width: 130%;
            height: auto;
            margin: 0 -15% 50px;
          }
        }
      }

      .color {
        margin: 90px auto 50px;

        h5 {
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #1F1F1F;
          font-weight: 400;
          margin: 0 0 0;

          @media screen and (min-width: 1400px) and (max-width: 1500px) {
            margin: 0 20px 0 40px;
          }

          @media screen and (min-width: 1500px) and (max-width: 1600px) {
            margin: 0 20px 0 100px;
          }

          @media screen and (max-width: 736px) {
            margin: 0 20px 0 30px;
          }

        }

        p {
          color: #98A3A7;
          font-size: 24px;
          line-height: 36px;
          font-weight: 200;
          margin: 30px 0 0;

          @media screen and (min-width: 1400px) and (max-width: 1500px) {
            margin: 30px 20px 0 40px;
          }

          @media screen and (min-width: 1500px) and (max-width: 1600px) {
            margin: 30px 20px 0 100px;
          }

          @media screen and (max-width: 736px) {
            margin: 30px 20px 0 30px;
            font-size: 18px;
            line-height: 28px;
          }
        }

        img {
          width: 380px;
          height: 291px;
          display: block;
          margin: 0;

          @media screen and (max-width: 736px) {
            width: 90%;
            height: auto;
            margin: 50px auto 20px;
          }
        }
      }

      .geometric-grid {
        margin: 90px auto;

        @media screen and (max-width: 736px) {
          margin: 20px auto 0;
          padding: 0;
        }

        .grid-container {
          width: 1075px;
          height: 454px;
          border-radius: 3px;
          background-color: #E8EAEF;
          margin: 0 auto;
          position: relative;

          @media screen and (max-width: 736px) {
            width: 377px;
            height: 283px;
          }

          .gridimg {
            position: absolute;
            top: 80px;
            left: 50%;
            margin-left: -416px;
            width: 833px;

            @media screen and (max-width: 736px) {
              width: 360px;
              margin-left: -180px;
              top: 20px;
            }

            @media screen and (max-width: 370px) {
              width: 350px;
              margin-left: -183px;
              top: 20px;
            }
          }

          .logoimg {
            position: absolute;
            top: 117px;
            left: 50%;
            margin-left: -365px;

            @media screen and (max-width: 736px) {
              width: 360px;
              margin-left: -180px;
              top: 105px;
            }

            @media screen and (max-width: 370px) {
              width: 340px;
              margin-left: -178px;
              top: 105px;
            }
          }

          h2 {
            position: absolute;
            bottom: 58px;
            left: 50%;
            margin-left: -50px;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #747475;
            font-weight: 500;

            @media screen and (max-width: 736px) {
              bottom: 30px;
              width: 122px;
              text-align: center;
              margin-left: -61px;
            }
          }
        }
      }
    }

    .visual-elements {
      background-color: #B335D5;

      .ve {
        margin-bottom: 50px;

        h2 {
          font-size: 14px;
          line-height: 17px;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: white;
          font-weight: 400;
          margin: 240px 0 0 0;

          @media screen and (min-width: 1400px) and (max-width: 1600px) {
            margin: 240px 0px 0 100px;
          }

          @media screen and (max-width: 736px) {
            margin: 250px 0 0 30px;
          }
        }

        p {
          color: white;
          font-size: 24px;
          line-height: 36px;
          font-weight: 200;
          width: 70%;
          margin: 30px 0 0 0;

          @media screen and (min-width: 1400px) and (max-width: 1600px) {
            margin: 30px 0px 0 100px;
          }

          @media screen and (max-width: 736px) {
            font-size: 18px;
            line-height: 28px;
            margin: 10px 0 0 30px;
          }
        }

        img {
          width: 650px;
          height: 570px;
          display: block;
          margin: 0;
          position: absolute;
          right: -60px;
          top: 80px;

          @media screen and (max-width: 736px) {
            width: 80%;
            height: auto;
            top: 35px;
          }
        }
      }

      .emojis {

        h2 {
          font-size: 14px;
          line-height: 17px;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: white;
          font-weight: 400;
          margin: 240px 0 0 0;
          text-align: right;
          width: 70%;

          @media screen and (max-width: 736px) {
            width: 85%;
          }
        }

        p {
          color: white;
          font-size: 24px;
          line-height: 36px;
          font-weight: 200;
          width: 70%;
          text-align: right;
          margin-bottom: 240px;

          @media screen and (max-width: 736px) {
            font-size: 18px;
            width: 85%;
            line-height: 28px;
            margin-bottom: 70px;
          }
        }

        img {
          width: 910px;
          height: 675px;
          display: block;
          margin: 0;
          position: absolute;
          left: -200px;
          bottom: 0;

          @media screen and (max-width: 736px) {
            width: 80%;
            height: auto;
            left: -50px;
            bottom: 230px;
          }
        }
      }
    }

    .user-experience {
      background-color: #E8EAEF;

      .container {

        @media screen and (min-width: 1350px) {
          max-width: 1330px;
        }

        .modal {
          position: sticky;
        }
      }

      h2 {
        font-size: 38px;
        line-height: 46px;
        letter-spacing: 8px;
        text-transform: uppercase;
        color: #7428B7;
        font-weight: 500;
        margin: 125px auto 0;
        text-align: center;

        @media screen and (max-width: 736px) {
          font-size: 24px;
          line-height: 29px;
          margin: 80px auto 0;
        }
      }

      p {
        color: #98A3A7;
        font-size: 18px;
        line-height: 27px;
        font-weight: 200;
        width: 540px;
        text-align: center;
        margin: 30px auto 50px;

        @media screen and (max-width: 736px) {
          width: 100%;
          margin: 30px auto 0px;
        }
      }

      img.user-screens {
        display: block;
        margin: -200px auto 100px;
        z-index: -10;
        width: 100%;
        height: auto;

        @media screen and (max-width: 736px) {
          margin: 0px -18% 50px;
          width: 136%;
        }
      }

      img.user-video {
        margin: 0;
      }

      .video-container {
        background-color: white;
        box-shadow: 0 20px 60px rgba(152,163,167,.3);
        border-radius: 8px;
        margin: 0 auto 60px;
        width: 850px;

        h5 {
          color: #1F1F1F;
          font-size: 14px;
          line-height: 17px;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-weight: 500;
          text-align: left;
          margin: 80px 0 0 90px;
        }

        p {
          color: #98A3A7;
          font-size: 32px;
          line-height: 41px;
          letter-spacing: 0px;
          font-weight: 200;
          text-align: left;
          margin: 15px 0 0 90px;
          width: 70%;
        }

        img {
          width: 285px;
          height: 190px;
          margin: 60px 55px 60px 55px;
        }
      }
    }

    .user-interface {
      background-color: #FF3C6E;
      position: relative;
      height: 1900px;

      @media screen and (max-width: 736px) {
        height: 2000px;
      }

      .spacer {
        height: 300px;
        background: #E8EAEF image-url("case-studies/polyvibe/interface-bkg.png") no-repeat center top;
        background-size: cover;
        width: 100%;

        @media screen and (min-width: 1800px) {
          height: 400px;
        }

        @media screen and (max-width: 736px) {
          height: 0;
        }

        p {
          margin: 0;
          padding: 0;
        }
      }

      h2 {
        color: white;
        font-size: 38px;
        line-height: 46px;
        letter-spacing: 8px;
        text-transform: uppercase;
        font-weight: 100;
        text-align: center;
        margin: 20px auto 0;

        @media screen and (max-width: 736px) {
          margin: 40px auto 0;
        }
      }

      p {
        color: white;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0px;
        font-weight: 200;
        text-align: center;
        margin: 40px auto;
        width: 50%;

        @media screen and (max-width: 736px) {
          width: 80%;
        }
      }

      .imgs {
        position: relative;

        @media screen and (max-width: 736px) {
          margin-top: 80px;
        }

        img {
          position: absolute;

          &.two {
            top: 54px;
            right: -347px;
            width: 560px;
            height: 407px;
          }

          &.three {
            top: -30px;
            left: 0;
            width: 276px;
            height: 224px;
          }

          &.four {
            top: 50px;
            left: 88px;
            width: 565px;
            height: 418px;
          }

          &.five {
            top: 360px;
            left: 667px;
            width: 559px;
            height: 408px;
          }

          &.six {
            top: 518px;
            right: -253px;
            width: 565px;
            height: 408px;
          }

          &.seven {
            top: 334px;
            left: -381px;
            width: 666px;
            height: 486px;
          }

          &.eight {
            top: 532px;
            left: -49px;
            width: 573px;
            height: 424px;
          }

          &.nine {
            top: 637px;
            left: 221px;
            width: 691px;
            height: 589px;
          }

          &.ten {
            top: 888px;
            left: 760px;
            width: 341px;
            height: 250px;
          }

          &.eleven {
            top: 833px;
            left: -413px;
            width: 540px;
            height: 408px;
          }

          &.twelve {
            top: 184px;
            left: 325px;
            width: 639px;
            height: 477px;
          }

          &.thirteen {
            top: -95px;
            right: -74px;
            width: 560px;
            height: 407px;

            @media screen and (max-width: 736px) {
              top: 1100px;
            }
          }
        }
      }
    }

    .motion-ui {
      background-color: #1F1F20;

      .sliderwrapper {

        .slider-poly {
          width: 259px;
          height: 465px;
          position: absolute;
          top: 113px;
          left: 257px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 130px;
          text-align: center;
          z-index: -5;

          @media screen and (max-width: 736px) {
            margin-bottom: 0;
          }

          @media screen and (min-width: 480px) and (max-width: 737px) {
            margin-top: 60px;
            margin-bottom: 60px;
          }

          @media screen and (min-width: 1200px) {
            left: 97px;
          }

          @media screen and (min-width: 1400px) {
            left: 165px;
          }

          @media screen and (min-width: 1500px) {
            left: 255px;
          }

          @media screen and (min-width: 1600px) {
            left: 50%;
            margin-left: -218px;
          }

          @media screen and (max-width: 736px) {
            left: 60px;
            top: 453px;
            z-index: 2
          }

          @media screen and (max-width: 370px) {
            left: 50px;
            top: 453px;
            z-index: 2;
          }

          .slick-list,
          .slick-track,
          .slick-slide {
            height: 100%;
          }

          .ui-demo {
            width: 100%;
            height: 100%;
            display: block;
          }

          .slick-dots {
            display: block;
            position: absolute;
            top: 333px;
            left: 357px;
            margin-top: 0px;
            margin-bottom: 0px;

            @media screen and (max-width: 736px) {
              top: 600px;
              left: 0px;
            }

            li {
              margin-left: 10px;
              margin-right: 10px;
              width: 15px;
              height: 2px;

              button {
                width: 15px;
                height: 2px;
                padding: 0;
                margin: 0 7px;
                text-indent: 9999px;
                overflow: hidden;
                background: #68686E;
                transition: all .3s ease;
              }

              &.slick-active {
                button {
                  background: white;
                }
              }
            }
          }

          img {
            width: 261px;
            height: 465px;
          }
        }

        img {
          width: 424px;
          height: 728px;
          position: absolute;
          top: 0px;
          left: 175px;
          margin-left: auto;
          margin-right: auto;
          z-index: -10;

          @media screen and (min-width: 1200px) {
            left: 17px;
          }

          @media screen and (min-width: 1400px) {
            left: 85px;
          }

          @media screen and (min-width: 1500px) {
            left: 175px;
          }

          @media screen and (min-width: 1600px) {
            left: 50%;
            margin-left: -300px;
          }

          @media screen and (max-width: 736px) {
            left: -20px;
            top: 350px;
            z-index: 1;
          }

          @media screen and (max-width: 370px) {
            left: -30px;
            top: 350px;
            z-index: 1;
          }
        }
      }

      .info {
        background: image-url("case-studies/polyvibe/motion-face.svg") no-repeat center 107px;
        height: 800px;

        @media screen and (max-width: 736px) {
          background: image-url("case-studies/polyvibe/motion-face.svg") no-repeat center 40px;
          background-size: 100%;
          height: 1150px;
        }

        h2 {
          color: white;
          font-size: 38px;
          line-height: 46px;
          letter-spacing: 8px;
          font-weight: 500;
          text-transform: uppercase;
          margin: 240px 0 40px -100px;

          @media screen and (max-width: 736px) {
            margin: 120px auto 0;
            text-align: center;
          }
        }

        p {
          color: white;
          font-size: 18px;
          line-height: 26px;
          letter-spacing: 0px;
          font-weight: 200;
          width: 540px;
          margin: 0px 0 0px -100px;

          @media screen and (max-width: 736px) {
            margin: 30px auto 0;
            text-align: center;
            width: 90%;
          }
        }
      }
    }

    .illustrations {
      background-color: #F7D14E;

      .info {
        height: 800px;

        @media screen and (max-width: 736px) {
          display: none;
        }

        h2 {
          color: white;
          font-size: 38px;
          line-height: 46px;
          letter-spacing: 8px;
          font-weight: 500;
          text-transform: uppercase;
          margin: 209px 0 40px 150px;

          @media screen and (min-width: 1400px) {
            margin: 209px 0 40px 225px;
          }

          @media screen and (min-width: 1600px) {
            margin: 209px 0 40px 70px;
          }

          @media screen and (min-width: 1800px) {
            margin: 209px 0 40px 70px;
          }
        }

        p {
          color: white;
          font-size: 18px;
          line-height: 26px;
          letter-spacing: 0px;
          font-weight: 200;
          width: 391px;
          margin: 0px 0 0px 150px;

          @media screen and (min-width: 1400px) {
            margin: 0px 0 0px 225px;
          }

          @media screen and (min-width: 1600px) {
            margin: 0px 0 0px 70px;
          }

          @media screen and (min-width: 1800px) {
            margin: 0px 0 0px 70px;
          }
        }
      }

      .infosmall {
        height: 200px;

        @media screen and (min-width: 736px) {
          display: none;
        }

        h2 {
          color: white;
          font-size: 30px;
          line-height: 35px;
          letter-spacing: 8px;
          font-weight: 500;
          text-align: center;
          text-transform: uppercase;
          margin: 0 auto;
        }

        p {
          color: white;
          font-size: 18px;
          line-height: 26px;
          letter-spacing: 0px;
          text-align: center;
          font-weight: 200;
          width: 90%;
          margin: 20px auto 0;
        }
      }

      .sliderwrapper {

        .slider-illus {
          width: 1126px;
          height: 77px;
          position: absolute;
          top: 475px;
          left: -446px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 130px;
          text-align: center;

          @media screen and (max-width: 736px) {
            left: -410px;
          }

          @media screen and (max-width: 370px) {
            left: -420px;
          }

          &::before {
            content: '';
            position: absolute;
            top: 0;
            right: auto;
            bottom: 0;
            left: 0;
            width: 120px;
            z-index: 2;
            background: linear-gradient(to right, rgba(247,209,78,1) 0%,rgba(247,209,77,0) 100%);
          }

          &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: auto;
            width: 120px;
            z-index: 2;
            background: linear-gradient(to right, rgba(247,209,77,0) 0%,rgba(247,209,78,1) 100%);
          }

          @media screen and (max-width: 480px) {
            transform: scale(.8) translateX(-21px);
            margin-bottom: 60px;
          }

          @media screen and (max-width: 736px) {
            margin-bottom: 0;
          }

          @media screen and (min-width: 480px) and (max-width: 737px) {
            margin-top: 60px;
            margin-bottom: 60px;
          }

          @media screen and (max-width: 370px) {
            transform: scale(.8) translateX(-6px);
            margin-bottom: 60px;
          }

          .slick-list,
          .slick-track,
          .slick-slide {
            height: 100%;
          }

          .ui-demo {
            width: 74px;
            height: 74px;
            display: block;
          }

          .slide {
            width: 74px;
            height: 74px;

            img {
              width: 74px;
              height: 74px;
              display: block;
            }
          }

          .slick-dots {
            display: block;
            position: absolute;
            top: 333px;
            left: 357px;
            margin-top: 0px;
            margin-bottom: 0px;

            li {
              margin-left: 10px;
              margin-right: 10px;
              width: 15px;
              height: 2px;

              button {
                width: 15px;
                height: 2px;
                padding: 0;
                margin: 0 7px;
                text-indent: 9999px;
                overflow: hidden;
                background: #68686E;
                transition: all .3s ease;
              }

              &.slick-active {
                button {
                  background: white;
                }
              }
            }
          }

          img {
            width: 261px;
            height: 465px;
          }
        }

        img {
          width: 590px;
          height: 823px;
          margin-top: 0px;

          @media screen and (max-width: 736px) {
            margin-left: -35%;
          }

          @media screen and (max-width: 370px) {
            margin-left: -40%;
          }

        }

        img.controls {
          width: 413px;
          height: 164px;
          position: absolute;
          bottom: 190px;
          left: 105px;

          @media screen and (max-width: 370px) {
            margin-left: -37%;
          }
        }
      }

    }

    .try {
      background: #F1F1F3 image-url("case-studies/polyvibe/try-bkg.png") no-repeat center bottom;
      background-size: contain;

      @media screen and (max-width: 736px) {
        background: #F1F1F3 image-url("case-studies/polyvibe/try-bkg.png") no-repeat center bottom;
        height: 550px;
      }

      .image {

        .iphone {
          width: 380px;
          height: 524px;
          display: block;
          margin: 146px auto 0;

          @media screen and (min-width: 1400px) {
            margin: 146px 0 0 8%;
          }

          @media screen and (max-width: 736px) {
            margin: 30px 0 0;
            position: absolute;
            right: 0;
          }
        }
      }

      .info {

        h2 {
          color: #0C2044;
          font-size: 48px;
          line-height: 48px;
          letter-spacing: 0px;
          font-weight: 200;
          margin: 240px 0 40px;

          @media screen and (max-width: 736px) {
            margin: 130px 0 40px;
            font-size: 30px;
            line-height: 36px;
          }
        }

        .badge {
          width: 201px;
          height: 58px;

          @media screen and (max-width: 736px) {
            width: 150px;
            height: auto;
          }
        }
      }

    }

  }

}

.modalindi {
    opacity: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    height: 0;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    transition: 0.5s opacity ease;

    .modalindi-content {
        background-color: #000;
        margin: 100px auto;
        padding: 20px;
        border: 1px solid #888;
        width: 55%;

        .closeMicro {
            color: #6A676C;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .closeMicro:hover,
        .closeMicro:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }
}
