$template_name: "red_bull_records";
$redBullRed: #CD003B;
$redBullBlue: #0C2044;

#case-study-block-#{$template_name} {
  background: $redBullRed;

  a {
    color: white;
  }
}

body#case-study-page-#{$template_name} {
  color: white;
  @include background_and_loading_colors($redBullRed, $redBullRed, white);

  #page {
      transform: none !important;
  }

  .cs-head {

    a {
      text-decoration: none;
      color: white;
    }

    .links {

      a {

        &.contact {
          border-color: white;

          &:hover {
            color: black;
          }
        }
      }
    }
  }

  .title-subtitle-stores {

    h1 {
      color: white;
    }

    h2 {
      color: rgba(#EA99B1, 1);
    }

    .stores {

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  a.see-more-case-study {

    svg {

      path {
        stroke: #000;
        fill: #000;
      }
    }
  }

  #caseStudyContent {
    background: white;
    padding-left: 0;
    padding-right: 0;

    .about-project {

      a {
        color: $messiOrange;
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }

      table,
      tr {

        td {

          &:first-child {
            color: #152737;
          }

          &:last-child {

            p {
              color: #1a2b44;
            }
          }
        }
      }
    }

    .not-typical {
      background: transparent image-url("case-studies/red_bull_records/not-typical-bg.jpg") no-repeat center center;
      background-size: 100% auto;
      background-size: cover;

      .container {
        padding: 350px 30px;
        text-align: center;

        img {
          width: 100%;
          max-width: 200px;
          position: relative;
          margin-left: -100px;
          left: 50px;
        }

        h2 {
          text-transform: uppercase;
          text-align: center;
          font-size: 38px;
          color: rgba(255,255,255,1);
          font-weight: 300;
          line-height: 54px;
          margin: 50px auto 20px auto;
          letter-spacing: 8px;
          position: relative;
          width: 900px;
        }

        p {
          text-align: center;
          font-size: 24px;
          color: rgba(255,255,255,1);
          font-weight: 300;
          line-height: 41px;
          margin: 0 auto 20px auto;
          position: relative;
          width: 900px;
        }
      }
    }

    .uxresearch {
      padding: 350px 15px 300px;
      background: #E8EAEF;
      position: relative;

      img.image {
        width: 50%;
        max-width: 589px;
        position: absolute;
        top: 150px;
        right: -120%;
        bottom: auto;
        left: auto;
        transition: all 1s ease;

        &.imageshow {
          right: 0;
        }
      }

      .text {

        h2 {
          font-size: 38px;
          color: #000;
          letter-spacing: 8px;
          line-height: 46px;
          text-transform: uppercase;
          font-weight: 400;
          margin: 0 0 75px 15px;
        }

        p {
          font-weight: 400;
          font-size: 18px;
          color: #98A3A7;
          line-height: 26px;
          width: 318px;
          margin: 35px 0 60px 15px;
        }

        .lines {
          margin-left: 15px;

          .line {
            float: left;
            width: 15px;
            height: 16px;
            margin-right: 16px;
            position: relative;

            &::before {
              content: '';
              display: block;
              background-color: #AAB1BE;
              position: absolute;
              top: 7px;
              right: 0;
              bottom: 7px;
              left: 0;
            }

            &.color {
              &::before {
                background-color: $redBullRed;
              }
            }

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    .unconventional {
      background: #000;

      .container {
        padding: 0px 30px 270px;
        text-align: center;

        h2 {
          text-transform: uppercase;
          text-align: center;
          font-size: 32px;
          color: $redBullRed;
          font-weight: 300;
          line-height: 38px;
          margin: 305px auto 0 auto;
          letter-spacing: 7px;
          position: relative;
          width: 900px;
        }

        p {
          text-align: center;
          font-size: 22px;
          color: rgba(255,255,255,.3);
          font-weight: 300;
          line-height: 28px;
          margin: 60px auto 135px auto;
          position: relative;
          width: 900px;
        }
      }

      .player-wrapper {
        position: relative;
        text-align: center;
        height: 90px;
        line-height: 90px;
        width: 100%;
        padding-top: 20px;

        .scrollmagic-pin-spacer {
          min-width: 48px !important;
          min-height: 48px !important;
        }

        .player-bg {
          position: absolute;
          width: 100%;
          max-width: 1040px;
          transform: translate3d(-50%,-50%,0);
          top: 50%;
          left: 50%;
          display: block;
          z-index: 1;

          &.mobile {
            display: none;
            width: 282px;
            height: 89px;
            max-width: 100%;
          }
        }

        .play-button-wrapper {
          display: block;
          position: relative;
          z-index: 11;
          width: 100%;
          height: 48px;
          margin: 0 auto;
          text-align: center;
        }

        #play-button {
          display: block;
          margin: 0 auto !important;
          height: 100% !important;
          width: auto !important;
        }
      }
    }

    .fifty {
      background: #000;

      .container {
        padding: 0px 30px;
        text-align: center;

        h2 {
          text-transform: uppercase;
          text-align: center;
          font-size: 32px;
          color: $redBullRed;
          font-weight: 300;
          line-height: 38px;
          margin: 0 auto;
          letter-spacing: 7px;
          position: relative;
          width: 900px;
          z-index: 10;
        }

        p {
          text-align: center;
          font-size: 22px;
          color: rgba(255,255,255,.3);
          font-weight: 300;
          line-height: 28px;
          margin: 30px auto 135px auto;
          position: relative;
          width: 900px;
          z-index: 10;
        }

        svg {
          width: 1600px;
          max-width: 1600px;
          position: relative;
          left: 50%;
          display: block;
          margin: -455px 0 0 -800px;
          z-index: 0;
        }
      }
    }

    .wireframe {
      background: #000;

      .container-fluid {
        padding: 0px 30px;
        text-align: center;

        h2 {
          text-transform: uppercase;
          text-align: center;
          font-size: 32px;
          color: $redBullRed;
          font-weight: 300;
          line-height: 38px;
          margin: 200px auto 0 auto;
          letter-spacing: 7px;
          position: relative;
          width: 100%;
          max-width: 900px;
        }

        p {
          text-align: center;
          font-size: 22px;
          color: rgba(255,255,255,.3);
          font-weight: 300;
          line-height: 28px;
          margin: 30px auto 66px auto;
          position: relative;
          width: 100%;
          max-width: 900px;
        }

        .wireframes-comp {
          margin: 0 auto;
          position: relative;

          img {
            width: 1598px;
            max-width: 100%;
            display: block;
            margin: 0 auto;
            position: relative;
            z-index: 2;
          }

          #wireframeStroke {
            position: absolute;
            top: 3px;
            right: auto;
            bottom: auto;
            left: 50%;
            transform: translate3d(-50%,0,0);
            max-width: 100%;
            height: auto;
            z-index: 1;
          }
        }
      }
    }

    .visual-design {

      .text {

        h2 {
          color: #152737;
          font-weight: 100;
          margin: 184px 0 0 30px;
          font-size: 38px;
          letter-spacing: 8px;
          line-height: 50px;
          width: 300px;
          text-transform: uppercase;
        }

        p {
          color: #8D9DAA;
          font-weight: 100;
          margin: 30px 0 0 30px;
          font-size: 18px;
          line-height: 27px;
          width: 300px;
        }
      }

      .color-square {
        height: 330px;

        p {
          line-height: 330px;
          color: #fff;
          font-size: 18px;
          text-align: center;
        }
      }
    }

    .release {
      padding: 230px 0;
      background: #DCDFE5;

      .container {
        padding: 0px 30px;
        text-align: center;

        img {
          width: 100%;
          max-width: 1000px;
          position: relative;
          margin-left: -500px;
          left: 50%;
          display: block;
        }
      }
    }

    .typography {
      background: #0C2044;

      img {
        margin: 190px 0 190px 30px;
      }

      h2 {
        font-weight: 100;
        font-size: 32px;
        line-height: 38px;
        margin: 170px 0 0 100px;
        color: #fff;
      }

      p {
        font-weight: 100;
        font-size: 18px;
        line-height: 27px;
        margin: 50px 0 0 100px;
        color: #8D9DAA;
        width: 270px;
      }
    }

    .uianimation {
      background-color: $redBullRed;

      img.imageui {
        width: 520px;
        top: 180px;
        left: 30px;
        position: absolute;
        transition: all 1s ease;
        opacity: 0;

        &.imageui1 {
          top: 85px;
        }

        &.imageshow {
          opacity: 1;
        }
      }

      h2 {
        font-weight: 100;
        font-size: 38px;
        line-height: 54px;
        margin: 300px 0 0 30px;
        color: #fff;
        text-transform: uppercase;
      }

      p {
        font-weight: 100;
        font-size: 24px;
        line-height: 36px;
        margin: 50px 0 0 30px;
        color: #fff;
        width: 375px;
      }

      .linesui {
        margin: 50px 0 300px 30px;

        .lineui {
          float: left;
          width: 15px;
          height: 16px;
          margin-right: 16px;
          position: relative;

          &::before {
            content: '';
            display: block;
            background-color: #FFFFFF;
            position: absolute;
            top: 7px;
            right: 0;
            bottom: 7px;
            left: 0;
          }

          &.color {

            &::before {
              background-color: #1F1F1F;
            }
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .checkout {
      background-color: #000;

      img.image {
        width: 519px;
        margin: 150px 0 0 30px;
      }

      h2 {
        font-weight: 100;
        font-size: 38px;
        line-height: 60px;
        margin: 322px 0 0 30px;
        letter-spacing: 8px;
        color: $redBullRed;
        text-transform: uppercase;
        width: 350px;
      }

      a {
        font-weight: 100;
        font-size: 22px;
        line-height: 26px;
        margin: 50px 0 0 30px;
        color: #fff;
        width: 350px;
        display: block;

        svg {
          position: relative;
          top: 3px;
          left: 10px;

          polygon.st0 {
            fill: #fff;
            stroke: #fff;
            transition: all .2s ease-in;
          }
        }

        &:hover {
          text-decoration: none;

          img {
            margin-left: 30px;
          }
        }
      }

    }

    .more-case-studies {
      background: white;
      color: #98999d;
      strong {
        color: black;
      }
    }
  }
}

@media screen and (max-width: 1024px) {

  body#case-study-page-#{$template_name} {

    .cs-hero .title-subtitle-stores h1 {
      font-size: 55px !important;
    }

    #caseStudyContent {

      .not-typical {

        .container {
          padding: 250px 30px;

          h2 {
            margin: 50px auto 20px auto;
            width: 80%;
            font-size: 34px;
            line-height: 50px;
          }

          p {
            margin: 0 auto 20px auto;
            width: 80%;
          }
        }
      }

      .uxresearch {
        padding: 150px 15px 350px;

        img.image {
          top: 50px;
          bottom: 0;
        }
      }

      .unconventional {

        .container {
          padding-bottom: 200px;

          h2 {
            margin: 205px auto 0 auto;
            width: 80%;
            font-size: 20px;
          }

          p {
            margin: 60px auto 135px auto;
            width: 80%;
          }
        }
      }

      .fifty {

        .container {

          h2 {
            margin: 0 auto;
            width: 80%;
            font-size: 25px;
          }

          p {
            margin: 30px auto 135px auto;
            width: 80%;
          }

          img {
            width: 95%;
            left: 0;
            margin: 0 auto;
          }
        }
      }

      .wireframe {

        .container-fluid {

          h2 {
            margin: 200px auto 0 auto;
            width: 80%;
            font-size: 25px;
          }

          p {
            margin: 30px auto 66px auto;
            width: 80%;
          }

          img {
            width: 95%;
            left: 0;
            margin: 0 auto;
          }
        }
      }

      .visual-design {

        .text {

          h2 {
            margin: 100px auto 0;
            font-size: 38px;
            letter-spacing: 8px;
            line-height: 50px;
            width: 80%;
            text-align: center;
          }

          p {
            margin: 30px auto 100px;
            font-size: 18px;
            line-height: 27px;
            width: 80%;
            text-align: center;
          }
        }
      }

      .release {
        padding: 200px 0;

        .container {

          img {
            width: 90%;
            margin: 0 auto;
            left: auto;
          }
        }
      }

      .typography {

        img {
          margin: 140px auto 140px auto;
          width: 80%;
          display: block;
        }

        h2 {
          margin: 0 auto 0;
          width: 80%;
        }

        p {
          margin: 50px auto 100px;
          width: 80%;
        }
      }

      .uianimation {

        img.imageui {
          width: 50%;
          margin: 50px 0 0 -24%;
          display: block;
          left: 50%;
          top: 0;

          &.imageui1 {
            top: 0px;
          }
        }

        .imagesui {
          height: 800px;
        }

        h2 {
          margin: 150px auto 0;
          width: 80%
        }

        p {
          width: 80%;
          margin: 50px auto 0;
        }

        .linesui {
          margin: 50px auto 50px auto;
          width: 80%;
        }
      }

      .checkout {

        img.image {
          width: 90%;
          margin: 100px auto 0;
          display: block;
        }

        h2 {
          margin: 100px auto 0;
          width: 80%;
          font-size: 33px;
          line-height: 52px;
        }

        a {
          margin: 50px auto 0;
          width: 80%;

          img {
            margin-left: 20px;
            transition: all 0.2s ease;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {

  body#case-study-page-#{$template_name} {

    .cs-hero .title-subtitle-stores h1 {
      font-size: 45px !important;
    }

    #caseStudyContent {

      .about-project {

        tr {

          td:last-child {

            p {
              font-size: 16px !important;
              line-height: 23px !important;
              text-align: center;
            }
          }
        }
      }

      .uxresearch {
        padding: 50px 15px 800px;

        img.image {
          width: 70%;
          top: 500px;
          bottom: 0;
        }
      }

      .uianimation {

        img.imageui {
          width: 70%;
          margin-left: -35%;

          &.imageui2, &.imageui3 {
            top: 50px;
          }
        }

        .imagesui {
          height: 700px;
        }
      }

      .unconventional {

        .player-wrapper {

          .player-bg {
            display: none;

            &.mobile {
              display: block !important;
            }
          }
        }
      }

      .wireframe {

         .container-fluid {

           h2 {
             margin-top: 80px !important;
           }
         }
      }
    }
  }
}

@media screen and (max-width: 640px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {
      .uxresearch {
        padding: 50px 15px 600px;
      }

      .uianimation {
        .imagesui {
          height: 550px;
        }
      }
    }
  }
}
