$template_name: "samsung_dev_conference";
$samsungDevConfBlue: #085bba;
$samsungDevConfLightBlue: rgba(#075dbb, .17);

ul#items {

  li#case-study-block-#{$template_name} {
    background: $samsungDevConfBlue;

    a {
      color: white;
    }
  }
}

body#case-study-page-#{$template_name} {
  color: white;
  @include background_and_loading_colors($samsungDevConfBlue, $samsungDevConfBlue, white);

  .cs-head {

    a {
      text-decoration: none;
      color: white;
    }

    .links {

      a {

        &.contact {
          border-color: white;

          &:hover {
            color: white;
          }
        }
      }
    }
  }

  .title-subtitle-stores {
    h1 {
      color: white;
    }

    h2 {
      color: #6c9cd0;
    }

    .stores {

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  .more-case-studies {
    background-color: #F7F7F7;
    color: #98999D;

    strong {
      color: #162B31;
    }
  }

  a.see-more-case-study {

    svg {

      path {
        stroke: $samsungDevConfBlue;
        fill: $samsungDevConfBlue;
      }
    }
  }

  #caseStudyContent {
    background: white;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;

    @media screen and (max-width: 736px) {
      overflow-y: hidden;
    }

    .about-project-wrapper {
      background: white;
    }

    .about-project {
      padding: 100px 30px;
      padding-left: 15px;
      padding-right: 15px;

      @media screen and (max-width: 736px) {
        padding-left: 0;
        padding-right: 0;
        padding-top: 60px;
        padding-bottom: 60px;
      }

      table,
      tr {

        td {

          &:first-child {
            color: #1A2B44;
          }

          &:last-child {

            p {
              color: #8b8d9e;
            }
          }

          @media screen and (max-width: 736px) {

            &:first-child {
              font-size: 20px;
              line-height: 24px;
              text-align: center;
            }

            &:last-child {
              p {
                font-size: 16px !important;
                line-height: 23px !important;
                text-align: center;
              }
            }
          }
        }
      }
    }

    .drop-shadow {
      filter: drop-shadow(0 15px 30px rgba(black,.25));

      &-child {
        img {
          filter: drop-shadow(0 15px 30px rgba(black,.25));
        }
      }
    }

    .user-experience {
      padding-top: 90px;
      padding-bottom: 190px;
      background: transparent image-url("case-studies/samsung_dev_conference/ux-background.svg") no-repeat center center / 100% auto;

      @media screen and (min-width: 1440px) {
        padding-top: 160px;
        padding-bottom: 300px;
      }

      @media screen and (max-width: 1024px) {
        background-size: auto 580px;
      }

      .excerpt {
        text-align: center;

        h2 {
          color: white;
          font-weight: normal;
          font-size: 48px;
          letter-spacing: 1px;
          margin: 0 auto 30px;
        }

        p {
          color: white;
          font-weight: 300;
          font-size: 22px;
          line-height: 1.6;
          margin-bottom: 0;
        }
      }
    }

    .b-w-wireframes {
      position: relative;
    
      &-image {
        position: relative;
        z-index: 2;

        img {
          width: 100%;
          height: auto;
        }
      }

      &-divider {
        img {
          position: absolute;
          top: auto;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100vw;
          transform: translate3d(0, 50%, 0);
          z-index: 3;
        }
      }
    }

    .research {
      padding-top: 160px;
      padding-bottom: 60px;

      @media screen and (max-width: 768px) {
        padding-top: 30px;
        padding-bottom: 0;
      }

      .excerpt {
        text-align: center;

        h2 {
          color: #42444e;
          font-weight: 300;
          font-size: 32px;
          letter-spacing: 1.33px;
        }
      }

      &-card {
        padding: 30px;
        margin-top: 40px;
        margin-bottom: 40px;
        box-shadow: 0 37px 72px rgba(0, 0, 0, .12);
        border-radius: 8px;
        background-color: white;

        .icon {
          width: 70px;
          height: 70px;
          line-height: 70px;
          text-align: center;
          margin: 0 auto 20px;
          background: $samsungDevConfLightBlue;
          border-radius: 50%;
          position: relative;
          overflow: hidden;

          img {
            display: inline-block;
            max-width: 100%;
            max-height: 100%;
            height: auto;
            display: inline-block;
          }
        }

        h3 {
          color: $samsungDevConfBlue;
          font-weight: normal;
          font-size: 24px;
          margin-top: 0;
          margin-bottom: 30px;
        }

        p {
          color: #8b8d9e;
          font-weight: 300;
          font-size: 16px;
          line-height: 1.75;
          margin-bottom: 0;
        }
      }
    }

    .storyboard {
      padding-top: 60px;

      .excerpt {
        text-align: center;

        h2 {
          color: #42444e;
          font-weight: 300;
          font-size: 32px;
          letter-spacing: 1.33px;
        }
      }

      &-video {
        box-shadow: 0 48px 77px rgba(black, .25);

        img,
        video {
          display: block;
          margin: 0;
          padding: 0;
          width: 100%;
          height: auto;
        }
      }

      &-background {
        padding-top: 60px;
        padding-bottom: 190px;
        background: transparent image-url("case-studies/samsung_dev_conference/minigraphics.png") no-repeat center center / auto 100%;
      }
    }

    .user-interface {
      padding-top: 90px;
      padding-bottom: 90px;
      margin-top: 45px;
      background: transparent image-url("case-studies/samsung_dev_conference/user-interface-header.svg") no-repeat center top / 100% auto;

      @media screen and (max-width: 1140px) {
        background-size: auto 768px;
      }

      @media screen and (max-width: 768px) {
        padding-top: 30px;
        padding-bottom: 0;
      }

      .excerpt {
        text-align: center;
        position: relative;
        z-index: 3;
        margin-bottom: 260px;

        @media screen and (min-width: 1440px) {
          margin-bottom: 420px;
        }

        @media screen and (max-width: 768px) {
          margin-bottom: 200px;
        }

        h2 {
          color: white;
          font-weight: normal;
          font-size: 48px;
          letter-spacing: 1px;
          margin: 0 auto 30px;
        }

        p {
          color: white;
          font-weight: 300;
          font-size: 22px;
          line-height: 1.6;
          margin-bottom: 0;
        }
      }

      .ui-element-group {
        margin-bottom: 30px;

        h3 {
          color: #42444e;
          font-weight: normal;
          font-size: 24px;
          letter-spacing: 1px;
          margin: 0 auto 20px;

          &.has-big-padding {
            padding: 0 25px;
          }

          &.has-padding {
            padding: 0 15px;
          }

          &.has-small-padding {
            padding: 0 10px;
          }

          &.has-minimum-padding {
            padding: 0 5px;
          }
        }

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .ui-elements {
      padding-top: 0;
      padding-bottom: 60px;

      .excerpt {
        text-align: center;
        margin-bottom: 120px;

        @media screen and (max-width: 768px) {
          margin-bottom: 30px;
        }

        h2 {
          color: #42444e;
          font-weight: normal;
          font-size: 48px;
          letter-spacing: 1px;
          margin: 0 auto 30px;
        }

        p {
          color: #8b8d9e;
          font-weight: 300;
          font-size: 22px;
          line-height: 1.6;
          margin-bottom: 0;
        }
      }

      &-images {
        h3 {
          color: #42444e;
          font-weight: 300;
          font-size: 40px;
          letter-spacing: 1px;
          padding-left: 94px;
        }

        img {
          width: 100%;
          height: auto;
          margin-top: -115px;

          @media screen and (max-width: 768px) {
            margin-top: 0;
          }
        }
      }
    }

    .global-cards {
      padding-top: 220px;
      padding-bottom: 180px;
      background: transparent image-url("case-studies/samsung_dev_conference/cards-bg.png") no-repeat center top / 100% auto;

      @media screen and (min-width: 1440px) {
        background-size: 100% 100%;
      }

      @media screen and (max-width: 1140px) {
        background-size: 100% 100%;
      }

      .excerpt {
        text-align: left;
        margin-bottom: 30px;

        h2 {
          color: white;
          font-weight: normal;
          font-size: 48px;
          letter-spacing: 1px;
          margin: 0 auto 30px;

          @media screen and (max-width: 768px) {
            text-align: center;
          }
        }
      }

      &-image {
        img {
          position: relative;
          left: 50%;
          width: 125vw;
          transform: translate3d(-50%, 0, 0);
        }

        &-vertical {
          margin-top: 60px;
          margin-bottom: 60px;

          .slick-list {
            overflow: visible;
          }

          .slick-slide {
            padding: 0 15px;
          }

          img {
            max-width: 100%;
            max-height: 460px;
            margin: 0 auto;
            width: auto;
            display: block;
          }
        }

        &-countdown {
          text-align: center;
          margin-bottom: 140px;

          img {
            width: 100%;
            max-width: 440px;
            height: auto;
          }
        }
      }
    }

    .global-sliders {
      padding-bottom: 300px;
      background: transparent image-url("case-studies/samsung_dev_conference/sliders-bg") no-repeat -65px calc(50% + 20px) / auto 918px;

      @media screen and (max-width: 640px) {
        background: transparent;
        padding-bottom: 160px;
      }

      .excerpt {
        text-align: left;
        margin-bottom: 30px;

        h2 {
          color: black;
          font-weight: normal;
          font-size: 48px;
          letter-spacing: 1px;
          margin: 0 auto 60px;

          @media screen and (max-width: 768px) {
            margin-bottom: 30px;
          }

          @media screen and (max-width: 768px) {
            text-align: center;
          }
        }
      }

      &-image {
        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .program {
      margin-top: -160px;
      padding-bottom: 90px;

      @media screen and (max-width: 768px) {
        margin-top: -100px;
      }

      .excerpt {
        text-align: left;
        margin-bottom: 30px;

        h2 {
          color: black;
          font-weight: normal;
          font-size: 48px;
          letter-spacing: 1px;
          margin: 0 auto 30px;

          @media screen and (max-width: 768px) {
            text-align: center;
          }
        }
      }

      &-image {
        @media screen and (max-width: 768px) {
          padding-left: 30px;
          padding-right: 30px;
        }

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .final-version {
      padding-top: 90px;
      padding-bottom: 90px;
      background: linear-gradient(to bottom, #1428A0 0%, #0882AA 100%);

      .excerpt {
        text-align: center;
        margin-bottom: 60px;

        @media screen and (max-width: 768px) {
          padding-left: 30px;
          padding-right: 30px;
          margin-bottom: 60px;
        }

        h2 {
          color: white;
          font-weight: normal;
          font-size: 48px;
          letter-spacing: 1px;
          margin: 0 auto 30px;
        }

        p {
          color: white;
          font-weight: 300;
          font-size: 22px;
          line-height: 1.6;
          margin-bottom: 0;
        }
      }

      &-tabs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        z-index: 3;

        button {
          width: 100%;
          max-width: 190px;
          flex: 1 1 auto;
          padding: 20px;
          color: white;
          font-size: 18px;
          font-weight: 300;
          border: 0;
          background: transparent;
          border-radius: 3px;
          margin: 0 15px;
          background: linear-gradient(to bottom, rgba(white, 0) 0%, rgba(white, 0) 100%);
          transition: all .3s ease-in-out;

          &::after {
            content: '';
            height: 3px;
            width: 100%;
            display: block;
            margin-top: 10px;
            background: white;
            transition: all .3s ease-in-out;
            opacity: 0;
          }

          span {
            font-size: 28px;
            font-weight: 400;
            display: block;
            margin-bottom: 10px;
            line-height: 1;
          }

          &.active {
            background: linear-gradient(to bottom, rgba(white,.3) 0%, rgba(white, 0) 100%);

            &::after {
              opacity: 1;
            }
          }
        }
      }

      &-panels {
        .panel {
          padding-top: 30px;
          
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

.modalindi {
    opacity: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    height: 0;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    transition: 0.5s opacity ease;

    .modalindi-content {
        background-color: #000;
        margin: 100px auto;
        padding: 20px;
        border: 1px solid #888;
        width: 55%;

        .closeMicro {
            color: #6A676C;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .closeMicro:hover,
        .closeMicro:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }
}
