$template_name: "tag";
$tagPurple: #443e63;

ul#items {

  li#case-study-block-#{$template_name} {
    background: $tagPurple;

    a {
      color: white;
    }
  }
}

body#case-study-page-#{$template_name} {
  color: white;
  background: $chalk;

  #page {
    @include background_and_loading_colors($tagPurple, $tagPurple, white);
  }

  .cs-head {

    a {
      text-decoration: none;
      color: white;
    }

    .links {

      a {

        &.contact {
          border-color: white;

          &:hover {
            color: $tagPurple;
          }
        }
      }
    }
  }

  .title-subtitle-stores {

    h1 {
      color: white;
    }

    h2 {
      color: rgba(white, .5);
    }

    .stores {

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  a.see-more-case-study {

    svg {

      path {
        stroke: $tagPurple;
        fill: $tagPurple;
      }
    }
  }

  #caseStudyContent {
    background: white;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
    overflow-y: auto;

    .about-project {

      table,
      tr {

        td {

          &:first-child {
            color: #152737;
          }

          &:last-child {

            p {
              color: #1a2b44;
            }
          }
        }
      }

      a {
        color: $tagPurple;
        text-decoration: none;
      }
    }

    .functionality {
      background: #111111;
      height: 570px;

      .image-left {
        height: 100%;
        background: transparent image-url("case-studies/tag/sketch@2x.png") no-repeat center center;
        background-size: 100% auto;
        background-size: cover;
      }

      .text-right {
        height: 100%;

        .content {
          position: relative;
          top: 50%;
          transform: translate3d(0,-50%,0);
          width: 100%;
          max-width: 615px;
          margin: 0;
          padding-left: 95px;
          padding-right: 95px;

          h1 {
            color: white;
            font-weight: 300;
            margin-top: 0;
            font-size: 42px;
            color: #FFFFFF;
            line-height: 51px;
          }

          p {
            font-weight: 300;
            font-size: 22px;
            color: #757C84;
            line-height: 28px;
          }
        }
      }
    }
  }

  .going-digital {
    min-height: 1140px;
    background: white;
    position: relative;

    > .row {
      max-width: 1280px;
      margin: 0 auto;
    }

    img.app4 {
      max-width: 601px;
      position: absolute;
      top: 210px;
      right: -230px;
      bottom: auto;
      left: auto;
    }

    img.app3 {
      position: absolute;
      max-width: 610px;
      top: 320px;
      right: 23px;
      bottom: auto;
      left: auto;
    }

    img.app2 {
      position: absolute;
      max-width: 610px;
      top: 429px;
      right: 266px;
      bottom: auto;
      left: auto;
    }

    img.app1 {
      position: absolute;
      max-width: 610px;
      top: 545px;
      right: 505px;
      bottom: auto;
      left: auto;
    }

    img.app7 {
      position: absolute;
      max-width: 601px;
      top: 547px;
      right: -374px;
      bottom: auto;
      left: auto;
    }

    img.app6 {
      position: absolute;
      max-width: 601px;
      top: 660px;
      right: -135px;
      bottom: auto;
      left: auto;
    }

    img.app5 {
      position: absolute;
      max-width: 601px;
      top: 785px;
      right: 130px;
      bottom: auto;
      left: auto;
    }

    .text {
      padding-left: 30px;

      h1 {
        color: #152737;
        font-weight: 300;
        margin-top: 100px;
        max-width: 490px;
        font-size: 38px;
        line-height: 46px;
      }

      p {
        font-size: 26px;
        font-weight: 400;
        color: rgba(21,39,55,.5);
        max-width: 490px;
        line-height: 29px;
      }
    }
  }

  .aesthetics {
    background: #f7f9f9;

    .intro {

      h1 {
        margin: 100px auto 50px auto;
        width: 100%;
        max-width: 690px;
        font-weight: 300;
        text-align: center;
        font-size: 38px;
        color: #152737;
        line-height: 46px;
      }

      p {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 70px;
        width: 100%;
        max-width: 690px;
        font-weight: 400;
        font-size: 26px;
        color: #8D9DAA;
        line-height: 39px;
      }
    }

    .typography,
    .color-palette,
    .interface-elements {

      h2 {
        font-size: 11px;
        font-weight: 600;
        color: #87A2A2;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin: 0 0 40px 0;
        line-height: 12px;
      }
    }

    .typography {

      p.showcase {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
        color: #5b47c1;
        max-width: 345px;

        span {
          display: block;
          line-height: 1.6;

          &.uppercase {
            text-transform: uppercase;
          }

          &.lowercase {
            text-transform: lowercase;
          }
        }
      }

      p.name {
        border-top: 1px solid rgba(black,.1);
        border-bottom: 1px solid rgba(black,.1);
        font-size: 12px;
        color: #505f7a;
        font-weight: 600;
        line-height: 36px;
        max-width: 320px;
      }

      p.description {
        font-size: 12px;
        color: #8D9DAA;
        font-weight: 500;
        max-width: 320px;
        line-height: 15px;
      }
    }

    .color-palette {

      .colors {
        max-width: 320px;
        padding-top: 40px;
        padding-bottom: 90px;

        span {
          width: 25%;
          height: 85px;
          line-height: 85px;
          text-transform:uppercase;
          color: white;
          font-weight: 600;
          font-size: 12px;
          text-align: center;
          display: block;
          float: left;

          &:nth-child(1) {
            background: #7f3359;
            position: relative;

            &:before {
              content: '';
              display: block;
              background: transparent image-url("case-studies/tag/pin.svg") no-repeat center center;
              position: absolute;
              top: -40px;
              left: -4px;
              width: 10px;
              height: 40px;
            }

            &:after {
              content: 'Option 1';
              text-transform: uppercase;
              font-size: 10px;
              letter-spacing: 1px;
              color: #505F6C;
              position: absolute;
              top: -38px;
              left: 15px;
              line-height: 7px;
              font-weight: 400;
              width: 54px;
            }
          }

          &:nth-child(2) {
            background: #c65a4c;
          }

          &:nth-child(3) {
            background: #2ba06d;
          }

          &:nth-child(4) {
            background: #d5dce1;
          }

          &:nth-child(5) {
            background: #5cbeb6;
          }

          &:nth-child(6) {
            background: #ff8b39;
          }

          &:nth-child(7) {
            background: #91196b;
          }

          &:nth-child(8) {
            background: #afc1cf;
            position: relative;

            &:before {
              content: '';
              display: block;
              background: transparent image-url("case-studies/tag/pin.svg") no-repeat center center;
              position: absolute;
              top: auto;
              bottom: -40px;
              left: auto;
              right: -4px;
              width: 10px;
              height: 40px;
              transform: scale(1,-1);
            }

            &:after {
              content: 'Option 2';
              text-transform: uppercase;
              font-size: 10px;
              letter-spacing: 1px;
              color: #505F6C;
              position: absolute;
              top: auto;
              bottom: -40px;
              left: auto;
              right: 15px;
              line-height: 7px;
              font-weight: 400;
              width: 54px;
            }
          }

          &:nth-child(n+5) {
            margin-top: 3px;
          }
        }
      }
    }

    .interface-elements {

      .separator {
        padding-bottom: 10px;
        border-bottom: 2px dashed rgba(#d1d6d8, .5);
        max-width: 295px;
      }

      span {
        display: block;
        width: 100%;
        max-width: 350px;
        position: relative;
        left: 0;

        &.option-1 {

          &:before {
            content: '';
            display: block;
            background: transparent image-url("case-studies/tag/pin.svg") no-repeat center center;
            position: absolute;
            top: 50%;
            bottom: auto;
            left: auto;
            right: -20px;
            width: 10px;
            height: 40px;
            transform: rotate(90deg);
            margin-top: -20px;
          }

          &:after {
            content: 'Option 1';
            text-transform: uppercase;
            font-size: 10px;
            letter-spacing: 1px;
            color: #6c5f6c;
            position: absolute;
            top: 50%;
            bottom: auto;
            left: auto;
            right: -90px;
            line-height: 1;
            margin-top: -4px;
          }
        }

        &.option-2 {

          &:before {
            content: '';
            display: block;
            background: transparent image-url("case-studies/tag/pin.svg") no-repeat center center;
            position: absolute;
            top: 50%;
            bottom: auto;
            left: auto;
            right: -20px;
            width: 10px;
            height: 40px;
            transform: rotate(90deg);
            margin-top: -12px;
          }

          &:after {
            content: 'Option 2';
            text-transform: uppercase;
            font-size: 10px;
            letter-spacing: 1px;
            color: #6c5f6c;
            position: absolute;
            top: 50%;
            bottom: auto;
            left: auto;
            right: -90px;
            line-height: 1;
            margin-top: 4px;
          }
        }

        img {
          width: 100%;
        }
      }
    }
  }

  .iconography-ui {
    background: #f7f9f9;

    > .container {
      max-width: 1300px;
      margin: 0;
    }

    .title {

      h1 {
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        color: #3b374f;
        margin-bottom: 40px;
        letter-spacing: 2px;
        line-height: 18px;
      }
    }

    .iconography {

      .icons {
        max-width: 440px;
        overflow: hidden;

        > div {
          padding-left: 0;
          padding-right: 0;
        }
      }

      .icon {
        text-align: center;
        line-height: 100px;
        height: 100px;
        border-bottom: 1px solid rgba(#d1d6d8, .5);

        img {
          width: 100%;
        }

        &:nth-child(1) {

          img {
            max-width: 58px;
          }
        }

        &:nth-child(2) {

          img {
            max-width: 47px;
          }
        }

        &:nth-child(3) {

          img {
            max-width: 49px;
          }
        }

        &:nth-child(4) {

          img {
            max-width: 61px;
          }
        }
      }

      .text {
        color: #5c5177;
        line-height: 40px;
        height: 40px;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .ui {
      padding-bottom: 90px;

      .retina {
        text-align: center;
        padding-top: 40px;
        position: relative;

        &:before {
          content: '';
          display: block;
          background: transparent image-url("case-studies/tag/pin.svg") no-repeat center center;
          position: absolute;
          top: 4px;
          bottom: auto;
          left: 40px;
          right: auto;
          width: 10px;
          height: 40px;
        }

        &:after {
          content: '@2X for Retina Displays';
          text-transform: uppercase;
          font-size: 10px;
          letter-spacing: 1px;
          color: #6c5f6c;
          position: absolute;
          top: 9px;
          bottom: auto;
          left: 65px;
          right: auto;
          line-height: 1;
          margin-top: -4px;
        }

        img {
          width: 100%;
          max-width: 658px;
        }
      }

      .non-retina {
        text-align: center;
        position: relative;

        &:before {
          content: '';
          display: block;
          background: transparent image-url("case-studies/tag/pin.svg") no-repeat center center;
          position: absolute;
          top: auto;
          bottom: -28px;
          left: auto;
          right: 75px;
          width: 10px;
          height: 40px;
          transform: scale(1,-1);
        }

        &:after {
          content: '@1x for non-retina displays';
          text-transform: uppercase;
          font-size: 10px;
          letter-spacing: 1px;
          color: #6c5f6c;
          position: absolute;
          top: auto;
          bottom: -28px;
          left: auto;
          right: -105px;
          line-height: 1;
        }

        img {
          width: 100%;
          max-width: 347px;
        }
      }

      .non-retina-text {

        p {
          max-width: 250px;
          margin: 5px 0 0 0;
          font-size: 12px;
          color: rgba(black, .4);
          font-weight: 600;
        }
      }
    }

    .newsfeed-image {
      text-align: center;
      margin-bottom: 50px;

      img {
        width: 100%;
        max-width: 527px;
      }
    }

    .newsfeed-text {
      margin-bottom: 50px;

      p {
        font-size: 22px;
        font-weight: 400;
        color: #92a1ad;
        line-height: 29px;
        max-width: 580px;
        margin-top: 70px;

        span {
          color: #152737;
        }
      }
    }

    .app-screens {
      padding-top: 25px;
      padding-bottom: 25px;

      .first,
      .second,
      .third {
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: center;

        img {
          width: 100%;
          max-width: 220px;
        }
      }
    }
  }

  .designing-the-brand {
    background: white;

    h1 {
      margin: 50px 0 0 0;
      font-weight: 300;
      text-align: center;
      font-size: 38px;
      color: #152737;
      line-height: 46px;
    }

    p {
      width: 100%;
      max-width: 710px;
      margin: 50px auto 0 auto;
      line-height: 29px;
      font-weight: 400;
      font-size: 26px;
      color: #6D828B;
      line-height: 29px;
    }

    h2 {
      font-weight: 300;
      text-align: center;
      margin: 80px 0 50px 0;
      color: #754dc8;
      font-size: 34px;
      line-height: 48px;
    }

    .profile {
      text-align: center;

      img {
        max-width: 73px;
      }

      p.name {
        font-weight: 400;
        margin: 15px 0 0 0;
        max-width: none;
        font-size: 18px;
        color: #1A2B44;
        line-height: 22px;
      }

      p.position {
        font-size: 14px;
        font-weight: 400;
        color: #5F7985;
        margin: 0;
        max-width: none;
        line-height: 17px;
      }
    }
  }

  .logos-options {
    padding-top: 100px;

    .option-1,
    .option-2,
    .option-3 {
      height: 500px;
      text-align: center;

      .image {
        height: 220px;
        line-height: 220px;
        margin-bottom: 150px;
      }

      .logo {
        position: relative;
        top: 50%;
        transform: translate3d(0,-50%,0);
      }

      p {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: #3b374f;
        letter-spacing: 1px;
      }
    }

    .option-1 {
      background: #edebf9;

      img {
        max-width: 242px;
      }
    }

    .option-2 {
      background: #e4e1f1;

      img {
        max-width: 146px;
      }
    }

    .option-3 {
      background: #dad6ea;

      img {
        max-width: 146px;
      }
    }
  }

  .more-case-studies {
    background: white;
    color: #98999d;

    strong {
      color: black;
    }
  }

  .the-icon {
    background: white;

    h1 {
      margin: 50px 0 0 0;
      font-weight: 400;
      color: black;
      text-align: center;
      font-size: 38px;
      line-height: 45px;
    }

    p {
      width: 100%;
      max-width: 850px;
      margin: 50px auto 30px auto;
      font-weight: 300;
      text-align: center;
      font-size: 22px;
      color: #6D828B;
      line-height: 28px;
    }

    .left {
      text-align: left;
      padding-top: 25px;
      padding-left: 0;

      p {
        text-align: right;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: black;
        letter-spacing: 1px;
        max-width: 654px;
        margin-left: 0;
        margin-right: 0;
      }

      img {
        width: 100%;
        max-width: 654px;
      }
    }

    .right {

      img {
        width: 100%;
        max-width: 775px;
      }
    }
  }

  .try {
    padding-top: 75px;
    padding-bottom: 50px;
    text-align: center;
    background: #443e63;

    h1 {
      margin-top: 0;
      letter-spacing: -1px;
      font-weight: 300;
      font-size: 38px;
      line-height: 46px;
      color: white;
    }

    img {
      width: 100%;
      max-width: 396px;
    }

    iframe {
      border: 0;
      border: none;
    }
  }
}

@media screen and (max-width: 1024px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .try {

        h1 {

          &.go-ahead {
            display: none !important;
          }

          &.trading-wines {
            display: block !important;
          }
        }

        iframe {
          display: none !important;
        }

        span.prototype {
          display: block !important;
        }
      }

      .functionality {

        .text-right {

          .content {
            padding-left: 45px;
            padding-right: 45px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {

  body#case-study-page-#{$template_name} {

    .typography {

      h2 {
        text-align: center;
      }

      p.showcase,
      p.name,
      p.description {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .color-palette {

      h2 {
        text-align: center;
      }

      .colors {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .interface-elements {

      h2 {
        text-align: center;
      }

      span.option-1,
      span.option-2,
      .separator {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .iconography-ui {

      .title {
        text-align: center;
      }

      .iconography {

        .icons {
          max-width: none;
          margin-bottom: 50px;
        }
      }

      .ui {

        .retina {
          max-width: 658px;
          margin-left: auto;
          margin-right: auto;
          float: none;
          clear: both;
        }

        .non-retina,
        .non-retina-text {
          max-width: 347px;
          margin-left: auto;
          margin-right: auto;
          float: none;
          clear: both;

          &:after {
            right: -130px;
          }
        }

        .non-retina-text {
          margin-top: 50px;
          text-align: center;

          p {
            max-width: none;
          }
        }
      }

      .newsfeed-text {

        p {
          margin-top: 30px;
        }
      }
    }

    .the-icon {

      .left {

        p {
          max-width: 100%;
          text-align: center;
        }

        img {
          display: none !important;
        }

        img.hide {
          margin: 0 auto 45px auto;
          display: block !important;
          width: 100% !important;
          max-width: 204px !important;
        }
      }

      .right {
        text-align: center;
      }
    }

    .functionality {

      .text-right {

        .content {
          padding-left: 15px !important;
          padding-right: 15px !important;
        }
      }
    }

    .going-digital {
      min-height: 992px;

      img.app4,
      img.app3,
      img.app2,
      img.app1,
      img.app7,
      img.app6,
      img.app5 {
        transform: scale(0.5,0.5) !important;
      }

      img.app4 {
        top: 310px;
        right: -230px;
      }

      img.app3 {
        top: 370px;
        right: -105px;
      }

      img.app2 {
        top: 435px;
        right: 25px;
      }

      img.app1 {
        top: 500px;
        right: 155px;
      }

      img.app7 {
        top: 490px;
        right: -295px;
      }

      img.app6 {
        top: 560px;
        right: -170px;
      }

      img.app5 {
        top: 630px;
        right: -35px;
      }
    }
  }
}

@media screen and (max-width: 768px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .about-project {

        tr {

          td:last-child {

            p {
              font-size: 16px !important;
              line-height: 23px !important;
              text-align: center;
            }
          }
        }
      }
    }

    .functionality {
      height: 1140px !important;

      .image-left,
      .text-right {
        height: 50% !important;
      }
    }

    .iconography-ui {

      .newsfeed-text {

        p {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    .designing-the-brand {

      h2 {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}

@media screen and (max-width: 640px) {

  body#case-study-page-#{$template_name} {

    .going-digital {
      min-height: 1200px;

      img.app4 {
        top: 510px;
        right: -230px;
      }

      img.app3 {
        top: 570px;
        right: -105px;
      }

      img.app2 {
        top: 635px;
        right: 25px;
      }

      img.app1 {
        top: 700px;
        right: 155px;
      }

      img.app7 {
        top: 690px;
        right: -295px;
      }

      img.app6 {
        top: 760px;
        right: -170px;
      }

      img.app5 {
        top: 830px;
        right: -35px;
      }
    }

    .aesthetics {

      .typography {
        margin-bottom: 30px;
      }
    }
  }
}
