$template_name: "test";

ul#items {

  li#case-study-block-#{$template_name} {
    background: green;

    a {
      color: white;
    }
  }
}

body#case-study-page-#{$template_name} {
  color: white;
  @include background_and_loading_colors(green, green, $yellow);

  h1 {
    margin: 0;
  }
}
