$template_name: "tigo";
$tigoBlue: #2F3F8F;

ul#items {

  li#case-study-block-#{$template_name} {
    background: $tigoBlue;

    a {
      color: white;
    }
  }
}

body#case-study-page-#{$template_name} {
  color: white;
  @include background_and_loading_colors($tigoBlue, $tigoBlue, white);

  .cs-head {

    a {
      text-decoration: none;
      color: white;
    }

    .links {

      a {

        &.contact {
          border-color: white;

          &:hover {
            color: $tigoBlue;
          }
        }
      }
    }
  }

  .title-subtitle-stores {

    h1 {
      color: white;
    }

    h2 {
      color: #838EC5;
    }

    .stores {

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  a.see-more-case-study {

    svg {

      path {
        stroke: $tigoBlue;
        fill: $tigoBlue;
      }
    }
  }

  #caseStudyContent {
    background: white;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
    overflow-y: auto;

    .about-project {

      table,
      tr {

        td {

          &:first-child {
            color: #2F3F8F;
          }

          &:last-child {

            p {
              color: #2F3F8F;

              @media screen and (max-width: 800px) {
                width: 80%;
                margin: 30px auto 0;
                float: none;
                text-align: center;
              }

            }
          }
        }
      }
    }

    .intro-project {
      background: transparent image-url('case-studies/tigo/intro.png') no-repeat center center / cover;
      height: 300px;
      position: relative;
      z-index: 10;

      @media screen and (min-width: 800px) {
        height: 944px;
      }

      @media screen and (min-width: 1750px) {
        height: 1180px;
      }

      @media screen and (min-width: 2300px) {
        height: 1492px;
      }

      > .container {
        max-width: 1280px;
      }
    }

    .logoredesign {
      position: relative;
      z-index: 3;
      margin-top: -118px;
      background: $tigoBlue image-url('case-studies/tigo/redesign-bkg.jpg') no-repeat top center / cover;

      @media screen and (min-width: 1440px) {
        background: image-url('case-studies/tigo/redesign-stripe-bkg.jpg') repeat-x top center/ contain,image-url('case-studies/tigo/redesign-bkg.jpg') no-repeat top center / contain;
      }

      img {
        margin: auto;
        display: block;
      }

      h3 {
        margin: 20px auto 0;
        width: 80%;
        text-align: left;
        font-size: 36px;
        line-height: 38px;
        font-weight: 100;
        color: #fff;

        @media screen and (min-width: 800px) {
          width: 100%;
          text-align: center;
          font-size: 52px;
          line-height: 62px;
        }
      }

      p {
        margin: 45px auto 50px auto;
        width: 80%;
        text-align: left;
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
        color: #CACDD6;

        @media screen and (min-width: 800px) {
          width: 60%;
          text-align: center;
          font-size: 18px;
        line-height: 28px;
        }
      }

      h4 {
        margin: 120px auto 0px auto;
        width: 80%;
        text-align: left;
        font-size: 16px;
        line-height: 26px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #E1A837;

        @media screen and (min-width: 800px) {
          width: 100%;
          text-align: center;
          font-size: 18px;
          line-height: 22px;
        }
      }

      .logos-lines {
        margin-top: 20px;

        @media screen and (min-width: 800px) {
          margin-top: 120px;
        }

        img {
          width: 726px;
          height: 269px;

          @media screen and (max-width: 750px) {
            width: 80%;
            height: auto;
          }
        }
      }

      .logos {
        margin-top: 30px;
        margin-bottom: 50px;

        @media screen and (min-width: 800px) {
          margin-top: 100px;
          margin-bottom: 180px;
        }

        img {
          width: 757px;
          height: 299px;

          @media screen and (max-width: 750px) {
            width: 80%;
            height: auto;
          }
        }
      }
    }

    .concept-top {
      position: relative;
      z-index: 3;
      background: #202020;

      h3 {
        margin: 20px auto 0;
        width: 80%;
        text-align: left;
        font-size: 36px;
        line-height: 42px;
        font-weight: 100;
        color: #fff;

        @media screen and (min-width: 800px) {
          width: 100%;
          text-align: center;
          font-size: 52px;
          line-height: 62px;
        }
      }

      p {
        margin: 45px auto 50px;
        width: 80%;
        text-align: left;
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
        color: #CACDD6;

        @media screen and (min-width: 800px) {
          width: 60%;
          text-align: center;
          font-size: 18px;
          line-height: 28px;
        }
      }

      h4 {
        margin: 40px auto 0px;
        width: 80%;
        text-align: left;
        font-size: 16px;
        line-height: 20px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #E1A837;

        @media screen and (min-width: 800px) {
          margin: 120px auto 0px;
          width: 100%;
          text-align: center;
          font-size: 18px;
          line-height: 22px;
        }
      }

    }

    .concept-slide {
      position: relative;
      z-index: 3;
      background: #202020;

      .slider1 {
        width: 66%;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: 800px) {
          width: 700px;
        }

        .slide {
          opacity: 0.5;
          transition: all 0.3s ease;

          img {
            width: 700px;
          }

          &.slick-current {
            opacity: 1;

          }
        }

        .slick-prev-custom {
          font-size: 0;
          line-height: 0;
          position: absolute;
          top: 50%;
          left: -40px;
          display: block;
          width: 31px;
          height: 31px;
          padding: 0;
          transform: translate(0, -50%);
          cursor: pointer;
          color: transparent;
          border: none;
          outline: none;
          background: transparent;
          transition: opacity .2s ease;
          opacity: 0.6;

          @media screen and (min-width: 800px) {
            left: -100px;
            width: 62px;
            height: 62px;
          }

          img {
            width: 31px;
            height: 31px;

            @media screen and (min-width: 800px) {
              width: 62px;
              height: 62px;
            }

          }

          &:hover {
            opacity: 1;
          }
        }

        .slick-next-custom {
          font-size: 0;
          line-height: 0;
          position: absolute;
          top: 50%;
          right: -40px;
          display: block;
          width: 31px;
          height: 31px;
          padding: 0;
          transform: translate(0, -50%);
          cursor: pointer;
          color: transparent;
          border: none;
          outline: none;
          background: transparent;
          transition: opacity .2s ease;
          opacity: 0.6;

          @media screen and (min-width: 800px) {
            right: -101px;
            width: 62px;
            height: 62px;
          }

          img {
            width: 31px;
            height: 31px;

            @media screen and (min-width: 800px) {
              width: 62px;
              height: 62px;
            }

          }

          &:hover {
            opacity: 1;
          }
        }
      }

      .no-padding {
        padding-left: 0;
        padding-right: 0;
      }

    }

    .concept {
      position: relative;
      z-index: 3;
      background: #202020 image-url('case-studies/tigo/big_bg.png') no-repeat bottom center / contain;

      h3 {
        margin: 20px auto 0;
        width: 80%;
        text-align: left;
        font-size: 52px;
        line-height: 62px;
        font-weight: 100;
        color: #fff;

        @media screen and (min-width: 800px) {
          width: 100%;
          text-align: center;
        }
      }

      p {
        margin: 45px auto 50px auto;
        width: 80%;
        text-align: left;
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
        color: #CACDD6;

        @media screen and (min-width: 800px) {
          width: 60%;
          text-align: center;
        }
      }

      h4 {
        margin: 120px auto 0px auto;
        width: 80%;
        text-align: left;
        font-size: 18px;
        line-height: 22px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #E1A837;

        @media screen and (min-width: 800px) {
          width: 100%;
          text-align: center;
        }
      }

      p.left {
        margin: 45px auto 50px auto;
        width: 80%;
        text-align: left;
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
        color: #CACDD6;

        @media screen and (min-width: 800px) {
          width: 60%;
          text-align: center;
        }
      }

      h4.left {
        margin: 55px auto 0px auto;
        display: block;
        width: 80%;
        text-align: left;
        font-size: 18px;
        line-height: 22px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #E1A837;

        @media screen and (min-width: 800px) {
          width: 60%;
          text-align: center;
        }
      }

      img.hex1 {
        width: 100px;
        height: auto;
        display: block;
        position: absolute;
        left: 0;
        z-index: 10;
        top: 500px;

        @media screen and (min-width: 750px) {
          width: 429px;
          height: 472px;
          top: 630px;
        }
      }

      img.onscreen {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        z-index: 1;

        @media screen and (min-width: 750px) {
          height: 528px;
          width: 831px;
        }
      }

      img.hex2 {
        width: 100px;
        height: auto;
        display: block;
        position: absolute;
        right: 0;
        z-index: 10;
        top: 500px;

        @media screen and (min-width: 750px) {
          width: 407px;
          height: 567px;
          top: 0;
        }
      }

      .headline1 {

        img {
          width: 100%;
          height: auto;
          display: block;
          margin: 30px auto 0;

          @media screen and (min-width: 750px) {
            width: 1073px;
            height: 143px;
            margin: 300px auto 0;
          }
        }
      }

      .headline2 {

        img {
          width: 100%;
          height: auto;
          display: block;
          margin: 10px auto 30px;

          @media screen and (min-width: 750px) {
            width: 1179px;
            height: 256px;
            margin: 100px auto 100px;
          }
        }
      }

      h5 {
        margin: 60px auto 50px auto;
        display: block;
        width: 60%;
        text-align: center;
        font-size: 25px;
        line-height: 25px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: #fff;

        @media screen and (min-width: 750px) {
          margin: 50px auto 100px auto;
        }
      }

      .standings {

        img {
          width: 130%;
          height: auto;
          display: block;
          margin: 0 auto 0;

          @media screen and (min-width: 750px) {
            width: 1162px;
            height: 1236px;
          }
        }
      }

      .next-game {

        img {
          width: 100%;
          height: auto;
          display: block;
          margin: 0 auto 100px;

          @media screen and (min-width: 750px) {
            width: 695px;
            height: 489px;
          }
        }
      }

    }

    .analistas {
      position: relative;
      z-index: 3;
      overflow: hidden;
      background: image-url('case-studies/tigo/big_bg_bottom.png') no-repeat top, image-url('case-studies/tigo/bkg-pattern.png') repeat top center;

      @media screen and (min-width: 800px) {
        background: image-url('case-studies/tigo/big_bg_bottom.png') no-repeat top center / contain, image-url('case-studies/tigo/bkg-pattern.png') repeat top center;
      }

      h3 {
        margin: 35px auto 0 auto;
        width: 80%;
        text-align: left;
        font-size: 36px;
        line-height: 42px;
        font-weight: 100;
        color: #29B25B;

        @media screen and (min-width: 800px) {
          width: 100%;
          text-align: center;
          font-size: 52px;
          line-height: 62px;
        }
      }

      p {
        margin: 45px auto 50px auto;
        width: 80%;
        text-align: left;
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
        color: #2F3F8F;

        @media screen and (min-width: 800px) {
          width: 60%;
          text-align: center;
          font-size: 18px;
          line-height: 28px;
        }
      }

      h4 {
        margin: 220px auto 0px auto;
        width: 80%;
        text-align: left;
        font-size: 16px;
        line-height: 22px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #4A4A4A;

        @media screen and (min-width: 800px) {
          width: 100%;
          text-align: center;
          font-size: 18px;
          line-height: 22px;
          margin: 320px auto 0px auto;
        }
      }

      p.left {
        margin: 45px auto 50px auto;
        width: 80%;
        text-align: left;
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
        color: #4E4D4A;

        @media screen and (min-width: 800px) {
          width: 55%;
          text-align: center;
          font-size: 18px;
          line-height: 28px;
        }
      }

      h4.left {
        margin: 120px auto 0px auto;
        display: block;
        width: 80%;
        text-align: left;
        font-size: 18px;
        line-height: 22px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #29B25B;

        @media screen and (min-width: 800px) {
          width: 55%;
          text-align: center;
          font-size: 20px;
          line-height: 24px;
        }
      }

      .ui-slider {
        width: 100%;
        height: 557px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 130px;
        padding: 75px 12px 88px 23px;
        text-align: center;
      }

      .analistasimg {

        img {
          width: 100%;
          height: auto;
          display: block;
          margin: 30px auto 0;

          @media screen and (min-width: 750px) {
            width: 694px;
            height: 463px;
            margin: 130px auto 0;
          }

          &.leftt, &.rightt {
            position: absolute;
          }

          &.leftt {
            position: absolute;
            top: -250px;
            left: 0px;
            width: 189px;
            height: 687px;
            display: none;

            @media screen and (min-width: 750px) {
              display: block;
            }
          }

          &.rightt {
            position: absolute;
            top: -450px;
            right: 0px;
            width: 191px;
            height: 776px;
            display: none;

            @media screen and (min-width: 750px) {
              display: block;
            }
          }
        }
      }

      .headline1 {

        img {
          width: 100%;
          height: auto;
          display: block;
          margin: 50px auto 0;

          @media screen and (min-width: 750px) {
            width: 1040px;
            height: 143px;
            margin: 300px auto 0;
          }
        }
      }

      .headline2 {

        img {
          width: 100%;
          height: auto;
          display: block;
          margin: 30px auto 50px;

          @media screen and (min-width: 750px) {
            width: 1079px;
            height: 182px;
            margin: 100px auto 300px;
          }
        }
      }

      .bottomline {

        img {
          width: 100%;
          height: auto;
          position: absolute;
          bottom: -3px;

          @media screen and (min-width: 600px) {
            bottom: -5px;
          }

          @media screen and (min-width: 800px) {
            bottom: -7px;
          }

          @media screen and (min-width: 1000px) {
            bottom: -9px;
          }

          @media screen and (min-width: 1300px) {
            bottom: -11px;
          }

          @media screen and (min-width: 1500px) {
            bottom: -13px;
          }

          @media screen and (min-width: 1700px) {
            bottom: -14px;
          }

          @media screen and (min-width: 1900px) {
            bottom: -16px;
          }

          @media screen and (min-width: 2100px) {
            bottom: -18px;
          }
        }
      }

      .slider2 {
        width: 66%;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: 800px) {
          width: 700px;
        }

        .slide {
          opacity: 0.5;
          transition: all 0.3s ease;

          img {
            width: 700px;
          }

          &.slick-current {
            opacity: 1;

          }
        }

        .slick-prev-custom {
          font-size: 0;
          line-height: 0;
          position: absolute;
          top: 50%;
          left: -40px;
          display: block;
          width: 31px;
          height: 31px;
          padding: 0;
          transform: translate(0, -50%);
          cursor: pointer;
          color: transparent;
          border: none;
          outline: none;
          background: transparent;
          transition: opacity .2s ease;
          opacity: 0.6;

          @media screen and (min-width: 800px) {
            left: -100px;
            width: 62px;
            height: 62px;
          }

          img {
            width: 31px;
            height: 31px;

            @media screen and (min-width: 800px) {
              width: 62px;
              height: 62px;
            }
          }

          &:hover {
            opacity: 1;
          }
        }

        .slick-next-custom {
          font-size: 0;
          line-height: 0;
          position: absolute;
          top: 50%;
          right: -40px;
          display: block;
          width: 31px;
          height: 31px;
          padding: 0;
          transform: translate(0, -50%);
          cursor: pointer;
          color: transparent;
          border: none;
          outline: none;
          background: transparent;
          transition: opacity .2s ease;
          opacity: 0.6;

          @media screen and (min-width: 800px) {
            right: -101px;
            width: 62px;
            height: 62px;
          }

          img {
            width: 31px;
            height: 31px;

            @media screen and (min-width: 800px) {
              width: 62px;
              height: 62px;
            }
          }

          &:hover {
            opacity: 1;
          }
        }
      }

      .no-padding {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
      }

      .container-analistas {
        @media screen and (min-width: 1200px) {
          width: 100%;
          max-width: 100%;
        }
      }

    }

  }
}

@media screen and (max-width: 768px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .about-project {

        tr {

          td:last-child {

            p {
              font-size: 16px !important;
              line-height: 23px !important;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
