$template_name: "tn";
$tnBlue: #118bef;
$color-slategray: #262930;

ul#items {

  li#case-study-block-#{$template_name} {
    background: $tnBlue;

    a {
      color: white;
    }
  }
}

body#case-study-page-#{$template_name} {
  color: white;
  @include background_and_loading_colors($tnBlue, $tnBlue, white);

  .cs-head {

    a {
      text-decoration: none;
      color: white;
    }

    .links {

      a {

        &.contact {
          border-color: white;

          &:hover {
            color: $tnBlue;
          }
        }
      }
    }
  }

  .title-subtitle-stores {

    h1 {
      color: white;
    }

    h2 {
      color: #8ED1EF;
    }

    .stores {

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  a.see-more-case-study {

    svg {

      path {
        stroke: $tnBlue;
        fill: $tnBlue;
      }
    }
  }

  .parallax-mirror {
    z-index: 999 !important;
  }

  #caseStudyContent {
    background: white;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
    overflow-y: auto;

    .about-project {

      table,
      tr {

        td {

          &:first-child {
            color: #152737;
          }

          &:last-child {

            p {
              color: #1a2b44;
            }
          }
        }
      }
    }

    .intro-project {
      background: transparent image-url('case-studies/tn/intro-bg.jpg') no-repeat center center / cover;
      padding-top: 530px;
      padding-bottom: 140px;

      > .container {
        max-width: 1280px;
      }

      .intro-text {
        max-width: 374px;
        width: 100%;
      }
    }

    .concept {
      background: $color-slategray image-url('case-studies/tn/pattern-bg.png') repeat center center;
      padding-top: 150px;
      position: relative;

      .fade {
        background: linear-gradient(to bottom, $color-slategray 0%, rgba($color-slategray,0) 100%);
        width: 100%;
        height: 30%;
        position: absolute;
        top: 0;
        right:0;
        bottom: auto;
        left: 0;
        z-index: 1;
      }

      .bottom {
        width: 100%;
        height: 720px;
        position: absolute;
        top: auto;
        right:0;
        bottom: 0;
        left: 0;
        background: transparent;
        z-index: 1;
        overflow: hidden;

        svg {
          position: relative;
          top: 4px;
          min-width: 1470px;
        }
      }

      > .container {
        max-width: 1280px;
      }

      h2 {
        margin: 0 0 15px;
        opacity: 0.4;
        font-weight: 400;
        font-size: 18px;
        color: #CACDD5;
        letter-spacing: 4px;
        text-transform: uppercase;
        position: relative;
        z-index: 2;
      }

      h1 {
        margin: 0 0 20px;
        font-weight: 300;
        font-size: 52px;
        color: white;
        position: relative;
        z-index: 2;
      }

      p {
        opacity: 0.4;
        font-weight: 400;
        font-size: 18px;
        color: #CACDD5;
        line-height: 1.6;
        margin: 0;
        max-width: 396px;
        position: relative;
        z-index: 2;
      }

      .compo {
        float: right;
        margin-top: -125px;
        margin-bottom: 350px;
        position: relative;
        z-index: 2;
      }
    }

    .branding {
      position: relative;
      z-index: 3;

      > .container {
        max-width: 1280px;
        margin-top: -280px;
      }

      .color-wheel {
        max-width: 100%;
      }

      .typography {

        h2 {
          opacity: 0.5;
          font-weight: 400;
          font-size: 18px;
          color: #333742;
          letter-spacing: 4px;
          text-transform: uppercase;
          margin: 120px 0 20px;
        }

        .typography-example {
          max-width: 352px;
          width: 100%;
        }
      }
    }

    .iconography {
      position: relative;
      padding-bottom: 550px;

      > .container {
        max-width: 1280px;
      }

      h2 {
        opacity: 0.5;
        font-weight: 400;
        font-size: 18px;
        color: #333742;
        letter-spacing: 4px;
        text-transform: uppercase;
        margin: 180px 0 70px;
      }

      .icon-set {
        position: relative;
        z-index: 2;

        .icon-set-image {
          max-width: 422px;
          width: 100%;
        }
      }

      .icon-big {
        position: relative;
        z-index: 2;

        .icon-big-image {
          max-width: 338px;
          width: 100%;
          background: white;
          border-radius: 50%;
        }

        .icon-big-wrapper {
          margin-top: 130px;
          position: relative;
          display: inline-block;
          box-shadow: inset 0 0 0 1px white;
          border: 1px solid rgba(black,.15);
          border-radius: 50%;
        }

        .icons-animation {
          position: absolute;
          top: 50%;
          right: auto;
          bottom: auto;
          left: 50%;
          max-width: 100%;
          border-radius: 50%;
          transform: translate3d(-50%,-50%,0);
        }
      }

      .bottom {
        width: 100%;
        height: 720px;
        position: absolute;
        top: auto;
        right:0;
        bottom: 0;
        left: 0;
        background: transparent;
        z-index: 1;
        overflow: hidden;
        transition: all .3s ease;

        svg {
          position: relative;
          top: 4px;
          min-width: 1470px;

          polyline {
            transition: all .3s ease;
          }
        }
      }
    }

    .videograph {
      background: $tnBlue;
      transition: all .3s ease;

      > .container {
        max-width: 1280px;
      }

      .slider {
        text-align: center;
        margin-top: -280px;
        margin-bottom: 75px;

        .slider-images {
          position: relative;
          z-index: 3;
          display: inline-block;
          margin-bottom: 60px;

          .placer,
          .slide {
            max-width: 100%;
          }

          .slide {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            transform: translate3d(0,-15px,0);
            transition: all .3s ease;

            &.active {
              opacity: 1;
              transition-delay: .3s;
              transform: translate3d(0,0,0);
            }
          }
        }

        .slider-text {
          text-align: center;

          .slide {
            display: none;

            &.active {
              display: block;
            }
          }

          h2 {
            font-weight: 300;
            font-size: 52px;
            color: white;
            margin: 10px 0 20px;
          }

          p {
            font-weight: 400;
            font-size: 18px;
            color: white;
            line-height: 1.6;
            margin: 0 auto 30px;
            max-width: 600px;
          }
        }

        .slider-bullets {

          button {
            height: 16px;
            width: 16px;
            position: relative;
            cursor: pointer;
            border: 0;
            border-radius: 0;
            outline: 0;
            padding: 0;
            margin: 0 7px;
            background: transparent;

            &::after {
              content: '';
              display: block;
              height: 2px;
              width: 100%;
              margin-top: 2px;
              background: white;
              opacity: .3;
              transition: all .3s ease;
            }

            &.active {
              &::after {
                opacity: 1;
              }
            }
          }
        }
      }

      .colors-animation {
        height: 30px;
        width: 100%;
        position: relative;

        > div {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          right: auto;
          bottom: auto;
          left: 0;
          transform: translate3d(-100%,0,0);
          transition: all .7s ease;
        }

        &.animated {
          $color-column-width: -14.2857142857%;

          .yellow {
            transform: translate3d(0,0,0);
          }

          .dark-yellow {
            transform: translate3d($color-column-width,0,0);
          }

          .red {
            transform: translate3d($color-column-width * 2,0,0);
          }

          .dark-red {
            transform: translate3d($color-column-width * 3,0,0);
          }

          .blue {
            transform: translate3d($color-column-width * 4,0,0);
          }

          .dark-blue {
            transform: translate3d($color-column-width * 5,0,0);
          }

          .black {
            transform: translate3d($color-column-width * 6,0,0);
          }
        }

        .yellow {
          background: #FFF033;
          transition-delay: 0s !important;
        }

        .dark-yellow {
          background: #F7CF11;
          transition-delay: .3s !important;
        }

        .red {
          background: #FF244A;
          transition-delay: .6s !important;
        }

        .dark-red {
          background: #D71A3A;
          transition-delay: 1s !important;
        }

        .blue {
          background: $tnBlue;
          transition-delay: 1.5s !important;
        }

        .dark-blue {
          background: #0679EC;
          transition-delay: 1.8s !important;
        }

        .black {
          background: #262930;
          transition-delay: 2s !important;
        }
      }
    }

    .weather {
      padding-top: 130px;
      background: #262930;

      > .container {
        max-width: 1280px;
      }

      .weather-text {
        text-align: center;

        h1 {
          font-weight: 300;
          font-size: 52px;
          color: white;
          margin: 0 0 30px;
        }

        p {
          opacity: 0.4;
          font-weight: 400;
          font-size: 18px;
          color: white;
          line-height: 1.6;
          max-width: 660px;
          margin: 0 auto;
        }
      }

      .badges {
        height: 1028px;
        background: transparent image-url('case-studies/tn/badges.png') no-repeat center center / auto 100%;
        margin-bottom: 150px;
      }

      .gradient {

        .left {
          width: 15%;
          height: 10px;
          float: left;
          background: #EC7B20;
        }

        .right {
          width: 15%;
          height: 10px;
          float: left;
          background: #1160E4;
        }

        .middle {
          float: left;
          width: 70%;
          height: 10px;
          background: linear-gradient(90deg, rgba(236,123,32,1) 0%, rgba(188,39,85,1) 30%, rgba(74,51,227,1) 65%, rgba(17,97,228,1) 100%);
        }

        .lines {
          max-width: 1280px;
          margin: 0 auto;
          position: relative;

          .long {
            height: 46px;
            width: 1px;
            background: rgba(white,.15);
            position: absolute;
            top: -46px;
            right: auto;
            bottom: auto;

            &:nth-child(1) {
              left: 0;
            }

            &:nth-child(2) {
              left: 33.333%;
            }

            &:nth-child(3) {
              left: 66.666%;
            }

            &:nth-child(4) {
              left: 100%;
            }

            &::after {
              content: attr(data-tooltip);
              position: absolute;
              top: -40px;
              right: auto;
              bottom: auto;
              left: 0;
              transform: translate3d(-50%,0,0);
              font-weight: 400;
              font-size: 16px;
              text-transform: uppercase;
              color: white;
              opacity: .3;
              letter-spacing: 3.5px;
            }
          }
        }

        .lines-short {
          max-width: 1280px;
          margin: 0 auto;
          position: relative;

          .short {
            position: absolute;
            top: -20px;
            right: auto;
            bottom: auto;
            height: 20px;
            width: 1px;
            background: rgba(white,.15);

            &:nth-child(1) {
              left: 8.333%;
            }

            &:nth-child(2) {
              left: 16.666%;
            }

            &:nth-child(3) {
              left: 25%;
            }

            &:nth-child(4) {
              left: 41.666%;
            }

            &:nth-child(5) {
              left: 50%;
            }

            &:nth-child(6) {
              left: 58.333%;
            }

            &:nth-child(7) {
              left: 75%;
            }

            &:nth-child(8) {
              left: 83.333%;
            }

            &:nth-child(9) {
              left: 91.666%;
            }
          }
        }
      }
    }

    .onscreen-art {
      padding-top: 170px;
      padding-bottom: 200px;
      background: black image-url('case-studies/tn/onscreen-art-bg.jpg') no-repeat center center / cover;
      text-align: center;

      h2 {
        opacity: 0.5;
        font-weight: 400;
        font-size: 18px;
        text-transform: uppercase;
        color: white;
        letter-spacing: 4px;
        margin: 0 0 20px;
      }

      h1 {
        font-weight: 400;
        font-size: 52px;
        color: white;
        margin: 0 0 25px;
      }

      p {
        font-weight: 400;
        font-size: 18px;
        color: #CACDD5;
        line-height: 1.6;
        margin: 0 auto 100px;
        max-width: 640px;
      }

      .onscreen-slider {

        .slide {
          max-width: 1040px;
          width: 100%;
          display: block;
          cursor: pointer;
          border-radius: 2px;
          transition: all .5s ease;
        }

        .slick-slide {
          margin: 0 35px;
          background: black;
          border-radius: 2px;
          box-shadow: 0 15px 60px rgba(black,.25);

          .slide {
            opacity: .35;
          }

          &.slick-center {
            .slide {
              opacity: 1;
            }
          }
        }
      }
    }

    .outro-image {
      width: 100%;
      height: 350px;
      height: 75vh;
      background: black image-url('case-studies/tn/outro.jpg') no-repeat center center / cover;
      background-attachment: fixed;
    }
  }

  .more-case-studies {
    background: white;
    color: #bfc0c2;
    strong {
      color: #252525;
    }
  }
}

@media screen and (min-width: 1441px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .concept {

        .bottom {
          height: 50vw !important;
          box-shadow: inset 0 -10px 0 white;
        }
      }

      .iconography {

        .bottom {
          height: 50vw !important;
          box-shadow: inset 0 -10px 0 currentColor;
        }
      }
    }
  }
}

@media screen and (max-width: 1140px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .intro-project {
        padding-top: 350px;
        padding-bottom: 80px;
      }

      .concept {

        .compo {
          max-width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .concept {

        .compo {
          margin-top: 50px;
        }
      }

      .onscreen-art {

        .onscreen-slider {

          .slick-slide {

            .slide {
              width: 100%
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .intro-project {
        padding-top: 250px;
        padding-bottom: 80px;
      }

      .iconography,
      .typography,
      .color-palette {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 768px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .about-project {

        tr {

          td:last-child {

            p {
              font-size: 16px !important;
              line-height: 23px !important;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .intro-project {
        padding-top: 80px;
        padding-bottom: 30px;
      }
    }
  }
}
