$template_name: "vinco";
$vincoPurple: #3C2DF5;

// You'll need to modify all of the content of this file to match with the style of Vinco's case study

ul#items {

  li#case-study-block-#{$template_name} {
    background: $vincoPurple;

    a {
      color: white;
    }
  }
}

body#case-study-page-#{$template_name} {
  color: white;
  @include background_and_loading_colors($vincoPurple, $vincoPurple, white);

  .cs-head {

    a {
      text-decoration: none;
      color: white;
    }

    .links {

      a {

        &.contact {
          border-color: white;

          &:hover {
            color: $vincoPurple;
          }
        }
      }
    }
  }

  .title-subtitle-stores {

    h1 {
      color: white;
    }

    h2 {
      color: white;
    }

    .stores {

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  a.see-more-case-study {

    svg {

      path {
        stroke: $vincoPurple;
        fill: $vincoPurple;
      }
    }
  }

  .parallax-mirror {
    z-index: 999 !important;
  }

  #caseStudyContent {
    background: white;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
    overflow-y: auto;

    .about-project {

      table,
      tr {

        td {

          &:first-child {
            color: #152737;
          }

          &:last-child {

            p {
              color: #1a2b44;
              a{
                color: $vincoPurple;
                &:hover,
                &:focus{
                  color: $vincoPurple;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }

    .intro-project {

        .intro-col {
            padding-left: 0;
            padding-right: 0;
        }

        img {
            width: 100%;
            height: auto;
        }
    }
  }
    .vinco-branding {
      padding: 0;
      background-color: white;

      h2 {
          font-size: 62px;
          color: #3F32FA;
          font-weight: 500;
          text-align: center;
          margin-bottom: 0;
          margin-top: 100px;
      }

      p {
          font-size: 22px;
          color: #3F32FA;
          text-align: center;
          margin-left: auto;
          max-width: 545px;
          margin-right: auto;
          font-weight: normal;
          padding-left: 15px;
          padding-right: 15px;
      }

      #branding-logo-animation {
        svg{
          max-width: 700px;
          margin-left: auto;
          margin-right: auto;
          display: block;
          margin-top: 100px;
          margin-bottom: 100px;
          padding-left: 15px;
          padding-right: 15px;
        }
      }

      .branding-slick img {
          max-width: 100%;
      }

      .slick-list {
          overflow: visible;
      }
    }

    .vinco-word {
      background-color: $vincoPurple;
      margin-top: -1px;

      .vinco-word-img{
        margin-top: 100px;
        height: auto;
        margin-bottom: 100px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: calc(100% + 200px);
        transform: translateX(-100px);
        max-width: 1800px;

        @media screen and (min-width: 1680px) {
          width: 100%;
          transform: translateX(0);
        }
      }

      .parallax-icons-container{
        position: relative;
      }

      #animated-svg-logo-vinco {
        > svg {
          position: absolute;
          top: 0;
          right: auto;
          bottom: auto;
          left: 50%;
          transform: translate3d(-50%, -25%, 0);
          max-width: 2560px;
          height: auto !important;
          width: 200% !important;
        }
      }

      .parallax-icon{
        position: absolute
      }

      .vinco-word-icon-1{
        top: 8%;
        max-width: 88px;
        bottom: auto;
        left: auto;
        right: 23%;
      }

      .vinco-word-icon-2{
        top: 47%;
        bottom: auto;
        left: 43%;
        max-width: 123px;
        right: auto;
      }

      .vinco-word-icon-3{
        top: 53%;
        bottom: auto;
        max-width: 77px;
        left: 12%;
        right: auto;
      }

      .vinco-word-icon-4{
        top: 40%;
        bottom: auto;
        left: 28%;
        right: auto;
        max-width: 190px;
      }

      .vinco-word-icon-5{
        top: 25%;
        bottom: auto;
        left: 15%;
        right: auto;
        max-width: 127px;
      }

      .vinco-word-icon-6{
        top: 30%;
        bottom: auto;
        right: 31%;
        left: auto;
        max-width: 195px;
      }

      .vinco-word-icon-7{
        top: 53%;
        bottom: auto;
        right: 14%;
        left: auto;
        max-width: 93px;
      }

      .vinco-word-icon-8{
        top: auto;
        max-width: 512px;
        bottom: 3%;
        right: 15%;
        left: auto;
      }

      .vinco-word-icon-9{
        top: 25%;
        bottom: auto;
        right: 15%;
        left: auto;
        max-width: 163px;
      }

      .vinco-word-icon-10{
        bottom: 20%;
        top: auto;
        right: auto;
        left: 27%;
        max-width: 163px;
      }
    }

    .vinco-word-bg {
      img {
        width: calc(100% + 1px);
        position: relative;
        left: -1px;
        margin-top: -10px;
      }
    }

    .coming-soon-card {
      @media (max-width: 1300px) and (min-width: 1140px){
        margin-top: -195px;
      }
      @media (min-width: 1600px){
        margin-top: -610px;
      }

      @media (max-width: 768px){
        margin-top: -200px;
      }

      @media (max-width: 480px){
        margin-top: -135px;
      }
      margin-top: -400px;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      .card-slide-container {
       filter: drop-shadow(0px 0px 100px rgba(0,0,0,0.4));
       border-radius: 40px;
       @media (max-width: 768px){
         border-radius: 17px;
       }
       overflow: hidden;
      }
      img {
        max-width: 100%;
        height: auto;
        display: block;
        position: relative;
        z-index: 10;
      }
    }

    .launchpad {
      position: relative;
      z-index: 3;
      margin-top: 100px;
      margin-bottom: 100px;
      @media (max-width: 768px){
        margin-top: 0;
      }

      h2 {
        font-size: 62px;
        color: #3F32FA;
        font-weight: 500;
        text-align: left;
        margin-bottom: 0;
        margin-top: 100px;
      }

      p {
        font-size: 22px;
        color: #3F32FA;
        text-align: left;
        font-weight: normal;
        max-width: 550px;
      }
    }
    #animated-svg-container-vinco {
      svg {
        max-width: 100%;
        height: auto;
        margin-top: 80px;
      }
    }

    .branding-img {

      padding-left: 0;
      padding-right: 0;

      .branding-img-col {
        padding-left: 0;
        padding-right: 0;
      }
      img {

        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 80px;
      }
    }

    .sprint-bg-container {

      img.sprint-bg {
        width: calc(100% + 3px);
        left: -2px;
        position: relative;
      }
    }

    .sprint {

      background-color: #FF5D42;

      h2 {
        text-align: center;
        font-size: 40px;
        color: white;
        font-weight: normal;
        margin-bottom: 50px;
      }
    }
    .sprint-cards {
      .row{
        text-align: center;
      }
      img.sprint-day-card {
        width: 100%;
        max-width: 445px;

        @media screen and (max-width: 992px) {
          margin-bottom: 30px;
        }
      }

      img.sprint-cable {
        max-width: 700px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

        @media screen and (max-width: 1600px) {
          max-width: 940px;
          transform: translateX(-17px);
        }

        @media screen and (max-width: 1400px) {
          max-width: 780px;
          transform: translateX(0px);
        }
      }

      .sprint-day-wrapper-mobile {
        display: none;

        .sprint-day-wrapper {
          &:hover {
            .front-card {
              transform: none;
            }
          }
        }
      }

      .sprint-day-wrapper-desktop {
        display: block;
      }

      @media (hover: none) {
        .sprint-day-wrapper-mobile {
          display: block;
        }

        .sprint-day-wrapper-desktop {
          display: none;
        }
      }

      .sprint-day-wrapper {
        position: relative;

        .front-card,
        .back-card {
          transition: all 1s cubic-bezier(0.860, 0.000, 0.070, 1.000);
        }

        .front-card {
          position: relative;
          backface-visibility: hidden;
          transform: rotateY(0deg);
          z-index: 1000;
        }

        .back-card {
          position: absolute;
          top: 0;
          right: auto;
          bottom: auto;
          left: 0;
          transform: rotateY(180deg);
          backface-visibility: hidden;
          z-index: 999;
        }

        &:hover {

          .front-card {
            transform: rotateY(180deg);
            z-index: 999;
          }

          .back-card {
            transform: rotateY(0deg);
            z-index: 1000;
          }
        }
      }

      div.mockup-phone {
        clear: both;
        background-image: image-url("case-studies/vinco/device-mockup.svg");
        background-size: 100% auto;
        z-index: 2;
        height: 730px;
        width: 345px;
        background-repeat: no-repeat;
        position: relative;
        padding-top: 100px;
        margin-bottom: 100px;
        padding-left: 22px;
        padding-right: 22px;
        margin-left: -10px;
        pointer-events: none;
        filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, .3));

      }
      .prototype {

        clear: both;

        h2 {
          font-size: 40px;
          color: white;
          font-weight: normal;
          text-align: left;
          margin-left: 90px;
        }

        p {
          font-size: 22px;
          color: white;
          font-weight: normal;
          text-align: left;
          max-width: 450px;
          margin-top: 50px;
          margin-left: 90px;
        }

        &-mobile {
          @media screen and (max-width: 992px) {
            display: block !important;
          }

          h2 {
            margin-bottom: 0 !important;
          }
          p {
            margin-bottom: 30px !important;
            max-width: 520px;
            margin-left: auto;
            margin-right: auto;
          }
        }

        &-desktop {
          margin-top: 60px;

          @media screen and (max-width: 992px) {
            display: none;
            margin-top: 0;
          }

          h2,
          p {
            text-align: left;

            @media screen and (min-width: 1200px) {
              margin-left: 80px;
            }
          }

          h2 {
            margin-bottom: 45px;
          }

          p {
            margin-top: 0;
          }
        }
      }

      .prototype-mobile {
        display: none;
      }

      .large-slick-phone {
        pointer-events: none;
        position: relative;
        img.phone-mockup {
          width: 100%;
          height: auto;
          max-width: 300px;
        }
      }

      .small-slick-phone {
        pointer-events: none;
        margin-top: -450px;
        img.phone-mockup-small {
          margin-left: 15px;
          margin-right: 15px;
          width: calc(100% - 15px);
          max-width: 131px;
          height: auto;
        }
      }
    }

    .uiuxdesign {
      margin-bottom: 100px;
      background-color: white;
      h2 {
        margin-top: 100px;
        font-size: 56px;
        font-weight: normal;
        color: #3F32FA;
        text-align: center;
      }
      p {
        max-width: 590px;
        font-weight: normal;
        color: #3F32FA;
        text-align: center;
        font-size: 22px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      h3 {
        font-weight: normal;
        color: #3F32FA;
        text-align: center;
        font-size: 40px;
      }

      img.elements-img {
        margin-top: 30px;
        transform: translateX(-60px);
        width: 100%;
        height: auto;
      }

      .elements-img-mobile img {
        display: none;
      }
    }

    .motion {
      background-color: $vincoPurple;
      margin-top: 100px;
      padding-bottom: 100px;
      h2 {
        margin-top: 100px;
        font-size: 40px;
        font-weight: normal;
        text-align: center;
        color: white;
      }

      .ui-animations-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        > div {
          @media screen and (max-width: 480px) {
            margin-left: 7.5px;
            margin-right: 7.5px;
          }
        }

        svg {
          @media screen and (max-width: 480px) {
            max-width: 100%;
            height: auto;
          }
        }
      }

      img.motion-ui-icons {
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;

        &-first {
          max-width: 1140px;
        }

      }

      svg{
        max-width: 100px;
        display: block;
        margin: 0 auto;
      }

      img.lateral-icons{
        margin-top: 0;
        margin-bottom: 0;
        height: 100%;
        width: auto;

        @media screen and (max-width: 992px) {
          height: auto;
          max-width: 100%;
          width: 375px;
          margin-left: auto !important;
          margin-right: auto !important;
        }

        &-left {
          margin-left: 0;
          margin-right: auto;

          @media screen and (max-width: 992px) {
            margin-bottom: 60px;
          }
        }

        &-right {
          margin-left: auto;
          margin-right: 0;

          @media screen and (max-width: 992px) {
            margin-top: 60px;
          }
        }
      }

      img.middle-icon{
        margin-top: 0;
        margin-bottom: 0;
        height: 100%;
        width: auto;
        margin-left: auto;
        margin-right: auto;

        @media screen and (max-width: 992px) {
          height: auto;
          max-width: 100%;
          width: 580px;
        }
      }

      .first-ui-icons-wrapper{
        margin-top: 50px;

        > .row {
          display: flex;
          height: 485px;

          @media screen and (max-width: 1320px) {
            height: 420px;
          }

          @media screen and (max-width: 1120px) {
            height: 380px;
          }

          @media screen and (max-width: 992px) {
            height: auto;
            flex-wrap: wrap;
          }
        }
      }

      img.bottom-icons{
        width: 100%;
        height: auto;
        margin-top: 40px;
        margin-bottom: 40px;
      }

      .row-bottom-icons{
        text-align: center;
      }

      img.motion-ui-elements {
        margin-top: 25px;
        margin-bottom: 70px;
        width: 100%;
      }

      .loading-icon-motion{
        max-width: 100px;
      }

      .dots-icon-motion{
        max-width: 120px;
        margin-top: 50px !important;
        margin-bottom: 50px !important;

        @media (max-width: 678px){
          margin-top: 25px !important;
          margin-bottom: 25px !important;
        }
      }

      .loading-icon-container{
        .loading-black{
          margin-bottom: 150px !important;

          @media (max-width: 768px){
            margin-bottom: 0 !important;
          }
        }
        .loading-white{
          margin-top: 150px !important;

          @media (max-width: 768px){
            margin-top: 0 !important;
          }
        }
      }

      .switch-container{
        text-align: center;
        img{
          margin-top: 25px !important;
          margin-bottom: 25px !important;

          @media (max-width: 768px){
            max-width: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
      .motion-loading-animation-row{
          margin-top: 25px;
          margin-bottom: 25px;
          align-items: center;
          display: flex;
          flex-wrap: wrap;
      }
    }

    .mobile-app {
      background-color: #FFAC26;
      h2 {
        text-align: center;
        font-size: 56px;
        font-weight: normal;
        margin-top: 100px;
        position: relative;
        z-index: 3;
      }
      .app-operation {
        &-container {
          position: relative;
          margin-bottom: 100px;
        }

        &-video {
          position: absolute;
          top: 50%;
          right: auto;
          bottom: auto;
          left: 50%;
          transform: translate3d(-50%,-50%,0);
          filter: drop-shadow(0 15px 30px rgba(0,0,0,.15));
          width: 240px;
          @media(min-width: 1500px){
            width: 330px;
          }
          @media(min-width: 1920px){
            width: 390px
          }

          @media screen and (max-width: 1024px) {
            position: static;
            transform: none;
            margin: 0 auto;
          }

          &-mockup {
            width: 100%;
            height: auto;
          }

          video {
            position: absolute;
            top: 50%;
            right: auto;
            bottom: auto;
            left: 50%;
            width: 94%;
            height: auto;
            transform: translate3d(-50%, -50%, 0);
            margin-left: 1px;
          }
        }
      }

      img.app-operation {
        width: 100%;

        @media screen and (max-width: 1024px) {
          display: none;
        }
      }
    }

    .app-bg-yellow {

      .app-bg-yellow-padding {
        padding: 0;
      }

      img.bg-wellow-img {
        display: block;
        position: absolute;
        top: -50px;
        bottom: auto;
        right: auto;
        left: -20px;
        width: calc(100% - -270px);
        background-color: #3C2DF5;
        z-index: 1;
      }

      div.video-site-container {
        display: block;
        position: relative;
        height: auto;
        width: 100%;
        padding: 25px;
        background-color: transparent;
        margin-top: -30px;
        @media(max-width: 480px){
          margin-top: -70px;
        }
        margin-left: auto;
        margin-right: auto;
        z-index: 3;
        text-align: center;
        filter: drop-shadow(0px 22px 90px rgba(0, 0, 0, 0.35));
        video{
          max-width: 1175px;
          height: auto;
          border-radius: 15px;
        }
      }
    }

    .final-toughts {
      padding-top: 100px;
      background-color: $vincoPurple;

      .the-site-btn a {
        position: relative;
        z-index: 10;
        margin-top: 10px;
        padding-top: 17px;
        padding-bottom: 17px;
        border-radius: 30px;
        color: white;
        width: 230px;
        height: 55px;
        background-color: #FF5D42;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        display: block;
        filter: drop-shadow(0px 10px 20px rgba(0,0,0,0.35));
        transform: scale(1);
        transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
      }

      .the-site-btn a:hover,
      .the-site-btn a:focus,
      .the-site-btn a:active {
        text-decoration: none;
        color: white;
        transform: scale(1.1);
        animation: all .3s ease-in-out;
      }

      h2 {
        font-size: 56px;
        font-weight: normal;
        text-align: center;
        margin-top: 50px;
        position: relative;
        z-index: 10;
      }

      p{
        font-size: 22px;
        color: white;
        max-width: 590px;
        margin-top: 20px;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      #thanks-animation{
        svg{
          display: block;
          margin-left: auto;
          margin-right: auto;
          max-width: 300px;
          margin-top: 80px;
          margin-bottom: 150px;
        }
      }
    }
  .more-case-studies {
    background: white;
    color: #bfc0c2;
    strong {
      color: #252525;
    }
  }
}

@media screen and (min-width: 1441px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .concept {

        .bottom {
          height: 50vw !important;
          box-shadow: inset 0 -10px 0 white;
        }
      }

      .iconography {

        .bottom {
          height: 50vw !important;
          box-shadow: inset 0 -10px 0 currentColor;
        }
      }

      .app-bg-yellow{
        img.bg-wellow-img {
          padding-bottom: 200px;
        }
      }
    }
  }
}



@media screen and (max-width: 1440px) {
  body#case-study-page-#{$template_name} {
    #caseStudyContent {
      .app-bg-yellow{
        img.bg-wellow-img {
          padding-bottom: 200px;
        }
      }

    }
  }
}


@media screen and (max-width: 1400px) {
  body#case-study-page-#{$template_name} {
    #caseStudyContent {

    }
  }
}

@media screen and (max-width: 1280px) {

  body#case-study-page-#{$template_name} {
    #caseStudyContent {
      .vinco-word {
        .vinco-word-icon-8 {
          max-width: 185px;
          right: 20%;
          bottom: 12%;
        }
      }

      div.video-site-container{
        video{
          max-width: 100%;
        }
      }

    }
  }
}

@media screen and (max-width: 1140px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .intro-project {
        padding-top: 350px;
        padding-bottom: 80px;
      }

      .concept {

        .compo {
          max-width: 100%;
        }
      }

      .vinco-word{
        padding-bottom: 200px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .concept {

        .compo {
          margin-top: 50px;
        }
      }

      .sprint-cards{
        img.sprint-cable{
          max-width: 575px;
        }
        img.sprint-day-card{
          max-width: 290px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          margin-top: 30px;
        }
        img.phone-mockup{
          margin-left: auto;
          margin-top: 0;
          max-width: 350px;
          margin-right: auto;
        }

        .sprint-day-wrapper {
          &:hover {
            img.sprint-day-card {
              &.back-card {
                margin: 0 auto 30px;
                top: 0 !important;
                left: 50%;
                transform: translate3d(-50%, 0, 0) rotateY(0deg);
              }
            }
          }

        }
      }

      .mockup-phone {
        margin-left: auto;
        margin-right: auto;
        height: 597px;
        width: 283px;
        padding-top: 81px;
        padding-bottom: 81px;
        padding-left: 19px;
        padding-right: 19px;
      }

      .small-slick-phone {
        display: none;
      }

      .onscreen-art {

        .onscreen-slider {

          .slick-slide {

            .slide {
              width: 100%
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 990px) {
  body#case-study-page-#{$template_name} {
    #caseStudyContent {
      .sprint-cards {
        img.sprint-cable{
          display: none;
        }
      }

      .uiuxdesign {

        .elements-img-desktop {
          display: none;
        }

        .elements-img-mobile img {
          width: 100%;
          display: block;
        }

        img.element-img {
          width: 100%;
          display: block;
          margin-left: auto;
          margin-right: auto;
          margin-top: 20px;
          margin-bottom: 20px;
          position: relative;
          filter: drop-shadow(0px 0px 5px #0000003f);
        }

        .third-element {
          max-width: 255px;
        }
        .fourth-element {
          max-width: 255px;
        }
        .fifth-element {
          max-width: 165px;
        }
        .tenth-element{
          margin-top: -80px !important;
        }

        .elements-img-desktop img {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .intro-project {
        padding-top: 250px;
        padding-bottom: 80px;
      }

      .prototype-mobile {
        h2{
          text-align: center;
          margin-left: auto;
          margin-right: auto;
        }
        p{
          text-align: center;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .vinco-branding {
        padding-left: 0;
        padding-right: 0;
        img.logo-branding-img {
          max-width: 300px;
        }
        .branding-img-col img {
          max-width: 100%;
          margin-top: 10px;
        }
      }

      .iconography,
      .typography,
      .color-palette {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 768px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .vinco-word{
        .vinco-word-icon-1 {
          max-width: 44px;
          right: 16%;
        }
        .vinco-word-icon-2 {
          max-width: 50px;
        }
        .vinco-word-icon-3 {
          max-width: 38px;
          left: 3%;
        }
        .vinco-word-icon-4 {
          max-width: 95px;
          top: 37%;
          left: 19%;
        }
        .vinco-word-icon-5 {
          max-width: 55px;
          left: 2%;
        }
        .vinco-word-icon-6 {
          max-width: 98px;
          right: 22%;
        }
        .vinco-word-icon-7 {
          max-width: 46px;
          right: 7%;
          top: 50%;
        }
        .vinco-word-icon-8 {
          max-width: 150px;
          right: 0%;
          bottom: -4%;
        }
        .vinco-word-icon-9 {
          max-width: 50px;
          right: 5%;
          top: 22%;
        }
        .vinco-word-icon-10 {
          max-width: 50px;
        }
      }

      .vinco-word{
        padding-bottom: 0;
      }


      .launchpad {
        h2 {
          text-align: center;
        }

        p {
          text-align: center;
          min-width: 100%;
        }
      }
      .app-bg-yellow{
        img.bg-wellow-img {
          width: calc(100% + 125px);
          left: 0;
        }
        .website-img{
          margin-top: -50px;
        }
      }
      .final-toughts{
        p {
          min-width: 100%;
        }
      }
      .about-project {

        tr {

          td:last-child {

            p {
              font-size: 16px !important;
              line-height: 23px !important;
              text-align: center;
            }
          }
        }
      }

      .app-bg-yellow{
        img.bg-wellow-img{
          padding-bottom: 130px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .vinco-branding {
        .branding-img-col img {
          max-width: 600px;
          margin-top: 10px;
        }
      }

      .mockup-phone {
        margin-left: auto;
        margin-right: auto;
        height: 597px;
        width: 283px;
        padding-top: 81px;
        padding-bottom: 81px;
        padding-left: 19px;
        padding-right: 19px;
      }

      .large-slick-phone {
        img.phone-mockup {
          margin-top: 10px;
        }
      }

      .small-slick-phone {
        display: none;
      }

      .sprint-cards{
        img.phone-mockup{
          margin-left: auto;
          margin-top: 10px;
          max-width: 350px;
          margin-right: auto;
        }
      }

      .app-bg-yellow{
        img.bg-wellow-img {
          width: calc(100% + 70px);
          left: 0;
        }
      }

      .intro-project {
        padding-top: 80px;
        padding-bottom: 30px;
      }
    }

    .motion {
      padding-bottom: 0;
    }
  }
}
