$template_name: "wellbin";
$wellbinGrey: #2B4955;
$wellbinLightBlue: #23BDC7;

#case-study-block-#{$template_name} {
  background: $wellbinGrey;

  a {
    color: white;
  }
}

body#case-study-page-#{$template_name} {
  color: white;
  @include background_and_loading_colors($wellbinGrey, $wellbinGrey, white);

  #page {
    transform: none !important;
  }

  .cs-head {

    a {
      text-decoration: none;
      color: white;
    }

    .links {

      a {

        &.contact {
          border-color: white;

          &:hover {
            color: black;
          }
        }
      }
    }
  }

  .title-subtitle-stores {

    h1 {
      color: white;
    }

    h2 {
      color: rgba(#FFFFFF, 0.5);
    }

    .stores {

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  a.see-more-case-study {

    svg {

      path {
        stroke: #000;
        fill: #000;
      }
    }
  }

  #caseStudyContent {
    background: white;
    padding-left: 0;
    padding-right: 0;

    .about-project {

      a {
        color: $messiOrange;
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }

      table,
      tr {

        td {

          &:first-child {
            color: #152737;
          }

          &:last-child {

            p {
              color: #1a2b44;
            }
          }
        }
      }
    }

    .intro-project {
      position: relative;
      z-index: 3;
      background-color: $wellbinLightBlue;
      height: 800px;
      padding-top: 390px;
      padding-bottom: 0;

      > .container {
        max-width: 1280px;
        margin-top: -280px;
      }

      .cama {
        position: absolute;
        max-width: 100%;
        width: 455px;
        height: 358px;
        top: 220px;
        left: 25px;
      }

      .globos {
        position: absolute;
        max-width: 100%;
        width: 222px;
        height: 295px;
        top: 0;
        left: 200px;
      }

      .cama-m {
        display: none;
      }

      .logo {
        width: 567px;
        height: auto;
        margin-top: 0;
        margin-left: -30px;
      }

      .logo2 {
        width: 567px;
        height: auto;
        margin-top: 0;
        margin-left: -30px;
        display: none;
        position: absolute;
        left: 15px;
      }

      .logom {
        display: none;
      }
    }

    .plan {
      position: relative;
      z-index: 3;
      background-color: #E6634F;

      h3 {
        margin: 120px auto 90px auto;
        width: 100%;
        text-align: center;
        font-size: 52px;
        line-height: 62px;
        font-weight: 100;
      }

      .circle {
        width: 210px;
        height: 210px;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.1);
        margin: 0 auto;

        .brainstorming-img {
          margin: 44px 0 0 47px;
        }

        .script-img {
          margin: 56px 0 0 57px;
        }

        .moodboard-img {
          margin: 56px 0 0 54px;
        }

        .storyboard-img {
          margin: 54px 0 0 49px;
        }

        .voiceover-img {
          margin: 58px 0 0 58px;
        }

        .illustration-img {
          margin: 49px 0 0 63px;
        }

        .animation-img {
          margin: 65px 0 0 42px;
        }

        .recording-img {
          margin: 47px 0 0 59px;
        }
      }

      p {
        margin: 30px auto 50px auto;
        width: 100%;
        text-align: center;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 4px;
        font-weight: 400;
        color: rgba(255,255,255,.5)
      }

      .end {
        margin-bottom: 50px;
      }
    }

    .illustration {
      position: relative;
      z-index: 3;
      background-color: #404040;

      img {
        margin: auto;
        display: block;
      }

      h3 {
        margin: 150px auto 0 auto;
        width: 100%;
        text-align: center;
        font-size: 52px;
        line-height: 62px;
        font-weight: 100;
      }

      p {
        margin: 20px auto 50px auto;
        width: 60%;
        text-align: center;
        font-size: 18px;
        line-height: 27px;
        font-weight: 400;
        color: rgba(255,255,255,.4)
      }

      h4 {
        margin: 20px auto 120px auto;
        width: 100%;
        text-align: center;
        font-size: 18px;
        line-height: 22px;
        font-weight: 100;
        letter-spacing: 4px;
        color: rgba(255,255,255,.5)
      }

      .timeline {

        img {
          width: 1040px;
          height: 302px;
        }
      }

      .dots {
        width: 100%;
        height: 1px;
        background-color: rgba(255,255,255,0.2);
        margin: 56px 0 36px 0;

        img {
          width: 960px;
          height: 10px;
          margin: -3px auto 0;
        }
      }

      .coche {
        height: 290px;
        margin-bottom: 100px;

        img {
          width: 400px;
          height: 228px;
        }

        p {
          bottom: 0;
          position: absolute;
          margin: 0 auto;
          width: 100%;
          letter-spacing: 4px;
        }
      }

      .hospital {
        height: 290px;
        margin-bottom: 100px;

        img {
          width: 399px;
          height: 177px;
        }

        p {
          bottom: 0;
          position: absolute;
          margin: 0 auto;
          width: 100%;
          letter-spacing: 4px;
        }
      }

      .hospital2 {
        height: 335px;
        margin-bottom: 100px;

        img {
          width: 392px;
          height: 273px;
        }

        p {
          bottom: 0;
          position: absolute;
          margin: 0 auto;
          width: 100%;
          letter-spacing: 4px;
        }
      }

      .hospital3 {
        height: 335px;
        margin-bottom: 100px;

        img {
          width: 445px;
          height: 251px;
        }

        p {
          bottom: 0;
          position: absolute;
          margin: 0 auto;
          width: 100%;
          letter-spacing: 4px;
        }
      }

      .palm {
        height: 410px;
        margin-bottom: 100px;

        img {
          width: 391px;
          height: 348px;
        }

        p {
          bottom: 0;
          position: absolute;
          margin: 0 auto;
          width: 100%;
          letter-spacing: 4px;
        }
      }

      .machine {
        height: 410px;
        margin-bottom: 100px;

        img {
          width: 391px;
          height: 256px;
        }

        p {
          bottom: 0;
          position: absolute;
          margin: 0 auto;
          width: 100%;
          letter-spacing: 4px;
        }
      }

      .futbol {
        padding: 0;
        position: relative;
        display: block;

        img {
          width: 1440px;
          height: 482px;
        }

        img.anim {
          position: absolute;
          width: 380px;
          height: auto;
          top: 38px;
          left: 36%;
        }
      }

      .futbol-m {
        display: none;
      }

    }

    .script {
      position: relative;
      z-index: 3;
      background: #E6FEFE image-url("case-studies/wellbin/fondo.png") no-repeat center 710px;
      background-size: contain;

      img {
        margin: auto;
        display: block;
      }

      h3 {
        margin: 150px auto 0 auto;
        width: 100%;
        text-align: center;
        font-size: 52px;
        line-height: 62px;
        font-weight: 100;
        color: #000000;
      }

      p {
        margin: 20px auto 110px auto;
        width: 60%;
        text-align: center;
        font-size: 18px;
        line-height: 27px;
        font-weight: 400;
        color: rgba(0,0,0,.4)
      }

      .banderin {

        img {
          width: 1234px;
          height: 170px;
        }
      }

      .script1, .script2 {

        img {
          width: 340px;
          height: 227px;
        }
      }

      .script3 {

        img {
          width: 341px;
          height: 227px;
        }
      }

      .pibe {
        padding: 0;
        margin: 200px 0 450px 0;
        display: block;

        img {
          position: absolute;
          left: 45%;
          width: 285px;
          height: auto;
          margin: 0;
        }

      }

      img.moscas {
        position: absolute;
        left: 0;
        width: 556px;
        height: 321px;
        margin: 0;
        top: 1080px;
      }

      .pibe-m {
        display: none;
      }

    }

    .approach {
      position: relative;
      z-index: 3;
      background-color: #0E2932;

      h3 {
        margin: 150px auto 0 auto;
        width: 100%;
        text-align: center;
        font-size: 52px;
        line-height: 62px;
        font-weight: 100;
      }

      p {
        margin: 20px auto 150px auto;
        width: 60%;
        text-align: center;
        font-size: 18px;
        line-height: 27px;
        font-weight: 400;
        color: rgba(255,255,255,.4)
      }

      .stagewrap {
        position: relative;
        height: 1192px;

        .stage {
          position: absolute;

          &.bg {
            top: 0px;
            left: 83px;

            img {
              width: 1091px;
              height: 1150px;
            }
          }

          &.piso {
            top: 600px;
            left: -50px;

            img {
              width: 1245px;
              height: 515px;
            }
          }

          &.env {
            top: 246px;
            left: 171px;
            transition: all .7s ease-in;

            &.final_position {
              top: 286px;
              left: 60px;
            }

            img {
              width: 998px;
              height: 736px;
            }
          }

          &.camera {
            top: 975px;
            left: 150px;

            img {
              width: 230px;
              height: 202px;
            }
          }

          &.ninos {
            top: 473px;
            left: 329px;
            transition: all .5s ease-in;

            &.final_position {
              top: 690px;
              left: 30px;
            }

            img {
              width: 856px;
              height: 441px;
            }
          }

          &.elements {
            top: 578px;
            left: 274px;
            transition: all .6s ease-in;

            &.final_position {
              top: 724px;
              left: 5px;
            }

            img {
              width: 726px;
              height: 235px;
            }
          }
        }
      }

      .stagewrap-mobile {
        display: none;
      }

      .camilla {
        display: block;

        img {
          width: 804px;
          height: 372px;
          display: block;
          margin: 450px auto 0;
        }

        .llanto {
          position: absolute;
          width: 288px;
          height: 466px;
          left: 50%;
          margin-left: -144px;
          top: -287px;
        }
      }

      .camilla-mobile {
        display: none;
      }
    }

    .video {
      position: relative;
      z-index: 3;
      background: $wellbinLightBlue image-url("case-studies/wellbin/video-bkg.png") no-repeat center 244px;
      background-size: contain;

      .logo {
        margin: 150px auto 0 auto;
        width: 100%;
        text-align: center;

        img {
          width: 350px;
          margin: 0 auto;
        }
      }

      h3 {
        margin: 40px auto 0 auto;
        width: 100%;
        text-align: center;
        font-size: 18px;
        line-height: 22px;
        font-weight: 100;
        letter-spacing: 4px;
      }

      .video-vimeo {
        margin: 40px auto 170px auto;
        width: 953px;
        height: 536px;
        text-align: center;
        box-shadow: rgba(43,73,85,0.2) 30px 30px 0 0;

        iframe {
          border: 0;
          border: none;
        }
      }

    }


    .more-case-studies {
      background: white;
      color: #98999d;
      strong {
        color: black;
      }
    }
  }
}

@media screen and (max-width: 992px) {

  body#case-study-page-#{$template_name} {

    .cs-hero .title-subtitle-stores h1 {
      font-size: 55px !important;
    }

    #caseStudyContent {

      .about-project {

        table,
        tr {

          td {

            &:last-child {

              p {
                color: #1a2b44;
                width: 80%;
                margin: 0 auto;
                float: none;
              }
            }
          }
        }
      }

      .intro-project {
        height: auto;

        .cama {
          display: none;
        }

        .globos {
          display: none;
        }

        .cama-m {
          display: block;
          position: relative;
          margin: auto;
          width: 65%;
        }

        .logo, .logo2 {
          display: none;
        }

        .logom {
          margin: 100px auto;
          display: block;
          width: 80%;
        }
      }

      .illustration {

        .timeline {

          img {
            width: 75%;
            height: auto;
          }
        }

        .dots {
          width: 100%;
          height: 1px;
          background-color: rgba(255,255,255,0.2);
          margin: 56px 0 36px 0;

          img {
            width: 75%;
            height: auto;
          }
        }

        .futbol {
          display: none;

          img {
            width: 100%;
            height: auto;
          }
        }

        .futbol-m {
          display: block;

          img {
            width: 100%;
            height: auto;
          }
        }

      }

      .script {

        .banderin {

          img {
            width: 100%;
            height: auto;
          }
        }

        .script1, .script2 {
          margin-bottom: 50px;

          img {
            width: 340px;
            height: 227px;
          }
        }

        .script3 {

          img {
            width: 341px;
            height: 227px;
          }
        }

        .pibe {
          display: none;
        }

        img.moscas {
          display: none;
        }

        .pibe-m {
          display: block;
          margin: 100px auto;
          padding: 0 30px 0 0;

          img {
            width: 100%;
            height: auto;
          }
        }

      }

      .approach {

        .stagewrap {
          display: none;
        }

        .stagewrap-mobile {
          display: block;

          img {
            width: 640px;
            height: auto;
            display: block;
            margin: 0 auto;
          }
        }


        .camilla {
          display: none;
        }

        .camilla-mobile {
          display: block;

          img {
            width: 80%;
            height: auto;
            display: block;
            margin: 100px auto 0;
          }
        }
      }

      .video {
        background-image: none;

        .video-vimeo {
          margin: 40px auto 170px auto;
          width: 522px;
          height: 300px;
          text-align: center;
          box-shadow: rgba(43,73,85,0.2) 30px 30px 0 0;

          iframe {
            width: 522px;
            height: 300px;
          }
        }

      }
    }
  }
}

@media screen and (max-width: 768px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .about-project {

        tr {

          td:last-child {

            p {
              font-size: 16px !important;
              line-height: 23px !important;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {

  body#case-study-page-#{$template_name} {

    #caseStudyContent {

      .intro-project {
        height: auto;

        .cama {
          display: none;
        }

        .globos {
          display: none;
        }

        .cama-m {
          display: block;
          position: relative;
          width: 70%;
        }

        .logo {
          width: 65%;
          height: auto;
        }
      }

      .illustration {

        .coche {
          height: auto;

          img {
            width: 65%;
            height: auto;
          }

          p {
            bottom: auto;
            position: relative;
            margin: 30px auto 0;
            width: 100%;
            display: block;
          }
        }

        .hospital {
          height: auto;

          img {
            width: 65%;
            height: auto;
          }

          p {
            bottom: auto;
            position: relative;
            margin: 30px auto 0;
            width: 100%;
            display: block;
          }
        }

        .hospital2 {
          height: auto;

          img {
            width: 65%;
            height: auto;
          }

          p {
            bottom: auto;
            position: relative;
            margin: 30px auto 0;
            width: 100%;
            display: block;
          }
        }

        .hospital3 {
          height: auto;

          img {
            width: 65%;
            height: auto;
          }

          p {
            bottom: auto;
            position: relative;
            margin: 30px auto 0;
            width: 100%;
            display: block;
          }
        }

        .palm {
          height: auto;

          img {
            width: 65%;
            height: auto;
          }

          p {
            bottom: auto;
            position: relative;
            margin: 30px auto 0;
            width: 100%;
            display: block;
          }
        }

        .machine {
          height: auto;

          img {
            width: 65%;
            height: auto;
          }

          p {
            bottom: auto;
            position: relative;
            margin: 30px auto 0;
            width: 100%;
            display: block;
          }
        }

      }

      .script {

        .script1, .script2 {

          img {
            width: 80%;
            height: auto;
            margin: 0 auto;
          }
        }

        .script3 {

          img {
            width: 80%;
            height: auto;
            margin: 0 auto;
          }
        }
      }

      .approach {


        .stagewrap-mobile {
          display: block;

          img {
            width: 65%;
            height: auto;
          }
        }

        .camilla-mobile {
          display: block;

          img {
            width: 70%;
            height: auto;
            display: block;
            margin: 100px auto 0;
          }
        }
      }

      .video {
        background-position: 0 70px;

        .logo {

          img {
            width: 80%;
          }
        }

        .video-vimeo {
          margin: 40px auto 170px auto;
          width: 293px;
          height: 173px;
          text-align: center;
          box-shadow: rgba(43,73,85,0.2) 30px 30px 0 0;

          iframe {
            width: 293px;
            height: 173px;
          }
        }

      }

    }
  }
}
