#split-page,
#who-we-are,
#what-we-do {

  .container,
  ~ footer > .container {
    max-width: 1138px;
    width: 100%;
    padding: 0 32px;
    margin: 0 auto;

    @include breakpoint(small) {
      padding: 0 64px;
    }

    @include breakpoint(large) {
      padding: 0;
    }
  }
}