.who-we-are__footer {
  padding: 56px 0 24px 0;
  background-color: $cyan;
  color: $white;

  .container {
    
    @include breakpoint(small) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &:before {
      display: none;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .footer__first-section {
    max-width: 354px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 63px;

    @include breakpoint(small) {
      width: calc((100% - 32px) / 2);
      margin-bottom: 0;
    }

    .footer__logo {
      display: flex;
      margin-bottom: 40px;
    }
    
    p {
      margin-bottom: 40px;
      font-size: 14px;
    }

    .footer__contact {
      display: flex;
      align-items: center;
      // font-family: "FranklinGothicURWDem";
      font-size: 14px;
      color: $white;
      text-decoration: none;

      svg {
        margin-left: 8px;
      }
    }
  }

  .footer__second-section {
    max-width: 354px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include breakpoint(small) {
      width: calc((100% - 32px) / 2);
      margin-top: 88px;
    }

    ul {
      width: calc((100% - 32px) / 2);
      display: flex;
      flex-direction: column;

      &:first-child {

        li {

          a {
            text-transform: uppercase;
            letter-spacing: 1px;
          }
        }
      }

      li {
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          display: flex;
          align-items: center;

          svg {
            margin-right: 8px;
          }
        }
      }
    }
  }

  .footer__copyright {
    width: 100%;
    margin-top: 40px;
    // font-family: "FranklinGothicURWBoo";
    font-size: 12px;
    color: rgba(147, 224, 246, 0.86);
    text-transform: uppercase;
  }
}