.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .grid__item {
    width: 100%;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    @include breakpoint(medium) {
      margin-bottom: 48px;
    }
  }

  &.grid--2-columns {

    .grid__item {

      @include breakpoint(small) {
        width: calc((100% - 16px) / 2);
        margin-bottom: 16px;

        &:nth-last-child(-n + 2) {
          margin-bottom: 0;
        }
      }
    }
  }

  &.grid--3-columns {

    .grid__item {

      @include breakpoint(small) {
        width: calc((100% - 16px) / 2);

        &:nth-last-child(-n + 2) {
          margin-bottom: 0;
        }
      }

      @include breakpoint(medium) {
        width: calc((100% - (32px * 2)) / 3);

        &:nth-last-child(-n + 3) {
          margin-bottom: 0;
        }
      }

      &.grid__item--double {
        
        @include breakpoint(medium) {
          width: calc(66.6% - 16px);
        }
      }
    }
  }

  &.grid--4-columns {

    .grid__item {

      @include breakpoint(small) {
        width: calc((100% - 38px) / 2);

        &:nth-last-child(-n + 2) {
          margin-bottom: 0;
        }
      }

      @include breakpoint(large) {
        width: calc((100% - (38px * 3)) / 4);

        &:nth-last-child(-n + 4) {
          margin-bottom: 0;
        }
      }
    }
  }
}