.hero {
  width: 100%;
  height: calc(100vh - 75px);
  display: flex;
  align-items: center;
  position: relative;
  background-color: $cyan;
  color: $white;

  .hero__background {
    // display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

    @include breakpoint(medium) {
      display: block;
    }
  }

  .hero__content {
    max-width: 828px;
    position: relative;
    z-index: 100;

    .subtitle {
      display: block;
      margin-bottom: 8px;
      // font-family: "FranklinGothicURWMed";
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 2px;

      @include breakpoint(small) {
        margin-bottom: 24px;
        font-size: 18px;
      }
    }

    h1 {
      font-weight: 300;

      .yellow {
        display: block;
        color: $yellow;
      }

      span:not(.yellow) {

        @include breakpoint(small) {
          display: block;
        }
      }
    }
  }
}