<% environment.context_class.instance_eval { include Rails.application.routes.url_helpers } %>

create_urls = {
  tweet: "<%= admin_tweet_add_path('_POSITION_') %>",
  facebook_fact: "<%= admin_fact_add_path(:facebook, '_POSITION_') %>",
  dribbble_fact: "<%= admin_fact_add_path(:dribbble, '_POSITION_') %>",
  case_study_v: "<%= new_admin_case_study_path(1, '_POSITION_') %>",
  case_study_h: "<%= new_admin_case_study_path(2, '_POSITION_') %>",
  image: "<%= new_admin_image_path('_POSITION_') %>}"
};

sort_urls = {
  tweet: "<%= admin_tweet_reposition_path('_OLD_POSITION_', '_POSITION_') %>",
  facebook_fact: "<%= admin_fact_add_path(:facebook, '_POSITION_') %>",
  dribbble_fact: "<%= admin_fact_add_path(:dribbble, '_POSITION_') %>",
  image: "<%= reposition_admin_image_path('_ID__', '_POSITION_') %>",
  case_study: "<%= reposition_admin_case_study_path('_ID_', '_POSITION_') %>"
};

remove_urls = {
  tweet: "<%= admin_tweet_remove_path('_POSITION_') %>",
  facebook_fact: "<%= admin_fact_remove_path('_POSITION_') %>",
  dribbble_fact: "<%= admin_fact_remove_path('_POSITION_') %>"
};

String.prototype.replaceTokens = function (tokens) {
  if (!tokens) { return this.toString(); }
  var newVal = this,
    keys = Object.keys(tokens),
    l = keys.length;
  while (l--) {
    newVal = newVal.replace(new RegExp(keys[l], 'g'), tokens[keys[l]]);
  }
  return newVal;
};

var $container, $positions, $tooltip;

function isRightSide (pos) {
  pos = pos + 1;
  return pos % 4;
}

function setTakenPositions () {
  $('.position', $container)
    .removeClass('taken')
    .removeClass('ui-origin');
  $('.page', $container).each(function (index, el) {
    $(this).find('.item').each(function (index, el) {
      setItemTakenPositions($(this));
    });
  });
}

function setItemTakenPositions ($item) {
  $.each(itemPositions($item), function (index, val) {
    val.addClass('taken');
  });
}

function unsetItemTakenPositions ($item) {
  $.each(itemPositions($item), function (index, val) {
    val.removeClass('taken');
  });
}

function showTooltip (event, $el) {
  hideTooltip();
  if (content = getTooltipContent($el)) {
    $tooltip
      .html(content)
      .css({ left: event.pageX + 5, top: event.pageY + 5 })
      .show();
  }
}

function getTooltipContent ($el) {
  var content = '';
  var type = $el.attr('data-type');
  if (type === 'position') {
    $el.addClass('tooltip-target');
    var data = [
      linkWithPosition($el, 'Add Tweet', create_urls.tweet),
      linkWithPosition($el, 'Add Facebook Fact', create_urls.facebook_fact),
      linkWithPosition($el, 'Add Dribbble Fact', create_urls.dribbble_fact),
      linkWithPosition($el, 'Create Image', create_urls.image)
    ];
    if (isHorizontalAllowed($el)) { data.push(linkWithPosition($el, 'Create Case Study (H)', create_urls.case_study_h)); }
    if (isVerticalAllowed($el)) { data.push(linkWithPosition($el, 'Create Case Study (V)', create_urls.case_study_v)); }
    return data.join('');
  } else if ($.inArray(type, ['tweet', 'dribbble_fact', 'facebook_fact']) != -1) {
    return linkWithPosition($el, 'Remove', remove_urls[type], ['data-confirm="Are you sure?"']);
  } else if (tooltip = $el.find('.item-tooltip')) {
    data = tooltip.html();
    return data;
  }
  return false;
}

function hideTooltip () {
  $('.position', $container).removeClass('tooltip-target');
  $tooltip.hide();
}

function itemPositions ($item) {
  var $base_position = $item.closest('.position');
  var item_positions = [$base_position];

  if ($item.attr('data-horizontal')) { item_positions.push($base_position.next('.position')); }

  if ($item.attr('data-vertical')) {
    item_positions.push($positions.eq($base_position.absoluteIndex() + rowSize));
  }

  return item_positions;
}

function linkWithPosition ($item, label, url, attributes) {
  attributes = attributes || [];
  if (!$item.hasClass('position')) { $item = $item.closest('.position'); }
  return '<a href="' + url.replaceTokens({ '_POSITION_': $item.absoluteIndex() }) + '" ' + attributes.join(' ') + '>' + label + '</a>';
}

function isHorizontalAllowed ($position) {
  if ($position.isRightSide() || $position.onePositionRight().hasClass('taken')) { return false; }
  return true;
}

function isVerticalAllowed ($position) {
  if ($position.isBottomSide() || $position.onePositionDown().hasClass('taken')) { return false; }
  return true;
}

$.fn.isRightSide = function () {
  return ((this.index() + 1) % 4 == 0);
};

$.fn.isBottomSide = function () {
  return (pageSize - (this.index() + 1)) < rowSize;
};

$.fn.onePositionDown = function () {
  return $positions.eq(this.absoluteIndex() + rowSize);
};

$.fn.onePositionRight = function () {
  return $positions.eq(this.absoluteIndex() + 1);
};

$.fn.resetDragStyles = function () {
  this.css('top', '').css('left', '');
};

$.fn.absoluteIndex = function () {
  var pageNumber = parseInt(this.closest('.page').attr('data-page'));
  return pageNumber * pageSize + this.index();
};

function initializeGrid () {
  $positions = $('.position', $container);
  $tooltip = $('#tooltip');
  setTakenPositions();

  $('.item, .position', $container).off('contextmenu').on('contextmenu', function (e) {
    e.preventDefault();
    e.stopPropagation();
    showTooltip(e, $(this));
  });

  $('.page .item', $container).draggable({
    revert: 'invalid',
    revertDuration: 100,
    distance: 30,
    start: function (e, ui) {
      hideTooltip();
      $container.addClass('dragging');
      unsetItemTakenPositions($(this));
      $(this).closest('.position').addClass('ui-origin');
    },
    stop: function (e, ui) {
      $container.removeClass('dragging');
      setTakenPositions();
    }
  });

  $('.page .position', $container).droppable({
    activeClass: 'ui-state-enabled',
    hoverClass: 'ui-state-hover',
    tolerance: 'pointer',
    accept: function (draggable) {
      if ($(this).hasClass('taken')) { return false; }
      if (draggable.attr('data-horizontal') && !isHorizontalAllowed($(this))) { return false; }
      if (draggable.attr('data-vertical') && !isVerticalAllowed($(this))) { return false; }
      return $(this).find('.item').length == 0;
    },
    drop: function (e, ui) {
      var old_position = ui.draggable.closest('.position').absoluteIndex();
      ui.draggable.appendTo($(this)).resetDragStyles();
      var url = sort_urls[ui.draggable.attr('data-type')].replaceTokens({
        '_ID_': ui.draggable.attr('data-id'),
        '_POSITION_': ui.draggable.closest('.position').absoluteIndex(),
        '_OLD_POSITION_': old_position
      });
      $.get(url, {}, 'script');
    }
  });
}

$(document).ready(function () {
  $container = $('#grid-container');
  initializeGrid();

  $('#add-page').on('click', function (e) {
    var url = '/admin/' + $container.attr('data-view') + '/add_page/' + $('.page', $container).size();
    $.get(url, {}, function () {
      initializeGrid();
    }, 'script');
  });

  $(document).on('click confirm:complete', function (e) {
    hideTooltip();
  });
});
