doctype html
html lang="en"

  head
    title Indicius | Admin
    =stylesheet_link_tag 'admin', media: 'all'
    link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'
    =render partial: 'shared/favicons'
    =csrf_meta_tags
  body

    #header
      ul
        li =link_to "Dashboard", admin_dashboard_path, class: ('active' if current_page?(admin_dashboard_path))
        li =link_to "Grid", admin_grid_path, class: ('active' if ['grid', 'case_studies', 'images'].include?(controller_name))
        li =link_to "Shots", admin_shots_path, class: ('active' if current_page?(admin_shots_path))

      ul.right
        li =link_to "View Site", root_path, target: '_blank'
        li =link_to "Logout", admin_logout_path

    #body data-controller="#{controller.controller_path}"
      =yield

    #footer
      .item
        | Environment:&nbsp;
        strong =Rails.env
      .item
        | Latest commit:&nbsp;
        strong =LATEST_COMMIT

    =javascript_include_tag 'admin'
