doctype html
html lang="en"

  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"
    title =(@page_title || 'Indicius - Agency - Digital Agency highly experienced in design and development').html_safe
    =render partial: 'shared/seo_meta_tags'
    =render partial: 'shared/favicons'
    =csrf_meta_tags
    =stylesheet_link_tag 'application', media: 'all'
    =javascript_include_tag "//use.typekit.net/fds7lmw.js"

    javascript:
      try{Typekit.load();}catch(e){}

    =javascript_include_tag "https://www.google.com/recaptcha/api.js"

  body id=body_id

    nav.menu_scroll_loader
        .floating-nav__inner
          .floating-nav__logo
            a href="#"
              img data-src=image_path("indi-cyan.svg") alt="Indicius" title="Indicius" src=image_path("spacer.png")
          .menuheroright
            ul
              li
                a href="/" Home
              li
                a href="/agency" Agency
              li
                a href="/case-studies" Case Studies
              li
                a href="/lets-talk" Contact

    nav.floating-nav.is-hidden.menu_scroll_loader
      .floating-nav__inner
        .floating-nav__logo
          a href="#"
            img data-src=image_path("indi-cyan.svg") alt="Indicius" title="Indicius" src=image_path("spacer.png")
        .menuheroright
          ul
            li
              a href="/" Home
            li
              a href="/agency" Agency
            li
              a href="/case-studies" Case Studies
            li
              a href="/lets-talk" Contact

        .container-trigger
          .trigger.scrolltrigger
            span
            span
            span

    .container-trigger
      .trigger.trigger-b
        span
        span
        span

    .preloader
      .bar
    =yield

    #split-page
      .option.what-we-do
        .option__background#what-we-do-background
        a.option__link(href="/what-we-do.html")
        h1 What<br/>we do
        .option__illustration#what-we-do-illustration
      .option.who-we-are
        .option__background#who-we-are-background
        a.option__link(href="/who-we-are.html")
        h1 Who<br/>we are
        .option__illustration#who-we-are-illustration

    =render partial: 'shared/menu_overlay'

    a.go-top.index href="#page"
      =inline_svg "case-studies/go-top.svg"

    =render partial: 'shared/google_analytics'
    =javascript_include_tag 'application'
