doctype html
html lang="en"

  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"
    title =(@page_title || 'Indicius - Careers - Digital Agency highly experienced in design and development').html_safe
    =render partial: 'shared/seo_meta_tags'
    =render partial: 'shared/favicons'
    =csrf_meta_tags
    =stylesheet_link_tag 'application', media: 'all'
    =javascript_include_tag "//use.typekit.net/fds7lmw.js"
    =javascript_include_tag "//d2wy8f7a9ursnm.cloudfront.net/v4/bugsnag.min.js"

    javascript:
      try{Typekit.load();}catch(e){}
      window.bugsnagClient = bugsnag('355c6751b8a304bd2615ab40a1d1c8bc')

    =javascript_include_tag "https://www.google.com/recaptcha/api.js"

  body.nooverflow id=body_id

    =render partial: 'shared/menu_scroll'

    #heroBackground
    .preloader
      .bar

    .container-trigger
      .trigger
        span
        span
        span

    #page
      =yield
      =render partial: 'shared/footer'

    =render partial: 'shared/menu_overlay'

    a.go-top.index href="#page"
      =inline_svg "case-studies/go-top.svg"

    =render partial: 'shared/google_analytics'
    =javascript_include_tag 'application'
