doctype html
html lang="en"

  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"
    title =(@page_title || 'Indicius - Careers - Digital Agency highly experienced in design and development').html_safe
    =render partial: 'shared/seo_meta_tags'
    =render partial: 'shared/favicons'
    =csrf_meta_tags
    =stylesheet_link_tag 'application', media: 'all'
    =javascript_include_tag "//use.typekit.net/fds7lmw.js"

    javascript:
      try{Typekit.load();}catch(e){}

    =javascript_include_tag "https://www.google.com/recaptcha/api.js"

  body id="careers"

    =render partial: 'shared/menu_scroll'

    #heroBackground
    .preloader
      .bar

    #page
      =yield
      =render partial: 'shared/footer'

    =render partial: 'shared/google_analytics'
    =javascript_include_tag 'application'
