doctype html
html lang="en"

  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"
    title The page you're looking for doesn't exist.
    link rel="apple-touch-icon" sizes="57x57" href=image_path("favicons/apple-touch-icon-57x57.png")
    link rel="apple-touch-icon" sizes="60x60" href=image_path("favicons/apple-touch-icon-60x60.png")
    link rel="apple-touch-icon" sizes="72x72" href=image_path("favicons/apple-touch-icon-72x72.png")
    link rel="apple-touch-icon" sizes="76x76" href=image_path("favicons/apple-touch-icon-76x76.png")
    link rel="apple-touch-icon" sizes="114x114" href=image_path("favicons/apple-touch-icon-114x114.png")
    link rel="apple-touch-icon" sizes="120x120" href=image_path("favicons/apple-touch-icon-120x120.png")
    link rel="apple-touch-icon" sizes="144x144" href=image_path("favicons/apple-touch-icon-144x144.png")
    link rel="apple-touch-icon" sizes="152x152" href=image_path("favicons/apple-touch-icon-152x152.png")
    link rel="apple-touch-icon" sizes="180x180" href=image_path("favicons/apple-touch-icon-180x180.png")
    link rel="icon" type="image/png" href=image_path("favicons/favicon-32x32.png") sizes="32x32"
    link rel="icon" type="image/png" href=image_path("favicons/android-chrome-192x192.png") sizes="192x192"
    link rel="icon" type="image/png" href=image_path("favicons/favicon-96x96.png") sizes="96x96"
    link rel="icon" type="image/png" href=image_path("favicons/favicon-16x16.png") sizes="16x16"
    link rel="manifest" href=image_path("favicons/manifest.json")
    meta name="msapplication-TileColor" content="#00b5ec "
    meta name="msapplication-TileImage" content=image_path("favicons/mstile-144x144.png")
    meta name="theme-color" content="#ffffff"

    =csrf_meta_tags
    =stylesheet_link_tag 'errors', media: 'all'
    =javascript_include_tag "//use.typekit.net/fds7lmw.js"

    javascript:
      try{Typekit.load();}catch(e){}

    | <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    | <!--[if gte IE 9]>
      <style type="text/css">
        .gradient {
          filter: none;
        }
      </style>
    <![endif]-->

  body id="error-404"
    #heroBackground
    .preloader
      .bar

    #page
      =yield

    =javascript_include_tag 'errors'
