doctype html
html lang="en"

  head
    title Indicius | Admin
    = stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true
    link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'
    = javascript_include_tag 'admin', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body#login

    .box class=('login-failed' if action_name == 'create')
      = yield
