doctype html
html lang="en"

  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"
    title =(@page_title || 'Indicius - What We Do - Digital Agency highly experienced in design and development').html_safe
    =render partial: 'shared/seo_meta_tags'
    =render partial: 'shared/favicons'
    =csrf_meta_tags
    =stylesheet_link_tag 'application', media: 'all'
    =javascript_include_tag "//use.typekit.net/fds7lmw.js"

    javascript:
      try{Typekit.load();}catch(e){}

    =javascript_include_tag "https://www.google.com/recaptcha/api.js"

  body id=body_id

    nav.menu_scroll_loader
      .floating-nav__inner
        .floating-nav__logo
          a href="#"
            img data-src=image_path("indi-cyan.svg") alt="Indicius" title="Indicius" src=image_path("spacer.png")
        .menuheroright
          ul
            li
              a href="/" Home
            li
              a href="/agency" Agency
            li
              a href="/case-studies" Case Studies
            li
              a href="/lets-talk" Contact

    nav.floating-nav.menu_scroll_loader
      .floating-nav__inner
        .floating-nav__logo
          a href="#"
            img data-src=image_path("indi-cyan.svg") alt="Indicius" title="Indicius" src=image_path("spacer.png")
        .menuheroright
          ul
            li
              a href="/" Home
            li
              a href="/agency" Agency
            li
              a href="/case-studies" Case Studies
            li
              a href="/lets-talk" Contact

        .container-trigger
          .trigger.scrolltrigger
            span
            span
            span


    .container-trigger
      .trigger.trigger-b
        span
        span
        span

    .preloader
      .bar
    =yield

    #what-we-do
      section.what-we-do__hero.hero#new_agency_hero
        .hero__background#hero__background
        .container
          .hero__content
            span.subtitle What we do
            h1 <span class="yellow">We create tailored digital experiences</span> <span>that allow our clients to achieve their</span> <span>business goals based on quality work</span> <span>and a unique team culture.</span>

      section.what-we-do__cornerstones
        .container
          span.section__subtitle How we do it
          h2.section__title Our cornerstones make us special

          .cornerstones__grid.grid.grid--2-columns
            .grid__item
              .cornerstone
                .cornerstone__number
                  span 01
                  .line
                .cornerstone__content
                  h2 Tailored
                  span.subtitle Focused on the client's needs
                  p Each client is an opportunity to interact and, who knows, maybe we even end up becoming good friends when all’s said and done. Our processes are human centered and that’s taught us that every person is a whole different world - ergo, clients aren’t robots! So you better not be shy, we’ll be asking lots of questions about your project and goals.
            .grid__item
              .cornerstone
                .cornerstone__number
                  span 02
                  .line
                .cornerstone__content
                  h2 Functional
                  span.subtitle User centered & accessible to everyone
                  p We love Dribbble - combining pixels and following the latest art trends makes us happy. We’re known for being amazing visual creators! But interfaces aren’t just canvases to draw pretty things on. 
                  br
                  p We strive to design inclusive experiences, and that can only be achieved by understanding everyone’s needs. It’s not easy, for sure, it requires tons of research and asking a whole bunch of questions to truly understand users.
            .grid__item
              .cornerstone
                .cornerstone__number
                  span 03
                  .line
                .cornerstone__content
                  h2 Measurable
                  span.subtitle We track progress by measuring
                  p As a team, we’ve changed the measure of success from “we built something“ to we made a user more successful”. It’s all about making changes in our end users’ behavior and we know this is happening because they’re doing things differently.
                  br
                  p Currently, the industry is oriented towards “making things= producing”, but interally we’re looking to change that and measure our progress based on where we are in relation to our mission and our overall future goals. If we’re not growing, we’re going backwards.
            .grid__item
              .cornerstone
                .cornerstone__number
                  span 04
                  .line
                .cornerstone__content
                  h2 Agile
                  span.subtitle Constantly evolving our solutions
                  p Agile represents our cultural mindset and how we work on a daily basis. When building something new, we teach our team to be dynamic and ready to adapt to changes. Pivoting is key but allowing our solutions to evolve over time is the most important aspect of being truly agile.
                  br
                  p By eliminating the separation between developers and designers, we can create multidisciplinary teams to enable collaboration and an atmosphere where everyone can learn from each other. This agile environment helps us grow stronger and become more autonomous to deliver innovative design experiences for our customers in each stage of their journey.
            .grid__item
              .cornerstone
                .cornerstone__number
                  span 05
                  .line
                .cornerstone__content
                  h2 Consultive
                  span.subtitle Defining design strategies
                  p Nowadays, good digital solutions aren’t enough to have a successful product. It’s more complex than simply designing and developing an interface.
                  p We help clients define and execute a solid strategy for all stages of their digital products because we want their ideas to be successful.

      section.what-we-do__services
        .container
          span.section__subtitle Our Services
          h2.section__title We do lots of stuff, take a look!

          .services__grid.grid.grid--4-columns
            .grid__item
              .service
                h3 Strategy
                ul
                  li — Consulting Workshops
                  li — Design Sprint
                  li — Service Design
                  li — Benchmarking
                  li — Content Strategy
                  li — UX Research
            .grid__item
              .service
                h3 Branding
                ul
                  li — Branding
                  li — Brand Spirit
                  li — Identity Design
                  li — Naming
                  li – Style Tiles
            .grid__item
              .service
                h3 UX/UI Design
                ul
                  li — Information Architecture (IA)
                  li — User Experience Design (UX)
                  li — User Interface Design (UI)
                  li — Interaction Design (IxD)
                  li — Design Systems
                  li — Illustration
                  li — Motion UI
            .grid__item
              .service
                h3 Development
                ul
                  li — Landing Pages
                  li — Responsive Websites
                  li — Web Apps
                  li — Mobile Apps

    =render partial: 'shared/agency_footer'
    =render partial: 'shared/menu_overlay'

    a.go-top.index href="#page"
      =inline_svg "case-studies/go-top.svg"

    =render partial: 'shared/google_analytics'
    =javascript_include_tag 'application'
