doctype html
html lang="en"

  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"
    title =(@page_title || 'Indicius - What We Do - Digital Agency highly experienced in design and development').html_safe
    =render partial: 'shared/seo_meta_tags'
    =render partial: 'shared/favicons'
    =csrf_meta_tags
    =stylesheet_link_tag 'application', media: 'all'
    =javascript_include_tag "//use.typekit.net/fds7lmw.js"

    javascript:
      try{Typekit.load();}catch(e){}

    =javascript_include_tag "https://www.google.com/recaptcha/api.js"

  body id=body_id

    nav.menu_scroll_loader
          .floating-nav__inner
            .floating-nav__logo
              a href="#"
                img data-src=image_path("indi-cyan.svg") alt="Indicius" title="Indicius" src=image_path("spacer.png")
            .menuheroright
              ul
                li
                  a href="/" Home
                li
                  a href="/agency" Agency
                li
                  a href="/case-studies" Case Studies
                li
                  a href="/lets-talk" Contact

    nav.floating-nav.menu_scroll_loader
      .floating-nav__inner
        .floating-nav__logo
          a href="#"
            img data-src=image_path("indi-cyan.svg") alt="Indicius" title="Indicius" src=image_path("spacer.png")
        .menuheroright
          ul
            li
              a href="/" Home
            li
              a href="/agency" Agency
            li
              a href="/case-studies" Case Studies
            li
              a href="/lets-talk" Contact

        .container-trigger
          .trigger.scrolltrigger
            span
            span
            span

    .container-trigger
          .trigger.scrolltrigger
            span
            span
            span
                    
    .preloader
      .bar
    =yield

    #who-we-are
      section.who-we-are__hero.hero#new_agency_hero
        .hero__background#hero__background
        .container
          .hero__content
            span.subtitle Who We Are
            h1 <span class="yellow">We are a human-centered design agency</span> <span>that facilitates innovation</span> <span>allowing both our team and</span> <span> clients to grow and thrive.</span>

      section.who-we-are__culture
        .container
          span.section__subtitle Manifesto
          h2.section__title Our Work Culture

          .culture__grid.grid.grid--3-columns
            .grid__item
              .culture-item
                h4 Knowledge should always be shared
                p Be generous with what you know.
            .grid__item
              .culture-item
                h4 Common sense is our guiding light
                p Especially when things start getting complicated.
            .grid__item
              .culture-item
                h4 Think big
                p Above and beyond!
            .grid__item
              .culture-item
                h4 Be accountable
                p Always take ownership of what you're doing.
            .grid__item
              .culture-item
                h4 Be positive
                p Try to remain calm when problems arise.
            .grid__item
              .culture-item
                h4 Cultivate your autonomy and independence
                p But know when to ask for help. 
            .grid__item
              .culture-item
                h4 Care about everyone
                p Even those who don’t seem to care about others.
            .grid__item
              .culture-item
                h4 Always be curious
                p Strive to be up to date on current industry trends.  
            .grid__item
              .culture-item
                h4 By helping others grow
                p We all constantly learn and evolve.
            .grid__item
              .culture-item
                h4 Knowing when to apologize
                p Is the sign of true greatness.
            .grid__item
              .culture-item
                h4 Be open to learning from others
                p And from your own mistakes.
            .grid__item
              .culture-item
                h4 There is always room for improvement
                p Going the extra mile is what we do.
            .grid__item
              .culture-item
                h4 Going on a trip?
                p Great, make sure to bring back something sweet, or else...

        .culture__illustration#culture__illustration

      section.who-we-are__values
        .container
          span.section__subtitle Our Values
          h2.section__title What makes us different?

          .values__grid.grid.grid--3-columns
            .grid__item
              .value
                .value__icon
                  =inline_svg 'agency/values/collaborative.svg'
                h2.value__title Collaborative
                p Working together towards a common goal.
            .grid__item
              .value
                .value__icon
                  =inline_svg 'agency/values/agile.svg'
                h2.value__title Agile
                p Working in a highly responsive way, solutions evolve quickly.
            .grid__item
              .value
                .value__icon
                  =inline_svg 'agency/values/communicative.svg'
                h2.value__title Communicative
                p Using words effectively to impart information or ideas.
            .grid__item
              .value
                .value__icon
                  =inline_svg 'agency/values/creative.svg'
                h2.value__title Creative
                p Using our imagination and ideas to create something.
            .grid__item
              .value
                .value__icon
                  =inline_svg 'agency/values/qualitative.svg'
                h2.value__title Qualitative
                p Being exceptionally  good in what we do.
            .grid__item
              .value
                .value__icon
                  =inline_svg 'agency/values/commited.svg'
                h2.value__title Commited
                p Binding yourself to a course of action.
            .grid__item
              .value
                .value__icon
                  =inline_svg 'agency/values/autonomous.svg'
                h2.value__title Autonomous
                p Working independently, without external intervention.
            .grid__item
              .value
                .value__icon
                  =inline_svg 'agency/values/productive.svg'
                h2.value__title Productive
                p Having the ability to produce or generate.
            .grid__item
              .value
                .value__icon
                  =inline_svg 'agency/values/resourceful.svg'
                h2.value__title Resourceful
                p Finding quick and clever ways to overcome difficulties.
      section#whoWeAreGallery.who-we-are__gallery
        .container
          .gallery__grid.grid.grid--3-columns
            .grid__item
              .gallery__heading
                span.subtitle We are Indicius
                h1.title We love making amazing stuff together
            .grid__item.grid__item--double
              .masonry-item
                img(src=image_path"agency/who-we-are/gallery-1.jpg" srcSet=image_path"agency/who-we-are/gallery-1@2x.jpg" alt="Indicius")
            .grid__item.simple
              .masonry-item
                img(src=image_path"agency/who-we-are/gallery-2.jpg" srcSet=image_path"agency/who-we-are/gallery-2@2x.jpg" alt="Indicius")
            .grid__item
              .masonry-item
                img(src=image_path"agency/who-we-are/gallery-6.jpg" srcSet=image_path"agency/who-we-are/gallery-6@2x.jpg" alt="Indicius")
            .grid__item
              .masonry-item
                img(src=image_path"agency/who-we-are/gallery-3.jpg" srcSet=image_path"agency/who-we-are/gallery-3@2x.jpg" alt="Indicius")
            .grid__item
              .masonry-item
                img(src=image_path"agency/who-we-are/gallery-4.jpg" srcSet=image_path"agency/who-we-are/gallery-4@2x.jpg" alt="Indicius")
            .grid__item
              .masonry-item
                img(src=image_path"agency/who-we-are/gallery-5.jpg" srcSet=image_path"agency/who-we-are/gallery-5@2x.jpg" alt="Indicius")
            .grid__item
              .masonry-item
                img(src=image_path"agency/who-we-are/gallery-7.jpg" srcSet=image_path"agency/who-we-are/gallery-7@2x.jpg" alt="Indicius")
            .grid__item
              .masonry-item
                img(src=image_path"agency/who-we-are/gallery-8.jpg" srcSet=image_path"agency/who-we-are/gallery-8@2x.jpg" alt="Indicius")
            .grid__item
              .masonry-item
                img(src=image_path"agency/who-we-are/gallery-9.jpg" srcSet=image_path"agency/who-we-are/gallery-9@2x.jpg" alt="Indicius")

    =render partial: 'shared/agency_footer'
    =render partial: 'shared/menu_overlay'

    a.go-top.index href="#page"
      =inline_svg "case-studies/go-top.svg"

    =render partial: 'shared/google_analytics'
    =javascript_include_tag 'application'
