ruby:
  @page_title = "Indicius - Who We Are - Digital Agency highly experienced in design and development"
  @page_description = "We take pride in designing and building beautiful, highly functional websites and products. We also create unique visual identities and high impact 2D/3D animations."
  @page_thumb = image_url('thumbnails/indicius.png')